[2016-01-05 16:55] samccone commented on #634
hey @idosh I think an app engine recipe would be super useful,

Any interest in opening up a PR to add this? More than willing to work with you to land this. Thanks for the great idea :bulb:

[2016-01-06 06:16] idosh commented on #634
I'll do it! Thanks for the help and willingness

On Tue, Jan 5, 2016, 18:55 Sam Saccone <notifications@github.com> wrote:

[2016-01-06 11:18] JustinXinLiu commented on #636
Thanks @robdodson , make sense. Should I close it once the recipe gets updated?

[2016-01-06 17:35] robdodson commented on #636
Yeah I'll close it when we update the recipe

[2016-01-06 19:27] arthurevans opened #638 "Tests don't run under native shadow DOM"
Under native shadow DOM, both tests fail. They should be using the Polymer.dom APIs.

[2016-01-06 19:42] samccone commented on #638
awww snap good catch @arthurevans

two parts to this ticket

1] fix broken API use
2] make CI run in native and non-native shadow DOM to catch these issues

then :sparkles:

[2016-01-06 19:45] samccone commented on #154
@rbjarnason Still an issue?

[2016-01-06 23:16] #638 closed

[2016-01-07 11:59] globalepub commented on #531
Hello guys,

I am using Notepad++  and having the same issue. Pls your support.

![expected indentation - pol](https://cloud.githubusercontent.com/assets/1713570/12170082/00f457ea-b536-11e5-9db6-46e8f09d6db0.png)

[2016-01-07 16:56] samccone commented on #531
hi @globalepub please refer to this answer
https://github.com/PolymerElements/polymer-starter-kit/issues/531#issuecomment-164014900

[2016-01-07 17:10] globalepub commented on #531
Hi Samccone,

Of course I referred to all these answers but the issue still be.
The issue is that I've added new data to this file.

[2016-01-07 19:09] robdodson commented on #531
@globalepub You need to make sure you have the following changes:

Your gulpfile should include this `strip` option:
https://github.com/PolymerElements/polymer-starter-kit/blob/master/gulpfile.js#L133

Your `package.json` should include the latest `gulp-html-extract`:
https://github.com/PolymerElements/polymer-starter-kit/blob/master/package.json#L13

I'd recommend you delete `node_modules` and ru

[2016-01-07 20:43] tseelbach opened #642 "psk 1.2 - npm install fails with xcode-select: error: tool 'xcodebuild' requires Xcode ..."
Following the PSK 1.2 instructions
https://github.com/PolymerElements/polymer-starter-kit#getting-started
and i'm running on MacOS.

I Installed gulp and  bower no problem
    tsee at Toms-MacBook-Pro in ~/polymerstarter
    $ sudo npm install -g gulp bower
    ...
Then doing local npm install I get this error:
cd polymer-starter-kit-1.2.1/
tsee at Toms-MacBook-Pro in ~/polymerstarter/polymer-star

[2016-01-07 22:54] robdodson commented on #642
@samccone is the expert here :)

Can you check out the Mac OSX guide here: https://github.com/nodejs/node-gyp#installation

[2016-01-07 23:05] jparish3 commented on #531
I completed the suggested steps above and still get: [17:32:48] Error in
plugin 'gulp-jshint'
Message:
    JSHint failed for: app/elements/address-autocomplete.html-script-0 with
PSK-1.20.
I cannot replicate the errors on http://jshint.com/ or using Atom packages.
After posting the earlier issue, I turned off jshint and the element works
fine.
I see that this issue is closed. Should I continue to

[2016-01-07 23:37] robdodson commented on #531
is that the entire error message? Usually jshint will report what part of the file failed

[2016-01-08 01:43] jparish3 commented on #531
there were 15 warnings (attached); many repeat and I was unable to
replicate any within other jshint applications except http://www.jslint.com/
but this app threw entirely different errors on the same script. Thanks

On Thu, Jan 7, 2016 at 6:37 PM, Rob Dodson <notifications@github.com> wrote:

[2016-01-08 10:41] addyosmani commented on #642
Also see http://stackoverflow.com/a/17980786. It looks like there are a few issues here, from incorrect paths (possibly due to an older version of XCode being installed to node-gyp being required but not installed (possibly because of the XCode failures). Can you follow the guide over on Stack Overflow and let us know if you manage to get further?

[2016-01-08 10:42] addyosmani commented on #636
We do. I think it may also be worth trying to factor in recipe re-testing when we're doing major releases so we can catch regressions due to updated external deps (or just bugs).

[2016-01-08 10:45] addyosmani commented on #631
@samccone how well have migration scripts worked for Mationette in the past? In my experience, they tend to be fragile but definitely interested in us exploring something better for PSK here. It's so manual to upgrade today.

[2016-01-08 10:48] addyosmani commented on #600
Is the main reason we want this for the guide to PSK? If that's the case, we can use the GitHub API to periodically pull down the latest release URLs (maybe weekly?), cache them so we don't run into API limits and use those URLs for referencing them in the guide.

My only issue with trying to generate and push the zips somewhere is that we lose the ability to easily track all our downloads in one

[2016-01-08 11:40] flaiker commented on #600
Does this help? https://github.com/PolymerElements/polymer-starter-kit/releases/latest
Not a direct link to zip-files but at least not as overwhelming as the full github-releases page ([ref](https://help.github.com/articles/linking-to-releases/)).

Also there apparently still is this page: https://github.com/PolymerElements/polymer-starter-kit/downloads but I think functionality was phased out as

[2016-01-08 14:30] tseelbach commented on #642
https://github.com/nodejs/node-gyp#installation lists xCode as a prereq so i installed xCode.
Then:

$ rm -rf polymer-starter-kit-1.2.1/
$ unzip ~/Downloads/polymer-starter-kit-1.2.1.zip
cd polymer-starter-kit-1.2.1/
npm install

Worked perfectly!
In the stackoverflow article it mentioned opening xCode - download - command line tools, but  I didn't see command line tools in the download list there

[2016-01-08 17:22] robdodson commented on #642
i think you can run `xcode-select --install` from the command line and that'll prompt you to install the command line tools but I may be mistaken. I feel like it changes with every version of OS. Anyway, it looks like this is working now so I'm going to close the issue if that's ok?

[2016-01-08 17:22] #642 closed

[2016-01-08 17:25] robdodson commented on #600
@addyosmani this was brought to my attention by @slightlyoff. When you're just getting started and you get dumped off into the releases page, it's kind of like you're getting hit with a wall of text. The notes on that page are useful if you're a previous PSK user, but if you're totally new it's perhaps confusing. I think Alex was thinking that for a guide on using PSK, it should just give you the

[2016-01-08 17:30] robdodson commented on #531
@jparish3 not seeing any warnings

[2016-01-08 18:18] jparish3 commented on #531
i thought this message:   ⚠  15 warnings was relating to the following:
line 40  col 19   Illegal space after opening curly brace
  line 40  col 38   Illegal space before closing curly brace
  line 44  col 103  Line must be at most 100 characters
  line 57  col 183  Line must be at most 100 characters
  line 60  col 108  Line must be at most 100 characters
  line 64  col 32   Illegal space before

[2016-01-08 18:41] tseelbach commented on #642
Thanks @robdodson !!!  I'm ok with closing, but have the following question/suggestion.

Seems that if node-gyp is required, and that requires xcode on Mac, and on windows, Visual Studio, that is a pretty heavy requirement.
Why is node-gyp required?  Without node-gyp can we run any of these starter kit steps:
  gulp serv,
  gulp test:local
  gulp

It might be good to include something about the pl

[2016-01-08 18:42] abdonrd commented on #436
I think that we can close this PR. WDYT?

[2016-01-08 18:46] joryphillips opened #643 "'gulp serve' yields a 404 in 1.2.1"
I get a blank page and a 404 error in Chrome when running 'gulp serve' using PSK 1.2.1:

`Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost:5000/elements/elements.vulcanized.html`

This happens in both a fresh PSK download as well as my active project.

[2016-01-08 19:32] joryphillips commented on #643
Welp, I fixed this by emptying the cache and hard reload with Chrome Dev Tools open.

[2016-01-08 19:32] #643 closed

[2016-01-08 19:40] robdodson commented on #436
yep, fixed in #612

[2016-01-08 19:40] #436 closed

[2016-01-08 19:46] robdodson commented on #642
@tseelbach there's a separate discussion going on here about this: https://github.com/PolymerElements/polymer-starter-kit/pull/637

PSK isn't really doing anything special/unique compared to other projects that depend on Node. It's frustrating that folks are running into this but this is a Node problem and we're trying to avoid the burden of having to document all the quirks of the node ecosystem

[2016-01-08 19:51] robdodson commented on #531
@jparish3 ah, you can't attach files to github issues.

So, those warning just look like you're failing jshint. You might look at the `.jshintrc` file which lists all of the rules.

[2016-01-09 13:47] abdonrd opened #644 "Force HTTPS with Github Pages deployment"
Force HTTPS with Github Pages deployment.

[2016-01-09 16:45] jparish3 commented on #531
thanks.I will take a look. are these rules new to PSK 1.2? This element (
https://github.com/kunalkundaje/address-autocomplete) worked fine in prior
versions and still runs without issue in 1.2 if jshint is deactivated. I
would appreciate any clarification, as this parsing functionality is a core
element within our app. I have checked out the script using other linting
apps and compared the code t

[2016-01-09 21:34] abdonrd commented on #25
Any news about this?

[2016-01-10 10:44] addyosmani commented on #25
I'm in favour of us closing until the big refactor is done.

On Sat, Jan 9, 2016, 9:34 PM Abdón Rodríguez Davila <
notifications@github.com> wrote:

[2016-01-10 10:49] abdonrd commented on #25
@addyosmani The big refactor? What is that? :grin:

[2016-01-10 14:28] ceoaliongroo commented on #399
@forrestLyman try
[code]

You can check if is resolved just running:
[code]

[2016-01-10 18:40] addyosmani commented on #25
All good things. We'll publish more information after we've had a chance to flesh some ideas out :)

[2016-01-10 18:43] #25 closed

[2016-01-10 18:53] tseelbach commented on #642
Interestingly the node-gyp module does explain its dependencies - see  https://github.com/nodejs/node-gyp

If you were to say something like the following in the prereq section under node.js, it would resolve both my issue and https://github.com/PolymerElements/polymer-starter-kit/pull/637.  The node-gyp README.md points out the python dep on Windows, and the xCode dep on Mac/OS.

#### Prerequisit

[2016-01-10 21:17] robdodson commented on #644
Looking at the gulp-gh-pages task it mentions that it will default to the remote URL you're project is setup with (https://github.com/shinnn/gulp-gh-pages#optionsremoteurl). Does that mean if I clone with https I'd get this behavior by default?

[2016-01-10 21:23] robdodson commented on #531
I don't know if jshint was properly running over all of the elements in previous releases.

Because jshint is configurable, if you don't provide the same settings to your online jshint tool it may not report the same errors as PSK. The settings are located in `.jshintrc`.

JSHint is just meant to be a code quality tool, so if you find certain settings too restrictive you can always change them, or

[2016-01-10 21:28] robdodson commented on #399
If you're getting permission errors when you run `npm install -g` make sure your user account has the ability to write to the directory in question (I think it's `/usr/local/bin` if you're on a Mac). It may make sense to give your user account permission to write to that directory instead of doing `sudo npm install -g`. This is a very old npm article but does explain some more thoughts around that

[2016-01-10 22:07] VikramTiwari commented on #644
@abdonrd If you are deploying on GitHub pages, they are always deployed on HTTPs. What GitHub should also do is upgrade HTTP requests to HTTPs. But I guess they have their reasons.

@robdodson My question is that even if the site can serve/is serving on HTTPs, but user is there on HTTP, will the service worker actually perform?

[2016-01-10 22:17] robdodson commented on #644
@VikramTiwari I think (but may be mistaken) that @abdonrd was referring to the gulp task which may attempt to use SSH keys to deploy (but I'll let @abdonrd clarify).

@VikramTiwari no, service workers will only run on https. I don't think GitHub redirects http requests to the https version, but if you're running your own server you can do it. For instance App Engine has an `secure: always` key whi

[2016-01-10 22:27] abdonrd commented on #644
Sorry for the poor explication! :sweat_smile:

I want to force HTTPS because the Service Worker only runs on HTTPS.
I was referring precisely to redirect HTTP to HTTPS.

[2016-01-10 22:28] robdodson commented on #337
There's an open PR for this now:
https://github.com/PolymerElements/polymer-starter-kit/pull/645

A long time ago we tried using htmlmin in generator-polymer and it would do nasty things to the page. Probably need to run through both htmlmin and cssnano again to see if things have improved

[2016-01-10 22:32] robdodson commented on #340
FWIW, there are guides on [using neon-animations](https://elements.polymer-project.org/guides/using-neon-animations) in the Element's Catalog and I shot some polycasts covering using neon-animated-pages and the neon-animation behaviors.

- https://www.youtube.com/watch?v=wMhq1o0DULM&index=14&list=PLNYkxOF6rcIDdS7HWIC_BYRunV6MHs5xo
- https://www.youtube.com/watch?v=Lwvi1u4XXzc&list=PLNYkxOF6rcIDdS7

[2016-01-10 22:34] #376 closed

[2016-01-10 22:36] #439 closed

[2016-01-10 22:36] #475 closed

[2016-01-10 22:37] robdodson commented on #475
Going to close but happy to reopen if folks think we need it.

I think `router.js` will give you nesting route behavior. You could swap out page.js for this if you like: https://github.com/tildeio/router.js/

[2016-01-10 22:39] robdodson commented on #644
Ah yeah, I guess you could do something like this: https://gist.github.com/konklone/9968713

Maybe we could add that to the GH Pages recipe. Would either of you be interested in trying it out and doing a PR if it works?

[2016-01-10 22:47] #534 closed

[2016-01-10 22:48] robdodson commented on #550
hmmmm I wonder if that's specific to our use of paper-item or if they all suffer from this same issue in IE11.

[2016-01-10 22:50] robdodson commented on #551
@Boo-urns can you tell me what's at line 155 of your gulpfile?

[2016-01-10 22:53] robdodson commented on #574
Does this happen if you start the toolbar off with a lot of text, or only if you dynamically add text?

[2016-01-10 22:53] robdodson commented on #575
Going to track this over in https://github.com/PolymerElements/polymer-starter-kit/issues/631

[2016-01-10 22:53] #575 closed

[2016-01-10 22:55] robdodson commented on #583
Going to close this in favor of the PR if that's ok?

[2016-01-10 22:55] #583 closed

[2016-01-10 22:55] #599 closed

[2016-01-10 22:57] chuckh commented on #583
:+1:

[2016-01-10 23:09] VikramTiwari commented on #644
@robdodson I am running nginx proxy and redirecting each request to HTTPs using 301 on my servers. But this is an easy fix on the front end. Trying it out.

[2016-01-10 23:24] chuckh commented on #550
The master is using the current version of paper-item and paper-menu.  See https://github.com/PolymerElements/polymer-starter-kit/blob/master/bower.json.

Looks like it is a problem with paper-menu and IE 11 see screenshot below.  Demo works fine with MS Edge.

We are using paper-menu with a tags instead of paper-item.
[code]

## Windows 10 IE 11 paper-menu demo
![image](https://cloud.githubuserco

[2016-01-10 23:44] robdodson commented on #628
Testing in Chrome, Firefox, and Safari on Mac doesn't show this issue. @alexmineer which browser/platform are you seeing this on? Also I'm curious if you remove your bower_components directory and run `bower cache clean && bower install` if you still see the issue?

[2016-01-10 23:44] robdodson commented on #632
Closing this in favor of PR https://github.com/PolymerElements/polymer-starter-kit/pull/645

[2016-01-10 23:44] #632 closed

[2016-01-10 23:45] chuckh commented on #376
On Mac OS El Cap with Chrome 47.0.2526.106 (64-bit) I was able to get the below to print using Polymer Starter Kit by:

1. Go to http://polymerelements.github.io/polymer-starter-kit/
2. Do a Select All
3. Right clicking on page and selecting Print

It will only print what is visible on the screen and selected.

![image](https://cloud.githubusercontent.com/assets/19915/12224892/5ddfc9d6-b7b0-11e5-9

[2016-01-10 23:51] robdodson commented on #550
Hm ok so this seems like we need an upstream fix then, yeah? @cdata have you seen this before?

[2016-01-11 00:35] MeTaNoV commented on #631
/sub

[2016-01-11 01:36] #505 closed

[2016-01-11 02:19] samccone commented on #628
@alexmineer I am like 98% sure this does not happen in a clean vanilla install of this project.. I just attempted to reproduce under slow network conditions and a few other cases.

I have seen this issue ^ happening IRL however it was due to a stylesheet that a user had added blocking the render of the page in a weird way.

I would see if running this in an incognito window in chrome reproduces th

[2016-01-11 02:19] #628 closed

[2016-01-11 02:27] TimAnstee commented on #506
Not sure if you are still having this issue, I resolved it by removing the line "preset": google from the .jscsrc.  After that it seemed to lint without a hitch.

[2016-01-11 03:23] jparish3 commented on #531
Thanks.  Appreciate the perspective (and the Ricky Martin you tube)

Sent from my iPad

[2016-01-11 07:36] abdonrd opened #649 "Add <span id="browser-sync-binding"></span> only in development"
Maybe we can remove the `<span id="browser-sync-binding"></span>`from the index.html and the `gulp serve` task add this tag?

[2016-01-11 07:43] abdonrd commented on #644
@robdodson the solutions of your link works. :)

As we will only add the script to the GH Pages recipe, we can add this:

[code]

Or the `deploy-gh-pages` task could add?

[2016-01-11 15:21] Boo-urns commented on #551
@robdodson thanks for responding.l I did abandond transpiling to ES5 for the time being on the project since it's still under development.  I tried the updated PSK and seems to be working just fine although I didn't write any JS.

[code]
Perhaps when I was testing it back and forth I forgot to keep the assets updated in the html task?
``` var assets = $.useref.assets(); ```

[2016-01-11 17:44] robdodson commented on #644
yeah I think it'd be better to add it to the recipe. Any interest in putting together a PR for it?

[2016-01-11 18:06] abdonrd commented on #644
@robdodson yes, one minute!

[2016-01-11 18:11] abdonrd commented on #644
@robdodson you can check here: https://github.com/PolymerElements/polymer-starter-kit/pull/650. :sunny:

[2016-01-11 21:01] robdodson commented on #551
ok so in that case your error is saying that `sourcemaps` is not defined. Maybe you forgot to install it?

[2016-01-11 21:38] robdodson commented on #644
Fixed in https://github.com/PolymerElements/polymer-starter-kit/pull/650

[2016-01-11 21:38] #644 closed

[2016-01-12 01:46] samccone opened #652 "track down node-gyp dependency..."
Who needs this... and how can we remove this.. it is a non-stop source of issues for people just starting out

[2016-01-12 01:54] samccone opened #653 "V(n) goal posts"
#### Below is a brief list of high level goals that I would like to really nail with the v(n) release :sparkles:

* [x] Well defined (file directory) structure for components and apps
* [ ] Generator to quickly add new components and pages
* [x] Rock solid baked in router solution
* [ ] A Simple Unit testing approach (mocha / ava)
* [x] **An** opinionated build tool*
* [ ] Import / require javascr

[2016-01-12 05:39] robdodson commented on #652
I was wondering if it was coming from the imagemin task

[2016-01-12 05:39] robdodson commented on #653
cc @tjsavage

[2016-01-12 09:11] abdonrd commented on #653
Sounds great! :grin:

[2016-01-12 10:14] addyosmani commented on #653
Thanks for sharing this list, @samccone! We have a week of Polymer planning for this quarter lined up and it would be great to look at how we can tackle some of these items as part of our high-level goals. I'd love to see us rewriting PSK for more flexible layout (app-layout elements), the new router (carbon-router) and what we can do to both simplify our tooling (before we add in more) and lower

[2016-01-12 10:24] addyosmani commented on #652
Looking at past issues, I also think this might be down to the imagemin task. If that is the case, it might be tricky for us to drop imagemin or find a suitable replacement that works as well cross-platform. Image optimisation (as we know) is the biggest issue slowing down pages at load time these days so it's somewhat necessary for us to try helping there imo.

[2016-01-12 10:25] addyosmani commented on #649
Is this appearing during production builds as well? I'm fine with us injecting this in during development rather than it being a static part of the index.

[2016-01-12 10:34] abdonrd commented on #649
@addyosmani yes. For example, you can find it in the official demo:

view-source:https://polymerelements.github.io/polymer-starter-kit/

[2016-01-12 10:38] abdonrd opened #654 "Add PR#650 to the deploy_ghpages() function in travis-runner.sh"
Add https://github.com/PolymerElements/polymer-starter-kit/pull/650 to the `deploy_ghpages()` function in `travis-runner.sh`.

[2016-01-12 11:45] raynstudios commented on #142
I am unable to get it working in Laravel. Please see my question at [Stackoverflow](https://stackoverflow.com/questions/34741888/polymer-routing-in-laravel)

[2016-01-12 14:36] Boo-urns commented on #551
Perhaps I don't recall. I think it was too much back and forth and I forgot something trivial.

[2016-01-12 14:36] #551 closed

[2016-01-12 14:44] robdodson commented on #142
@raynstudios answered on stackoverflow

[2016-01-12 14:54] robdodson commented on #654
@chuckh do you think we could add the change from #650 to the deploy script? The change would be to include `<script>'https:'!==window.location.protocol&&(window.location.protocol='https')</script>` in the `<head>` somewhere.

[2016-01-12 14:58] robdodson commented on #652
*sigh* yeah I really don't want to remove image minification, at the same time I bet it causes all kinds of havoc for folks because of the compilation it does. Right now we're seeing issues from folks who cared enough to file them. I bet there are an equal number of people who tried PSK, it blew up in their terminal, and they just gave up and moved on :\

I think we should update the README to inc

[2016-01-12 15:02] chuckh commented on #654
We should be able to. I will give it a try later today.

[2016-01-12 16:18] samccone commented on #652
or or or, we only install imagemin on deploy :)

And we lead off the deploy task with a super clear and easy to understand message, and a failure message about ways to debug.

Thoughts?

[2016-01-12 16:27] robdodson commented on #652
hm how do you install only on deploy?

[2016-01-12 16:34] samccone commented on #652
npm scripts are just random bits of code, so we can do _anything_ we want there :bug:

[2016-01-12 17:00] addyosmani commented on #652
install on deploy vs. install on production build? Hard part with deploy is they may want to deploy to something beyond what our deployment tooling supports and our hooks might not get triggered.

[2016-01-12 17:01] samccone commented on #652
oh sorry, I meant install on production build :)

[2016-01-12 17:02] addyosmani commented on #652
I'd be down with install on prod build :)

[2016-01-12 17:07] samccone commented on #652
[code]

here are the packages that have hooks...

Looks like WCT + image opt

(thanks @kittens for this)

[2016-01-12 17:47] salamanders opened #655 "Request for more clear onboarding learning path"
I'm trying to put together a prototype mockup of an ecommerce site.  I'd like it to be responsive.  In researching the first steps, I've encountered:

polymer-project.org

1. Polymer instructions on building my own elements (Do I want to do this?  I just want to duct-tape together existing elements, right?)
2. Bower (the "suggested" route)
3. Zip files of polymer (what I'm used to in the past with

[2016-01-12 17:54] salamanders commented on #655
@robdodson and @samccone gave me some great pointers.  Paraphrasing:

1. Cobble together >80% of your stuff from existing https://elements.polymer-project.org/
2. Learn Bower, it is worth it.
3. Zip file bad.  Ecosystem good.  https://customelements.io/
4. PSK is a good "starter app".  The tutorials are for a "starter element."  That is why directories are all different.
5. PSK lite - TBD.
6. Grun

[2016-01-12 17:59] samccone commented on #655
xref #653

[2016-01-12 19:02] #634 closed

[2016-01-12 22:57] alexkolson opened #656 "Vulcanize in dist/ doesn't seem to work"
When I run `gulp`, the vulcanize task can't find some things in `dist/bower_components/`:

[code]

I believe I'm using the vanilla `gulpfile.js` as provided by PSK. Have I messed up my build somehow?

[2016-01-12 23:11] samccone commented on #656
@alexkolson did you run `bower i` ?

[2016-01-12 23:13] alexkolson commented on #656
@samccone Yeah. Running it again produces no output.

[2016-01-12 23:14] samccone commented on #656
hmm fascinating, are you on the latest PSK?

[2016-01-12 23:17] alexkolson commented on #656
Used the latest generator-polymer version as of today via `npm install -g generator-polymer`

[2016-01-12 23:23] samccone commented on #656
@alexkolson what version of node are you on?

[2016-01-12 23:27] alexkolson commented on #656
I've changed my `bower_components/` location via `.bowerrc` and it looks like the vanilla gulpfile expects it to be at the root of the directory:

[code]

Changing that to the new location of `bower_components/` solved the issue. Should've just looked at the gulpfile before bothering you guys.

[2016-01-12 23:27] #656 closed

[2016-01-12 23:27] samccone commented on #656
no worries, thanks for the info @alexkolson

[2016-01-13 09:33] czellweg commented on #503
I have a come up with a quick fix for the routing issue. It should work for the time being until an official fix is released.

@robdodson I've also reached the same conclusion regarding the router never being setup after some debugging yesterday. The following quick fix has been tested with Chrome 47.0.2526.106 (64-bit), Firefox 43.0.4, Safari 9.0.2 (10601.3.9) and Opera 34.0.2036.47. Side note: e

[2016-01-13 14:23] addyosmani commented on #503
:+1:

[2016-01-14 00:13] sindresorhus commented on #652
Imagemin author here. It doesn't use node-gyp, but:

Dealing with native code is messy. I'm actually surprised we managed to make it as convenient as it is. Although, my hope is that one day we can compile all of the image optimization binaries into WebAssembly and run them natively in Node.js or using asm.js (or even in the browser!). Meaning no postinstall script.

-

Installing it only on produ

[2016-01-15 23:20] joryphillips opened #657 "PSK 1.2.2 build fails if added elements have neon-animation dependencies"
After walking through the git update steps to bring my PSK 1.2.1 app to 1.2.2, I got 404 warnings on all of my elements.

I ran `Bower Update` and that started to help -- but then when running `gulp` the vulcanize process reported the following files missing:
neon-animation.html
neon-animation-runner-behavior.html
neon-animation-behavior.html
web-animations.html

I got the same result with a fresh

[2016-01-15 23:23] joryphillips opened #658 "PSK 1.2.2 build fails if added elements have neon-animation dependencies"
After walking through the git update steps to bring my PSK 1.2.1 app to 1.2.2, I got 404 warnings on all of my elements.

I ran `Bower Update` and that started to help -- but then when running `gulp` the vulcanize process reported the following files missing:
neon-animation.html
neon-animation-runner-behavior.html
neon-animation-behavior.html
web-animations.html

I got the same result with a fresh

[2016-01-15 23:27] joryphillips commented on #658
I filed an [issue on the neon-animation element page too](https://github.com/PolymerElements/neon-animation/issues/129): Bower is not bringing in all the required files for me.

[2016-01-16 00:07] joryphillips commented on #657
whoops, somehow opened two of these.

[2016-01-16 00:07] #657 closed

[2016-01-16 00:45] robdodson commented on #658
Hm this sounds to me like a neon-animated-pages issue. Since neon-animated-pages is not a required part of PSK is there anything else you think we can do on the PSK side or would it be fair to close this issue in favor of the neon-animated-pages one?

[2016-01-16 00:46] robdodson commented on #658
I'd also recommend deleting your bower_components directory and running `bower install`. I've found `bower update` isn't that helpful

[2016-01-16 01:55] joryphillips commented on #658
Completely fair to close this -- and thanks for the `bower install` tip! :)

[2016-01-16 01:55] #658 closed

[2016-01-16 02:48] robdodson commented on #658
thanks :)

[2016-01-17 17:33] ebidel opened #659 "The set up tutorial on PSK1.2.2 leads to errors on build"
_From @greenido on January 17, 2016 16:58_

How to reproduce:
1. Install [PSK1.2.2](https://github.com/PolymerElements/polymer-starter-kit/releases/download/v1.2.2/polymer-starter-kit-light-1.2.2.zip)
2. Follow the steps: https://www.polymer-project.org/1.0/docs/start/psk/set-up.html
3. When you reach the 'gulp' phase you should get:
[code]

Thanks!

_Copied from original issue: Polymer/polymer#33

[2016-01-17 17:45] robdodson commented on #659
@greenido can you delete the `node_modules` directory, run `npm cache clean`, then run `npm install` again and try running gulp. This looks like it may be a missing deep dependency.

[2016-01-18 03:36] robdodson opened #662 "Should iron-pages use one way binding"
Uses a two way binding here: https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L119

But really you probably only want the router to change `app.route`, so this should be one way I think. It's one way in the menu, for instance.

[2016-01-18 03:52] robdodson opened #663 "elements.html confuses folks so... so much..."
If you create a new element, you should put the imports that element depends on inside of its definition. But everyone just sticks them in `elements.html` because that's where all the other imports are...

At the least we need a comment that says "These are just the imports that index.html depends on, don't put yr stuff in here!" But maybe there's just a fundamentally better structure that we shou

[2016-01-18 04:36] vinerz opened #664 "Paper-scroll-header-panel prevents iOS Safari from collapsing header"
Hello everyone! I am really sorry that I created this issue here, is that because I don't really know which component is creating this.

I just noticed that a fresh install of the current PSK somehow prevents the iOS Safari from achieving the minimal-ui effect. The expected effect would be like this screenshot:

![image](https://cloud.githubusercontent.com/assets/1482034/12383315/c89c6a0a-bd8b-11e

[2016-01-18 04:59] robdodson commented on #664
Pretty sure this is fixed by using https://github.com/PolymerLabs/app-layout

We're planning to switch Polymer over to app-layout when they're released.

[2016-01-18 05:01] vinerz commented on #664
Hey Rob! I didn't know about app-playout. I'm already checking it out. Thank you!

[2016-01-18 06:19] greenido commented on #659
I did all the steps - but got the same error :(

[2016-01-18 07:12] robdodson commented on #659
hmmmm calling in the npm expert: @samccone 💪

It really looks like maybe `through2` is missing a dependency, but we don't directly depend on `through2`, `gulp` does. Maybe it's related to using Node 5...?

[2016-01-18 07:15] robdodson commented on #659
Btw @kaycebasques I noticed the demo reports using node `0.12` but that's an old version now. I think maybe it should be revved to either `4.x` which is the long term release or `5.x` which is currently stable. Similarly npm should be revved to `3.x`.

[2016-01-18 07:16] robdodson commented on #659
<img width="827" alt="screen shot 2016-01-17 at 11 15 41 pm" src="https://cloud.githubusercontent.com/assets/1066253/12385363/44f2868c-bd70-11e5-8d1b-2483b1860ced.png">

[2016-01-18 07:54] abdonrd commented on #662
:+1:

[2016-01-18 12:13] abdonrd opened #665 "Why PSK uses vulcanize instead of polybuild?"
Why PSK uses `vulcanize` instead of `polybuild`? :)

[2016-01-18 17:59] chuckh commented on #663
Don't you need to put new elements you want vulcanized in `elements.html` too besides those required by index.html?

:+1:  for:

[2016-01-18 18:01] robdodson commented on #663
Yes and no. If you're using those elements in `index.html` then yes. But let's say you create `x-foo` which depends on `x-bar`. If `x-foo` is used in `index.html` then it should go in `elements.html`. But the import for `x-bar` should only be inside of `x-foo`.

[2016-01-18 18:02] robdodson commented on #665
We trying using polybuild at one point and it broke PSK so we reverted back https://github.com/PolymerElements/polymer-starter-kit/pull/421

[2016-01-18 18:08] chuckh commented on #663
I see. So `x-foo` will still be vulcanized since the import is in `x-bar` and since `x-bar` is in `elements.html`.

[2016-01-18 18:10] abdonrd commented on #665
Okey! :(

Thanks @robdodson!

[2016-01-18 18:10] #665 closed

[2016-01-18 19:06] chuckh commented on #653
:+1:  for @samccone  list.

It would also be great to have options to add a  landing page, login form and signup form.

[2016-01-18 19:07] chuckh commented on #653
I created a possible use case spreadsheet for PSK v2, to view and comment go to:

https://docs.google.com/spreadsheets/d/1SJyDYQDcXJUvc2kkHshBJo4255HoZSLDBiiwIDxB2N8/edit?pref=2&pli=1#gid=0

[2016-01-18 21:49] jgautheron opened #666 "Cannot override application theme variable"
A quick example:

[code]

The actual value of the header's background property ends up to be: `#c5cae9`, the original value from `paper-styles/default-theme.html`.

[2016-01-18 22:17] chuckh commented on #654
I created PR #667 to do this. @robdodson PTAL.

[2016-01-18 22:33] abdonrd commented on #654
Nice work @chuckh!

[2016-01-19 05:09] robdodson commented on #663
@chuckh kinda, it's the other way around. `x-foo` is in `elements.html` and since `x-foo` contains `x-bar`, then `x-bar` gets vulcanized.

[2016-01-19 05:14] robdodson commented on #666
where is .header being used?

[2016-01-19 05:17] #654 closed

[2016-01-19 08:06] jgautheron commented on #666
`.header` is used in the page, not inside an element, is that the catch?

[2016-01-19 18:47] chuckh commented on #653
We should consider `globals` and `app layout options` too.

[2016-01-19 21:49] TimvdLippe commented on #663
Yes it was very confusing for me. I did not know about this until @robdodson told me about it.

:+1: for exploring a better structure

[2016-01-19 22:27] nidelson commented on #653
@chuckh When you say login and signup form... refers to authentication and authorization? Intercept router and everything? Oh yes!
When speaking web application, progressive web application, it is inevitable not touch on these issues.

[2016-01-19 22:48] vinerz commented on #653
Didn't know that YouTube gaming was made with Polymer! That's some great news for me.

[2016-01-20 21:17] joryphillips commented on #653
Would it be possible or realistic for 2.0 to reduce the # of tools used in the install/build process? i.e. narrow down to just npm and gulp?

[2016-01-20 21:20] samccone commented on #653
@joryphillips we are actively investigating just that :)

[2016-01-21 19:26] bushuyev opened #669 "scriptInHead: false in js task results in import js executed before js from index"
Why is it neccessary to set scriptInHead to the false? It results in javascripts from the imported files executed before javascript in the index no matter how high it is. Quite confusing.

See the full funny story
http://stackoverflow.com/questions/34857939/order-of-javascript-execution-when-loading-html-import

[2016-01-21 19:40] robdodson commented on #669
Related https://github.com/PolymerElements/polymer-starter-kit/issues/605

[2016-01-21 22:00] cnbuff410 commented on #653
I'm curious on why PSK doesn't use Polybuild replace a bunch of current tool? Is it due to the immature state Polybuild is currently in?

[2016-01-22 02:26] ZergMark commented on #653
@cnbuff410 They tried to use Polybuild a couple of months ago and ran into too many issues.

[2016-01-22 12:52] David-Mulder commented on #663
Just my 2ct: Wouldn't it maybe be a better idea to put the `index.html` imports in `index.html` and make the *default* that `elements.html` will be automatically generated importing all elements in the `elements` folder? Of course once you start doing stuff like lazy loading and all those things you will have to turn off that automatic generation and for users of the 'light' version they would sim

[2016-01-22 15:36] felipecesar00 opened #670 "Suggestion: improve doc about Firebase Pretty URLs"
I had a lot of problems when using Pretty URLs in Firebase, even following the guide: https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-firebase-pretty-urls.md

I discovered that the tag `<base href="/">` should come first in the `index.html`. When this tag was the last line of the `<head>` tag the browser had a lot of problems when finding the elements. But, if you

[2016-01-22 16:11] samccone commented on #670
:+1: this seems like a reasonable change to me, good idea @felipecesar00
Any interest in opening up a PR?

[2016-01-22 16:36] felipecesar00 commented on #670
I don't. Fell free to change :). I believe this detail will help many devs spend less time on solving routing problems :)

[2016-01-22 18:56] chuckh commented on #670
I created pr #671 with this change.

[2016-01-22 19:01] #670 closed

[2016-01-22 19:09] joncostello commented on #378
I can reproduce it with these steps:
yo polymer
yo polymer:el test-firebase
bower install --save GoogleWebComponents/firebase-element

Insert a <test-firebase> tag in index.html(I put it above the <my-greeting> tag).

Inside test-firebase.html:
link firebase-document
above hello from test-firebase put a <firebase-document> tag

gulp serve:dist
Result:
blank page. Dev console has the Uncaught Synta

[2016-01-22 19:18] samccone commented on #378
Hi @deltaepsilon and @joncostello this seems to be a polybuild issue would you mind opening an issue in the polybuild repo https://github.com/PolymerLabs/polybuild so we can track it in the correct place.

Thanks for the issue and steps to reproduce :clap:

cc  @azakus

[2016-01-22 19:48] joncostello commented on #378
Thanks @samccone I created a new issue there: https://github.com/PolymerLabs/polybuild/issues/27

[2016-01-22 23:06] nibuen commented on #625
@motss @robdodson I had a similar problem related to ES2015 not getting translated in dist and found out that the vulcanize task was copying the original app file html instead of the babel translated stuff.  My workaround for now was to copy the rest of bower_components into .tmp (since vulcanize needs all html references) and then had vulcanize point to the .tmp/elements/elements.html file.

[2016-01-22 23:08] samccone commented on #625
oh cool thanks for the info @nibuen any interest in opening up a PR to note this fix in the docs?

Thanks!

[2016-01-22 23:12] nibuen commented on #625
@samccone Sure I should be able to. Are you ok with copying all bower_components over though?  Guess i can start the PR and talk about it on that...

[2016-01-22 23:15] samccone commented on #625
yeah we can chat on the PR :)

thanks a million :space_invader: :sparkles:

[2016-01-23 04:48] samccone commented on #666
that is the catch, for the CSS mixins to work you need to be in a polymer \<template\> :wink:

Let us know if the documentation was misleading around this and we can update... Thanks!

[2016-01-23 04:48] #666 closed

[2016-01-23 05:24] robdodson commented on #666
Yeah this is a limitation of the current shim. If you try your code in Chrome Canary I think it'll actually work as we just shipped native support for custom properties

[2016-01-24 02:03] abdonrd opened #676 "Add auto deploy and test for Google App Engine"
Like GitHub Pages and Firebase, add auto deploy and test for Google App Engine.

- [PSK recipe: Deploy to Google App Engine](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-google-app-engine.md)
- [Travis documentation: Google App Engine Deployment](https://docs.travis-ci.com/user/deployment/google-app-engine)

Maybe @chuckh can help with this? :blush:

[2016-01-24 12:48] abdonrd commented on #676
Something like this in the `.travis.yml`?

[code]

[2016-01-24 23:57] abdonrd commented on #676
Today I setup the auto deploy in my little personal website. I share the [.travis](https://github.com/abdonrd/abdonrd.com/blob/develop/.travis.yml) file.

[2016-01-25 14:38] rycastaneda opened #678 "Error on using gh page deployment"
I am getting this error message when using the deploy script on gh pages. Any thoughts?
[code]

[2016-01-25 15:13] BartKoppelmans commented on #664
Will this have any effect on the code that we currently have? And do you know if there is a solution to do this with paper-scroll-header-panel?

[2016-01-25 19:59] robdodson commented on #664
@BartKoppelmans In the future we'll probably need to swap out paper-scroll-header-panel for the app-layout elements. I don't think this is currently possible with paper-scroll-header-panel because of the way it is structured. I think the app-layout elements were built in a way to work around this issue

[2016-01-25 20:08] BartKoppelmans commented on #664
That would be great, looking forward to any progress on this. :blush:

[2016-01-25 20:14] vinerz commented on #664
@BartKoppelmans I've migrated to app-layout elements very easily, you don't need to worry about that. It is almost a drop-in replacement (if you didn't do many customizations)

[2016-01-25 20:26] BartKoppelmans commented on #664
Unfortunately, I did. I have a variable headerHeight and condensedHeaderHeight, which are not supported (as far as I can see). Perhaps in the future. Thanks anyway!

[2016-01-25 21:12] kevinpmbudd opened #680 "gulp serve leads to a blank page in browser"
No errors with npm or bower installs, gulp serve shows no errors either. From devtools the console shows:
Our app is ready to rock!
app.js:78 Uncaught TypeError: app.$.paperDrawerPanel.closeDrawer is not a function(anonymous function) @ webcomponents-lite.js:2409

The page appears blank. Thanks

[2016-01-25 21:34] samccone commented on #680
@kevinpmbudd can you delete your bower_components folder and run bower i again?

[2016-01-25 21:36] samccone commented on #678
xref

https://github.com/shinnn/gulp-gh-pages/issues/13
https://github.com/shinnn/gulp-gh-pages/pull/14
https://github.com/shinnn/gulp-gh-pages/issues/61

---

This seems to be an issue with gulp-gh-pages... I am going to close here and reopen over there

[2016-01-25 21:36] #678 closed

[2016-01-25 21:39] samccone commented on #678
https://github.com/shinnn/gulp-gh-pages/issues/85

[2016-01-25 21:40] kevinpmbudd commented on #680
@samccone thanks for help. deleting bower_components and running bower i did not fix. seeing the same result in the browser.

[2016-01-25 21:40] samccone commented on #680
what version are you on? and what platform (windows/mac/linux)?

[2016-01-25 21:47] kevinpmbudd commented on #680
mac
polymer 1.2.2
node 5.5.0
npm 3.3.12
bower 1.7.4

[2016-01-25 21:55] samccone commented on #680
Which release of PSK are you using?

[2016-01-25 21:58] kevinpmbudd commented on #680
believe its the latest release, getting it from here on the github, polymer-starter-kit-1.2.2.zip

[2016-01-25 22:38] joryphillips commented on #680
I've had the blank screen and a few different things have fixed it, depending on the circumstance:

1. My HTML had some errors.
2. With devtools open, I held down a mouse click (or left click) on the 'reload' button and clicked 'empty cache and reload'
3. I deleted my bower_components, used `bower cache clean` and then reinstalled the components.

[2016-01-25 22:40] nylki commented on #576
@robdodson Can the process be tracked in a different issue? :)
I really dislike the behaviour of `dom-bind` being basically a replacement of `body` as outlined here: http://stackoverflow.com/questions/35002817/polymer-accessibility-when-js-is-disabled-with-dom-bind/35003215#35003215

[2016-01-25 22:43] kevinpmbudd commented on #680
miracles do happen. thanks @joryphillips, third one was a charm, bower cache clean and then bower i did the trick. thanks @samccone for working on this as well.

[2016-01-25 22:43] #680 closed

[2016-01-25 22:48] samccone commented on #680
:boom: good call on the cache clean @joryphillips

:+1:

[2016-01-26 13:39] zboralski commented on #631
:+1:

[2016-01-26 16:05] vitoexe opened #681 "WATCH HTML - node.exe high CPU consumption on gulp serve"
Compare to all previous version of PSK including 1.2.0rc,
in 1.2.2 when __gulp serve__ is running CPU consumption (on Windows 7) increase:
from __0%__-__1%__ to __20%__-__27%__

seems to be because this line:
gulp.watch(['app/**/*.html'], reload);

[2016-01-26 16:14] samccone commented on #681
@vitoexe what node version are you on?

[2016-01-26 18:36] vitoexe commented on #681
v4.2.6

[2016-01-27 11:12] vitoexe commented on #681
on version 1.2.0rc and all before, CPU consumption was minimal __0%-1%__
on 1.2.2 - __20%-27%__ (node 4.2.6), __38%-50%__ node (node 5.5.0)
on 1.2.3 - __10%-13%__ (node 4.2.6 & 5.5.0)

CPU Intel Core 2 Duo P8700  (2.53 GHz)

[2016-01-27 14:03] vitoexe commented on #681
I'm pretty sure, problem is __bower_component folder__ in app directory.
__gulp.watch(['app/&ast;&ast;/&ast;.html',...__ observe also this folder, which is quite big.

my solution ...
__gulp.watch(['app/&ast;&ast;/&ast;.html', '!app/bower_components/&ast;&ast;/&ast;.html'], reload);__

I understand benefits of observe changes in components but, no every one has new iMac PRO :P

[2016-01-27 16:17] cvanleeuwen commented on #681
@vitoexe is right, watching changes on bower_components affects performance significantly.

[2016-01-27 16:19] samccone commented on #681
:+1: seems like a super reasonable fix @vitoexe

It would be awesome if you wanted to open a PR to add your fix here: https://github.com/PolymerElements/polymer-starter-kit/blob/master/gulpfile.js#L241

Thanks a ton for tracking this down @vitoexe and @cvanleeuwen :clap:

[2016-01-27 18:08] robdodson commented on #154
Closing but happy to reopen if others are running into this

[2016-01-27 18:24] robdodson commented on #339
We're planning to have multiple template projects for PSK 2

[2016-01-27 21:37] #681 closed

[2016-01-27 21:51] samccone commented on #681
@vitoexe thanks again for spotting this, @e111077 swooped in and fixed this up for us, this should go out in the next release.

Thanks :sparkles:

[2016-01-27 21:51] abdonrd commented on #681
@vitoexe thanks for catch it! :smiley:

[2016-01-28 18:52] David-Mulder commented on #653
Isn't it time to start thinking about HTTP/2 either way? I mean, right now 83% of Polymer supported browser usage supports HTTP/2, add to that that PSK v2.0 isn't out for a while longer we can easily assume that by that time we're talking about 90% or more. Advantages of HTTP/2 include a greatly simplified (or even entirely abandoned) build process and extremely simple dynamic loading, both things

[2016-01-28 19:42] chuckh commented on #653
I created the rough spreadsheet to show possible use cases with features that would be required to build them. I categorized the PSK Use Cases into Public: for sites that don't need login and signup abilities, Secure: sites that need to be logged into to access content (invite only), Commercial App: sites that need to provide new user signup and existing user login abilities.  This was just a firs

[2016-01-29 09:13] vb00080 opened #685 "Page rendering issues on refresh in Internet Explorer (9+)"
I am running PSK (slightly modified) using gulp:serve - the only modifications I have made is changes to the front-end index.html and adding a new js function above the app.js code, and calling it within window.addEventListener('WebComponentsReady', function() {} - all this js does is animate an accordion menu.

The page loads fine at first in IE, but sometimes when refreshing using F5 it comes up

[2016-01-29 10:46] vb00080 commented on #685
This error seems to have gone away if I use webcomponents.js instead of webcomponents.lite.js - closing.

[2016-01-29 10:46] #685 closed

[2016-01-29 11:08] AlmightyR opened #686 "attr-for-selected doesn't work with attribute from array"
Hello! I'm new to web-development, and this issue is probably coming from a misunderstanding on my part, but my selections using `attr-for-selected` are not matching `selected=[[route]]`, or are not being recognized, when I attempt to use attributes that are children of other elements from an array. I ran into this problem while trying to centralize my configurations for how routes are displayed i

[2016-01-29 12:47] AlmightyR commented on #686
NVM! Just [got an answer](http://stackoverflow.com/questions/35072019/polymer-paper-tabs-selection-not-working-as-expected?noredirect=1#comment57886875_35072019) on SO after a little bit of brainstorming collaboration with SO user Dmitry. And yea, it was a misunderstanding on my part. I needed to use `$=` instead of `=` for the `data-route` attribute. I haven't fully understood why (AFAIU, HTML at

[2016-01-29 12:47] #686 closed

[2016-01-30 14:32] zboralski commented on #378
I think it is vulcanize issue...

https://github.com/Polymer/vulcanize/issues/304

not only polybuild/polyclean chokes on the output of vulcanize but even chrome complains before it has a chance to complain about CSP:

[code]

and that is after running only vulcanize... no polybuild, no crisper nothing...

[2016-01-31 16:48] OmriAharon commented on #510
@andischerer  You sir, deserve a beer! Your solution did the trick for me.

[2016-01-31 20:23] robdodson commented on #510
I believe the recipe includes the line about `scriptInHead: false` already, doesn't it?

[2016-01-31 21:10] OmriAharon commented on #510
@robdodson  Perhaps I downloaded something I shouldn't have? I followed the tutorial and downloaded from the green button here: https://codelabs.developers.google.com/codelabs/polymer-es2015/#2

Then it says to add the 'js' task to the gulpfile, in which it's written as `.pipe($.if('*.html', $.crisper()))`

[2016-01-31 21:12] robdodson commented on #510
@OmriAharon ah! the code lab needs to be updated. We have a separate guide in the Polymer Starter Kit repo https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md

[2016-01-31 21:13] robdodson commented on #510
@nicolasgarnier would you mind updating the code lab doc with this change?

[2016-01-31 21:14] OmriAharon commented on #510
@robdodson  Thank you :)

[2016-01-31 21:22] zboralski opened #687 "Browser sync binding and CSP"
After watching @robdodson's last polycast, I decided to enable CSP and use crisper to separate html and javascript code and the last road block is the browser-sync-binding snippet :

[code]

I am not sure how I should go around to fix it.

[2016-01-31 21:31] robdodson commented on #687
Is that line of code coming out of the browser sync task itself?

[2016-02-02 14:04] beaufortfrancois opened #689 "Make <platinum-bluetooth> elements optional"
According to https://github.com/PolymerElements/polymer-starter-kit/blob/5929c0b16c170f6d8d5ac115167458652ac24161/bower.json#L9 all `<platinum-elements>` are mandatory. As it's not only about SW stuff, it might be good to select the elements we want to be present in the starter kit.

I'm not sure `<platinum-bluetooth>` elements for instance will be of interest for everyone ;)

[2016-02-03 14:34] supriyanatrajan commented on #461
Hi rob,
i am facing a issue with "app.$.headerPanelMain.scrollToTop is not a function" while running polymer starter kit.
Please suggest me.

[2016-02-03 17:35] GloriousUnicorn opened #690 "http-server has become mad - 404 error by Vulcanize"
**UPDATE**
Solved by stopping services here [chrome://serviceworker-internals](chrome://serviceworker-internals)

My project is inside a folder called 'sw,' and using http-server with windows cmd and git bash gives me this:

` "GET /sw-import.js?baseURI=http%3A%2F%2Flocalhost%3A8081%2Felements%2Felements.vulcanized.html&clientsClaim=true&defaultCacheStrategy=networkFirst&importscript=http%3A%2F%2F

[2016-02-03 21:15] robdodson commented on #461
@supriyanatrajan hm that's odd, I just did a fresh checkout of the project and it seemed to work.

Did you turn Shadow DOM on or are you just running a standard checkout of the project?
Can you tell me the version of PSK that you're using?
Can you check bower_components/paper-scroll-header-panel's bower.json is at version 1.0.14

[2016-02-04 18:36] addyosmani commented on #689
Although we include the Platinum elements by default, they are referenced in PSK until you explicitly decide to do this: https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/elements.html#L28

I'm :+1: on us trimming down the deps pulled in by default so perhaps we either:

1) Trim `bower.json` to only include the SW elements
2) Trim `bower.json` to exclude all Platinum

[2016-02-04 18:39] addyosmani commented on #687
We have static browser-sync markup in PSK's index over at https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L63 and I believe that's used for injection over in places like https://github.com/PolymerElements/polymer-starter-kit/blob/5929c0b16c170f6d8d5ac115167458652ac24161/gulpfile.js#L218.

@zboralski If you drop https://github.com/PolymerElements/polymer-starter-ki

[2016-02-04 18:42] addyosmani commented on #676
@chuckh are you interested in taking this one on? I like the idea of deployment based recipes trying to do this. Helps us make sure they're consistently working :fire_engine:

[2016-02-04 18:48] addyosmani commented on #669
@robdodson From the sounds of it this is an issue with Crisper setup in the ES2015 recipe. The default option for `scriptInHead` is set to true in Crisper 1.x. This apparently gives you:

* This improves load performance by parallelizing HTML and script parsing
* This will break document.write calls
* If you experience problems, you can use --script-in-head=false argument or scriptInHead: false in

[2016-02-04 18:49] addyosmani commented on #664
@robdodson Are `app-layout` issues like this ones we want to keep open and label accordingly until we make the switch or do we want to close them knowing we're going to have to make the transition anyway?

[2016-02-04 19:14] addyosmani commented on #663
Let's explore if there's a better way to tackle this for V2. We may end up requiring less of an elements.html file if we adopt the `<x-app>` strategy.

[2016-02-04 19:16] addyosmani commented on #662
I think it's worth us getting in a PR to switch over to one-way binding. Anyone interested in taking a stab at it and we can do some testing to measure impact after? :hear_no_evil:

[2016-02-04 20:32] chuckh commented on #689
I agree with @addyosmani and prefer option 2.

On Thu, Feb 4, 2016 at 10:36 AM Addy Osmani <notifications@github.com>
wrote:

--
Chuck Horton
proplanr.com
www.hware.com
chuck@hware.com
530.268.5840

Let us create a world that works for all.

[2016-02-04 21:12] chuckh commented on #676
I can give it a try. I have not worked with Google App Eng, though I do use Google Cloud Storage. I will first try deploying manually based on the [PSK recipe: Deploy to Google App Engine](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-google-app-engine.md). Once I get that working I will try to automate with travis-ci.

I may need some tips.  It may be a few day

[2016-02-04 22:34] GloriousUnicorn commented on #690
Found what is causing it: https://github.com/PolymerElements/platinum-sw/blob/master/README.md

Now I'm on mobile, will investigate as soon as I'll come back to my laptop.

[2016-02-05 04:34] robdodson commented on #689
+1 for 2 :+1:

[2016-02-05 04:36] robdodson commented on #664
@addyosmani I'm kind of in favor of closing them. I think we had another header-panel related issue and @chuckh was thinking it may be good to leave them open till the switch over... I could go either way really.

[2016-02-05 04:37] robdodson commented on #669
@addyosmani using script in head breaks the app but I could never figure out why

[2016-02-05 09:35] abdonrd commented on #689
+1 por option 2!

[2016-02-05 10:55] abdonrd commented on #676
@chuckh your welcome!

With what I have shared it should work, but let me know if I can help in something else.

[2016-02-05 11:58] zboralski commented on #687
@addyosmani I removed the span which gets replaced by some inline code. It would help if the injection is done before vulcanise. Although I think vulcanize is only ran on elements.html.

[2016-02-05 13:31] #690 closed

[2016-02-05 15:54] chuckh commented on #664
@addyosmani @robdodson I would like to keep open until we switch over to app-layout. This way it reminds us to test for this case. I flagged this and #274 as `waiting-on-upstream-fix` to help track issues that hopefully will be fixed with v2 of PSK.

See:
https://github.com/PolymerElements/polymer-starter-kit/labels/waiting-on-upstream-fix

[2016-02-05 15:54] addyosmani commented on #664
sgtm

[2016-02-05 20:20] abdonrd commented on #653
For linting, I think that we can use **eslint**.

[Polymer/polymer](https://github.com/Polymer/polymer) will begin to use it: https://github.com/Polymer/polymer/pull/3382

[2016-02-08 22:07] myuseringithub opened #692 "Feature: Chrome App Shell with Polymer."
Will you add App Shell in future Polymer kit releases ?
https://github.com/GoogleChrome/application-shell

[2016-02-09 12:51] robdodson commented on #692
Yeah, probably not that specific example, but our plan is to roll our PSK templates that meet the progressive web app, app-shell model

[2016-02-09 13:17] myuseringithub commented on #692
Thanks ! Great job.

[2016-02-09 13:18] #692 closed

[2016-02-10 10:06] ankon opened #694 "Babel 6.5 with es2015 preset leads to 'undefined' errors in third-party scripts"
Sorry for the vague title, hard to describe the problem exactly in a single line :)

What we did/tried to accomplish is to use components with ES2015 syntax, and in our main app follow https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md to transpile the vulcanized & crisped JS file using the `es2015` preset. When running the resulting application on

[2016-02-12 05:11] PushkaCom opened #695 "npm install killed on Dreamhost shared hosting"
I can't install the starter kit  - is it possible to do on shared hosting?

[code]

I read somewhere that it might be a lack of ram/ swap-file space issue - maybe it's limited for shared hosting users on Dreamhost?

[code]

Or do I need higher permissions?

[code]

[2016-02-13 18:37] MarcosGalaviz commented on #340
Rob very interesting, but how can we implement it with the sections of the Polymer Starter Kit? I am, a little confused :(

[2016-02-13 22:18] landmaxcanada opened #697 "Duplicate "mainContainer" ID in PSK"
Hi, I just noticed that document.querySelectorAll('#mainContainer') will return two elements with the same  ID, which I thought ID's were suppose to be unique.

[2016-02-15 08:26] beaufortfrancois commented on #689
Who should be assigned to that issue?

[2016-02-15 17:58] MarcosGalaviz commented on #340
I realy would like an example of PSK with neon-pages :(

[2016-02-15 23:20] JustinXinLiu commented on #340
I created a demo project ([code](https://github.com/JustinXinLiu/polymer-app-design) & [live demo](https://twitter.com/justinxinliu/status/685073908404371456)) here based on PSK with the use of `neon-animated-pages` instead of `iron-pages`.

Much credit should be given to @vguillou for his awesome [`neon-page-behavior`](https://github.com/vguillou/neon-page-behavior) add-on. It basically allows yo

[2016-02-16 03:02] mdagit opened #698 "feedback on PSK perf doc"
(Please take a look at issues #313 and #357 which were prior discussion).

There are a few things I still don't understand after reading the github issues #313 and #357 and the perf doc polymer-perf.md :

1. Presumably webcomponents-lite.js detects when the browser it is loading into already has a
native implementation, and it just short-circuits? Why not have that feature probing right
at the top

[2016-02-16 12:48] vguillou commented on #340
I had such an example ready so I published it :
https://github.com/vguillou/polymer-starter-kit/tree/neon-animated-pages-basic

It features the most basic integration of `neon-animated-pages` in PSK v1.2.3 with global declarative transitions.
If you want to see what you have to change exactly to integrate it into an existing app based on PSK, i suggest you take a look at the [commit details](https

[2016-02-16 14:10] addyosmani commented on #340
I would personally be down for a recipe. We might need to figure out long
term how to keep it up to date but this is the same challenge we have with
the rest of the recipes today.
On 16 Feb 2016 04:48, "Vincent Guillou" <notifications@github.com> wrote:

[2016-02-16 19:03] robdodson commented on #689
Good question... maybe @azakus?

[2016-02-16 19:22] samccone commented on #689
I can just do this... would only take a moment right?

[2016-02-16 19:56] robdodson commented on #689
yeah i wasn't sure if it needed to be part of the tedium release process

[2016-02-16 22:31] robdodson commented on #697
You want to use Polymer's DOM API to simulate Shadow DOM. https://www.polymer-project.org/1.0/docs/devguide/local-dom.html#dom-api

[2016-02-16 22:31] #697 closed

[2016-02-16 22:40] robdodson commented on #698
native implementation, and it just short-circuits? Why not have that feature probing right
at the top of webcomponents-lite.js itself? Or at least support that ability with one of the
url flags? Then worst case it is just the overhead of loading the compressed js file, which isn't that bad.

Some folks would consider that overhead bad. Although the polyfills are quite small (11kb gzipped), it's ch

[2016-02-16 23:26] samccone opened #699 "node 0.10 support"
Let's investigate the work needed to get everything working on node 0.10

not supporting it is kinda rough for us atm

xref #696

[2016-02-17 02:52] robdodson commented on #340
Fixed by #700

[2016-02-17 02:52] #340 closed

[2016-02-18 11:53] David-Mulder commented on #663
Been thinking a bit about this, but why not just put them straight in `index.html`? Seems a lot more sensible as that's the generic rule: you define your dependencies at the top of the file where you use them.

[2016-02-18 12:03] felixzapata opened #704 "Inform the user when navigate with the menu"
Hi, this issue is related with the accessibility. If a user clicks on the menu, the application should inform him that the page has changed maybe sending the focus, plus using the aria live regions.

I've made some tests but i am not sure which is the best approach to fix this. I mean, maybe this issue is more related with the iron-selectable behavior when it sets the "iron-selected" class.

But m

[2016-02-18 13:41] TimvdLippe commented on #663
The elements.html file is used in the vulcanize task. Therefore the output of vulcanize is elements.build.html which is imported by index.html

[2016-02-18 14:27] felixzapata commented on #704
I think that the solution can be like this way:

[code]

Maybe I will send a pull request.

[2016-02-18 14:50] David-Mulder commented on #663
@TimvdLippe The vulcanization step should be able to parse `index.html` just as easily as `elements.html` for its dependencies, rip them out and inject it's own vulcanized version.

And regardless, moving to HTTP/2 structures might be worth it either way sometime very very soon. From experience I can say it makes a lot of stuff a lot easier (once you get through all the troubles).

[2016-02-18 15:37] Kumassy opened #706 "anchor link is not working"
I updated some code of index.html.
Here is my code:
[code]
But Chrome shows wrong url such as "http://localhost:5000/#contact","http://localhost:5000/contact#!/contact#contact" when clicking `<a href="#contact"></a>` and `<a href="/contact#contact"></a>`.

Any idea?

[2016-02-18 15:37] robdodson commented on #663
@David-Mulder what're you using for http2? One question I've had is whether a large non-vulcanized polymer app served over h2 with lots of dependencies will be faster or at least the same speed as a vulcanized one. Testing with app engine's (very limited support for h2) made it appear that it was slower to just send everything over the wire but I am looking for another good h2 implementation to te

[2016-02-18 15:49] robdodson commented on #706
what's the desired outcome that you'd like it to show?

[2016-02-18 15:52] robdodson commented on #704
I think the usual approach for managing focus in a situation like this is to set tabindex=-1 on one of the heading or section elements, then call focus on it after the page has transitioned

[2016-02-18 16:03] Kumassy commented on #706
I hope usual behavior like static pages.
When clicking `<a href="#contact"></a>` in `http://localhost:5000/#!/contact`,brower should scroll to `#contact`.
When clicking `<a href="/contact#contact"></a>` in `http://localhost:5000`,brower should jump to `http://localhost:5000/#!/contact`and scroll to `#contact`.

But my code gives undesired outcome.

[2016-02-18 16:06] felixzapata commented on #704
yes, in the pull request I use the iron-a11y-announcer component to listen the event and to set the focus and the tabindex attribute.

[2016-02-18 16:42] zboralski commented on #687
@addyosmani if I remove https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L63 I have no issues.

[2016-02-19 14:16] chuckh commented on #663
Below is more info on using http2 with Polymer on GAE.  See this discussion at: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/firebase-talk/DjMoVvhVANw/QMEjApmtDAAJ

One alternative until/if Firebase Hosting gets support for HTTP/2 (+ push), you might want to take a look at https://github.com/GoogleChrome/http2push-gae and https://github.com/GoogleChrome/http2-push-manif

[2016-02-20 14:57] peter-mueller opened #709 "app-theme colors with paper-styles/color"
The primary-color and accent colors could be set by css variables from paper-styles/color.html

**Who will use the feature?**
Everyone that wants to change to a different, but material style conform color theme.

**What is the user’s goal?**
Change the theme quick, without needing to look at the Material Palette or the Material Design Color guidelines.

Given this style:
[code]
A User can change t

[2016-02-21 18:30] addyosmani commented on #699
I know that we're going to need to support 0.12 for a while. Do we have any insight into how widespread 0.10 usage is atm? I really wish we could get more folks using the latest Node stable, but :crying_cat_face:

[2016-02-21 22:04] samccone commented on #699
Let me ask @seldo for the latest stats :)

[2016-02-22 02:23] robdodson commented on #709
I'm a little confused. We already provide theme colors here: https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/styles/app-theme.html#L28-L38

Is there something you think we should do differently?

[2016-02-22 06:24] peter-mueller commented on #709
I suggested replacing the hex values in  `app-theme` with **vars** from `paper-styles/color.html` to make switching colors easy. Excuse me if that was unclear.

[2016-02-22 07:45] mkazlauskas commented on #663
`elements.html` concerns me as well. I realise it's convenient for build/vulcanize, but it's really awful for maintainability. It's not clear **where** the imports are used, therefore it's very hard to do clean-up and you end up importing stuff that is not used at all.

[2016-02-22 12:00] jsilvermist commented on #663
Though it may not affect many people, one problem is that if you are using multiple pages with the current implementation it can be unclear if you should add all imports in a single elements.html page to enable it to be cached and not download the same dependencies multiple times, but add initial overhead, or add a different elements.html for each page which uses different dependencies.

At the mo

[2016-02-22 13:16] TimvdLippe commented on #663
@jsilvermist Since HTML imports are deduplicated and only downloaded once, every element should declare its dependencies in the file where the element is defined. This is a common misunderstanding and one of the reasons is currently elements.html confusing people.

Another note about elements.html and vulcanize: If the elements.html is vulcanized and loaded async, the other structure of the page i

[2016-02-22 14:50] robdodson commented on #709
Ah I see! Would you be interested in putting together a pull request for this?

[2016-02-22 15:13] robdodson commented on #663
This may become more sensible if we move away from the current `dom-bind` approach to using something like `x-app`. Frankly, even though developers might get a little freaked out by the idea of an `x-app` element, `dom-bind` is essentially the same thing. It's a template that obscures the markup from the rest of the page and doesn't stamp until Polymer has loaded. It shouldn't, as I understand it,

[2016-02-22 15:23] jsilvermist commented on #663
@TimvdLippe Yes, that's true for HTML Imports, but when we are vulcanizing it and only importing elements.html, everything is the file MUST be downloaded regardless of the contents, deduplication would only affect the import if we tried to import elements.html twice.

[2016-02-22 16:21] robdodson opened #710 "Selenium tests failing"
Running wct with the latest version of PSK produces failing test output but it's not clear what's up with wct
https://travis-ci.org/PolymerElements/polymer-starter-kit/jobs/110972314

[2016-02-22 16:45] peter-mueller commented on #709
ofc

[2016-02-22 19:45] chuckh opened #714 "Menu Items No Longer Background Highlighted When Selected"
This happens on Mac Chrome, Safari, and Firefox. Also on Windows IE11, Edge, Chrome and Firefox.

## Current  Polymer Starter Kit
See by going to https://polymerelements.github.io/polymer-starter-kit/ and click on Users:
![image](https://cloud.githubusercontent.com/assets/19915/13230024/9f3f9fd6-d958-11e5-8dab-dbc1b3030c4f.png)

## Previous Polymer Starter Kit
See by going to http://proplanr.githu

[2016-02-22 20:04] chuckh commented on #710
#710 fixed this problem so closing this issue.

[2016-02-22 20:04] #710 closed

[2016-02-22 20:55] #704 closed

[2016-02-22 22:05] dandv commented on #178
I'm new to PSK but have installed all the popular PWAs (e.g. those in @addyosmani's blog post) on my corp Nexus 5X.

Zuperkulblog's time to paint (above the fold) is a lot slower (~2X - [video](https://youtu.be/Sn_tIelm7g0)) than Jake's Offline Wikipedia, or the Pokedex app. Is this intended (as a price to pay for the far simpler development), or part of the perf improvement?

[2016-02-22 22:19] samccone commented on #178
Hi @dandv, there is 0 reason why a polymer app can not be as fast or faster than the examples you have listed. There is just a bit of work required to abstract the build process to make it approachable to developers using PSK.

The thing to consider with this project is the complexity cost to adding in the perf patterns. Right now the tools do not exist to do this in an approachable manner and it

[2016-02-23 15:39] robdodson commented on #178
@dandv zuperkulblog-progressive relies on h2 server push which is only available on app engine if you disable the `experimental quic` flag in Chrome. That's one of the ways I was getting improved paint times.

Check out codelabs.developers.google.com which is also built with Polymer and paints suuuuuper fast. It's using a new experimental feature called `body-bind` which doesn't hold up painting a

[2016-02-23 16:23] #709 closed

[2016-02-24 18:34] chuckh opened #717 "Polymer Starter Kit Title Flickers When Tap Home Menu Item"
Current PSK Polymer Starter Kit Title Flickers when tapping on User or Contact menu item and then tapping on Home menu item? Happens on Mac Chrome and Safari, and not Firefox.

You can test it at: https://polymerelements.github.io/polymer-starter-kit/

[2016-02-24 18:40] robdodson opened #718 "Fixup ES2015 recipe"
Currently the ES2015 recipe doesn't work for `gulp serve:dist`. Also related https://github.com/PolymerElements/polymer-starter-kit/issues/625

[2016-02-24 18:41] robdodson commented on #718
cc @nevraeka

[2016-02-24 18:41] robdodson opened #719 "Fixup Perf Patterns recipe"
Self assigning this.

[2016-02-24 18:47] Nevraeka commented on #718
thanks @robdodson . I'm looking into this tonight

[2016-02-25 14:51] buele commented on #718
1. Following the recipe: [Add ES2015 support through Babel](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md)
 2. Running ```gulp serve:dist``` this error appears:

[code]

Do you get the same error?

[2016-02-26 02:24] johnwhitton opened #720 "Problem deploying to google cloud "ERROR: (gcloud.preview.app.deploy) invalid_grant""
Hi,

I'm following the [instructions](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-google-app-engine.md) to deploy to Google Cloud.
My deploy.sh can be found [here](https://github.com/johnwhitton/jincubator/blob/master/deploy.sh)
I've attached the log file showing the error below.
My project is called jincubator with a project Id of jincubator-ae
My github repo

[2016-02-26 02:53] johnwhitton commented on #720
This turned out to be a problem with the fact that I hadn't done a
`gcloud auth login`
Logging on fixed the problem and allowed me to deploy thanks to @garlicnation for the advice.
Sorry for the inconvenience.

Regards,

John

[2016-02-26 02:53] #720 closed

[2016-02-26 15:56] abdonrd opened #722 "The PSK don't save the scroll position when reload"
If you scroll down in any page of the PSK, and reload, you go to the top of the page. :crying_cat_face:

[2016-02-26 16:02] robdodson commented on #722
Yeah I guess that's a bit intentional:

https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/routing.html#L25-L28

The intention was navigating between pages should reset the position. Didn't think about reloading..

[2016-02-26 16:07] abdonrd commented on #722
Yes, but I think that the user reload the page, he expect the scroll in the same position, as the browser normal behavior.

What do you think?

[2016-02-26 16:19] robdodson commented on #722
I agree. We should find a solution that satisfies both use cases

[2016-02-26 16:21] abdonrd commented on #722
:+1:

I'm not sure if it's a Polymer general issue, but the Catalog has the same problem: https://github.com/Polymer/polymer-element-catalog/issues/249

[2016-02-26 16:23] robdodson commented on #722
Yeah it's not polymer specific I don't think. When you're changing pages in a single page app you do want it to scroll to the top (imagine clicking on a different catalog element and it starting halfway down the page). But if you reload it shouldn't do the scroll top.

[2016-02-26 16:25] abdonrd commented on #722
Yes, you are right! The issue is with the SPA.

[2016-02-26 18:11] johnwhitton opened #723 "When deploying to App Engine are HashBangs Necessary?"
Hi,
I was following the [App Engine deploy recipe](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-google-app-engine.md) and I remembered that in the [firebase deploy recipe](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-firebase-pretty-urls.md) it recommended removing hashbangs
So I followed steps 7 and 8 in the firebase recipe

[2016-02-26 18:17] abdonrd commented on #723
Because if you go, for example to http://www.jincubator.com/contact directly, the server try to resolve the route, and break. :sweat_smile:

[2016-02-26 18:26] johnwhitton commented on #723
Ok so I've placed the hashbangs back in and that has resolved the issue.

[2016-02-26 18:28] johnwhitton commented on #723
I'll leave this open so other people can add their thoughts.
Thanks @abdonrd for all your help on this.

[2016-02-26 18:40] johnwhitton opened #724 "Support for Google App Engine using custom domains and http only"
Hi,
When deploying using the [app engine recipe](https://github.com/PolymerElements/polymer-starter-kit/issues/723) my custom domain stopped working because I had not set up SSL certificates for it on google app engine. To get around this I commented out  the `secure: always` lines from app.yaml you can see the change [here](https://github.com/johnwhitton/jincubator/commit/4289b2db59cd51964f51af15

[2016-02-26 18:56] samccone commented on #724
hey @johnwhitton thanks for the comment, I think that making a note of this in the deploy process doc is a really good idea!

Any interest in opening a PR with this change? I will gladly merge :)

Thanks for taking the time to do research and write up your findings, it is super appreciated :sparkles: !

[2016-02-26 19:11] johnwhitton commented on #724
Hey @samccone sure

[2016-02-26 19:43] #724 closed

[2016-02-28 09:35] bradjohnwoods commented on #718
i get the same error, when running 'gulp serve', is there a fix for this?

[2016-02-28 22:56] robdodson commented on #718
@bradjohnwoods that's what @Nevraeka is working on :)

[2016-02-28 23:31] robdodson commented on #724
@johnwhitton btw if you server over http it means you can no longer use things like service worker or web app manifests. I haven't tried using it with app engine yet, but a service like [Let's Encrypt](https://letsencrypt.org/) can make it easier to get a cert.

[2016-02-29 04:02] bradjohnwoods commented on #718
Thanks for the reply! love your work @ polymer, best thing since sliced
bread..

On Mon, Feb 29, 2016 at 9:56 AM, Rob Dodson <notifications@github.com>
wrote:

[2016-02-29 18:59] johnwhitton commented on #724
@robdodson Yes HTTPS is something I should set up, there are a couple of blogs about using Let's Encrypt [here](http://blog.seafuj.com/lets-encrypt-on-google-app-engine) and [here](https://medium.com/@samthor/let-s-encrypt-with-app-engine-8047b0642895#.d1wkbpgr6). Also note that regardless of your custom domain in my case www.jincubator.com appspot supports HTTPS e.g. https://jincubator-ae.appspot

[2016-02-29 23:52] dandv opened #728 "Use npm throughout, instead of npm & bower?"
http://stackoverflow.com/a/31219726/1269037

[2016-02-29 23:55] samccone commented on #728
Thanks for the issue! :) This is something that is in progress cross stream.
When this https://github.com/Polymer/polymer/issues/326 rollout happens we will switch.

[2016-02-29 23:55] #728 closed

[2016-03-01 00:00] dandv commented on #728
Thanks @samccone. Are there plans for [ditching gulp](http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/) too?

[2016-03-01 00:01] samccone commented on #728
somewhat yes,

https://github.com/PolymerElements/polymer-starter-kit/issues/653

see tooling
https://blog.polymer-project.org/announcements/2016/02/16/2016-roadmap/

[2016-03-01 00:02] #699 closed

[2016-03-01 00:40] alexpaluzzi commented on #653
"Import / require javascript everywhere / anywhere"

Can I get some clarity on this one? Are we talking using a module loader to imperatively import Polymer elements? If I could build Polymer elements in JS files (without feeling like I'm hacking it up too much), my love for Polymer would grow immensely. And I'm already infatuated with it.

[2016-03-01 05:43] robdodson commented on #653
@alexpaluzzi kind of. Our thinking was to add the ability to import/require modules inside of your HTML Imports.

[2016-03-01 05:51] alexpaluzzi commented on #653
@robdodson ah. That's pretty exciting. I know there is talk about unifying the ES2017 (or whatever it's called) module loaders with HTMLImports to use the same mechanism underneath.

I envision a future where we can export Polymer elements out of JS (or HTML) files, and then require them in other JS files (or import them in HTML files, like today). I haven't dove into the internals of HIs, but I'm

[2016-03-01 05:53] robdodson commented on #653
yeah that's kind of where we're headed. We want to make sure you can pull in external js modules and use them in your elements and down the line possibly export things but that particular bit is still being heavily worked out by the standards folks

[2016-03-01 06:06] dandv commented on #629
Just installed on Windows as well. Why `npm install` failed because of missing Python, the app runs just fine, and bower installation completed successfully.

[2016-03-01 08:32] abdonrd commented on #728
@samccone there are any dates about https://github.com/Polymer/polymer/issues/326 rollout?

[2016-03-01 16:13] samccone commented on #723
:+1: glad you got this resolved @johnwhitton :) Thanks for the help and advice @abdonrd :clap:

[2016-03-01 16:13] #723 closed

[2016-03-01 16:28] samccone commented on #706
Hi @Kumassy since this app is a SPA, the # jumping will not work, instead you will want to write some custom router middleware that after rendering the page will locate the element matching the # selector and scroll it into view...

here is an example in an app I did a while ago
https://github.com/twosigma/beaker-notebook-www/blob/master/assets/js/views/getting-started.js#L29

Good luck!

[2016-03-01 16:28] #706 closed

[2016-03-01 16:33] samccone commented on #695
Hey @PushkaCom this question is not a PSK specific question but rather an issue with running npm on dreamhost, the best place to get a good answer for this one would be on stackoverflow.

Sorry I can not be of more help!

[2016-03-01 16:33] #695 closed

[2016-03-01 16:35] samccone commented on #687
:+1: @zboralski seems like the correct resolution. I am glad you got it worked out. Hopefully this issue will act as a good reference if someone finds themselves in a similar situation. Thanks for digging in on this one.

[2016-03-01 16:35] #687 closed

[2016-03-01 16:38] samccone commented on #659
@greenido if I had to guess it looks like you had a bad / partial install somewhere.
Try running `npm cache clean` `rm -rf node_modules` and install everything again.

I am going to close for now since I can not reproduce however if you are still hitting this we can reopen and continue the investigation.

[2016-03-01 16:38] #659 closed

[2016-03-01 16:41] robdodson commented on #728
@abdonrd the packages are registered on npmjs.com/~polymer. I think justin mentioned in that thread that he put together an example app but as we said in the thread, we don't have a great strategy for solving the conflict resolution issue. The community members wanted us to publish to npm and let the community try to work through a solution so that's the current plan at the moment. I guess this is

[2016-03-01 16:46] samccone commented on #728
cc @sebmck

[2016-03-01 18:26] alexpaluzzi commented on #718
Well that was fast. Great work @abdonrd. #730

[2016-03-01 18:50] abdonrd commented on #718
Your welcome @alexpaluzzi!

[2016-03-01 19:03] zboralski commented on #687
@samccone why should the snippet be injected for the dist version ?  I don't think this is resolved correctly. I'd like to be able to use browser sync during development but it shouldn't interfere with the dist version.

[2016-03-01 19:41] samccone commented on #687
^ This is an issue that you should only hit when using CSP

+1 to this goal however, this would be ideal, we would need to inject the browser-sync code dynamically during dev or just dynamically remove the chunk when building the final dist.

---

The reason I closed this is because at a certain point of customization of the PSK you will hit these kind of issues, and making a change to the code is

[2016-03-01 21:03] vguillou commented on #687
We could simply use `gulp-useref` to remove the browser-sync span, since it has already been made available to inject minified version of the webcomponent polyfill.

Like this :

    <span id="browser-sync-binding"></span>

[2016-03-01 21:11] samccone commented on #687
:+1: I love that idea @vguillou :)

Any interest in opening a PR?

[2016-03-01 21:20] vguillou commented on #687
Will do shortly :+1:

[2016-03-01 22:02] abdonrd commented on #649
Closed with https://github.com/PolymerElements/polymer-starter-kit/issues/649 :)

[2016-03-01 22:02] #649 closed

[2016-03-02 00:13] samccone commented on #718
resolved!

[2016-03-02 00:25] alexpaluzzi commented on #718
Hey @samccone! Are you talking about #677? I don't see any actual fixes in there and it still seems like a bunch of old tasks being referenced. Maybe I'm missing the fix for this?

[2016-03-02 01:14] samccone commented on #718
hmm i followed it and was able to make it work.... can you post your errors once more and let me see if i can reproduce

thanks @alexpaluzzi

[2016-03-02 01:16] alexpaluzzi commented on #718
I can try tomorrow. I don't have errors.

But just looking at it, there's old stuff in there. `elements` task doesn't exist anymore. It may be working but I still think it really needs cleaned up. I can do it tomorrow.

[2016-03-02 01:54] dandv commented on #95
The requirements for the app install banner to show have fluctuated over time, which might explain why the feature hasn't worked for @shawnExplore.

I've updated our [docs](https://github.com/google/WebFundamentals/pull/2617) to mention the requirement for defining a `start_url` in `manifest.json`, and PR #733 adds a section about adding the setting.

[2016-03-02 02:28] JustinXinLiu commented on #718
Yeah same I still can see a lot of old stuff there too...

[2016-03-02 02:30] samccone commented on #718
any help welcome here, thanks @alexpaluzzi and @JustinXinLiu

[2016-03-02 05:07] robdodson commented on #718
@samccone I think the issues with the ES2015 codelab were around gulp serve:dist not working. Did you try that? If not we may want to reopen this issue. I think @Nevraeka is working on improving the doc

[2016-03-02 05:55] samccone commented on #718
yeah I did not try dist ... lemme reopen until we can verify :)

[2016-03-02 08:39] Kumassy commented on #706
@samccone
thanks!

[2016-03-02 16:16] Nevraeka commented on #718
I got it all working ( w/ help from @belcherj as far as I can tell @samccone . I'll post a PR. Please take a look and let me know what you think.

cc @alexpaluzzi @robdodson  @JustinXinLiu

[2016-03-02 20:45] robdodson opened #736 "Switch to Polymer Team's labeling approach"
Outlined here: https://gist.github.com/justinfagnani/bcd0af53a325986ddc8f this should help us work better with Polymer team's dashboard tool http://meowni.ca/frankly/

[2016-03-02 21:15] robdodson commented on #736
Maybe using https://www.npmjs.com/package/git-labelmaker

[2016-03-02 21:20] justinfagnani commented on #736
Note that the tools team is using a different labeling scheme than elements. `frankly` should be usable with any set of labels, but I think one dashbard needs one set of labels to work right. It'd be nice to have devrel projects on the tools dashboard.

[2016-03-02 21:33] JustinXinLiu commented on #718
Thanks @Nevraeka for doing this!! Please correct me if I am wrong but I thought we should update the [ES6 recipe](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md) based on the latest version of *gulpfile.js* instead of modifying the file itself?

[2016-03-02 21:38] alexpaluzzi commented on #718
Looks like the errors are resolved, @Nevraeka! +1 But like @JustinXinLiu mentioned, it's still using outdated tasks (`elements`) which is guaranteed to confuse any newcomers.

[2016-03-02 23:30] samccone commented on #736
down for whatever, process has never been a huge issue on this repo so adding more may not be much of a win imho

[2016-03-03 04:40] samccone commented on #722
closing this as this is the nature of SPAs ... if anyone can think of a better way to handle it we are all ears and will implement it :)

[2016-03-03 04:40] #722 closed

[2016-03-03 04:41] samccone commented on #717
+1 profiled this and I know why... (detailed writeup pending)

[2016-03-03 18:37] #714 closed

[2016-03-03 18:39] abdonrd commented on #722
Okey!, but I think that we need to find a solution for this problem in the PSK v2.

[2016-03-03 18:56] Nevraeka commented on #718
@JustinXinLiu @alexpaluzzi Cool. I closed the PR and I'm adding to the recipe instead. Additionally I'll remoe the noted deprecated tasks. Thanks for the follow up. cc @robdodson

[2016-03-03 18:58] alexpaluzzi commented on #718
Thanks @Nevraeka! Happy to run through them from scratch when you open the PR. I got a Windows machine as well that I can test with. Just ping.

[2016-03-03 19:07] samccone commented on #722
open to research and any ideas :)

[2016-03-03 22:18] addyosmani commented on #736
Similarly flexible with whatever labelling approach adds value here.

[2016-03-03 22:19] addyosmani commented on #718
Similarly happy to assist with Windows testing as needed.

[2016-03-03 22:21] addyosmani commented on #717
Thanks for taking the time to dive into the cause of this Sam 🙋

[2016-03-03 22:24] addyosmani commented on #698
The recipe helps with perceived performance optimisation which can still add a great deal of value compared to the default state one would otherwise ship with PSK today. There's definitely a lot more that could be done here. Rob: noticed you created an issue to improve the recipe. Do you want to track desired improvements there or are there specific bits you want to tackle from this issue?

[2016-03-03 22:54] robdodson commented on #698
I was planning to just tune up the missing bits of the recipe. Right now it doesn't quite work. I'm not planning to tackle specific points from this issue.

[2016-03-03 23:21] joryphillips commented on #722
I've tended towards disabling scrollToTop in the couple apps I've been working on. I'm ok with maintaining vertical position on the screen when the user navigates between routes, and I'd argue that there are cases where this is more friendly.

Interestingly, reloads still cause my pages to lose scroll position, despite scrollToTop being commented out. What is causing that? Is it inherent to page.j

[2016-03-03 23:30] samccone commented on #722
If you are doing client side rendering the jump us probably being caused by the initial page height being way less than the height of the page post render :goat:

[2016-03-04 04:57] mdagit commented on #698
Just to be clear, I wasn't trying to say that what this doc says is not useful, rather that it could be better contextualized.
Here is some proposed verbiage:

-----
This document describes a method to substantially improve the time-to-first-paint (aka fast-first-render)
for a Polymer-based web application, typically from seconds to subsecond, basically by making the
polyfill and all elements be l

[2016-03-04 18:21] addyosmani commented on #95
Thanks so much for updating the docs and landing this change for PSK, @dandv! We really appreciate it :)

[2016-03-04 20:22] gbr opened #738 "Polymer Starter Kit for Dart"
Currently, there is no official starter kit for a Dart app. As a Polymer.dart user, I would like to take advantage of the included Page.js, and perhaps the Web Component Tester. There are unofficial versions floating out there but nothing that is maintained like this one. The WebStorm sample project is a helpful start but it is not as useful as this kit.

[2016-03-04 22:33] robdodson commented on #738
Hey @gbr thanks for the issue.

IMO this would be better served as a separate project, possibly maintained by the Dart team. I don't think any of the maintainers of PSK are currently well versed in Dart so it would be very difficult for us to attempt to build and maintain a version of this. I'm going to close the issue for now but happy to continue the discussion and answer any questions you have.

[2016-03-04 22:33] #738 closed

[2016-03-05 01:07] nibuen commented on #718
@Nevraeka Looks like already close to done.

But encase you need, I have a working version from when i added the fix for vulcanize with gulp serve:dist from #672

using the old elements task setup though.

[2016-03-06 09:00] abdonrd commented on #722
We have exactly the same problem if we "go back".

[2016-03-06 15:19] abbasfreestyle opened #739 "Gulp build with PSK 1.2.3 isn't working on Mac"
This problem has been driving me mad for a couple days. I run gulp `gulp serve` with no issues, and no errors in console log, everything runs nicely. but when i want to deploy and run `gulp` i get this:

[code]

I've tried running `bower i` this outputs nothing. I've removed node_module did `npm cache clean` then `npm install`. I also removed the bower-components did `bower cache clean` then `bowe

[2016-03-06 16:54] felixzapata commented on #739
hi @abbasfreestyle , that issue i think is related with a problem to find an element to do the vulcanized. If the element does not exists, the vulcanize task fails.

Instead of clean the bower cache and run another install, can you try to remove the folder `app/bower_components` and install again `bower install`?

[2016-03-06 17:49] abbasfreestyle commented on #739
hi @felixzapata i just tried it again, but unfortunately it didn't work and it produces the same error.

[2016-03-06 17:58] felixzapata commented on #739
hummm... strange... I tested before in my Mac without errors... Can you check that exists the file? `/Users/abz/Websites/MyApp/app/bower-components/paper-material/paper-material.html`

Try to remove the `node_modules` folder too and do again a `npm install`

[2016-03-06 18:12] abbasfreestyle commented on #739
I found the problem, It was really stupid of me!

i added a paper-material import in my own custom element. i don't know why i did that when it's already imported in elements.html!

i removed it from my custom element and now gulp works perfectly.

Closing case. Thanks for you help @felixzapata

[2016-03-06 18:12] #739 closed

[2016-03-06 18:15] oopg opened #740 "Using marked-element"
Using PSK 1.2.3, during gulp, at vulcanize task marked-element is looked at /app/elements/bower_components rather than /app/bower_components. Gives the following error: ERROR finding /app/elements/bower_components/marked-element/marked-element.html. The marked-element version is 1.1.3.

[2016-03-06 19:21] felixzapata commented on #739
you´re welcome @abbasfreestyle

[2016-03-06 19:41] felixzapata commented on #740
hi @oopg, after install the component with `bower install --save PolymerElements/marked-element` inside your project folder, have you added it to the `elements.html` file like this way?:

`<link rel="import" href="../bower_components/marked-element/marked-element.html">`

Regards.

[2016-03-06 20:07] landmaxcanada opened #741 "Add Nginx Recipe for Pretty URLs"
Hi, can you add Nginx recipe to the list? Very similar to Firebase Pretty URLs, but I got stuck missing the forward slash on "index.html" in the "try_files" statement. This seems to work. There may be other optimizations for Nginx as well. Firebase suggests a "rewrites" statement, not sure if that is needed with Nginx?

[code]

[2016-03-06 20:21] robdodson commented on #741
Yeah would you be interested in putting together a pull request for it?

[2016-03-07 05:45] oopg commented on #740
Yes, it is added as import and polylint is confirming it in Atom. However, vulcanize is having issues.

[2016-03-07 06:23] oopg commented on #740
Fixed. One wrong reference to marked-element in one file.
Thanks.

[2016-03-07 06:23] #740 closed

[2016-03-07 08:23] felixzapata commented on #740
you`re welcome @oopg

[2016-03-07 13:11] motss commented on #741
@landmaxcanada Unless you don't mind having the hashbang in your URL, then `location / { try_file $uri $uri/ /index.html` can be omitted as that is equivalent to Firebase's "rewrites" statement. This looks good to me.

[2016-03-07 17:27] peramsathyam commented on #477
@addyosmani:
What is workaround you did fixing the issue with Safari Driver
[code]

Should I have to sign-up for the paid individual apple developer program and the build the driver my own?

[2016-03-07 17:56] peramsathyam commented on #477
I did this work around.
Instead of the latest selenium web driver
- Downloaded selenium-2.44
- Unziped the jar file `selenium-server-2.44.0.jar`
- Double clicked the safari extension at the path `org/openqa/selenium/safari/SafariDriver.safariextz`

Then I am able to run the test successfully with `gulp test:local`
[code]

[2016-03-08 22:58] TimvdLippe commented on #653
For our site we use polybuild and we have not encountered any problems with it. It would be nice to reconsider adding polybuild to the build chain. The minification and splitting of HTML and JS is a nice win.

[2016-03-10 06:51] lucasfrib opened #742 "focus null in neon-animated-pages recipe"
"focus null" error after following the neon-animated-pages recipe in the /docs

i think is the "section" in the routing.html file:
document.querySelector('section[data-route="' + selected + '"]').focus();

it´s ok to replace section to "neon-animated" too? (#newbie)
document.querySelector('neon-animatable[data-route="' + selected + '"]').focus();

[2016-03-10 07:37] vguillou commented on #742
Yes you are right, I forgot to add this in the current recipe.
Do you want to create the PR ? :+1:

[2016-03-11 05:25] wintersandroid opened #743 "Moving contents of index.html to seperate element fails to use app theme."
I like to keep the index fairly clean, and use a main element that encapsulates the "app", If I take the contents of the index.html and place them in an element - in this case "test-element.html" then the app theme does not get applied, I cant find a way to make it work.. Here are my files.

index.html (header removed)
[code]

**elements.html**
[code]

**and test-element.html**
[code]

**The resul

[2016-03-11 08:34] vguillou commented on #743
Can you try to make those changes to see if it get's better ?

In `test-element.html`:

    <style is="custom-style" include="app-theme"></style>
    <style include="shared-styles">
      :host {
        display: block;
      }

    </style>

Also, just FYI (I don't think it has anything to do with the issue here) the imports are not in the right place: In every .html file, you should only import

[2016-03-11 08:34] ryantheleach opened #744 "I am unable to deploy to github pages by following-"
I am unable to deploy to github pages by following https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/deploy-to-github-pages.md

I believe there are steps missing

I've set up a git repo, git init'd and set up a git remote called origin pointing to https://github.com/ryantheleach/pore-mockup

yet when running gulp build-deploy-gh-pages after following the instructions, (using

[2016-03-11 08:38] ryantheleach commented on #663
The best way to fix this I think, is to have the build process alert you that there are imports that may not be in use (if possible) that way it also catches the case where people have removed things they were previously using and forgotten to remove them from elements.html

[2016-03-11 08:41] felixzapata commented on #743
hi, another issue not related with the style:

[code]

The `<paper-toast id="toast">` is not closed ;)

[2016-03-11 16:14] robdodson commented on #744
Hm, looks like an error in this plugin https://www.npmjs.com/package/gulp-gh-pages

[2016-03-11 20:19] wintersandroid commented on #743
@vguillou No different.. looks the same as the screen shot.. I also just used code direct from a fresh PSK just extracting the required code and generally left it as-is.. (not a representation of the actual web-app I am developing).

@felixzapata Woops - I was deleting from the paste irrelevant bits, must have forgot to delete the whole toast.. :)

[2016-03-11 23:05] wintersandroid commented on #743
I have figured it out - there is a mention in bold in the styling local dom document where it says the app theme is only for the main document - ie index.html.

Copying the styles from there to the shared-styles.html makes it work when the ```<style include="shared-styles"></style>``` is in the element.

[2016-03-11 23:05] #743 closed

[2016-03-13 21:17] robdodson commented on #718
I noticed that `gulp serve:dist` didn't seem to be working in this update. I think we may need to run `vulcanize` from the `.tmp` dir to make it happy. We're doing a codelab this coming week and I thought maybe I could take a stab at tuning up some of the work in this PR so here's the crazy big patch to the current ES2015 codelab https://github.com/googlecodelabs/psk-es2015/pull/12

I'm wondering

[2016-03-15 00:05] #717 closed

[2016-03-15 10:51] camerongreen opened #747 "Link not working"
First download link on

https://github.com/polymerelements/polymer-starter-kit/releases

Points to what seems like the right URL

https://github.com/PolymerElements/polymer-starter-kit/releases/download/v1.3.0/polymer-starter-kit-light-1.3.0.zip

But seems the file might have been misnamed, or rounded by a calculator :)

https://github.com/PolymerElements/polymer-starter-kit/releases/download/v1.3

[2016-03-15 12:08] addyosmani commented on #747
Fixed. cc @samccone as an fyi :)

[2016-03-15 12:08] #747 closed

[2016-03-15 12:46] bkawk commented on #201
How can this be marked as solved, this issue still exists.

[2016-03-15 15:01] samccone commented on #747
Ah drat my bad!

[2016-03-15 19:19] robdodson commented on #201
I don't know much about AWS but it needs to redirect every page to index.html, not just `/`. I would imagine something like `/*` but I don't know how they do their regex.

[2016-03-15 22:09] peterblazejewicz commented on #718
@robdodson
I had a problem compiling  ES6 recipes - both from Codelab and PSK, but the version from googlecodelabs/psk-es2015#12 works for me.

[2016-03-15 22:42] robdodson commented on #718
@peterblazejewicz good to hear! I'm updating the code lab documentation as we speak. Hope to get that published soon

[2016-03-16 09:53] Ahtesham1234 opened #751 "Index.html file display blank (local && on gulp)"
Done every step .npm bower,gulp install and rest but still getting the blank page on local hosting and on gulp serve.
How to fix it .

[2016-03-16 16:54] ZergMark commented on #718
One issue I can see with dropping the "patch" docs here and just using the Codelab repo is that the gulpfile for the PSK gets changed (or at least PRed) very frequently. Are you going to be syncing the Codelab repo on a regular basis? If there is a desire to not make devs go around patching the existing `gulpfile.js`, perhaps a separate `gulpfile.es2015.js` in this repo to keep everything together

[2016-03-16 17:04] kenchris opened #752 "Improve precache file generation gulp task using http2-push-manifest"
When using HTTP2 you usually don't vulcanize your files but might use a push manifest instead.

The current task it kind of depends on the vulcanizing step, but with HTTP2 you need a way to track all files (through imports etc) to gather a list of files to cache. This turns out to be what http2-push-manifest does and it can easily be reused in PSK:

[code]

There is a small difference that http2-p

[2016-03-16 17:14] robdodson commented on #718
In the near term I think so. We're kicking off a rewrite of PSK to make this more modular and make ES2015 a first class citizen so ideally none of this stuff will be needed in a few months

[2016-03-16 17:28] robdodson commented on #751
If you open the DevTools do you see any errors in the JavaScript console?

[2016-03-16 17:49] Ahtesham1234 commented on #751
@robdodson Below are my Errors in console:

1-Failed to load resource: net::ERR_FILE_NOT_FOUND
2-Imported resource from origin 'file://' has been blocked from loading by Cross-Origin Resource Sharing policy: Invalid response. Origin 'null' is therefore not allowed access.

[2016-03-16 18:22] robdodson commented on #751
It looks like you're not running the local server, that's why you have a blank page. When you run `gulp serve` it should open a window for you, otherwise navigate to http://localhost:5000

[2016-03-16 18:40] Ahtesham1234 commented on #751
@robdodson yup finally working, thx Rob.

[2016-03-16 19:41] #751 closed

[2016-03-17 08:13] motss opened #754 "Failed to parse web animations sourcemap"
Anyone come across this issue while deploying your app to Firebase? Is it only me?
Thinking of sending in a PR to fix this.

![capture](https://cloud.githubusercontent.com/assets/10607759/13840058/dfb25206-ec5a-11e5-979e-974ee49a8652.PNG)

## Expected outcome
Open webpage after running `gulp && firebase deploy` and the page loads successfully without any issue and no error message is thrown at the

[2016-03-17 15:47] NicolasRannou opened #755 "Polymer Starter Kit Title Flickers When Tap on Menu"
In index.html I do my routing as below:
[code]

If my element "software-research" is smaller than the window's height, no flickering.
If my element is taller than the window's height, it flickers.
If I put the content of my element directly in the section, no flickering.

I tried to put focus-target and tab-index inside the element (not sure if that makes sense) without success.

Best,

[code]

[2016-03-17 15:51] samccone commented on #755
Hey @NicolasRannou which browser are you seeing this in? can you describe the flicker?

[2016-03-17 15:59] NicolasRannou commented on #755
Hi @samccone

I am on Chrome 49.0 on OSX.

You can see the issue there:
https://fnndsc.babymri.org/#!/software-team

Try to click on the "software/team" in the menu, you will see the flickering.
If I remove the second part of the page (after Almuni), it doesn't flicker.

[2016-03-17 16:03] NicolasRannou commented on #755
Source code is there: https://github.com/FNNDSC/fnndsc.babymri.org

[2016-03-17 16:26] samccone commented on #755
hmm unable to reproduce on my linux machine, @robdodson / @chuckh can you repro?

[2016-03-17 18:26] robdodson commented on #755
I see it when I click on Software > Team

It looks like the issue Sam fixed in 1.3.0. Remove tabindex=-1 from
software-team. We updated this in 1.3.0 so instead of focusing the page
element it focuses a header in the page.
https://github.com/PolymerElements/polymer-starter-kit/commit/24e57f383566019401213d8951e7a253557a4106

On Thu, Mar 17, 2016 at 9:27 AM, Sam Saccone <notifications@github.com>
w

[2016-03-17 18:39] robdodson commented on #754
Haven't seen that one before. Seems like a firebase bug

[2016-03-17 19:30] Where-Solutions opened #756 "'paper-header-transform' fires too often on touch screen and locks up animation (freezes)"
If you take a PSK app, for example https://polymer-starter-kit.firebaseapp.com/, open on a phone (my Nexus 5), and open/close the Title Bar to watch the cool animation, then eventually the header will freeze, the menu will be un-resonsive and a page refresh will not fix it. You have to close the browser and re-open it.

I tried to incorporate the "Polymer.Base.debounce", but could not get it to wo

[2016-03-17 19:49] motss commented on #754
@robdodson Oh really? I've been seeing this error for quite a long time and always thought that I messed up something in the build process.

[2016-03-17 20:44] samccone commented on #756
Hey @Where-Solutions

When you say > and open/close the Title Bar

Can you describe your testing methodology :)

Thanks for the issue!

[2016-03-17 20:44] samccone opened #757 "Remove search and reload icon from header on mobile"
They do nothing so we should just drop them :)

[2016-03-17 20:46] samccone commented on #755
Yep, you will want to apply 24e57f3 to your project and this will be fixed!

[2016-03-17 20:46] #755 closed

[2016-03-17 20:47] #574 closed

[2016-03-17 20:47] samccone commented on #574
Will reopen if you have any more details @Negashev

[2016-03-17 20:49] robdodson commented on #754
maybe? i thought that output was something you saw while deploying to firebase. Do you see the same error while running the local server with `gulp serve`?

[2016-03-17 22:39] motss commented on #754
@robdodson Sorry my bad. I've updated a much clearer description of the issue.

[2016-03-17 22:43] abdonrd commented on #757
I'm agree! PR created!

[2016-03-18 01:19] Where-Solutions commented on #756
Just tested PSK 1.3.0 sample https://polymerelements.github.io/polymer-starter-kit/ and issue is still there.

If you put your finger (phone only) on the content and move up and down (like a twit) to show the header animation, the animated header will eventually freeze and become unresponsive. Since the header animation is cool, some users will play with it too much. It needs to be more idiot proo

[2016-03-18 08:13] NicolasRannou commented on #755
@samccone  Hmm it doesn't seem to quite work with that - I am already using the latest version of PSK.

@robdodson Do you suggest that "tabindex="-1"" is not useful anymore? Indeed if I remove the "tab index" the flickering goes aways but I thought "tabindex" was useful somehow.

Is "tab-index" deprecated and should it be removed from index.html?
I can submit a pull request to remove all the tab-i

[2016-03-18 08:25] NicolasRannou opened #759 "Toolbar gets stuck when scrolling up and down back and forth on Chrome Android"
Toolbar gets stuck when scrolling up and down back and forth on Chrome Android.

## Expected outcome

The toolbar should never get stuck.

## Actual outcome

The toolbar gets stuck when minimize the second time.

## Steps to reproduce
Android 6.0
Chrome
(It works on Firefox)

You can reproduce it with: https://polymerelements.github.io/polymer-starter-kit/

1- Scroll down the page slowly to minimi

[2016-03-18 08:37] Skmsoumya commented on #154
Bump. Same Issue here.

I am using polymer starter kit and opening paper dialog as "modal" makes the overlay cover the whole page even the dialog.

Using the fix for now. Thanks @Alienuser

[2016-03-18 14:46] bkawk opened #760 "ERR_FILE_EXISTS - Reload Error"
After finding errors when reloading, even when hard refresh  and clearing the cache on this page https://polymerstartkithb.firebaseapp.com/users/Addy

I made a number of tests, with hash bangs on and off, service workers on and off, with firebase hosting redirects. Each test was uploaded with a fresh download of the starter kit.

What combinations of service workers and hashbangs should work?

- I

[2016-03-18 16:41] robdodson commented on #754
@davideast does firebase hosting support serving sourcemaps?

[2016-03-18 16:41] #757 closed

[2016-03-18 16:44] robdodson commented on #756
Can you tell us more about the phone and browser you're using?

I'm not able to reproduce this on a Nexus 5X running Chrome for Android. Haven't tested on an iOS device yet.

[2016-03-18 16:51] robdodson commented on #755
tabindex=-1 is great for focus management but seems to cause issues with the header panel if it's placed on a big sectioning element. We recommend trying to put it on a header element instead and give that element a class of `focus-target`. That's what the linked commit does.

No. tabindex is a native HTML attribute and is not deprecated nor should it be removed from index.html

Yes, it allows use

[2016-03-18 16:52] robdodson commented on #759
Seems related to https://github.com/PolymerElements/polymer-starter-kit/issues/756

[2016-03-18 17:00] samccone commented on #154
@Skmsoumya any way you could push a test case for us?

[2016-03-18 17:00] robdodson commented on #760
This is a quirk of service worker. Bug has been filed in Chrome. Nothing is actually wrong, it's just over reporting https://bugs.chromium.org/p/chromium/issues/detail?id=541797

[2016-03-18 17:00] #760 closed

[2016-03-19 01:48] Where-Solutions commented on #756
Hi, I have a Nexus5 and Chrome, version 49.0.2623.91. You just have to wiggle the content div so that the header is animating up/down, then it freezes. Only takes about 5 seconds. It seems to happen when the header only partially open/close, then asked to go the other way. It freezes at a midpoint in the animation.

[2016-03-19 17:02] joryphillips commented on #653
Question: Is there a reason everything is **px**- based instead of **em**?

[2016-03-19 17:07] samccone commented on #653
yep we can switch :+1:

[2016-03-19 17:15] robdodson commented on #653
@joryphillips @samccone personally I feel that px is a lot easier to reason about. I know the argument for em being great for responsive design but... :(  For responsive stuff I'd rather work off of default units in custom properties if possible:

ex:

[code]

Here's a full blown example: https://googlechrome.github.io/samples/css-custom-properties/index.html

[2016-03-21 01:47] targeter21 opened #761 "gulp-minify-css is deprecated in favor of gulp-clean-css"
While running npm install on the latest PSK for master, I noticed the following message:

`npm WARN deprecated gulp-minify-css@1.2.4: Please use gulp-clean-css`

I saw that there were several issues related to deprecated npm components, but the ones I found all seem to be closed without fixing this issue.

[2016-03-21 01:50] targeter21 commented on #761
I created PR #762 to address this.

[2016-03-21 06:17] gaurav21r commented on #756
@Where-Solutions Are you using Chrome for Android or via the  Chrome WebView in a apckaged app like Cordova? Maybe a screencast will help!

[2016-03-21 13:21] NicolasRannou commented on #755
Thanks - yes now that you say it I know tab index :) I was focused on polymer and in my mind it was a polymer specific thing for some reason.

FYI, to solve it and do not modify the PSK skeleton, the best option is to add a dummy div in the section as:
[code]

If "focus-target" is inside the software-team element , we can not access it with the setFocus method from the "routing.html".

If we set c

[2016-03-21 17:53] Where-Solutions commented on #756
Just the standard Chrome for Android. How would you make a screencast of the phone?

[2016-03-21 18:06] Where-Solutions commented on #756
Hey! I learned a new skill. Here is a YouTube video of the header freezing:

https://youtu.be/dHhAQRN4n9c

[2016-03-21 18:36] MrBrightside29 commented on #754
Same problem here after deploying to Firebase hosting

[2016-03-21 18:58] robdodson commented on #756
interesting. it looks like the whole header panel breaks.

if you remove this block of code are you still able to break it?
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/scripts/app.js#L48-L70

[2016-03-21 20:20] chuckh commented on #756
I tested on Nexus 7 with Android 6.0.1 and Chrome 49, also tested on Moto G with Android 5.1.0 and Chrome 45 and could not reproduce this issue. @Where-Solutions what version of Android and Chrome are you using?

[2016-03-21 20:21] samccone commented on #756
also @Where-Solutions do you have any chrome-extensions? like last-pass or anything?

[2016-03-22 01:12] Where-Solutions commented on #756
@chuckh - Seems to happen with small finger up/down movements near the top of the content.
@samccone - very stock Nexus 5, don't think anything has changed on phone, will try other phones as well.
@robdodson  - I put that block of code in a setTimeout/clearTimeout hack to make my apps not freeze. I was looking for something more elegant. (see ws.scrollTimer in original post) Also I tried moving so

[2016-03-22 08:10] vguillou commented on #756
I gave it a try and I can confirm the issue here (Chrome 49 on a Moto X 2014 running Android 6.0.0).
The key to reproduce is to quickly and successively change the scrolling direction when the header is still being transformed, while it's not completely condensed or stretched.
It can take a while to freeze though.

The issue is most definitely linked to the last 2 scale transformations (https://gi

[2016-03-22 10:03] addyosmani commented on #756
It's really tricky to reproduce this issue, but it's definitely there. I think we've generally not been too aggressive on testing the change in scroll directions in the way outlined in the video. I'm surprised the scale transformations are getting stuck. Marking as a bug for us to dig into further.

[2016-03-22 16:13] Where-Solutions commented on #756
Thank you Polymer Team for your diligence and amazing efforts.

[2016-03-23 08:28] NicolasRannou commented on #756
LG G4 - Android 6.0

Chrome stable (32 bits): 49.0.2623.91 -> can reproduce bug easily (actually scrolling slowly..)
Chrome beta (**32 bits**): 50.0.2661.35 (**V8 5.0.71**)-> can reproduce bug easily
Chrome dev (**64 bits**): 51.0.2681.4 (**V8 5.1.146**) -> can NOT reproduce bug

Not sure if the V8 upgrade could have fixed it somehow or if the 64 bits are just hiding the problem.

[2016-03-23 21:57] isdmac opened #763 "In firefox javascript error when using webcomponents.min.js instead of lite version"
### Description
i am using the latest release version 1.3 . this works ok in chrome but not in firefox

in the debug console i can see the error as

TypeError: str is undefined
if (index < str.length) {

this error occurred in  bower_components/page/page.js on line 800

### Expected outcome

page should load fully .

### Actual outcome

page loads stops unexpectedly

### Steps to reproduce

### Br

[2016-03-23 22:41] robdodson commented on #763
yeah page.js has problems with shadow dom (in particular, if you have links in shadow dom it won't be able to delegate their click events). Not sure if that's the specific problem here and we have a new router coming out soon which will hopefully replace page.js.

[2016-03-26 01:08] nicholaswmin commented on #154
Perhaps it's connected to this: https://github.com/PolymerElements/paper-dialog/issues/79

[2016-03-26 16:00] lucasfrib commented on #754
Same problem, Firebase hosting to.

[2016-03-27 20:03] phonicdespot opened #764 "Automatic element import/inject?"
### Automatic element import/inject?
It would be great if installing an element using Bower also dealt with adding the import into elements.html. Having to manually manage a load of HTML imports doesn't seem very sensible.

Not entirely sure how; wiredep? webpack?

Very happy to try and help if anyone thinks this is worth pursuing :)

[2016-03-27 20:26] abdonrd commented on #764
The elements.html isn't the right place. And we can't guess where import. :confused:

Reference: https://github.com/PolymerElements/polymer-starter-kit/issues/663

[2016-03-28 02:37] robdodson commented on #754
Hm @mbleigh or @davideast have either of you seen problems with deploying sourcemaps to firebase hosting?

[2016-03-28 18:01] mbleigh commented on #754
I haven't seen this one before. Can someone give me a public URL or minimum repro of the problem? May be a missing mime type.

[2016-03-29 14:51] Beldur opened #765 "Installing PSK takes 200mb of disk space"
### Description

Installing PSK takes 200mb+ of disk space. This puts a lot of bandwidth pressure on a CI server that builds the project on each commit.

What is the best practice here when running in an CI environment? Should there be a `npm install` on each commit that downloads hundreds of megabytes? Should I use a local npm registry cache?

### Expected outcome

A simple HTML/Javascript/CSS ap

[2016-03-29 15:09] samccone commented on #765
duplicate of #337
Thanks for opening this @Beldur :)

Let's continue the conversation over in 337

[2016-03-29 15:09] #765 closed

[2016-03-29 15:28] motss commented on #754
@mbleigh @robdodson @MrBrightside29 @lucasfrib

Here's the link just down below where you can see the repro I created and deployed to Firebase:
https://polymerimation.firebaseapp.com/

Just in case, here's the steps if a link is not enough.
### Steps:
1. `git clone git@github.com:PolymerElements/polymer-starter-kit.git` to download `polymer-starter-kit`.
2. `cd` to the `polymer-starter-kit` direct

[2016-03-29 15:46] motss commented on #742
@lucasfrib @vguillou @samccone Created a PR to fix issue.

[2016-03-29 16:36] #742 closed

[2016-03-29 17:38] mbleigh commented on #754
"Failing to parse" in this case is a bit of a misnomer - the file just isn't there there. The content at https://polymerimation.firebaseapp.com/elements/web-animations-next-lite.min.js.map is the `index.html` content of the app (as caused by the `**` rewrite).

My guess is that the source map isn't being created, isn't being copied to the right directory in `dist`, or isn't being deployed to Fireb

[2016-03-29 22:59] vguillou commented on #653
Here is short list of :+1: and other things that I think a starter kit could integrate:

- I think I've read (somewhere) that `app-layout` and the switch to an 'app-element' design are being considered: If so :tada:

- Remove the page's content from `index.html` and create page elements. I assume this is implied by the `Generator to quickly add new components and pages` item so :+1: for that as we

[2016-03-29 23:06] TimvdLippe commented on #653
I really like the idea of page elements, especially as the recently released carbon route can be nicely integrated with the different pages. This would solve issues/eases development for subpages like the current user pages.

[2016-03-30 06:16] motss commented on #754
@mbleigh Thanks for the clarification. It did work after changing the `rewrites`.
@robdodson How about updating the current `Deploy to Firebase recipe` with this new configuration?

[2016-03-30 08:17] abdonrd commented on #653
`app-shell` + `app-layout` + `carbon-route` + one element for each page sounds really awesome! :tada:

[2016-03-30 17:06] robdodson commented on #754
@motss Would you be interested in throwing together a PR for it?

[2016-03-30 20:07] timeu commented on #653
+1 for state-management (specifically redux)
I started a project based on the PSK and as the app grew I had a really hard time copying with state-management/updates (basically passing slices of a global state around the component tree and mutating it). I recently added support for redux using the [polymer-redux](https://github.com/tur-nr/polymer-redux) element/behavior and so far it has been great

[2016-03-30 20:12] robdodson commented on #653
Thanks for sharing the polymer-redux component @timeu. I hadn't seen that yet (though I am familiar with Redux). It's great to see folks combining it with Polymer

[2016-03-30 20:37] timeu commented on #653
@robdodson: no problem, hope it might be useful for some others.
Polymer-redux is really super simple (it's basically just a Behavior and does what `connect` and `mapStateToProps` do in the react-redux world).
The cool thing about combing Polymer with Redux is that Polymer's data-binding and specifically the computed properties provide the same functionality that [reselect](https://github.com/reac

[2016-03-30 22:34] davidwittenbrink opened #767 "Use carbon-route instead of page.js"
Hi!

Now that `<carbon-route>` is officially in the element catalog I was wondering if there are plans to replace the current routing with it? Imo the the current page.js solution feels a bit out of place since everything else is so beautifully encapsulated into elements.
I replaced the element manually for a project and it worked like a charm.

What do you guys think?

[2016-03-30 23:04] robdodson commented on #767
Hey David. Yeah this is being discussed over here https://github.com/PolymerElements/polymer-starter-kit/issues/653

We definitely plan to swap in carbon-route. Just haven't had a chance to get to it yet :)

[2016-03-30 23:21] davidwittenbrink commented on #767
Sorry, didn't see this.

[2016-03-30 23:21] #767 closed

[2016-03-31 10:30] motss commented on #754
@robdodson Sure.

[2016-03-31 10:52] motss commented on #754
@robdodson Made changes to affected files. #768

[2016-04-01 06:48] lucasfrib commented on #754
hey @motss ,
did you changed something in the step 3 (animateio recipe) of the repro that you created?
looks like that is a change in the height of papper-material... tks.

[2016-04-01 12:00] motss commented on #754
@lucasfrib Hope that helped. [Here's the diff.](https://github.com/PolymerElements/polymer-starter-kit/commit/c3e22698476ef2e8b6e2254788debf013eca040d#diff-f054aaffec64c24ea16c8c634b8c0360R72)

[2016-04-02 16:07] #754 closed

[2016-04-02 16:42] abdonrd commented on #653
I'm thinking that it would also be interesting to have multilanguage.

[2016-04-02 17:16] felixzapata commented on #653
I´m agree with @abdonrd

[2016-04-02 17:53] moderndeveloperllc commented on #653
@abdonrd @felixzapata I would think that multilocale functionality would be beyond the scope of this starter kit. There are a few components that provide this functionality though: https://customelements.io/search/translate

[2016-04-03 04:34] RyanEwen commented on #154
I have the same issue as well. I created a custom element which contains an icon button and a dialog, and it's used within a toolbar. Backdrop covers the modal :(

[2016-04-03 20:38] TimvdLippe commented on #337
Our project has 847 dependencies loaded: https://gist.github.com/TimvdLippe/a62ee54f8d1541557f550aa9ffb738f7

The gist also includes our package.json and gulpfile.js. Since we are working towards PSK2 I think it is a good time to evaluate all dependencies. In my opinion, switching to `polybuild` greatly simplifies the build process. Also we switched to `gulp-htmlmin` which is working for us just f

[2016-04-04 04:41] robdodson commented on #653
The Polymer team is exploring creating elements to support
internationalization but I don't think we'll roll it into the PSK starter.
Our goal is to actually reduce the amount of stuff in PSK to make it a more
general purpose starting point for folks. Then we plan to build sample apps
that demonstrate using different things like internationalization.

On Sat, Apr 2, 2016 at 10:53 AM, Mark Garrett

[2016-04-06 16:03] bobobo1618 opened #770 "Can't vulcanize when iron-ajax or paper-dropdown-menu are imported"
### Description
When `iron-ajax` or `paper-dropdown-menu` are imported from an import of `elements.html`, Vulcanize fails.

### Expected outcome

Gulp builds succeed and loading `index.html` from the `dist` directory results in a working page.

### Actual outcome

Gulp fails with the following errors:
[code]

I've reproduced this on both a Mac (OS X 10.11.3) and a Linux server (Fedora 23).

### St

[2016-04-06 16:07] bobobo1618 commented on #770
I'll add that this is reproducible with Git master as well and that running `bower install --save PolymerElements/iron-ajax` before building makes no difference.

[2016-04-06 17:45] bobobo1618 commented on #770
And in honor of https://github.com/PolymerElements/polymer-starter-kit/issues/621 I'll also add that `bower cache clean` makes no difference either. Nor does upgrading to Node v4.

[2016-04-06 21:26] robdodson commented on #770
@bobobo1618 apparently this is a recent bug in vulcanize. Team is working on a fix as we speak

[2016-04-06 21:32] robdodson commented on #770
Temporary fix `npm uninstall -g vulcanize && npm cache clean vulcanize && npm install -g vulcanize`. We've unshipped the busted version

[2016-04-06 21:51] bobobo1618 commented on #770
Yep, that worked, thanks!

[2016-04-06 21:51] #770 closed

[2016-04-08 11:21] MrBrightside29 commented on #754
After resolving this error in Chrome updating my firebase.json to what @mbleigh said, Safari still won't load the page with a 404.
![img_20160408_130011](https://cloud.githubusercontent.com/assets/6217462/14382261/b2d2eed8-fd8c-11e5-9ac6-7577dfd14e19.jpg)

Any help would be appreciated. Thanks.

[2016-04-10 13:02] abdonrd opened #773 "Delete old branches"
The PSK has very old [branches](https://github.com/PolymerElements/polymer-starter-kit/branches/all). We can delete all of them, right?

<img width="1002" alt="screen shot 2016-04-10 at 14 59 44" src="https://cloud.githubusercontent.com/assets/1007051/14410319/2f22a932-ff2d-11e5-8bb9-9dfb536b7cf0.png">

[2016-04-10 16:56] robdodson commented on #773
yep you can delete them

[2016-04-10 17:01] abdonrd commented on #773
Cleaned! :shower:

[2016-04-10 17:01] #773 closed

[2016-04-11 06:20] abdonrd opened #784 "Add polylint task to PSK2"
I think it would be interesting to add `polylint` as gulp task.

Opinions?

cc @robdodson @chuckh @samccone

[2016-04-11 16:17] abdonrd opened #785 "[PSK2] Add polybuild task"
I think it would be interesting to add `polybuild` as gulp task.

Opinions?

cc @robdodson @chuckh @samccone

[2016-04-11 16:18] robdodson commented on #785
@justinfagnani will the CLI leverage polybuild?

[2016-04-11 16:22] abdonrd commented on #785
@robdodson @justinfagnani that would be awesome! 🙏

[2016-04-11 18:24] chuckh commented on #784
@abdonrd I agree.  It would be nice to have another tasks to run both `polylint` and the `lint` task.

Also note with polytool you can run `polylint` by doing `polytool lint ...`.

[2016-04-11 18:29] abdonrd commented on #784
Sure! Maybe the `lint` task can run a new `eslint` (actual `lint`) and `polylint` tasks. :grin:

[2016-04-11 21:51] justinfagnani commented on #785
@rob I don't think so. So far I've built something a little different than polybuild to allow users to plug in their own steps from their gulpfile. I might fold it back into polybuild, but since polybuild is just a CLI wrapper around some gulp steps we might just deprecate it in favor of polytool so that we don't have so many CLIs.

[2016-04-13 11:55] RiccardoCereghino opened #790 "Issue on following the step by step guide on https://www.polymer-project.org/1.0/docs/start/psk/set-up.html"
### Description
Follow the guide on the polymer-project to set up psk
https://www.polymer-project.org/1.0/docs/start/psk/set-up.html

Follow up to Build and serve step 2 and run

`gulp
`

### Expected outcome

no errors

### Actual outcome

[code]

### Versions
- Polymer Starter Kit: v1.3.0
- gulp: CLI version 3.9.1
- npm: v3.8.3
- node: v5.10.1
- fedora: 23

[2016-04-13 12:11] RiccardoCereghino commented on #790
I needed to manually copy and add the .bowerrc file in my PSK directory from this repo, then another error popped up regarding vulcanize which i solved running `bower -i`

[2016-04-13 13:22] markovuksanovic opened #791 "Elements.html gets loaded twice"
### Description
Elements.html is fetched (downloaded) twice.

![image](https://cloud.githubusercontent.com/assets/52777/14494371/f79e3f96-01cd-11e6-83b4-a126666761ce.png)

### Expected outcome

Elements.html is loaded only once.

### Actual outcome

Elements.html is fetched twice!

### Live Demo
https://polymerelements.github.io/polymer-starter-kit/

### Browsers Affected
- [x] Chrome
- [ ] Firefo

[2016-04-13 15:08] samccone commented on #791
Pretty sure this is a bug in devtools right now, and things are actually not downloading twice....

cc @paulirish

[2016-04-13 15:15] paulirish commented on #791
nope. it's a bug in Chrome.

Chrome issue. Verified with clean profile and net-internals:

![image](https://cloud.githubusercontent.com/assets/39191/14498608/03c9f720-0169-11e6-8af7-8d4c5c8b6ac1.png)

Doesn't appear to happen on first load, but does on subsequent ones. Might have something to do with the service worker

[2016-04-13 15:19] samccone commented on #791
:+1: thx @paulirish

[2016-04-13 15:19] #791 closed

[2016-04-14 17:54] azakus opened #794 "Migrate to Travis Trusty images for Chrome testing"
Chrome 50 drops Ubuntu Precise, which is the default Travis CI base image.
The only workaround is to use the Trusty images by adding
[code]
to the travis config

[2016-04-16 11:49] addyosmani commented on #790
Was the .bowerrc file present in the bundle you downloaded when viewed from a zip/compression app?

[2016-04-16 11:52] addyosmani commented on #785
To minimise confusion, we want to get as aligned as possible with the tooling story presented by Polytool in this case. I don't think we should try integrating polybuild here until it's clear what it's future is going to be (we've been burned by it in the past and I have faith in what Justin is putting together).

[2016-04-16 11:53] addyosmani commented on #784
I agree. We're going to be delegating a lot of PSK2's tooling to Polytool most likely and it should come with a gulpfule setup that makes good use of polylint we can piggy back off :)

[2016-04-16 11:55] addyosmani commented on #764
@robdodson my take on scaffolding is we should get these added as feature requests for Polytool. In this case there's always a risk of us adding too much magic. I do wonder how deterministic we could really be given elements.html doesn't jive well for errbody.

[2016-04-16 11:57] addyosmani commented on #763
I haven't been able to reproduce this but Rob's take on it sounds about right. It's likely an SD issue. PSK2 will use carbon-route and we should be able to avoid issues like this there.

@robdodson does it make sense to keep issues like this around or close in favor of addressing in V2 in your opinion?

[2016-04-16 11:59] addyosmani commented on #752
My take on H2 is that we could have s guide on specifics for how to cater for it but not yet bake in assumptions for H2 push as a default just yet. It's possible we could automate some of this setup using a --http2 flag or similar in Polytool. Interested on thoughts around this from Rob, Sam and co.

[2016-04-16 12:00] addyosmani commented on #736
@robdodson sounds like we're chill with doing this :cake:

[2016-04-16 12:07] addyosmani commented on #719
When we were planning PSK 2 we talked about trying to reduce our reliance on recipes for certain workflows. Is perf pattern integration something you see still existing as a guide or something we should try adding to Polytool as a plugin/flag?

[2016-04-16 15:06] abdonrd commented on #785
Yes! It seems that we all think alike. Closed in favor of `polytool`!

[2016-04-16 15:06] #785 closed

[2016-04-16 20:37] robdodson commented on #719
It's probably deeper than polytool. This has to come from the polymer team itself I think. What their final strategy around h2 and the like looks like. I'd prefer to not have to do too much hackery to just get decent perf out of the box

[2016-04-16 20:39] robdodson commented on #736
it doesn't seem like those labels listed include the cla labels. Do we need to add those manually?

[2016-04-16 20:42] robdodson commented on #752
Yeah I don't think we should bake in any h2 stuff yet. Polymer team is actively working on guidance but running into a number of quirks with different browser implementations. I wouldn't want us to have to try to stay on top of all that ourselves. It should come from the Polymer team in the form of official guidance on h2

[2016-04-16 20:45] robdodson commented on #763
i'm in favor of closing and addressing in v2

[2016-04-16 20:45] #763 closed

[2016-04-16 20:46] robdodson commented on #764
elements.html is going away in psk2. And yeah this should move to polytool feature request.

[2016-04-16 20:47] robdodson commented on #790
@RiccardoCereghino note you'll need to view the bundle in your terminal as the .bowerrc file likely won't show up in your desktop file browser. If you copied the contents of PSK into a new directory you likely didn't copy over the .bowerrc because of this.

[2016-04-17 01:36] fluky opened #796 "The Travis build is failing during the addons stage."
### Description
The Travis build is failing during the addons stage.  This is with an unmodified .travis.yml file.

### Expected outcome
The Travis build should pass.

### Actual outcome
The Travis build fails.

2.48s$ sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install google-chrome-stable g++-4.8
Reading package lists...
Building dependency tree...
Reading state

[2016-04-17 11:06] abdonrd commented on #796
There are already an issue (https://github.com/PolymerElements/polymer-starter-kit/issues/794) and PR (https://github.com/PolymerElements/polymer-starter-kit/pull/795) about this. :)

[2016-04-17 11:06] #796 closed

[2016-04-18 17:14] #794 closed

[2016-04-19 04:09] #764 closed

[2016-04-19 14:44] gpoulet opened #800 "Polymer 1.4 ?"
Hello,

Polymer 1.4 is out, and Polymer Kit Starter still use Polymer 1.2

( bower.json's Polymer Starter Kit )
[code]

Is it normal ?

[2016-04-19 14:47] robdodson commented on #800
@gpoulet we can update the bower.json but when you run `bower install` it will pull down 1.4. The `^` in the version range tells it to pull down any new package except for a major version change.

![screen shot 2016-04-19 at 7 46 31 am](https://cloud.githubusercontent.com/assets/1066253/14643352/f156455a-0602-11e6-939d-79c6b504ccef.png)

If I'd like to submit a pull request to update the bower.jso

[2016-04-20 15:41] davidmaxwaterman opened #803 "Dynamically loaded js files?"
Instructions: https://github.com/PolymerElements/polymer-starter-kit/CONTRIBUTING.md#filing-issues

^^^ this file 404s ^^^

### Description
Gulpfile only copies script files that have script tags in html files (using gulp-useref). My app is a progressive web app and doesn't load any files via tags that are in the source html in stages so that the user gets changes in stages and in a more controlle

[2016-04-20 21:18] brancoliticus opened #804 "I need relative links in index.html that go straight to the server and not through the page.js routing logic"
I am trying to develop a demo app for google appengine go that mixes static and dynamic pages. The plan is to have static stuff with PSK accesible only by logged in users and dynamic stuff for login, logout and xmlhttp requests. Having to put absolute paths to access the dynamic pages from the server when the absolute path is changing from localhost on the local development environment and somethi

[2016-04-20 21:50] robdodson commented on #804
Hm, looks like there's a PR for this in page.js but hasn't been merged yet. https://github.com/visionmedia/page.js/pull/361

Looking at the code though, it seems like if you add `rel=external` it may bypass page.js
https://github.com/visionmedia/page.js/pull/361/files#diff-168726dbe96b3ce427e7fedce31bb0bcR565

So maybe give that a shot and let us know if you still have issues

[2016-04-20 22:11] samccone commented on #804
I am working on getting access to page.js to help

https://twitter.com/samccone/status/722910316678373376

[2016-04-21 03:07] dandv opened #805 "Setup error: jade has been renamed to pug"
On Windows:

     npm install -g gulp bower && npm install && bower install

Result:

[code]

[other errors below]

[code]

[2016-04-21 03:23] samccone commented on #805
These are just warning and are not hard errors :)

[2016-04-21 03:23] #805 closed

[2016-04-21 03:57] dandv commented on #760
I think I see the same behavior exactly after git clone and following the instructions on enabling service worker.

@bkawk - can you reproduce that?

[2016-04-21 04:21] robdodson commented on #760
@dandv This always occurs, it's just service worker reporting that the exact same service worker was already in place

[2016-04-21 18:33] brancoliticus commented on #804
Adding rel="external" to the link seems to do the trick. I was expecting it to open a new tab for that link so I didn't check that option.

[2016-04-21 18:33] #804 closed

[2016-04-22 11:30] oneezy commented on #367
That's great news @robdodson ! I'm about to jump on my first client project w/ Polymer.

[2016-04-22 23:59] dandv commented on #653
@joryphillips re.

You may want to :+1: #728.

[2016-04-23 01:21] dandv opened #806 "Keep a PSK Progressive Web App fresh, without requiring user reload"
Is this in scope? I found the behavior to be somewhat flaky, though it might depend on the particulars of Firebase hosting.

I'm hosting a PWA-pitching PWA based on PSK [on Firebase](https://trulia-pwa.firebaseapp.com). Here are the repro steps:
1. Navigate to the app in Chrome 49.0.2623.105 on Android 6.0.1
2. Add the app to home screen.
3. Close the tab.
4. In portrait mode, launch the app from

[2016-04-23 01:51] robdodson commented on #653
@dandv no need to +1 that issue. The Polymer team wants to move off of bower. The difficulty is in the fact that npm doesn't currently offer a good way to handle version conflicts when it tries to flatten its tree of dependencies. For most javascript libraries this isn't an issue, but it's a problem in our case because you can only have 1 version of a tag registered at a time. It means we will hav

[2016-04-23 01:54] robdodson commented on #806
I think that's because the platinum elements use a default cache strategy of "fastest" which goes cache first, then network. I believe you can configure this: https://elements.polymer-project.org/elements/platinum-sw#property-defaultCacheStrategy

Sounds like a Chrome bug, you might file a ticket on crbug.com

Let me know if changing the cache strategy fixes your issue.

[2016-04-24 04:38] timblack1 commented on #154
Can we just modify paper-dialog-behavior.html to call the following?  This works for me.  If this direction is acceptable to the devs, I'm happy to submit a patch.

[code]

[2016-04-25 20:45] dandv commented on #805
Correct - they are errors. Just wanted to raise an issue for improving the setup experience for the user by cleaning these up if possible.

[2016-04-25 21:04] samccone commented on #805
:+1: fair enough :dancer:

[2016-04-28 01:01] tony19 opened #808 "Gulp dist build fails to `uglify` in Node v6.0.0"
### Description

The `gulp` build (`default` or `serve:dist`) fails to complete `uglify` when running under Node v6.0.0, but has no issue in earlier Node versions. I added `$.uglify(...).on('error', gutil.log)`, which shows that it was trying to `uglify` a CSS file:
[code]

The failure occurs in `optimizeHtmlTask()` when it tries to pass a filename pattern to `gulp-if`, which leads to a bug in `gu

[2016-04-28 15:23] TimvdLippe commented on #808
What an awesome description, was a pleasure to read, good job! My 2 cents: wait for https://github.com/robrich/gulp-match/pull/13 to be merged and then verify it fixes the issue for the PSK. Temporarily switching to a custom `if` implementation might result in unwanted side-effects.

[2016-04-28 16:37] Skmsoumya commented on #154
@Polymerteam Sorry for the getting so late. A peculiar thing that I found out is that sometimes the dialog works sometimes it doesn't. I downloaded the a fresh Polymer Starter kit and did what I was doing with my production site. It worked there.

[2016-04-29 05:59] tony19 commented on #808
https://github.com/robrich/gulp-match/pull/13 was just merged and released in [gulp-match@1.0.2](https://github.com/robrich/gulp-match/releases/tag/1.0.2), which is now being pulled in by PSK on `npm install`. I verified the issue no longer occurs.

[2016-04-29 05:59] #808 closed

[2016-04-29 15:36] DevVex commented on #154
+1

[2016-04-29 15:40] nicholaswmin commented on #154
+1

[2016-04-29 16:00] Skmsoumya commented on #154
+1  Great!

[2016-05-01 03:33] MarcosGalaviz commented on #154
@Alienuser hi, very interesting, I use your solution and works perfect on Chrome but aparently doesnt work on explorer or firefox :(

[2016-05-01 13:42] TimvdLippe opened #811 "Gulp serve:dist does not watch for changes"
### Description
Running `gulp serve` includes livereloading whenever a change is observed in `app/`. It would be nice if this is also possible in `gulp serve:dist`. This means that we can test our production build more easily, as it syncs with multiple browsers.

### Expected outcome
Whenever I change a file in `app/` the build is rerun and refreshes the page in the browser.

### Actual outcome
I

[2016-05-02 09:35] jsilvermist commented on #274
Is there any update on this? It's still very much an issue in the latest PSK release, as can be seen in Chrome when using emulation for a larger device such as the Nexus 6P and switching between portrait and landscape.

[2016-05-02 09:49] elrancid opened #812 "Gulp 3.0 give an TypeError: $.useref.assets is not a function"
I've upgraded nodejs to v6.0.0 and all npm packages.

With the new gulp v3.0 the `gulp` command gives the error `TypeError: $.useref.assets is not a function` at optimizeHtmlTask according to [gulp-useref documentation](https://www.npmjs.com/package/gulp-useref).

To fix this issue I've changed `gulpfile.js`:

- add in the require list:
[code]

- and change the `optimizeHtmlTask` function from:
[c

[2016-05-03 17:25] TimvdLippe commented on #812
#691 was just merged which updated the build task. Could you try out with current master and see if your issue has been resolved?

[2016-05-04 03:29] robdodson commented on #274
@jsilvermist We're completely dropping the paper-* elements that are causing this issue in PSK2. I think this is an issue with those elements and is outside our control to fix.

[2016-05-04 04:20] robdodson commented on #154
@valdrinkoshi is the recommended fix the one advised here https://github.com/PolymerElements/paper-dialog/issues/7#issuecomment-175335221 ?

[2016-05-04 06:19] valdrinkoshi commented on #154
Hi @robdodson, yes overlays should be appended in a node that is in the same stacking context as document.body.
There are 2 initiatives going on around this problem:
- allow to set the backdrop element, so it can be appended elsewhere instead of body (not started - https://github.com/PolymerElements/iron-overlay-behavior/issues/152)
- helpers to stamp overlays in the right place (in progress - htt

[2016-05-04 07:12] jsilvermist commented on #274
@robdodson Oh since the app elements seemed to serve the same purpose, I was under the impression they would take the place of their paper counterparts once finished.

[2016-05-04 13:48] MarcosGalaviz commented on #154
Hi, thanks for your comments, but I have to soy than I am just a rookie with polymer and maybe my english is not the best :D , thats why even with your answer I am not sure about how to deal with this problem yet :(, but thanks for your time I am going to try.

[2016-05-04 15:49] aahoo opened #816 "Docker image for polymer starter kit"
Last time I tried installing Polymer on Windows, it was a huge pain in the ... . There are just too many ways for the installation process to fail. I believe that Docker containers could fix this issue. If you guys create an official Docker image for the starter kit, it will make it easier for the newcomers to join and enjoy Polymer.

Edit:
This is a nice article about [Why You Should Stop Install

[2016-05-04 16:08] robdodson commented on #816
What issues did you face?

[2016-05-04 16:14] aahoo commented on #816
It was a long time ago but I guess it was related to node-gyp.

I am creating my own docker image, but having an official one would make its maintenance easier.

[2016-05-04 16:17] robdodson commented on #816
I think linking to your docker image would be a better approach. Would you mind sharing a link when it's ready?

[2016-05-04 16:20] aahoo commented on #816
sure :)

[2016-05-04 16:26] robdodson commented on #274
@jsilvermist I think they will. In our PSK2 branch we're using them

[2016-05-04 17:30] elrancid commented on #812
Yes, with the current master it works and there aren't issues. Thank you!

[2016-05-04 17:30] #812 closed

[2016-05-04 18:52] atishpatel opened #817 "psk should be dropped from psk-element-name for psk2"
I was considering starting an app with psk2, and I noticed I'll have to change all the psk-element names. For example, I'll have to change `psk-page-404` to `page-404`. If this project is suppose to be a starting point or template for projects, I think it'd be good if psk was dropped from the element names by default. It would make it easier to start new projects from this project.

Thoughts?

[2016-05-04 19:18] aahoo commented on #816
This is what I got so far for the Dockerfile. It can be a starting point but it needs docker expert touch.
[code]

1. build image: `docker build --rm=true --force-rm=true -t polymer-starter-kit .`
2. run
    - first time run: `docker run -it -p 5000:5000 -p 3001:3001 --name psk polymer-starter-kit`
    - following runs: `docker start -i psk`
3. `gulp serve`

Another option for the "first time run"

[2016-05-05 04:27] mercmobily opened #818 "Creating app based on PSK: which version? Cloning or unzipping? How do you derive the "light" version?"
I would like to create a "starter kit" for my fancy store-oriented framework: something that includes login, a form, a table, etc. I obviously want to derive it from PSK, but I have a few questions... sorry if some of them are silly.

* PSK1 or PSK2, considering that I want to release in a couple of months? I would _love_ to pick PSK2, to be honest, especially because after installing both, I can

[2016-05-05 08:13] mercmobily opened #819 "Theming basics"
In PSK2 there is no sot for the usual theming options.
At the moment I am putting [here](https://github.com/PolymerElements/polymer-starter-kit/blob/d171e107f74b906ed3587ce329c170dc5727435e/src/psk-app/psk-app.html#L51) in the psk-app.html, within `:host`, the usual:

[code]

Is this a good spot? (it kind of makes sense). Questions:

1) Would it be better to make an external "theme" file and inclu

[2016-05-05 16:00] robdodson commented on #816
I don't think anyone on our team is planning on building a docker image so yours is probably the best one out there :D I think you should totally publish it to docker hub

[2016-05-05 16:33] robdodson commented on #819
Good question. @justinfagnani @frankiefu @notwaldorf do you all have a preference on how apps should be themed? In PSK 1 we had a separate default-theme.html that would let folks turn a few dials without having to go too deep into the rest of the CSS. We could do this same approach for PSK2 unless it's confusing for folks

[2016-05-05 17:00] abdonrd commented on #819
Right now, for theming we only have `--app-primary-color` in [src/psk-app/psk-app.html#L44](https://github.com/PolymerElements/polymer-starter-kit/blob/psk2/src/psk-app/psk-app.html#L44)

[2016-05-05 17:01] aahoo commented on #816
[Here is the image for yeoman + generator-polymer](https://hub.docker.com/r/aahoo/yeoman-polymer/) and [here is for yeoman](https://hub.docker.com/r/aahoo/yeoman/) which can be extended for other generators. It is extremely convenient for those who have installation issues.

After I read this article ([Why You Should Stop Installing Your WebDev Environment Locally](https://www.smashingmagazine.com

[2016-05-05 17:17] #816 closed

[2016-05-06 05:13] justinfagnani commented on #819
No really strong opinion myself. On one hand, I might keep it simple and put the theme in app.html. On the other having it be an import means it's really easy to switch, in case you wanted to provide more than one theme to show off.

Incidentally, the themes could easily be part of a library... have you thought about splitting PSK into to a reusable library that's imported by PSK-based apps? That

[2016-05-07 03:29] mercmobily commented on #819
I created a pull request that solves this in the most consistent possible way (in my own humble opinion!)

https://github.com/PolymerElements/polymer-starter-kit/pull/823

[2016-05-07 03:32] mercmobily commented on #819
Unrelated, @robdodson  you are turning into my best friend. I spent all day yesterday on your polycasts, and will do so again today and tomorrow... funny how videos create a sense of close familiarity! Nice work, I couldn't have submitted 3 PRs today without watching them (I am especially thick)

[2016-05-07 08:56] mercmobily commented on #818
Just for the record:

* PSK2 all the way. It's 10000000 times better. I sent some PRs
* git clone works best. I am changing as little as possible and find it easy to sync up. LOVE the fact that there is no huge GULP file anymore, but recipes.

* Still curious about what you do to go from "normal" to "light", but it has absolutely no priority

Thank you!

[2016-05-07 18:08] robdodson commented on #818
We're still figuring out our strategy with PSK2 but likely it will get subsumed by our CLI tool and become one of many template projects

[2016-05-08 01:21] mercmobily commented on #818
Oh OK. Can you give me a link to the current CLI tool on Github? Plus, shall I not bother with pull requests for PSK2 then? Thank you!

[2016-05-08 07:04] mercmobily opened #824 "PSK2 Have the code that does lazy loading of webcomponentsjs either at Polymer or Polyfill level rather than in the app"
Referring to [this commit](https://github.com/PolymerElements/polymer-starter-kit/commit/0f40fe982951fec0ffb6f7a4bb01a25a92a296ee) aimed at only loading the polyfills if they are necessary, wouldn't it make sense to have `webcomponentsjs` to run this check so that we _always_ load `webcomponentsjs` (therefore getting a much cleaner index page)?

I most likely made a fool of myself once again openi

[2016-05-08 07:09] mercmobily commented on #824
(In the meantime, if somebody could explain this if to me:

        if (!window.HTMLImports) {
            document.dispatchEvent(
                new CustomEvent('WebComponentsReady', {bubbles: true}));
          }

I will be immensely grateful. I don't get it: `onload()` gets called either way, either once the polyfill is loaded or by calling it directly.

So... why why do you then check if !win

[2016-05-08 09:32] abdonrd commented on #824
We can't add this code, because we make this check in the PSK2 to avoid download the webcomponentsjs file if the browser supports Web Components.

And here you can find a code explication: https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/polymer-perf.md#polymer-performance-recipe 😃

[2016-05-08 16:44] abdonrd commented on #800
Closed by https://github.com/PolymerElements/polymer-starter-kit/pull/815

[2016-05-08 16:44] #800 closed

[2016-05-08 16:58] jsilvermist commented on #824
But what about in Polymer? Polymer is always downloaded, so couldn't this (at least the part about firing the WCR event) be added to Polymer's initiation?

[2016-05-08 21:27] TimvdLippe commented on #824
This snippet is indeed intended to save the useless download which leads to a reduction in file size. If you would move this code to the file, you still load the whole file to discover that you do not need it.

About the onload function: If your browser requires the polyfill, you would need to listen for the `WebComponentsReady` event until you can register your elements. Therefore to make your co

[2016-05-08 21:28] TimvdLippe commented on #818
@mercmobily You can find the tool here: https://github.com/polymer/polytool. It is still under development though.

[2016-05-09 00:47] mercmobily commented on #824
@TimvdLippe @abdonrd Couldn't this happen at webcomponentsjs level then? When you load webcomponentsjs, you are actually loading this snippet which checks whether you actually need it or not. If you do, then it loads it. If you don't, it fires the event manually. If you do, it loads the actual polyfills... I think something like this would make total sense in webcomponentsjs, rather than having to

[2016-05-09 00:49] mercmobily commented on #824
@TimvdLippe Ah I thought the specs also got the browser to fire `WebComponentsReady`... hence my confusion!

[2016-05-09 00:56] mercmobily commented on #818
@TimvdLippe  Thank you Tim! Closing this, it has zero priority and likely zero relevance in les than 2 months.

[2016-05-09 00:56] #818 closed

[2016-05-09 04:25] robdodson commented on #818
@mercmobily yeah the development of psk2 is in a lot of flux right now and is mostly dictated by the direction the team is going with their CLI. I would say hold off on pull request for the time being because we may pivot around a lot or even move the repo entirely to a new home to live with other templates. I need to do some catch up with the team this week (just got back from vacation) to see wh

[2016-05-09 13:54] kungufli commented on #367
@ebidel @robdodson Unfortunately we still have serious problems with Google search indexing, it seems it refuse to index our Polymer home page.

[2016-05-09 16:19] robdodson commented on #367
Can you share a link to the site?
On May 9, 2016 6:54 AM, "Alessandro Prete" <notifications@github.com> wrote:

[2016-05-09 16:30] kungufli commented on #367
@robdodson Sure, here it is: https://www.cerberusapp.com.

[2016-05-09 16:38] robdodson commented on #367
@kungufli it looks like it's being indexed to me. If I search for "cerberusapp" I get a 3rd item result.

[2016-05-09 16:52] kungufli commented on #367
@robdodson The problem is that Google seems to point only to the /help URLs, so the home page (that is reachable at / or /home) is not present at all in search results. The strange thing is that /home and /help point to the same SPA, that show different content depending on the URL path.

[2016-05-09 17:15] robdodson commented on #824
I think the issue largely has to do with wanting to avoid HTTP requests as they can be quite expensive.

It's totally possible for webcomponents-lite.js to contain this check in a scout file, which then lazy loads webcomponents-lite.js if it doesn't pass, but then you're incurring 2 http requests (one for the scout and one for the polyfills).

[2016-05-09 17:17] robdodson commented on #367
@kungufli Depending on when the site itself went up it may take a number of weeks to properly index all of the pages. It's also possible that /help is more content rich than the home page and is scoring higher but I honestly don't know there, I'm not an SEO expert.

But I don't think the issue has to do with Polymer, I think it likely has more to do with the amount of time the page has been in the

[2016-05-09 17:52] kungufli commented on #367
@robdodson The website has been online for four months now, however we made various changes during this time to try to get a better indexing. We'll wait some other weeks to see if the index will improve. Many thanks for your help!

[2016-05-10 00:51] mercmobily commented on #824
Rob: OK, point taken. But then, can't we add this at Polymer level? The only thing that would possibly be painful is that it would need to make assumptions on where `webcomponentsjs` is located on the server...

[2016-05-10 01:18] robdodson commented on #824
I don't think so because we have to use html imports to load Polymer
On May 9, 2016 5:51 PM, "Tony Mobily" <notifications@github.com> wrote:

[2016-05-10 03:51] mercmobily commented on #818
@robdodson  OK thanks a million for answering!

[2016-05-10 05:45] mercmobily commented on #818
Well, since I did it, I think #823 is a good idea. It's a tiny change, and it gives users the ability to theme it. Plus, like this is looks more like PSK1! It's there if you want it, I promise I won't make any more PRs against it!

[2016-05-10 08:27] mercmobily commented on #824
Ah, true, nevermind...!

[2016-05-10 08:27] #824 closed

[2016-05-11 03:15] dman777 commented on #106
I hit this issue also. This was very frustrating. You really need to place in the docs https://elements.polymer-project.org/elements/platinum-sw that this will only work on https.

[2016-05-11 03:52] robdodson commented on #106
@dman777 would you mind submitting a pull request for this?

[2016-05-11 04:24] dman777 commented on #106
@robdodson Sure, I would be more than happy to.

[2016-05-11 04:39] robdodson commented on #106
@dman777 awesome thank you 😸

[2016-05-11 10:52] brancoliticus opened #826 "iron-ajax seems to send requests to the wrong url or something"
Please see http://stackoverflow.com/questions/37101221/iron-ajax-in-tandem-with-polymer-starter-kit-misbehaves-or-something-it-sends-r for a detailed description of the problem and the source code that I created.

[2016-05-11 12:57] moderndeveloperllc commented on #826
I posted on SO, but I'll post it here too:

A couple of things. You are missing the slashes in "http:localhost:8080/journal_tag" It should be http://localhost:8080/journal_tag. Also, you can use the Developer tools for the browser you are in to see all the XHR requests that you are sending. Check there to see what the request headers being sent are. If they are not what you are expecting, post the

[2016-05-11 13:31] brancoliticus commented on #826
Just a small change and everything works fine now. See my stackoverflow answer for details.

[2016-05-11 13:31] #826 closed

[2016-05-11 15:07] jsilvermist opened #827 "Chrome on Android doesn't hide address bar on scrolling down"
When scrolling in the PSK in Chrome on Android, the address bar will remain stuck to the top and doesn't auto hide.

Similar to (google/material-design-lite#1072).

[2016-05-11 15:16] abdonrd commented on #827
Already fixed in [PSK2](https://github.com/PolymerElements/polymer-starter-kit/tree/psk2) with the `app-elements`. :)

[2016-05-11 15:16] #827 closed

[2016-05-12 18:11] MaKleSoft commented on #663
The entire structure of the starter kit appears extremely convoluted and confusing to me and the way imports are used seems like an antipattern. One of the key selling points of Polymer is that **everything** is an element, even the app itself, so why is such a big part of the app implemented in `index.html` directly? Imo, apart from the usual boilerplate like the webcomponents script and meta tag

[2016-05-12 18:37] robdodson commented on #663
@MaKleSoft Take a look at the work-in-progress psk2 branch. I think it addresses your concerns.

[2016-05-13 02:33] MaKleSoft commented on #663
@robdodson Yeah, you're right. Thanks!

[2016-05-13 03:39] dman777 commented on #106
@robdodson No problem :smile:  [PR #012 has been submitted](https://github.com/PolymerElements/platinum-sw/pull/102)

[2016-05-14 13:07] JGSolutions commented on #615
i have this and still doesn't work

{
  "public": "app",
  "ignore": [
    "firebase.json",
    "**/.*",
    "**/node_modules/**"
  ],
  "rewrites": [
    {
      "source": "!{/bower_components,/elements}/**",
      "destination": "/index.html"
    }
  ]
}

if I add the historyApiFallback() it works

[2016-05-14 15:39] robdodson commented on #615
@JGSolutions it doesn't work when you deploy to firebase or it doesn't work locally? That config will only work when you deploy to firebase I believe. You could swap out the local dev server with superstatic and it should work i believe.

[2016-05-14 15:52] JGSolutions commented on #615
Thanks for the reply :)

Doesn't work locally. I am using superstatic in gulp:

server: {
      baseDir: ['app'],
      middleware: [superstatic({
        config: {
          public: ['.tmp', 'app']
        }
      })]
  }

I am following this example that from a PR
https://github.com/PolymerElements/polymer-starter-kit/pull/614/commits/c46a1eef1f3ab4db7d30b54ede13bf009b96992e

[2016-05-14 15:53] JGSolutions commented on #615
It works when i click around the app but when i refresh i get error:

Cannot GET /cartlist

[2016-05-14 15:55] robdodson commented on #615
@JGSolutions I'm not that familiar with the format but I imagine you need to add a source like "*", otherwise it doesn't know to redirect /cartlist to index.html.

[2016-05-14 17:50] JGSolutions commented on #615
@robdodson ok cool i will look into that. Thanks!

[2016-05-14 17:59] JGSolutions commented on #615
Cool i figured it out. Adding more config options.

[2016-05-20 11:17] iugo opened #829 "PSK should include Babel."
### Description

If the app.js include `for ... of`, then `gulp`.

### Expected outcome

### Actual outcome

trigger an error:

[code]

### Live Demo

PSK should include Babel.

[2016-05-20 16:01] robdodson commented on #829
Hi @iugo I'm planning to add support for Babel in the pks2 branch. Until then you can follow this guide to add it yourself.

https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md

[2016-05-20 16:01] #829 closed

[2016-05-21 03:01] gertcuykens commented on #819
I would like them to be smack in the middle of the index page, because all basic style settings are there too

    <meta name="theme-color" content="#fafafa">

    <style>
      body {
        margin: 0;
      }
    </style>

    <link rel="import" href="/src/psk-app/psk-theme.html">

https://github.com/PolymerElements/polymer-starter-kit/blob/psk2/index.html#L18-L29

Does style settings are the m

[2016-05-22 09:45] oneezy commented on #367
@kungufli
have you had any positive results with your SEO?

@robdodson and Polymer team
Search is such an important factor as you guys know..and it still seems to be a huge problem w/ SPA's along with our up and coming acronym, PWA's.

Meta data title and descriptions + OG meta data for our social platforms are all part of delivering that great experience to our users.

I joked earlier and said..

[2016-05-22 16:52] peterblazejewicz commented on #367
@ebidel
Eric, the IO2016 web site has been optimized for SEO:
https://events.google.com/io2016/sitemap.xml
https://github.com/GoogleChrome/ioweb2016/blob/491d5f92629020b921739ea15a049606a8afacea/backend/handler.go#L213-L236
https://github.com/GoogleChrome/ioweb2016/blob/b1329e4bc1a4db3693845b9fc639b29806779d31/app/templates/layout_full.html#L226-L240
I think optimization does not fully cover indiv

[2016-05-24 00:15] ebidel commented on #367
We don't dynamically update the json-ld, but if you deep link to a session detail, the server will fll the values correctly: view-source:https://events.google.com/io2016/schedule?sid=15631cfd-0bef-e511-a517-00155d5066d7#day1/15631cfd-0bef-e511-a517-00155d5066d7

Make sure to cmd+shift+R that page (or open it in incognito), otherwise you'll get a service worker cached page.

[2016-05-30 04:02] kanodia commented on #367
We have build a polymer app. It is a client side single page PWA. We use hasbank (#!) URL's to provide different content on it.

For example:
www.domain.com/content/#!/content1
www.domain.com/content/#!/content2 and so on.

Now if each of this URL is indexed and crawled on Google, users can find my website with the keywords present in each hash banked url.

Now when I crawl my PWA, Google is only

[2016-05-30 12:00] abhisheksoni27 opened #831 "How to add files to-be cached?"
Where should I add files that I want to be cached?

[2016-05-30 20:15] robdodson commented on #831
I believe if you uncomment this line in the gulpfile (https://github.com/PolymerElements/polymer-starter-kit/blob/master/gulpfile.js#L256) that it will generate that cache-config.json for you in your dist directory.

[2016-05-30 20:36] robdodson commented on #831
Sorry, to continue on a bit...

This task specifies which files will be included in the cache-config. You can either add directories to the `glob` or push your own individual files into the `files` array.

[2016-05-30 20:36] #831 closed

[2016-05-30 21:20] robdodson opened #833 "Moving PSK2 to Master"
Hey folks,

I think the CLI is lagging a little and it'll take some time for them to get us the hooks we want for things like image optimization and ES2015. Having said that, the site does currently work with the CLI (though I think there may be some [small bugs](https://github.com/Polymer/polymer-cli/issues/226)). A number of folks have pinged me saying they're confused if they should use the CLI

[2016-05-31 07:34] addyosmani commented on #833
With respect to feature parity with master (CLI and known issues aside) what are we still missing in your opinion in PSK2?

[2016-05-31 13:17] robdodson commented on #833
@addyosmani I think we would need to do a pass to update the recipes and remove any that seem outdated. Also rewriting the README. Note that this version doesn't include the platinum-* elements so we'd want to clear out that section. The CLI generates a `service-worker.js` for you so we may want to do a bit of a write up explaining how that works and how to modify it.

I think the upside is we pro

[2016-05-31 13:30] oneezy commented on #833
@robdodson The CLI tool is great, but one thing I've been missing is BrowserSync. Is there any plans to integrate something like this into the CLI? Or is it possible to use both Polymer CLI + BrowserSync together?

[2016-05-31 15:15] robdodson commented on #833
@oneezy I'm not sure if it's currently on their roadmap but [I've opened an issue](https://github.com/Polymer/polymer-cli/issues/230). I agree it would be nice :)

[2016-05-31 15:37] joryphillips commented on #833
@robdodson At least initially, there should be a basic step-by-step comparison of the PSK1 and PSK2 build processes to help make this a smoother transition. The CLI's Typescript roots makes for a steep climb for those who want to understand how it works & what we're gaining from it (or... contribute).

I'm happy to help with the crafting of the comparison, but need to get up to speed on the CLI to

[2016-05-31 17:48] Pooniano1 commented on #101
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: spawn cmd ENOENT
    at exports._errnoException (util.js:870:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:178:32)
    at onErrorNT (internal/child_process.js:344:16)
    at nextTickCallbackWith2Args (node.js:442:9)
    at process._tickCallback (node.js:356:17)
could help me anyone

[2016-05-31 19:47] robdodson commented on #101
@Pooniano1 is that the entire stacktrace?

[2016-06-01 17:21] robdodson opened #835 "PSK2 -> Master checklist"
**Future** (do once Polymer core is updated to better handle ES6 classes) (PSK version 2.1)
-  _Migrate PSK2 to ES2015/ES6_ (https://github.com/PolymerElements/polymer-starter-kit/pull/857)

**Done**
- [x] Tag a final release of PSK1 (will be v1.4.0)
- [x] Update README (what's in PSK2? How do I use it with CLI? What's different from PSK1?)
- [x] Replace app-drawer-template with PSK2 in Polymer CL

[2016-06-01 18:27] chuckh commented on #835
Do we want to remove custom elements from their own directories and just put them in `/src` like https://github.com/Polymer/app-drawer-template/tree/master/src?

Do we want to create a polymer.json file like https://github.com/Polymer/app-drawer-template/blob/master/polymer.json?

[2016-06-01 18:40] robdodson commented on #835
I like the idea of a polymer.json

[2016-06-01 19:35] abdonrd commented on #835
Me too!

[2016-06-02 13:22] IchordeDionysos opened #841 "gulp default task fails with Error: EISDIR"
When running `gulp` at the root of the Polymer Starter Kit I'll get an error in the `build` gulp task which says:

    'build' errored after 2.33 s
    Error: EISDIR: illegal operation on a directory, open '[...]\dist\scripts' at Error (native)
    'default' errored after 5.61 s Error in plugin 'run-sequence'
    Message:
      An error occurred in task 'build'.

I made some research and I think,

[2016-06-02 13:33] IchordeDionysos commented on #841
I've although tried to reinstall the node_modules, didn't work :/

[2016-06-02 18:21] oneezy opened #843 "$ gulp 'dist' problem: ... ERROR finding 'bower_components/polymer/polymer.html'"
Here's a link to my source code where my problem exists: https://github.com/oneezy/wwwSFI/tree/wwwSFI

I did quite a bit of re-organizing the PSK (version 1) after seeing how the "Shop" demo's file structure was laid out. In this process, I managed to mess up my process for building out the 'dist' folder. Everything runs through fine up until vulcanize:

[code]

![image](https://cloud.githubuserco

[2016-06-02 21:08] joryphillips commented on #843
I'm guessing that something about the combo of elements.html and having both an elements folder and a src folder is causing the vulcanize task in gulpfile.js to get confused.

Try to eliminate the need for elements.html, which should only need to import the elements directly used in index.html. I would consider using index.html only as your entry, and point to a new file src/sfi-app.html, which wo

[2016-06-03 06:19] NicolasRannou commented on #835
Do you plan to add es2015/babel support somehow or should that be part of the polymer build task itself?

[2016-06-03 15:11] robdodson commented on #835
@NicolasRannou So that's one of the reasons why I think we're a little behind because we were hoping the CLI would provide us hooks to do that but the team says they're still working on it. So for our initial release we will not be supporting it but hopefully those hooks land in the next couple of weeks (that was the very rough estimate I was given). Once those hooks are in place then we'll provid

[2016-06-03 15:29] robdodson commented on #841
@IchordeDionysos I think EISDIR means the directory might not exist. Just curious did it generate a `dist` directory? cc @felixzapata

[2016-06-03 21:06] felixzapata commented on #841
@robdodson I will take a look

[2016-06-03 21:33] joryphillips commented on #843
@oneezy After not finding anything wrong with the dual elements/src config as I originally thought,  I  tracked your issue down to fx-arrows.html having one too many ../ in the paths to polymer.html and hardware-icons.html.

Cheers.

[2016-06-03 21:38] felixzapata commented on #841
@IchordeDionysos I can't reproduce the error. This issue happen to you every time you run the `gulp` task in the root folder?

Which operating system are you using? When you reinstalled the modules, did you delete the `node_modules` folder first?

[2016-06-03 21:38] joryphillips commented on #843
PS I think you will need to modify gulpfile.js to make sure your images all go to the correct location in dist/.

[2016-06-04 04:09] oneezy commented on #843
Thanks @joryphillips !
I went through yesterday after reading your comment and removed all of the calls to the src to see if that fixed the problem..but like you said, that didn't get to the bottom of it.

Removing `../ ` and changing the path in gulp to `src/images` got it building like a charm!

I posted this question up on [SO ](http://stackoverflow.com/questions/37601257/gulp-error-finding-bow

[2016-06-04 07:04] joryphillips commented on #843
@oneezy Found it by searching your files for 'hardware-icons.html'. 🤓

[2016-06-04 12:09] web-padawan commented on #835
It is likely that Polymer team is about to discard Gulp and other build tools, like npm-scripts, in favor of CLI. In my opinion, encapsulating all the build tools into CLI is not a good idea.
There should be an opportunity to make different boilerplates and to pick only required plugins, which is unreachable when all tools are in one black box.
So I suggest keeping examples of using Gulp, maybe no

[2016-06-04 12:13] oneezy commented on #843
@Joryphillips Lol.... ah! ... (pops forehead)
I should really step away from this computer sometimes. I was hoping you were going to tell me a cool trick for finding these types of bugs to file source in dev tools.

In a much larger app scenario I can imagine something like that could potentially be pretty hard to track down.

[2016-06-04 12:36] oneezy commented on #835
@web-padawan I see your point. My main pain point at the moment is with missing BrowserSync.

I see why they're taking this approach to though. Simplicity.

Extracting there build process away from gulp and bundling it up with there very own Polymer commands will make it very easy for things to be done "the right" way.

At the same time, this also

[2016-06-04 12:51] oneezy commented on #835
@web-padawan I see your point. My main pain point at the moment is with missing BrowserSync.

I see why they're taking this approach to though. Simplicity.

Extracting there build process away from gulp and bundling it up with there very own Polymer commands will make it very easy for things to be done "the right" way.

At the same time, this also pulled me away from Meteor. There platform took a

[2016-06-04 13:27] web-padawan commented on #835
@oneezy This is the thing I disagree - forcing community to follow the way considered as "the only right". In fact, using CLI might be OK for typical cases. But what if the case is not typical?

It would be nice to split up the "black box" into separate plugins, like it is implemented in PostCSS. This could also inspire the community to join the development.

[2016-06-04 15:22] chuckh commented on #835
My understand is Polymer-CLI will be able to be used by Gulp and extended by it. So I think we could be getting the best of both worlds. See below quote from Polymer-CLI readme.

See https://github.com/Polymer/polymer-cli#build

[2016-06-04 19:18] IchordeDionysos commented on #841
Yeah the folder `dist` exists!
Yep, then it occurs
I'm using Windows, but same error occurred on Ubuntu
I did delete `node_modules` before

[2016-06-04 22:13] robdodson commented on #841
@IchordeDionysos Is this happening with a fresh checkout of PSK or have you modified it any?

[2016-06-04 22:18] robdodson commented on #835
@web-padawan @oneezy Chuck is correct. The plan is to provide gulp task hooks that anyone can use to modify the stream of files. And likely even provide a gulpfile version of what the CLI does for folks who can't use the CLI for whatever reason.

[2016-06-05 14:44] felixzapata commented on #841
@IchordeDionysos which version of Node are you using? Are you trying the version from master branch or the current release?

I´ve test the PSK (master version) in a fresh install in Xubuntu and in OS X but I still can´t reproduce the issue :S

[2016-06-05 15:15] oneezy commented on #835
Great!! :D

Keep up the excellent work guys!

[2016-06-05 19:48] oneezy commented on #835
@robdodson , would you say it's safe to install PSK2 now for production use?

I'm reviewing the master checklist and it looks like the majority of everything is good to go.. (besides understanding how to use it :D

I'm just curious if there will be any important addons to keep an eye out for. How far away would you say we've got the new README updated in master?

[2016-06-06 08:07] felixzapata commented on #841
@IchordeDionysos I´ve tested the PSK (master version) in a fresh install in Ubuntu too, and neither can reproduce the issue :(

[2016-06-06 14:39] kungufli commented on #367
@oneezy nope, unfortunately. I opened a request on the Google Webmaster Central Help Forum (https://productforums.google.com/forum/?utm_medium=email&utm_source=footer#!msg/webmasters/TgaIYBOSseM/Iq0vu4HbBAAJ), if you can be interested, but as of now I'm still not getting the website corretcly indexed.

[2016-06-06 15:11] IchordeDionysos commented on #841
@robdodson @felixzapata I changed files inside the app directory!
Node version is: v4.2.1
I've tried it again with master branch and changed the files step by step to evaluate when it occurs, and it happened when I changed the index.html to my current version.
Switching back to PSK version resolved the error.

Does it make a change if you change this:

to this:

Because with the first comment it w

[2016-06-06 15:15] IchordeDionysos commented on #841
Okay, I now understand the annotation: `build:js scripts/app.js`
It's the file to create out of all scripts between that two comments right?

[2016-06-06 15:17] felixzapata commented on #841
@IchordeDionysos affirmative.. one of the goal of the `build` task is create the file you indicate with the comment

[2016-06-06 15:19] IchordeDionysos commented on #841
Okay, thank you very much. Helped me a lot!

[2016-06-06 15:20] felixzapata commented on #841
you're welcome @IchordeDionysos

[2016-06-06 15:24] felixzapata commented on #841
can we close this issue @IchordeDionysos ?

[2016-06-06 15:26] IchordeDionysos commented on #841
Yes

[2016-06-06 15:26] #841 closed

[2016-06-06 22:29] jsilvermist commented on #835
@chuckh On the topic of separating the elements by folder or keeping them all together, I think the default elements should be bundled together for simplicity, as they don't have any other files which are strictly tied to an element which warrant being bundled together in it's own folder.

For this reason, I feel it would be best if all these elements were bundled in a folder such as main, simple,

[2016-06-06 22:45] robdodson commented on #835
@oneezy I think the biggest issue is that if you need to do image optimization there isn't currently a hook to do so. Nor is there a place to transform JS from ES2015. I had a meeting with the team today and they have a plan for giving us all the stuff we need. I think/hope they may have something for us later this week or next. Given that we may be very close to having what we need from the CLI t

[2016-06-07 03:24] LoveAndHappiness opened #847 "PSK2: Reorganizing Elements by Functionality and Relationship"
### Situation
Right now every element, regardless of function, is placed inside the src directory.

    src/psk-app/psk-app.html
    src/psk-page-home/psk-page-home.html
    src/psk-page-about/psk-page-about.html
    src/psk-page-404/psk-page-404.html

### Problem
The problem with this approach is, that though the elements belong together in a hierarchical way (f.e. psk-page-home is inside psk-app

[2016-06-07 03:40] LoveAndHappiness commented on #847
Added a pull request just for reference.

[2016-06-07 05:13] arthurevans commented on #367
@kanodia I would avoid the hash bangs unless you're using the (deprecated) AJAX Crawling Spec (see https://developers.google.com/webmasters/ajax-crawling/docs/getting-started#overview-of-solution for an overview). This spec was created before the crawler ran javascript on pages, and it relies on your application providing a separate, server-rendered view of your page for the indexer. It doesn't so

[2016-06-07 05:32] oneezy commented on #847
I second that.

A good article I always like to refer to for `folder / file` hierarchy is:
http://cliffmeyers.com/blog/2013/4/21/code-organization-angularjs-javascript

[2016-06-07 05:55] web-padawan commented on #835
@robdodson please pay attention to that Polymer requires using Babel without strict mode when transpiling ES2015. The reason is [this issue](https://github.com/web-animations/web-animations-next/issues/402) in `web-animations-lite` used by `neon-animated-pages`. This bug is already known, just a reminder for those who are going to implement it in CLI.

[2016-06-07 08:26] addyosmani commented on #847
Given that we've been leaning on @justinfagnani for some thoughts on structure, interested in his take on this problem.

[2016-06-07 15:06] robdodson commented on #847
I still lean toward the original structure because it doesn't attempt to ingrain any pattern. Folks are free to organize their elements however they want without wondering if the views directory is special. But that's just 1 opinion :). I'm also curious what other folks on team Polymer feel.

[2016-06-07 15:24] robdodson commented on #835
Thanks @web-padawan. They won't be implementing Babel in CLI, they're going to expose a hook so we can call Babel (or TypeScript, or whatever other compiler we want) from our build file. So we should have the option to disable strict on our end

[2016-06-07 20:10] jsilvermist commented on #847
The only problem with purely using folder structure to add context to elements and simplifying names by removing things such as `page` is namespacing.

Even if it's clear that it's a page by folder structure, you still can't have 2 elements named the same thing. Naming everything psk-oneword with no other context could get more complicated with many elements, not less.

[2016-06-08 02:15] LoveAndHappiness commented on #847
As @robdodson correctly pointed out, this issue might be a question about leaving developers the freedom to structure the app the way they want, without attempting to ingrain particular patterns. As this might give the false impression that the views folder is somehow special and thus unnecessarily adding false contraints.

On the other hand, if particular **expert** recommendations about structur

[2016-06-08 16:59] robdodson commented on #847
I spoke with the team, here's their feedback:

Justin:

Scott Miles:

[2016-06-08 17:00] robdodson commented on #847
Scott also mentioned that requiring a directory for each element may not be necessary as the elements don't tend to require support files (ex: https://github.com/Polymer/shop/tree/master/src)

Obviously that would change if you were doing something like pairing SASS with a component but that's not something that we're currently trying to support with this one example.

[2016-06-08 19:14] oneezy commented on #847
I agree that the `folder` hierarchy should be left up to the project and not try to sway a particular `style`.

On the other hand, having a structure you're accustomed to created "out of the box" would be nice.

One approach would be adding this as an extra to the [Polymer CLI](https://github.com/Polymer/polymer-cli) `init template` command.

Using [Cliff Meyer's code organizing blog](http://cliff

[2016-06-08 22:14] dadatawajue opened #849 "How to disable scroll to top for specific div?"
I'm trying to integrate photoswipe into a Polymer project (similar to http://stackoverflow.com/questions/32934724/photoswipe-with-polymer-misalignment which is working) using the polymer-starter-kit

The problem is that when you exit the full screen of an image then it automatically scrolls to the top, which I assume is intended behavior for navigating between the different pages.. so my question

[2016-06-08 23:20] robdodson commented on #849
This is the function doing the scroll top work: https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/routing.html#L25 which is called on every route change https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/routing.html#L42

You could remove `scrollToTop` from that route and only add it to the routes that you actually want it to affect.

[2016-06-09 06:54] MacTheZazou opened #850 "Remove the paper scroll header panel and minimize left pane for one routes"
I have an element who need to be full screen with the less possible superfluous elements...

Is there an easy way to hide/minimze the fat header menu bar and minimize the left pane? from an element or from a routes?

the best would be this layout:

![Layout](http://puu.sh/pmdxQ/1229e2a9a0.png)

Thank you!

[2016-06-09 09:34] dadatawajue commented on #849
Thanks a lot, it works <3

I'm still a little confused about the best way to deal with it through.. because the routes that use photoswipe are the same as those from the `<paper-scroll-header-panel drawer fixed>`.

e.g. the route pics (http://localhost:5000/#!/pics) contain the photoswipe gallery, and the route pics is also available through the side navigation.. so I figured if I made a new route

[2016-06-09 17:58] PChild commented on #850
Adding the `force-narrow` attribute to your paper-drawer-panel should achieve this. Here's what I use: `<paper-drawer-panel force-narrow id="paperDrawerPanel">`.

[2016-06-09 20:39] robdodson commented on #850
Yep @PChild nailed it. Closing but let me know if you still have issues.

[2016-06-09 20:39] #850 closed

[2016-06-10 21:24] robdodson commented on #849
Sorry I don't understand. Are you saying that /pics is still scrolling to the top? You may want to remove that call to `setFocus`

[2016-06-11 14:47] dadatawajue commented on #849
I decided to do:

[code]
and call it with
`<paper-menu class="app-menu" attr-for-selected="data-route" selected="[[route]]" on-iron-activate="scrollToTop">`

This seems to be working great and I hope/assume it's the right/a good way to do it?

Before it still didn't work with photoswipe, but after I removed `setFocus` as you suggested then it works! Thanks a lot <3

[2016-06-11 14:47] #849 closed

[2016-06-13 07:17] ShikhaSingh1 opened #851 "Cannot find module 'orchestrator'"
### Description
On doing '**gulp serve'** , seeing the following error :

Error: Cannot find module 'orchestrator'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (C:\Users\212421789\Documents\B- Course\Inplementation\polymer-light\

[2016-06-13 20:26] maria-le opened #852 "PSK2 - Polymerfire integration?"
Would it be possible to see an integration with [Polymerfire](https://github.com/firebase/polymerfire) at some point during the PSK2 lifecycle?

The need to authenticate users and save and modify user data is ubiquitous in apps. So, if the PSK2 could model how that is best done, I think it would be a huge time saver for developers who use Polymer and Firebase.

[2016-06-13 20:48] robdodson commented on #852
I think the plan for PSK2 is just build a stripped down app template that uses ES2015. Because the CLI supports as many templates as you can build, I think it would be good to create a separate template that's basically a Firebase focused project.

[2016-06-16 12:31] AliMD opened #853 "Polymer Starter Kit v2.0"
Hi Everyone
After release polymer app toolbox I refactor my codes (even structure)
And maybe it's time to update this awesome project too
For example
* change routing
* change app layout
* More progressive web app
* fix issue with new structure (for example new addressing for new routing)
* use polymer cli
* ...

Could you please add new branch and milestone for next release and more describe on i

[2016-06-16 15:14] robdodson commented on #853
Hi Ali, there's already a psk2 branch that does a lot of what you mention. We're waiting on the CLI to provide gulp hooks which should land this week or next

[2016-06-17 08:42] NicolasRannou commented on #835
OK thanks @robdodson

[2016-06-21 00:43] #853 closed

[2016-06-21 12:51] niutech commented on #226
Any update?

[2016-06-24 20:04] akshaymarkande opened #855 "effects="waterfall" does not work"
### Description

the shadow effect is not visible when we apply waterfall effect.
### Expected outcome

there should have been a shadow applied to the header when we scroll

### Actual outcome

there is no shadow effect
### Live Demo

### Steps to reproduce

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

[2016-06-27 05:55] johnlim commented on #835
Hi,

Any update as to how far out we are from PSK2? :)

[2016-06-27 14:53] robdodson commented on #855
Are you using the psk2 branch that uses app-layout elements or the current release of psk which uses paper-drawer-panel?

[2016-06-27 14:54] robdodson commented on #835
Still working with the eng team to get gulp support playing nice with CLI.
They've got a rough demo they built last week. We'll work to see if we can
integrate it this week.

On Sun, Jun 26, 2016 at 10:55 PM, John Lim Ding Wei <
notifications@github.com> wrote:

[2016-06-27 15:55] akshaymarkande commented on #855
Paper drawer panel
On Jun 27, 2016 8:23 PM, "Rob Dodson" <notifications@github.com> wrote:

[2016-06-27 17:21] robdodson commented on #855
The paper-scroll-header-panel in the current PSK doesn't support effects=waterfall. I believe that is only supported in the app-layout elements. We're working on switching to the app-layout elements in the psk2 branch. https://github.com/PolymerElements/polymer-starter-kit/tree/psk2

[2016-06-27 17:21] #855 closed

[2016-06-28 04:34] akshaymarkande commented on #855
Ok great.
So we can use version 2 right now or there is still time for our being
production grade ready?
On Jun 27, 2016 10:51 PM, "Rob Dodson" <notifications@github.com> wrote:

[2016-06-28 16:01] robdodson commented on #855
@akshaymarkande I'd recommend using the Polymer CLI and using app-drawer-template

[2016-06-29 02:45] CaptainCodeman commented on #367
Cross-posted from https://github.com/PolymerElements/app-route/issues/119#issuecomment-229237012

I had a go at creating something to help with the SEO / meta-tag updating.

Here's what I came up with (any feedback appreciated):
https://github.com/CaptainCodeman/app-metadata

I tested it out by creating a test site:
http://app-metadata.appspot.com/

This has the metadata set from the element:

[co

[2016-06-29 08:41] kungufli commented on #367
For sure updating title and description is something that helps with SEO.

Recently I also discovered another important factor for SPA. On my site I use the `neon-animated-pages` to switch from different content, but the content itself was all in the source page: I think that this create serious problem with indexing, because the Googlebot will crawl (and index) all the text content present in the

[2016-06-30 17:22] #852 closed

[2016-06-30 17:22] robdodson commented on #851
hm try deleting your node_modules directory and run `npm cache clean` then `npm install` again and try gulp serve one more time. Let me know if that helps

[2016-06-30 17:25] robdodson commented on #847
I don't think we'll be going in this direction for PSK2 based on feedback from the eng team. Having said that, the CLI is designed so anyone can [create their own template project](https://github.com/Polymer/polymer-cli#templates-and-generators) which uses the approach they prefer.

[2016-06-30 17:25] #847 closed

[2016-06-30 17:26] robdodson commented on #835
Gulp build support is now work-in-progress at https://github.com/PolymerElements/polymer-starter-kit/pull/857

[2016-07-01 17:20] robdodson opened #858 "The pain of maintaining a polymer app"
_Moved from https://github.com/google/WebFundamentals/issues/3044_

Some things I found while building on starter kit

* bower with its "questions" really raises the question if components still work.
* the community is not so fast. Maybe a little more tooling would help.
* starter kit takes all the elements, maybe introduce users to a little more choices. Selecting and installing just a part of t

[2016-07-01 17:31] robdodson commented on #858
Can you explain what you mean by "questions"? Are you referring to when bower asks you to resolve a version conflict?

Not sure what you mean by this? What do you want the community to be "faster" at? Like releasing more elements or...?

I'm not sure I understand the question but typically we install all of the elements in Starter Kit because it's easier to install everything and have it local on

[2016-07-04 14:32] ebidel commented on #791
Is there a number for the chrome bug?

[2016-07-04 14:37] sebs commented on #858
Questions: bower deps, yeah.

Community not so fast: When a version jumps comes, push the community to release updated elements. A missing "data-table" was my killer in the last one. Another one a paper-date-select. Both seem to be more "needed in teh core" than 3rd party.

Bower deps seem to point on github repos, I point them just on the name now.

Yeah, just had teh feeling of "I already did th

[2016-07-05 15:54] sebs commented on #858
Ah one thingI realized using meteor: I like the way the toolchain works. Seems sensible to me in some points. Especially acknowledging, that meteor is a bit more than just npm/bower modules. I would be ok with maintaining that extra cost.

[2016-07-05 23:24] dypsilon commented on #367
@kungufli thank you for this report, please share any further findings.

How does the crawler actually find dynamically loaded pages (/get, /download, /help)? Do you use sitemap.xml or some tricks with the links and push state?

[2016-07-06 02:17] oneezy commented on #367
@kungufli could you possibly post up your source code or example of this?

Thankyou so much for helping spread the knowledge! As much as I love SPA's and PWA's, they are nothing without search.

[2016-07-06 10:19] kungufli commented on #367
@dypsilon I actually have a sitemap but mainly for localitazion purpose. To make the crawler find the URLs I use the standard anchor HTML tag inside the `paper-button` I use to switch between the contents, like this:

[code]

I set the `onclick="return false;"` to prevent the browser to actually load the link when you click on the button, since I want to manage this thing by javascript. Then I set

[2016-07-06 10:43] dypsilon commented on #367
@kungufli wow, thank you for this exhaustive answer.

Do search engines look into the shadow DOM? In the example the "home-page" and "get-page" are components, which hide the content inside the shadow DOM. The question is whether search engines see it and if it brings any penalty.

[2016-07-06 12:37] kungufli commented on #367
@dypsilon I can tell for sure that Google, Bing and Yahoo can see all the content in the shadow DOM, in fact it's was indexed on my site from all of them. I don't know if there is any penalty, but I don't think so.

[2016-07-06 13:14] dypsilon commented on #367
@kungufli great, thank you!

[2016-07-07 11:53] TheoMer opened #859 "Service worker functionality does not work when 'gulp serve' is run"
OS: Windows 10 Pro
Browser; Chrome Version 51.0.2704.106 m (64-bit)
Yo: version 1.8.4
Polymer generator: 1.3.0

### Description
Service worker is non functioning when 'gulp serve' is run.

### Expected outcome

As I have amended both index.html and elements.html, as well as gulpfile.js, to allow for service worker functionality, I expected, on initial page load, that a 'caching activated for offli

[2016-07-07 15:43] robdodson commented on #859
`gulp serve` doesn't run the `cache-config` task. This is because you typically don't want to develop with a service worker turned on (you'll have to keep deleting and renaming the cache every time you change any file).

If you find this confusing we could update the README to mention this. Would you be interested in filing a PR for that?

[2016-07-07 20:41] TheoMer opened #860 "Service worker doesn't work if https: true is enabled in gulpfile.js, when 'gulp serve:dist' is run"
OS: Windows 10 Pro
Browser; Chrome Version 51.0.2704.106 m (64-bit)
Yo: version 1.8.4
Polymer generator: 1.3.0

### Description
Service worker doesn't work if https: true  is enabled in gulpfile.js, when 'gulp serve:dist' is run

### Expected outcome

Expected the site to work when developer tools > network was set to offline

### Actual outcome

### Live Demo
polymer starter kit

### Steps to rep

[2016-07-07 20:46] robdodson commented on #860
I believe to do this you'll have to create a self signed certificate for localhost. Probably easier to not have to do this for local development.

[2016-07-07 20:46] #860 closed

[2016-07-11 19:16] kito99 commented on #835
Hey @robdodson,  I have a couple of requests: please keep the "app" folder structure. The structure of the app toolbox really bothers me (hate having index.html and other app artifacts in the root).

Also, it would be a really good idea for someone to blog about the PSK and the app toolbox and how they're related. It took me a while to verify that the PSK isn't being deprecated altogether, since i

[2016-07-11 23:33] niutech commented on #337
I've just downloaded a fresh PSK and it took 30 min on a low bandwidth connection just to install 151 MB (!) of the dependencies. This is way too much for a starter kit.