[2015-07-11 13:11] flaiker commented on #246
I would be very interested in this, however I think this is maybe out of the scope of the starter kit.

The IO 2015 webapp has authentication, you can find the source [here](https://github.com/GoogleChrome/ioweb2015). Might be very difficult to extract that part though (and I believe it is not even on the most recent Polymer).

[2015-07-11 14:20] Frikki commented on #225
This is also true for external CSS. Adding CSS files to the copy task, however, doesn’t completely solve the issue, because `@apply(--some-var)` declarations aren’t handled, i.e., they are ignored when running `gulp serve:dist`.

[2015-07-11 15:20] chuckh commented on #182
@arthurvr did you get a chance to create a PR to fix this?

[2015-07-11 15:21] chuckh commented on #206
@addyosmani can't we close this now that #233 landed?

[2015-07-11 15:21] arthurvr commented on #182
@chuckh I fixed most of it except the image's background. Gonna give it another try this evening.

[2015-07-11 15:26] chuckh commented on #25
@addyosmani would this tool work `gulp-minify-html` -> https://www.npmjs.com/package/gulp-minify-html for this issue?

[2015-07-11 18:16] addyosmani commented on #206
Yep!

[2015-07-11 18:16] #206 closed

[2015-07-11 23:34] kenny0202 opened #248 "Loading index.html no default content is shown"
When running my application I am expecting "data-route="home"" contents to be loaded, but the contents are not. I have not changed or modified any code to the basic 1.0.2 project. Any reasons why?

[2015-07-11 23:45] Frikki commented on #248
@kenny0202 You really need to provide some more information, like which platform you are running on; whether you are seeing any errors in the dev console; if there were any errors running the `gulp` tasks, etc.

[2015-07-11 23:54] kenny0202 commented on #248
I'm working on a windows platform using Apache as the server. There are no errors on the dev console.  I haven't use the gulp commands yet. But when I eventually ran it using 'gulp serve' I have gotten an error on 'images' process-nexttick-args   and running 'gulp' i get the same error message

[2015-07-12 00:05] #248 closed

[2015-07-12 06:19] maria-le commented on #246
I think it is within the scope of the starter kit. Just about every web app needs user authentication and with all the moving parts, it would be nice to have a Polymer boilerplate example to follow instead of making a "home-brew concoction."

Plus there is a general consensus on the [Polymer Slack Site](https://polymer.slack.com/messages/general/) that it would help a lot to have a complete user a

[2015-07-12 07:07] Adesfire commented on #158
On the WebStarterKit for Polymer, i can see this line in the main example index.html

``
`<div class="bottom title"></div>`

If we put a sentence in this, we have the same problem as describe in the first post of this page.
I think it's an error in the example but i don't know how to avoid it.

[2015-07-12 16:29] KenNewman commented on #246
You certainly have my vote Marla-le. Additionally this is a requested feature from the Polymer Slack group.

[2015-07-12 17:25] nafem commented on #246
I think it would be a good addition

[2015-07-12 18:28] kenny0202 opened #249 "Paper-button not showing in paper material sections"
[code]

when running this i should be expecting a button to show up, but instead only the text of the button shows no button is displayed.

i have made sure that my elements.html contains the paper-button.html. for some reason it still does not show.

just tested adding the import to index.html it displays the button fine. my index.html imported the elements html but does not import the paper-butt

[2015-07-12 23:36] alexpaluzzi commented on #62
Confirming that exclude fonts.googleapis.com fixed the problem on my Windows box as well.

[2015-07-13 07:42] jenyckee commented on #241
It appears to be a problem with the combination nodemon + browsersync I think. Each time nodemon restarts the server browsersync gets confused. Therefore I now use one of both depending on if I'm working server side or client side.

[2015-07-13 09:34] addyosmani commented on #249
Just to check: are you seeing the unstyled paper-button during `gulp serve` or `gulp` production build?

[2015-07-13 09:34] addyosmani commented on #244
Thanks. I'll take a look at fixing up the ink effect for the toolbar buttons.

[2015-07-13 11:36] mikaelharsjo commented on #244
No problem. Keep up the good work!

[2015-07-13 13:11] xXSirenSxOpusXx commented on #249
When you click or interact with the button do you get the swipe effect? I ran into a similar issue with an app i just built, my solution was to apply css styling to the paper-button element.

[2015-07-14 09:26] Frikki opened #250 "gulp-uncss in package.json"
In release v1.0.2 `package.json` under `devDependencies`, I find the entry `"gulp-uncss": "^1.0.1"`. However, I find no reference to it in `gulpfile.js`. Is it used at all? If so, where?

[2015-07-14 09:48] felixzapata opened #251 "Error after vulcanize"
Hi, after download and install all the packages and dependencies, for the kit, when I execute ``gulp default`` I obtain this error:

[11:42:58] 'html' all files 49.84 kB
[11:42:58] Finished 'html' after 1.26 s
[11:42:58] Starting 'vulcanize'...
ERROR finding /my-route/polymer-starter-kit-master/dist/bower_components/paper-styles/font-roboto/roboto.html

[2015-07-14 10:30] felixzapata commented on #251
I think the problem is in paper-styles/classes/typography.html when it loads the roboto.html file. It would be necessary move up another directory.

[2015-07-14 10:38] felixzapata commented on #251
[There is a pull request pending for this] (https://github.com/PolymerElements/paper-styles/pull/45).

[2015-07-14 14:02] vctrl commented on #154
@Alienuser have same issue. I've followed your instructions: created button and added feedback and setDialog functions to file paper-dialog.html, but nothing gonna happens when I press the button. I am totally beginner, and I really don't know what's the problem.

[2015-07-14 17:32] azakus commented on #251
Fixed by https://github.com/PolymerElements/paper-styles/pull/45

[2015-07-14 17:32] #251 closed

[2015-07-14 23:52] kenjitayama commented on #237
I'd like to share a workaround that I came up with, although not ideal.

index.html
[code]

AppPageBehavior.js (used in element app-page-users.html)
[code]

Not a good design because pages themselves should not be responsible for knowing which route is selected. But it works.
And anyway, my previous method couldn't do something like a  `didDisappear`.

[2015-07-15 06:35] addyosmani commented on #250
Dropped via https://github.com/PolymerElements/polymer-starter-kit/commit/dcb01a5ee61bf8cef580a276d70b446afb8ceeca

[2015-07-15 06:35] #250 closed

[2015-07-15 20:33] karan opened #252 "Using MDL with PSK"
Is it a considered good practice to use MDL with PSK? I want to use some UI elements that are not present in PSK (cards, grids), but I don't want to write and maintain all that CSS.

[2015-07-16 12:55] kenjitayama commented on #237
@addyosmani
I've tracked down the problem to some extent.

1. I found out it wasn't reproducing sometimes, but quickly selecting the menu in the drawer(each time closing) always reproduces the problem.
2. Commenting out paper-menu and adding the following onclicks fixes the problem(althogh corrupting the design).

		  <a data-route="home" href="/" onclick="app.onMenuSelect();">
		    <iron-icon ic

[2015-07-16 19:50] meaziz opened #253 "Vulcanize fails in certain elements files"
[21:34:01] Starting 'vulcanize'...
ERROR finding /dist/bower_components/paper-drawer-panel/paper-drawer-panel.css
ERROR finding /dist/bower_components/paper-item/paper-item-shared.css
ERROR finding /dist/bower_components/promise-polyfill/Promise.js

There seems to be a problem with the vulcanite task related to those files in particular

[2015-07-16 21:20] gesrat-cisco opened #254 "Missing 'ms' module causes 'gulp serve' to fail with module not found error"
I hadd to add the 'ms' module to the following path in order to get the server to run - ".../node_modules/browser-sync/node_modules/serve-index/node_modules/debug"

[2015-07-16 21:58] Download commented on #227
Actually, I think BSD license allows redistibution under different license as well?

Asking people to keep the license headers of the Starter Kit intact forever sounds unreasonable to me...

[2015-07-16 23:18] Download commented on #129
I feel this is still broken. If you install in a subfolder of the webroot most of the problems described here come back.

[2015-07-17 00:00] EvgenyKarataev commented on #129
Have you guys seen issue #142? Is that related to your problems? Can you try approached described in that issue and see if it resolves the problems that you have?

[2015-07-17 07:49] kenjitayama commented on #237
@addyosmani Pull requested a solution :)

[2015-07-17 12:21] kenjitayama commented on #241
I'm having this problem too.

I use Sails.js (which uses Express internally), but I'm not launching it from my gulpfile.
I launch Sails first, and then launch Browsersync from gulpfile manually, with proxying configuration to Sails.
The browserSync URL (http://localhost:3000) had the problem, but the raw Sails URL (http://localhost:1337) did not.

I tried changing the browserSync port to 4000, but

[2015-07-17 15:20] marioAnfiled commented on #239
I have a very similar issue. I have used gulp to create the dist folder then posted this on my server and get a blank page in the content area. Once I press my home button then my content shows up. Any ideas? Here is a link to my app.

http://www.anfield-hq.com/ir-ntp2015/index.html

[2015-07-17 16:51] Download commented on #129
Yes it is related. I will continue any discussion there.

[2015-07-17 18:12] meaziz commented on #253
after further investigation it seems the problem that Gulp doesn't copy the bower_components/**/*.js or  bower_components/**/*.css to the dist folder when building.

[2015-07-17 18:58] azakus commented on #253
No, you'd have to do that yourself. I suggest moving the files first, then vulcanizing in-place.

[2015-07-17 19:40] Frikki commented on #253
@azakus

Seriously???

[2015-07-18 11:38] flaiker opened #257 "Images do not get copied on gulp serve:dist"
Working from latest master (dcb01a5) running `gulp serve:dist` does not copy the files inside app/images to dist/images. Just the directory structure gets made (there is a subfolder named touch) but there are no image files in there.

The log does not seem to show any errors:
[code]
The default gulp task does not do it either (without serve:dist).

Some details on my system:
[code]

[2015-07-19 13:46] SayChunKim opened #258 "Display Square Mask in Mobile"
Found minor issue when trying to host site in github and via localhost testing. The paper elements including fab showing square mask

http://stackoverflow.com/questions/28490634/polymer-paper-fab-display-square-mask-in-mobile

Should this issue have to be fixed in v1.0?

Development platform: Ubuntu 14.10
Starter-Kit -version: 1.0.2

Hope helps.

[2015-07-19 15:14] addyosmani commented on #237
Thanks for the PR!

[2015-07-19 15:16] addyosmani commented on #257
When testing your app during a normal `gulp serve` are the images appearing during that flow? Trying to isolate if this is an issue that just happens on dist builds.

[2015-07-19 15:17] flaiker commented on #257
Yes, just dist

[2015-07-19 15:18] addyosmani commented on #258
Is this an issue you're able to reproduce outside of PSK? or does it only occur when paper-fab is added to a PSK project?

[2015-07-19 15:18] addyosmani commented on #254
I haven't been able to repro this I'm afraid. Could you let me know what version of PSK you were using?

[2015-07-19 15:33] SayChunKim commented on #258
@addyosmani  seems happens after i added the paperfab lib into element.html and use <paper-fab> into index.html

Is it appropiate to add styles for <body> with:

style="-webkit-tap-highlight-color: rgba(0,0,0,0);

Hope helps

[2015-07-19 16:24] SayChunKim commented on #158
@Adesfire please refer previous comment of @robdodson

Cheers

[2015-07-19 16:54] addyosmani commented on #253
@meaziz As @azakus mentions above, new files you reference in the project need to be copied over to their final destination yourself. The way to automate this is [documented](https://github.com/PolymerElements/polymer-starter-kit#how-do-i-add-new-javascript-files-to-starter-kit-so-theyre-picked-up-by-the-build-process) in the README (just use build blocks) or alternatively you can specify the file

[2015-07-19 16:54] #253 closed

[2015-07-19 16:56] #212 closed

[2015-07-19 23:25] SayChunKim commented on #258
Update: Tried in paper-icon-button as well. Managed reproduce issue in mobile view

![screenshot_2015-07-20-07-08-51 2](https://cloud.githubusercontent.com/assets/7574227/8768364/413d58fe-2eb0-11e5-9f93-08deaacfc14a.png)
![screenshot_2015-07-20-07-08-02 3](https://cloud.githubusercontent.com/assets/7574227/8768365/4154bf08-2eb0-11e5-9f08-5ef3936a17de.png)

[2015-07-19 23:35] maria-le commented on #246
I just learned we can not post `<paper-dialog modal>` elements inside `<paper-drawer-panel>`? Is this true? If so, then we REALLY need a professional authentication UX example to implement with Polymer.

[Here's the StackOverflow post](http://stackoverflow.com/questions/31500183/polymer-1-0-how-to-design-a-modern-authentication-ux-in-polymer-if-modals-must).

[2015-07-20 06:23] AdFad666 opened #259 "PSK cannot be used with Jekyll"
Jekyll is eating `selected="{{route}}"` so the page is blank except for the header and navigation, and the navigation doesn't work.

[2015-07-20 07:48] addyosmani commented on #259
This is a generic problem with Polymer's syntax for two-way binding (`{{`) conflicting with Jekyll's and unfortunately isn't specific to PSK. Jekyll has support for `{%raw%}`Free form non `{{parsed}} {%endraw%}`, which I believe we use over on the Polymer site (powered by Jekyll).

cc @ebidel who worked on the site source.

[2015-07-20 15:37] gesrat-cisco commented on #254
Couple of points..

1.  My installation of node was 0.10.x and not the recommended version of 0.12.x – could this have been the issue ?

2.  PSK download – zip file – indicates version 1.0.2

-Grant

From: Addy Osmani <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PolymerElements/polymer-starter-kit <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Sunday, July 1

[2015-07-20 16:28] gesrat-cisco commented on #254
After upgrading Node, I retried the install and basic build as per the README and it all seems to work.  I guess there is a reason people write README files after all …. :)   Thanks for your help.

From: Grant Emeny-Smith <gemenysm@cisco.com<mailto:gemenysm@cisco.com>>
Date: Monday, July 20, 2015 at 8:37 AM
To: PolymerElements/polymer-starter-kit <reply@reply.github.com<mailto:reply@reply.github.c

[2015-07-20 22:44] bendavis78 commented on #201
The `connect-history-api` fix doesn't seem to handle paths more than one level deep. For example, `/foo` works fine, but when you load the page with `/foo/bar`, all paths break since they are no longer relative to root. Theoretically this should be fixable using `<base href="/">`. however I don't think polymer respects the base href attribute.

[2015-07-20 23:10] vguillou opened #260 "Broken 'paper-scroll-header-panel' condense effect when reusing the 'app-name', 'middle-container' or 'bottom-container' class"
Just so you know, I ran into a small issue today by inadvertently reusing one of the CSS class of the main toolbar (namely 'bottom-container').
It broke the nice condensing effect of the paper-scroll-header-panel.

It's easily fixed by using a more specific selector in the main panel's scroll handler, like this

[code]

Pull request incoming

[2015-07-22 04:56] Amir-Mousavi opened #263 "Wrong url for page.js"
Hi, there is a problem with code in line 11 file "routing.html" in version 1.0.3.
The current code is:
`<script src="../../bower_components/page/page.js"></script>`
that causes 404 error.
It must be:
`<script src="../bower_components/page/page.js"></script>`

[2015-07-22 08:01] addyosmani commented on #263
There was an issue in PSK light 1.0.3 that I've just fixed up. Can you retry https://github.com/PolymerElements/polymer-starter-kit/releases/download/v1.0.3/polymer-starter-kit-light-1.0.3.zip and let me know if it still has this issue?

[2015-07-22 08:43] gertcuykens opened #264 "<script src="my-greeting.js"></script> doesn't get vulcanised correctly"
`<script src="my-greeting.js"></script>` doesn't get vulcanised correctly using the `gulp` command.

[code]

[2015-07-22 11:04] Amir-Mousavi commented on #263
Yes, I tested it! It's up and running. Thanks for your great work!

[2015-07-22 11:04] #263 closed

[2015-07-22 12:10] addyosmani commented on #263
:+1:

[2015-07-22 19:25] benjaminapetersen opened #265 "Question about larger scale routing/rendering"
I'm curious to know if there are is a Polymer component for routing/rendering for larger scale projects. I'm thinking something along the lines of Angular's `ng-view` directive.  If it does exist or if there is a recommendation I'd love to see it in the starter kit.   `<iron-pages>` works off of a show/hide mechanism.  I'm guessing this would eventually have scaling issues.

To test the current ex

[2015-07-22 19:28] cnbuff410 commented on #265
\sub

[2015-07-23 00:45] gertcuykens commented on #264
doesn't matter, don't need it anymore

[2015-07-23 00:45] #264 closed

[2015-07-23 05:17] EdVaIl commented on #265
Try to use the https://github.com/Plastikit/plastik-lazy-route-selector with the https://github.com/PolymerLabs/more-routing

[2015-07-23 07:36] donflopez commented on #265
We are made [steroid-polyter](https://github.com/bquarks/steroid-polyter) to solve this problem, we load only the page that is necessary, we have layout schema and the use of Polymer Elements like extensions, without attach them into the DOM maintaining his live across the routes.

The router also have some hooks like before (before instantiate the element), action (just before attach it to the do

[2015-07-23 11:51] totrash commented on #239
It`s because a misssing .bowerrc file in latest 1.0.3 release ......

Quick fix is to add .bowerrc file in main folder (polymer-starter-kit-1.0.3)(the one with bower.json file)
and it should contain:

<code class="js">
{
  "directory": "app/bower_components"
}
</code>

You can delete existing bower_components folder in main folder and then run

<code class="js">
bower install....
</code>

P.S Of c

[2015-07-23 15:57] Frikki opened #267 "main.css vs app-theme.html"
I am a bit confused about the purposes of these two files. I am aware that `app-theme.html` is a stylesheet shimmed with custom props by `custom style`, while `main.css` isn’t. But couldn’t every style block be in `app-theme.html`? Why have `main.css` unless for the purpose of critical style blocks that affect the page before elements are loaded, and is that its sole purpose?

[2015-07-24 10:13] arthurvr commented on #182
Finally! :wink:  #268

[2015-07-24 10:15] arthurvr commented on #227
@addyosmani Any update on this?

Yes, I agree. Though it's up to the Lawyercats.

[2015-07-24 10:24] chuckh commented on #182
LGTM!

[2015-07-24 12:01] chuckh commented on #237
@kenjitayama thanks for the PR. I tested this on iOS and on desktop Chrome. It fixes this issue but:

1. If you right click on the menu item to open in new tab it takes you to a blank page
2. If you hover of the menu item it shows  `javascript:void(0)` as the link instead of `localhost:3000/ or localhost:3000/users` etc.

## Another possible solution is to:

remove  `on-iron-select="onMenuSelect"`

[2015-07-24 12:34] SayChunKim commented on #154
Is this paper-dialog modal which has been questioned for?

i used
1) document.querySelector('#dialog').toggle(); for enabling toggle for paper-dialog id '#dialog'
2) add paper-dialog items under div class="content"

Output:
![screenshot from 2015-07-24 20 24 37](https://cloud.githubusercontent.com/assets/7574227/8874323/5c3aeb18-3242-11e5-8df4-fb9986524ff6.png)

Reference from F12 Dev-Tools https:

[2015-07-24 13:41] #182 closed

[2015-07-24 15:47] kenjitayama commented on #237
@chuckh
I tried your solution, and worked perfectly!

Rename looks good to me too.

Thanks for the solution!
PSK is helping me build my app a lot!

cc: @addyosmani

[2015-07-24 17:53] arthurvr opened #270 "Code style issues"
We deliver JSCS, so let's make it pass by default too :)

[code]

Besides from that, I'd like to discuss if there's a way we can lint scripts inside of `<script>` tags. That's IMHO a missing piece of tooling at the moment. With polymer and web components in general, you end up writing a bunch of inline scripts and it's difficult to lint those. Thoughts?

[2015-07-24 18:04] emersonbottero opened #271 "Fullbleed creates an extra scroller"
I don`t think it is the correct behavior, if you remove fullbleed from line 58 it works using the hole area but without the extra scroller.

[2015-07-24 22:55] gertcuykens opened #272 ".paper-font-display1"
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/styles/app-theme.html#L143

For me its very confusing if your app theme is overwriting material design values from paper-styles.

[code]

Recommend to style something else to show case instead of overwriting recommended material design styles.

[2015-07-25 03:32] plusCubed commented on #257
Experiencing this as well. I downloaded the starter kit, worked on my project, built, etc. The images were copying fine. Then I renamed the folder to something other than "polymer-starter-kit". When running `gulp serve` or just `gulp`, it copies the images into "polymer-starter-kit/dist/images" instead of "new-name/dist/images". This makes me think it's caching the directory name somewhere.

I am

[2015-07-25 06:44] gertcuykens opened #273 "default design"
1) Menu should draw back sooner by default els you get this

![image](https://cloud.githubusercontent.com/assets/863731/8888302/a5e33368-32a8-11e5-8349-8345cd628b8f.png)

2) No use to set the blue header app title smaller if the blue header height itself stays at the same height?

![image](https://cloud.githubusercontent.com/assets/863731/8888307/ca2f18b8-32a8-11e5-98c3-e06ba0f3752d.png)

![image]

[2015-07-25 07:56] gertcuykens opened #274 "resize header bug"
When you resize the window width while condensed, the title app is displayed wrong
![image](https://cloud.githubusercontent.com/assets/863731/8888571/1930dc44-32b3-11e5-8325-c22a0838e475.png)

[2015-07-25 14:57] DmitryAuine opened #275 "Tester error while installation"
npm ERR! Linux 3.13.0-24-generic
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "web-component-tester"
npm ERR! node v0.12.7
npm ERR! npm  v2.11.3
npm ERR! file /home/auine/.npm/wordwrap/0.0.3/package/package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to parse json
npm ERR! No data, empty input at 1:1
npm ERR!
npm ERR! ^
npm ERR! File: /home/auine/.npm/wordwrap/0.0.3/packag

[2015-07-25 15:15] DmitryAuine commented on #275
yeah it's becouse of wordwrap

[2015-07-25 15:23] DmitryAuine commented on #275
Clean cache did help ;)

[2015-07-25 15:23] #275 closed

[2015-07-25 21:56] gertcuykens opened #276 "safari click menu bug"
You need to press twice on a menu item in safari before it selects the page when the menu is expanded.
First its colours grey and then it colours bleu on the second click and go's to the page.

![image](https://cloud.githubusercontent.com/assets/863731/8891402/3ae3b4c2-3328-11e5-9fe5-005c9715e016.png)

[2015-07-25 21:59] arthurvr commented on #276
Looks similar to https://github.com/PolymerElements/polymer-starter-kit/issues/166.

[2015-07-25 22:15] gertcuykens commented on #276
Yes looks the same but why is the other one closed?

[2015-07-25 22:20] gertcuykens commented on #166
Can you remove the question tag please and mark it bug please preferably p0 :p

[2015-07-26 00:16] gertcuykens commented on #166
Does not fix the problem in Safari

[code]

[2015-07-26 04:23] cnbuff410 commented on #276
Also ran into this. +1

[2015-07-26 11:47] HintikkaKimmo opened #277 "Component load issues"
Not sure or working as intended, but I have issue with element that I removed from the page but left to elements.html file.

I added cc-gold-input element with Bower install --save (file is in my bower folder) to tested it on the page and then removed the tag from the page but left it in elements.html causing page to start loading constantly and showing console messages indicating failed load on c

[2015-07-26 14:25] chuckh commented on #166
It looks like this is a bug with `paper-menu`.  See paper-menu issues:  https://github.com/PolymerElements/paper-menu/issues/27 and https://github.com/PolymerElements/paper-menu/issues/31.

[2015-07-26 14:25] chuckh commented on #276
It looks like this is a bug with `paper-menu`.  See paper-menu issues:  https://github.com/PolymerElements/paper-menu/issues/27 and https://github.com/PolymerElements/paper-menu/issues/31.

[2015-07-26 15:22] maria-le opened #278 "<firebase-element> appears deprecated"
##### The current version of the PSK appears to use a deprecated version of `<firebase-element>`.

I think this because the [Polymer-Project  site](https://elements.polymer-project.org/elements/firebase-element?active=firebase-collection) seems to describe a different version of `<firebase-element>` than the one being used in the current release of PSK.

For example, the site version uses an eleme

[2015-07-26 15:37] chuckh commented on #278
PSK does not currently use firebase-element.

[2015-07-26 15:50] DmitryAuine opened #279 "Design issue"
For example if we use dom=shadow, styles of left-bar are diffrent

[2015-07-26 16:07] flaiker commented on #257
Just looked at it again, definitely caching. Once I clear gulp-cache it works fine. However, I have to clear the cache every time something changes in app/images, otherwise changes won't be reflected in dist/.

To clear the cache you can follow these instructions:
https://github.com/jgable/gulp-cache/blob/master/README.md#clearing-the-cache

I do however not think this is intended behavior and thi

[2015-07-26 16:26] cnbuff410 commented on #276
@chuckh It's a very annoying bug affecting pretty much ALL the site using paper-menu. Do you know if there is anyone in the paper-menu team working on this?

[2015-07-26 16:37] arthurvr commented on #276
@cnbuff410 Everybody is free to submit a PR. On the while, `+1`, :+1: and alike comments are not going to help ;)

[2015-07-26 16:43] cnbuff410 commented on #276
@arthurvr I disagree. Not everyone who use Polymer or PSK have time or capability to find the bug and make necessary changes. +1, :+1: and alike comments are used for those people to express their desire for a certain issue. It's related to how the team, and the contributors, should prioritize things.

[2015-07-26 17:02] robbbz commented on #276
Keep in mind that on every such comment ([you're not the only one](https://github.com/isaacs/github/issues/18#issuecomment-29502779)) everybody gets a mail. Sometimes hunderds of people get an email, while they're not the right one to solve the issue.

@cnbuff410 And sometimes the team doesn't have eighter. Remember that you're using free and open source software, and thus, not have the right to c

[2015-07-26 17:39] cnbuff410 commented on #276
@robbbz It's silly to say that we, as users of Polymer and PSK, don't have right to complain.

Here is the thing, we are not complaining about the bug itself. At least for me, there are a couple of road blocking issues in Polymer to prevent me from rolling out my service to my customer, so I just want to know if people in the team are aware of this problem, and if it's in the queue of their task,

[2015-07-26 17:49] arthurvr commented on #276
Let's close this as a duplicate of #166. It's another browser but essentially the same bug.

@robbbz @cnbuff410 Although I still think +1 comments are useless, discussing this adds way more noise and is off-topic. I never wanted it to escalate like this and let's not discuss it here too ;)

[2015-07-26 17:59] robbbz commented on #276
You have the right to complain, but do it in a constructive matter. No open source maintainer likes +1 comments. Mostly it's just the reason to [lock](https://github.com/gulpjs/gulp/issues/893#issuecomment-73796385) discussions instead. There are hunderds of examples out there.

I'll say it again, if a ticket is soo important for you, just fix it yourself. Else, be patient and wait a few days. Hav

[2015-07-26 22:42] #278 closed

[2015-07-26 22:43] maria-le commented on #278
Yeah. I just noticed that. I think I was looking at an old version of PSK.

[2015-07-27 07:06] HintikkaKimmo commented on #277
I belive my starter project was somehow broken as with new starter project I cannot replicate this so closed.

[2015-07-27 07:06] #277 closed

[2015-07-27 11:37] DannieBGoode commented on #202
Work around until it gets fixed:

setting manually document.getElementById("mainContainer").scrollTop = 0 will scroll back up.

[2015-07-27 12:23] crhym3 opened #280 ".tmp dir feels confusing"
I spent a good chunk of time to understand where my generated files were and finally realized there's a `.tmp` dir.

I find it quite confusing. Wouldn't it be better to just generate stuff where it belongs to, in `app/` dir?

[2015-07-27 12:26] arthurvr commented on #280
That's exactly the point of the `.tmp` directory, not to clutter the actual source files (in `app/`). `.tmp` is where it deserves IMHO. We could document it better, though there shouldn't be a reason to see the compiled files.

[2015-07-27 14:11] vguillou commented on #260
Should be closed now that f3bb4a3 landed. :+1:

[2015-07-27 14:11] arthurvr commented on #260
Yep, let's close it.

[2015-07-27 14:14] benjaminapetersen commented on #265
Yeah, this is definitely about the prescribed way to scale an app.  There are some good third party options, but I'm thinking there must be a "recommended default" using core polymer components to answer this architectural question.  Its more or less about knowing where to put controller/glue code and how to make the lifecycle methods useful.

[2015-07-27 14:16] #260 closed

[2015-07-27 18:48] DmitryAuine opened #281 "iron-list needs to be added in the next build"
iron-list needs to be added in the next build

[2015-07-27 18:53] crhym3 commented on #280
That's exactly the point I'm arguing against: I don't find it cluttering.
Just wondering, what opinions of others are.

[2015-07-27 19:15] crhym3 commented on #280
Or rather, I find that `.tmp` introduces more problems than it's trying to solve.

[2015-07-27 19:20] arthurvr commented on #280
I think there should be a clear distinction between the actual source code (`app/`) and the compiled code,  it might end up confusing if there isn't. Definitely given that many people might be using PSK without knowing much about how a build pipeline and preprocessing works.

That said, if there's isn't a clear distinction, it's also going to end up difficult to develop the actual build pipeline.

[2015-07-27 19:27] robbbz commented on #280
I'm with @arthurvr on this one. :-1:

For starters, having no clear distinction between the two may not be a problem for development of the actual build system, but keep in mind that many people who know less about things like this also need to be able to extend the build system after downloading PSK. I bet oftentimes there are tiny (or bigger) things that people want to change.

Secondly this is

[2015-07-27 19:40] crhym3 commented on #280
So, I've gathered two points from the comments so far:

* it's easier that way for people who are just getting started
* it is consistent with WSK and yeoman generators.

I'd love to hear some arguments that involve people who's already far along + something more general than yeoman as that is just a means, an implementation detail.

Things that `.tmp` makes worse in my case:

* harder to have a c

[2015-07-27 19:51] arthurvr commented on #280
IMHO, not only for people that are just getting started. Those are compiled files and you're simply supposed not to care about them, except if you use the actual build process to publish the app, but then everything will end up in `dist/`.

IMHO that doesn't really matter. If the build process is doing alright, you never have to know where those files are and never have to see them. Having non-sou

[2015-07-27 19:53] robbbz commented on #280
I was about to comment nearly the same, but then @arthurvr did it for me. :p To me, the disadvantages you listed there don't really make sense to me as you not ever want to touch/see those files.

Indeed. Same here.

[2015-07-27 20:39] crhym3 opened #282 "Suggestion: remove web-component-tester as a dev dep"
This would cut off about 150Mb from node_modules after "npm install".

Plus, web-component-tester [suggests](https://github.com/Polymer/web-component-tester#running-your-tests) installing `wct` globally anyway, which currently makes unnecessary copies of web-component-tester package.

Users can alway execute `wct` to run tests, when installed globally.

/cc @devnook

[2015-07-27 20:44] arthurvr commented on #282
:-1: When you install WCT globally, you have to use a specific version everywhere on all your projects. Now, if you run `npm test`, it uses the project-specific version. That's important as the versions of WCT your test suite is compatible with might not be the same in all projects.

Besides from that global installs aren't possible in every environment and many people have trouble with permission

[2015-07-27 20:45] arthurvr commented on #282
And that's honestly something I think should change.

[2015-07-27 20:47] robbbz commented on #282
What @arthurvr said is a really valid and important concern. NPM is designed like that for a reason, and don't try to force the system.

Years ago it was considered best practice to install `mocha` globally, we had to stop doing that for exactly the same reason after Mocha 2. I don't want Polymer to fall into the same trap.

[2015-07-27 21:01] crhym3 commented on #282
Are you saying things like `bower` and maybe even `npm` should be installed locally as well? I've seen `{npm,bower} install` failng so many times to install a specific package and the "fix" was to upgrade/downgrade the tool version.

[2015-07-28 02:40] sfeast opened #283 "Mixins applied to an element from an external stylesheet are missing in builds"
Here's one way to reproduce:

1) Define a custom mixin in app-theme.html in the :root selector. Something like:
[code]
2) Move the styles in my-greeting.html to an external stylesheet (such as my-greeting.css).
3) Apply the mixin as described here - https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-css-mixins to your my-greeting.css. For example you can do:
[code]

Result:
When

[2015-07-28 04:56] devAtPolydeals commented on #283
@sfeast  Does it work from the app directory? I doubt external sytlesheets will work with mixins, just because css doesn't know about mixins and I don't know if Polymer will flatten the css before it renders the page. You can try making it an HTML file and load Polymer and CSS in that HTML file, I am guessing this might work.

[2015-07-28 06:38] jannakha commented on #280
here's a great training video why stuff is where it is:
http://www.pluralsight.com/courses/javascript-build-automation-gulpjs

[2015-07-28 07:18] crhym3 commented on #280
Thanks Janna, but that video seems to be locked down under a subscription.

Anyway, I'd love for someone to address the downsides I mentioned in my
list.
On 28 Jul 2015 7:38 am, "Janna" <notifications@github.com> wrote:

[2015-07-28 09:36] addyosmani commented on #270
+1

The majority of modern JS tools assume they'll be operating directly against script rather than content that is inline. It's one of the reasons I had to write https://github.com/addyosmani/oust to extract inline `<script>` so that it could be passed on to something like JSCS/JSHint and then have the result returned. I'd prefer core tools tackled this themselves though.

I've made the case for

[2015-07-28 09:39] addyosmani commented on #267
The purpose of `main.css` is to define styles that can be applied outside of Polymer's custom CSS properties implementation. Some of the use-cases include defining styles that you want to be applied for a splash screen, styles for your application 'shell' before it gets upgraded using Polymer or as you mentioned, critical style blocks that you want parsed before your elements are.

[2015-07-28 09:40] addyosmani commented on #271
Do you have a test case that reproduces this that you can share? Even if it's just the output of your index.html file, that should be enough for us to test what you're seeing.

[2015-07-28 09:43] arthurvr commented on #270
On a slightly related note: would we (PSK and WSK) consider switching to ESLint instead of JSHint + JSCS one day? We've moved some Yeoman generators (gulp-webapp too) to ESLint recently. I'm asking this now as if we'd consider that it doesn't make much sense anymore to do research specific to JSCS.

+1. Oust is great to do linting, but it only works one direction. I can't use features like `jscs -

[2015-07-28 09:44] addyosmani commented on #272
Material Design does not define responsive typography at present which means that `recommended` in this context is unfortunately limited. What you get with paper-styles doesn't yet take responsiveness into account, meaning `paper-font-display1` will always mean the same thing regardless of context.

We can either stay with our current approach or define a class that gets the job done but doesn't s

[2015-07-28 09:53] Frikki commented on #280
@crhym3 LEt me try to address the downsides mentioned in your list

You do have a consistent view of your app, which is in your `app` directory. Whichever temporary files are created during a development build process is irrelevant to your consistent view, because what is in the `app` directory *is* your app.

The express server, for example, allows to specify multiple directories to serve static

[2015-07-28 09:53] robbbz commented on #282
@crhym3 No, because npm isn't a direct dependency, it's a development tool. WCT **does** make breaking changes and we can't always (and don't always need to be) up to date. And I know in many cases a global installation works fine, but not when things scale up. You quickly see various people on your project with other versions of WCT, other error messages, and difficulties to debug together.

As t

[2015-07-28 09:58] robbbz commented on #280
Then I feel like you're totally ignoring @arthurvr's comment.

Yes, and WSK even takes adventage of that feature. Because bower_components lives in [the root](http://yeoman.io/blog/bower_components-in-project-root.html), the app won't work with a simple server there anyway.

Yeah, if a tool is limited to "this is a directory and that should be your website", then that tool is honestly total crap.

[2015-07-28 10:00] addyosmani commented on #281
iron-list is included in https://github.com/PolymerElements/iron-elements/blob/master/bower.json (1.0.3) so we should get this by bumping the element set in the next release.

[2015-07-28 10:02] addyosmani commented on #279
To help us understand what's breaking here, can you provide some more details? For example, screenshots of what styles you're referring to in the left hand bar are different?

[2015-07-28 10:03] addyosmani commented on #276
Closing as a dupe of #166.

[2015-07-28 10:03] #276 closed

[2015-07-28 10:05] Frikki commented on #280
@robbbz It is a bit confusing when you quote both @crhym3 and me in the same comment without referring to which the quote belongs. Initially, I thought you were suggesting that _I_ was totally ignoring @arthurvr’s comment.

[2015-07-28 10:11] twixie commented on #280
My opinions here don't make too much sense and feel free to ignore them, but I think the points @Frikki listed are really valid (and in fact a reiteration of what @arthuvr said)

I don't understand why you care about seeing the compiled files. The `app` folder **is** your app. The rest is temporary things you never, ever have to change or even see. They're temporary (as clearly pointed out by the

[2015-07-28 10:13] robbbz commented on #280
Accept my apologies. It's 4AM here and I just came from a plane. I meant to quote the following part:

[2015-07-28 10:21] addyosmani commented on #270
I was just pointed to https://github.com/jscs-dev/node-jscs/pull/1038 which is quite relevant to us here :)

[2015-07-28 10:26] Frikki commented on #280
@robbbz No worries.

[2015-07-28 10:41] crhym3 commented on #280
You keep saying "temporary" or "compiled" files but they are not. Compiled is what ends up in `dist` in my view. The result of turning a sass file into an uncompressed css is as good as any other source file.

I could also have other [third party] css (not sass) in app/styles, or generate an html file with some external tool. Should that all end up in the .tmp dir? That's just feels wrong, to have

[2015-07-28 10:46] crhym3 commented on #282
Your argument just seems like a workaround for a tool that "makes breaking changes".

It's insane that one ends up with hundreds of megs of npm packages just to build a simple few pages website.

[2015-07-28 10:52] crhym3 commented on #280
Starting from as simple as uploading an uncompressed version (note: different from `dist` contents) to a staging or test server. It is much simpler if you have one root directory and just copy everything to a remote location.

[2015-07-28 10:59] robbbz commented on #280
Yes, for production. But the `.tmp` is where files get compiled to for development. There's, as @twixie said, "temporary things you never,  ever have to change or even see"

Yes. And honestly, I hope you won't take any offense by that, but if you have third-party/generated things in your `app` you're doing it wrong. That's where package managers (like bower) and build systems are for.

I'm going t

[2015-07-28 11:03] robbbz commented on #280
Can I also point out that the way we're doing it is the same as nearly every build system, and the way recommended in the Gulp documentation? For me that's argument enough to think that people are going to be confused when we do it @crhym3's way.

[2015-07-28 11:04] crhym3 commented on #280
I wasn't trying to fix anything, just expressed my opinion.

At the end this thread seems to boil down to "you're doing to wrong". I think it's good enough for me to just close this issue, then.

[2015-07-28 11:04] #280 closed

[2015-07-28 11:05] robbbz commented on #282
No, that's the way a package manager works and that's a feature, not a problem.

No, I'm just trying to point out why npm is made this way and why you shouldn't abuse the system.

[2015-07-28 11:17] crhym3 commented on #282
Well, I guess there's nothing else left to discuss if a feature is what it's called. Thanks.

[2015-07-28 11:17] #282 closed

[2015-07-28 11:29] arthurvr commented on #282
This isn't abusing the system. npm has global packages for a reason, too.

It basically boils down to eighter you prefer being safe with a specific version and no global installation, or you prefer bytes (speed) and easiness. I prefer the former but it's just a preference. The latter is a perfectly valid argument too.

[2015-07-28 17:43] sfeast commented on #283
@devAtPolydeals I think you're asking me if mixins work when served (```gulp serve``` for example) & if so the answer is yes they do work in that case.

The problem seems to be that some step in the build process is filtering out the @apply statements from the css since they are missing in elements.vulcanized.html (just using the default build process here). If I manually add them back in then thi

[2015-07-28 19:15] Frikki commented on #280
@crhym3 As a final comment, leaving aside the discussion on external tools but focusing on the uncompressed version you’d like to upload, for whatever reason, I think this requirement lies beyond the scope of the PSK. In such a case, I would suggest you add a new gulp task to suit your needs. Basically, doing the same as the `default` task, but leave out any compression, etc.

[2015-07-28 20:22] Frikki opened #284 "Routing, page.js, and hashbang"
For whatever reason `page.js` has been chosen as default router, the `hashbang` option is really buggy. `page.js` is even considering removing this feature, see https://github.com/visionmedia/page.js/issues/229

It would probably be wise to leave the `hashbang` option out of `routing.html`.

[2015-07-29 01:50] emersonbottero commented on #271
just run the Polymer starter Kit as it is and you will see!
run gulp serve in it whitout any changes! Only in chrome in windows!
![psk](https://cloud.githubusercontent.com/assets/12377432/8948208/ed7c33bc-357a-11e5-9548-91c58c4514c0.png)

[2015-07-29 08:54] addyosmani commented on #271
Ah! Can repro in Chrome for Windows. Marking as a bug. This may end up being an upstream issue but we'll investigate further.

[2015-07-29 09:06] SayChunKim opened #285 "Paper-scroll-header-panel"
When switching the pages through menu, the content  doesn't reset back to initial height and paper-scroll-header-panel doesn't back to form that it hasn't condenses. Any solutions/workaround for now?

Version: 1.0.3

[2015-07-29 09:15] SayChunKim commented on #271
Try uncomment the height:900px of the content in app-theme.html instead of removing fullbleed, see whether problem reproduced? @emersonbottero

[2015-07-29 09:17] SayChunKim commented on #274
Which version of PSK? That could be issue of id of container or app.js code error.

Hope helps

[2015-07-29 10:04] flaiker commented on #285
See #202, a workaround is mentioned

[2015-07-29 22:02] jptrainor opened #286 "improved layout example"
The [0.5 layout documentation] (https://www.polymer-project.org/0.5/docs/polymer/layout-attrs.html) is not correct for 1.0. There is no 1.0 documentation, yet, other than the iron-flex-layout demo code (which newcomers may not head to as their first step - I know I didn't!). To help point developers in the right direction consider adding a more complex layout example to one of the starter kit's cu

[2015-07-29 23:10] emersonbottero commented on #271
still the same after removing
height:900px

[2015-07-30 02:46] emersonbottero commented on #286
You still can use styles in classes declarations, but you have to import paper-styles-classes. Not that the complex example is not worthy, but if you are struggling using classes is pretty simple.

[2015-07-30 16:47] jptrainor commented on #286
Thanks for the tip. I see that paper-styles-classes is already included in the elements.html file.  I had not noticed that before, or clued into the fact that it links iron-flex-layout.

Adding layout css to one or both of the starter kit custom elements would help those who are introducing themselves to polymer via the starter kit. Issues of layout have to be addressed nearly immediately by anyon

[2015-07-30 18:22] addyosmani commented on #285
From that issue:

Let's file this as a bug and aim to land a workaround/fix for 1.0.4.

[2015-07-30 18:27] addyosmani commented on #252
You can use MDL and PSK together, but this repo doesn't aim to provide guidance on this just yet. We do plan on eventually bringing some of the things you see in MDL (grids, templates) over to Polymer however that's TBD timeline wise :)

[2015-07-30 18:27] #252 closed

[2015-07-30 19:34] moderndeveloperllc commented on #230
@addyosmani I'll hold off on doing any of this till after y'all decide on polybuild or not. I'm guessing this can either be an additional command like `default:versioned`, or just a comment like `precache` is now.

[2015-07-30 22:24] gertcuykens commented on #274
master version, ps does it work for you? When you resize chrome horizontally while condenstated?

[2015-07-31 08:54] addyosmani commented on #178
We're going to start work on integrating performance patterns from 1.0.4 onwards, starting with async loading the Web Component polyfills. We may look at async loading the element bundles after that.

This is how Eric tackled this problems in his PolyMail app: https://github.com/ebidel/polymer-gmail/blob/master/scripts/app.js#L50

[2015-07-31 13:39] SayChunKim commented on #285
SGTM. Thanks ! @addyosmani

[2015-07-31 14:12] moderndeveloperllc commented on #178
@addyosmani The only issue I would have with async polyfill loading is that it makes it very difficult to do any sort of versioning (gulp-rev - #230) or concatenation of the webcomponents.js file with other scripts (using gulp-useref) during the gulp build process. Just something to keep in mind.

[2015-08-01 13:31] bflora2 opened #287 "Edge browser throwing DuplicateDefinitionError"
Microsoft's new Windows 10 Edge browser throws hundreds of "DuplicateDefinitionError"s when loading a page with paper elements. The page is slow to load if Edge does not already have the paper element files cached from a previous visit. The problem can be seen by going to the Starter Kit's paper dialog demo page. On more complex pages the paper elements can fail to render correctly even after Poly

[2015-08-01 23:48] dman777 opened #289 "Gulp tasks should be named functions wrapped and without runSequence"
The gulp tasks have been written against gulp convention.  The true intention of the gulp design is to write regular Javascript functions, and only make the task for calling them. With this format, you would never need `runSequence` which uses(or used to use) `gulp.start()`.

If you need sync, use a promise library like [blue bird performance promise library](https://github.com/petkaantonov/bluebi

[2015-08-02 17:33] ecomuere commented on #51
same problem on ubuntu 15.04.
node v0.12.7
npm 2.13.3

[2015-08-03 15:48] addyosmani commented on #287
Thanks for reporting this. I've been testing on earlier builds of Edge and IE11 but haven't come across these exceptions until now. That said the final Edge shipped with W10 hasn't been tested with PSK and I'll verify the issues.

When you say the paper elements fail to render on more complex pages, are you seeing this independently of PSK too?

[2015-08-03 18:36] polymer-ci commented on #287
This sounds like the same error I was having. Try testing with the
webcomponentsjs on master, as I believe this PR may fix it:
https://github.com/webcomponents/webcomponentsjs/pull/367

On Mon, Aug 3, 2015 at 8:49 AM, Addy Osmani <notifications@github.com>
wrote:

[2015-08-03 20:25] kenny0202 opened #290 "Can't get file error 404"
When running "gulp serve" my application was able to start, but I noticed in the network requests that main.css, web-component-lite.js, app.js and elements.html were all error 404. It is weird because when I checked the file directory all files were there. I have also looked at the paths if it was correct and it is. Any reason or any way I can fix this? Right now the page is being loaded, but disp

[2015-08-04 15:20] celron opened #291 "routing.html is not read"
While the documentation states that to configure routes to modify app/elements/routing.html, this appears not to be picked up by application.

To solve this issue, the contents of routing.html has to be placed in something like app.js

[2015-08-04 16:46] bflora2 commented on #287
No. Interestingly, if I point Edge to the paper demos in the official Polymer catalog, those seem to work fine, so that may provide a nice clue.

Thanks, I'll give that a try today and report back.

[2015-08-04 19:39] bflora2 commented on #287
Bingo! That fixed it. Thanks, Polymer-ci!

[2015-08-04 19:39] #287 closed

[2015-08-04 19:52] jdepypere commented on #291
I don't quite understand the issue. Making changes in `routing.html` does work. Check thay your cache is disabled. Handy for development is when using the Chrome devtools, click the gear icon and check "Disable cache (while DevTools is open)".

[2015-08-05 06:32] nailaandleeb opened #293 "polymer starter kit with angularJS"
i want to implement polymer starter kit with angularjs.simple polymer element alongwith angular_bind_polymer library facilitates "angular to polymer" data binding but not the other way while
trying same with starter kit doesn't do any data binding.any idea regarding how to use awesome starter kit with angular.
????

[2015-08-05 07:10] aarongable opened #294 "Can't get started on v1.0.3"
Below is a shortened console log of what happens when I try to get started with v1.0.3. I haven't confirmed if the same occurs at other versions, but I suspect it does. A full version of the log is available [on pastebin](http://pastebin.com/raw.php?i=WhWBjRTv). The issue is that web-component-tester can't be found, but it's not clear why it can't: the install process seems to proceed just fine fo

[2015-08-05 09:41] vhdirk commented on #294
I'm having the same error.
The issue is that npm install fails for web-component-tester, because one of its dependencies, vargs, cannot be fetched from the npm registry (https://registry.npmjs.org/vargs).

I have yet to find which package relies on vargs, and how to fix this.

[2015-08-05 16:13] danyshaanan commented on #294
Seems vargs has reappeared. Check again.

[2015-08-05 16:17] bflora2 opened #295 "Button highlighted on browser restore"
Scenario: Click a paper elements toolbar icon button and then minimize the browser window to the taskbar. Then restore the browser window. The toolbar button is now inappropriately highlighted. This issue can be seen in IE and Firefox. The [toolbar demo] (https://elements.polymer-project.org/elements/paper-toolbar?view=demo:demo/index.html) at the Polymer catalog is sufficient to demonstrate the i

[2015-08-05 17:01] addyosmani commented on #290
Could you confirm what version of PSK you're using? It's odd that the files are in their expected locations but aren't being correctly served up. I'd also check if this is similarly the case when you just run `gulp` so we have a little more to go on.

[2015-08-05 17:01] addyosmani commented on #295
Is this a PSK specific-issue or an issue with https://github.com/PolymerElements/paper-toolbar? By the sounds of it the issue needs to be reported upstream and we can then bump our dependencies accordingly but will wait for you to confirm :)

[2015-08-05 17:02] addyosmani commented on #294
Confirmed that there was an issue earlier where the package was unavailable. It's since been restored. Tested against master once https://github.com/npm/npm/issues/9168#issuecomment-128034802 was resolved and all appears to be working fine again.

[2015-08-05 17:02] #294 closed

[2015-08-05 17:04] addyosmani commented on #293
Hey @nailaandleeb. We officially don't support using PSK with Angular on this tracker, but you might have some luck trying to integrate https://gabiaxel.github.io/ng-polymer-elements/ directly yourself. It may also be worth asking this question on Stack Overflow as the community there is larger and may indeed include folks who have run into this before.

[2015-08-05 17:04] #293 closed

[2015-08-05 17:05] addyosmani commented on #291
I would echo the comments from @jdepypere above. Changes to routing.html on all supported platforms (Windows, OSX and Linux) should be working fine. Could you confirm you have caching disabled and let us know what browser you're testing in too?

[2015-08-05 20:41] robdodson commented on #295
I think this is an issue with paper-ripple. I've seen it on checkboxes as well when switching tabs

[2015-08-06 01:59] chuckh commented on #272
My lean is to go with defining a class such as `greeting` and replace `paper-font-display1` with it.

All the places paper-font-display1` will need to be replaced to do so: https://github.com/PolymerElements/polymer-starter-kit/search?utf8=%E2%9C%93&q=paper-font-display1.

[2015-08-06 11:33] addyosmani commented on #295
Thanks @robdodson. I think it's an upstream issue too. Will wait on @bflora2 to confirm, but I think this is probably better handled on the ripples repo.

[2015-08-06 15:00] bflora2 commented on #295
I don't think so since the problem can be seen in the toolbar demo of the Polymer catalog. Sorry for the confusion. Is there a preferred place to report paper element issues, or do I need to search through the various PolymerElements projects in Github to try to find the most appropriate one for a particular issue?

[2015-08-06 19:28] sfeast opened #296 "Mixins defined in external stylesheets are stripped from builds"
Similar to https://github.com/PolymerElements/polymer-starter-kit/issues/283 but this is when defining a mixin, for example:

[code]

elements.vulcanized.html will not contain the --paper-button mixin defined here in the corresponding element's style.

[2015-08-06 20:31] calebeby opened #297 "gulp serve doesn't work"
When I run `gulp serve`, it returns:
[code]
I have no idea what this means.

[2015-08-07 01:09] tobiashutterer opened #298 "GOOGLE-CHART Element does not work in polymer-starter-kit"
Do you know why using a GOOGLE-CHART Polymer element in Polymer-Starter-Kit does not work ? It only shows a blank area,

[2015-08-07 01:11] tobiashutterer commented on #298
![image](https://cloud.githubusercontent.com/assets/8007595/9126763/ff0c197e-3cb1-11e5-84a6-e924b3ea8cab.png)

[2015-08-07 01:13] tobiashutterer commented on #298
![image](https://cloud.githubusercontent.com/assets/8007595/9126784/4b10761c-3cb2-11e5-8f9e-0eade4627226.png)

[2015-08-07 01:39] tobiashutterer commented on #298
SOLVED: https://github.com/Polymer/polymer/issues/1734

[2015-08-07 01:39] #298 closed

[2015-08-07 03:15] kenny0202 commented on #290
I am using Polymer Starter Kit 1.0.3.

I am not really sure how to open the "gulped" version of the application properly. As this is how my file structure looks like below. "App" containing the original project not optimized and "dist" is the optimized version. (in the app and dist folder the both contain a bower_components folder with all the elements)

Opening the gulped version with a url of "f

[2015-08-07 10:12] carlosbkm opened #299 "Double click menu issue in Firefox/Safari/Explorer"
The left panel menu works fluid in Chrome and responds to one click as expected. However in Firefox it's necessary to double click on the items to go the corresponding section. In Internet Explorer (last versions) it happens the same, and in Safari the behaviour is quite erratic (sometimes it works with one click, sometimes not).

Do you have any idea why is this happening? Could it be a problem o

[2015-08-07 12:30] PolakAllen opened #300 "iron-collapse not creating expected methods on the DOM"
With the current setup, I'm unable to do a simple <iron-collapse> test. I'm rather confused by this, as there are other working iron components on the page (icons are working). Also I've verified that at least one other component has its expected methods:
[code]

I'm sure I'm doing something wrong, but I have no idea what.

To reproduce, I reverted to fb3df07 had the following diff:
[code]
Clickin

[2015-08-07 14:03] dalu commented on #299
https://github.com/PolymerElements/polymer-starter-kit/issues/166

[2015-08-07 16:16] kenny0202 commented on #297
do a "npm install -g connect-history-api-fallback"

it should install the missing module. If other error occurs then install those other modules as well.

[2015-08-07 19:47] calebeby commented on #297
Running `npm install -g connect-history-api-fallback`returns
`connect-history-api-fallback@1.1.0 /home/caleb/.nvm/versions/node/v0.12.4/lib/node_modules/connect-history-api-fallback`

`gulp serve` still returns:
[code]

[2015-08-07 19:56] calebeby commented on #297
Now I ran `npm install --save connect-history-api-fallback`, and it works now. Thanks for getting me on the right track, @kenny0202

[2015-08-07 19:56] #297 closed

[2015-08-07 20:06] calebeby commented on #239
@totrash I already have a copy of bower_components in the app folder. I don't understand the first part you said.

[2015-08-07 20:07] calebeby commented on #239
@robdodson How do I check the DevTools

[2015-08-07 20:42] robdodson commented on #239
cmd+option+j or ctrl+alt+j i believe. Also View > Developer > JavaScript Console. If there are 404s they should be displayed there.

[2015-08-08 18:17] calebeby commented on #239
Any idea what this means?
![image](https://cloud.githubusercontent.com/assets/13206945/9151648/da002784-3dbe-11e5-81e3-a9d73861f1b2.png)

[2015-08-08 22:28] PolakAllen commented on #300
Yeap, user error. Figured out I wasn't importing the component I needed.

[code]

[2015-08-08 22:28] #300 closed

[2015-08-09 12:04] Frikki commented on #289
:+1:

[2015-08-10 17:43] ktiedt opened #301 "Question: paper-button is all white in content region? Is this due to an override?"
I am using the starter-kit (PSK) as a launchpad for elements that may not have backend support yet to dev against our actual project... and I noticed when I added a <paper-button> that its borders are completely invisible on the white background of the PSK.. if I mouse over the button text, the icon and background become visible and the ripple effect works fine... just surprised to see (or not) th

[2015-08-11 05:54] gazal-k commented on #225
I have the same problem that @Frikki has. I think its a gulp-vulcanize issue rather than a polymer-starter-kit issue though, and different from the issue mentioned by @rowntreerob. Check https://github.com/Polymer/vulcanize/issues/229

[2015-08-11 15:33] robdodson commented on #295
I think I see the problem: https://github.com/PolymerElements/paper-icon-button/issues/25

This may be working as intended to show a returning user their current focus state

[2015-08-11 15:37] robdodson commented on #301
I believe this is working as intended. You can see the demo here: https://elements.polymer-project.org/elements/paper-button?view=demo:demo/index.html

That's just how the material design spec says buttons should behave.

[2015-08-11 15:37] #301 closed

[2015-08-11 15:45] robdodson commented on #239
Are you running `gulp serve:dist` to test the distribution? Polymer requires you use a server to test (this is because HTML Imports us ajax which isn't supported by browsers when you're serving with file:// urls).

To test your source as you edit you can run `gulp serve`. To test the site after it has gone through the gulp build process and been minified/concatenated/optimized you can run `gulp se

[2015-08-11 15:51] robdodson commented on #290
Yeah you can't run a polymer app off a file:// url because the HTML Imports polyfill uses ajax which is not supported for file:// urls. It has to be a local server.

When you run `gulp serve` it's starting up a local server for you and it serves the `app` directory. If you run `gulp serve:dist` it will serve the `dist` directory.

I'm wondering if maybe you're seeing 404s because you opened the ap

[2015-08-11 15:59] robdodson commented on #283
@azakus have you seen this with vulcanize?

[2015-08-11 16:48] bflora2 commented on #295
Hmm... That is not typical of how UI controls normally work. In general, if a UI control displays its focus state then it does so whenever it has focus, not just when the parent app regains focus after focus loss. In my case, this behavior is happening for a toolbar button, and toolbar buttons are rarely designed to display focus, so it looks strange if they do so. At the very least, the programme

[2015-08-11 17:22] sfeast commented on #283
FYI - the culprit seems to be cssmin. I'm not yet very familiar with the details of the default build setup but if you remove

```.pipe($.if('*.css', $.cssmin()))```

from the 'styles' task in gulpfile.js, then although the css does not get minified, it does have the mixins left intact.

Also note that by default cssmin is not applied against any included Polymer elements with external css, so tho

[2015-08-11 17:28] robdodson commented on #295
@bflora2 I did a quick test by adding an anchor element to a page, focusing it with the keyboard, minimizing the browser, and restoring the browser. In that situation, a focus ring remains on the anchor.

However, you don't see this same behavior if you click on the anchor. So it seems like there are different behaviors depending on how you interacting with the element.

cc @blasten @notwaldorf @c

[2015-08-11 17:30] robdodson commented on #283
Hm darn.. that make sense.

@azakus any idea how we could minify <style is="custom-style"> elements appearing in external imports?

[2015-08-11 17:44] ktiedt commented on #301
Ahh thanks @robdodson I suppose I should have checked there, the exmaple I was looking at was all raised.

[2015-08-11 18:52] kenny0202 commented on #290
Ok, So that's why polymer pages never loaded on a local file system. I have been using WAMP this whole time and not gulp. Which works fine, but I wanted to start using the gulp functions as I can eventually vulcanize everything and optimize it. I didn't know you can do gulp serve: dist, to serve other file directories.

I will try the incognito option when I get the time.

Thanks @robdodson and @a

[2015-08-11 20:43] robdodson commented on #290
Yeah to serve the source you'll want to use `gulp serve`. This is especially important because the `bower_components` directory is outside the `app` directory and `gulp serve` makes the paths work out correctly. http://yeoman.io/blog/bower_components-in-project-root.html

When you run `gulp` it all gets combined so you can then serve that from wherever I think

[2015-08-11 20:52] bflora2 commented on #295
@robdodson Now that you mention it, I notice paper icon buttons display focus when you tab to them. But there should be a concept of paper element icon buttons that can not receive focus. For example, if you tab through all the focusable page elements and browser controls in your browser you will notice the browser's toolbar buttons never receive focus because they are not focusable controls. That

[2015-08-11 21:00] robdodson commented on #295
Your first point doesn't seem correct. If you look at any control element, `<a>`, `<button>`, `<input>`, they're all implicitly focusable.

If you want something to be non-focusable you can add `tabindex=-1`. But it sounds like you want to distinguish between mouse and keyboard focus, and *not* apply focus states if it came from a mouse. You absolutely must apply focus states if it came from a key

[2015-08-11 22:11] azakus commented on #283
@robdodson No, I've yet to find a good way to minimize CSS that doesn't blow stuff up.

[2015-08-11 22:39] calebeby commented on #239
@robdodson Thanks! That helps a lot.

[2015-08-11 22:39] #239 closed

[2015-08-11 23:05] bflora2 commented on #295
Correct, and that's fine. But my point is that some UI controls, such as toolbar buttons, are typically not focusable. For example, you can't focus the buttons on your browser's toolbar via keyboard or mouse.

Ah, yes, that's it. Thank you!

That doesn't apply to toolbar buttons because those controls are designed for mice only. Again, you will see that your browser's toolbar buttons can not be fo

[2015-08-12 01:50] kenny0202 commented on #290
@robdodson

So I tested the PSK gulp serve localhost:3000 in an incognito browser. It seems that the 4 files are displaying error 404.

[2015-08-12 17:59] robdodson commented on #295
That's because the browser's UI is not written in HTML. If you're building a web app, in HTML, and you have a toolbar, then the buttons should have focus states of some kind. Perhaps I'm not understanding what you mean when you say 'toolbar'.

Using Google Drive as an example, I consider their top row of buttons a toolbar, and you can tab through those to focus them.

ex:

![screen shot 2015-08-12

[2015-08-12 18:03] robdodson commented on #290
that's pretty weird. You've verified the files are in the right spot? Can you post a screenshot of the console?

[2015-08-12 18:22] alice commented on #295
@bflora2 I think you're mistaken about toolbar buttons generally not being focusable. @robdodson pointed out Google Drive; you can also see this in Google Docs if you move focus away from the text input area by clicking on a menu or pressing Alt+F, and then pressing Tab a few times. You'll see that they carefully manage what is focusable: the menus as a whole are one tab stop, with arrow keys allo

[2015-08-12 19:41] bflora2 commented on #295
Granted, my programming experience is mainly in the desktop world where the expectation of toolbar button behavior is somewhat different. And unfortunately, my reference to the browser's toolbar button behavior has caused a drift away from the *original* issue...

Let's look at the Google Docs toolbar since you referenced that as a proper example: If I keyboard over to the Undo toolbar icon button

[2015-08-12 19:43] oswaldomilet opened #305 "Isn't Polymer for Windows developers?"
Hi guys,

Since version 0.5 I had problems with environment setup to develop using Polymer. Now, my dream is to use Polymer (conceptually is the best tool for developers I guess) with Visual Studio (which for me is the best IDE). However, I always give up on installation. Have you (PSK creators) tried to use this in a Windows machine or are you targeting only OSX/Linux developers?

First, I realiz

[2015-08-12 19:50] robdodson commented on #295
The expectation shouldn't be different, that's kinda what I was getting at
above when I mentioned the need to distinguish between mouse and keyboard
focus. Right now it seems that paper-icon-button is being overly aggressive
with mouse focus states and that should probably be tweaked. If you want to
work around it in your own app I think you can use the style selector I
provided (or some variation

[2015-08-12 20:05] bflora2 commented on #295
Sounds good.

Thank you (and Alice) for your detailed responses. I really like the look and feel paper elements lend to my new project, and I appreciate the great work you folks are doing!

[2015-08-13 00:53] kenny0202 commented on #290
@robdodson

Yup. The files are in the right directory.

Here is the screenshot.

![polymer](https://cloud.githubusercontent.com/assets/4167259/9240426/06102e3c-411b-11e5-85ac-de16f53580f8.png)

[2015-08-13 01:01] robdodson commented on #290
hm those URLs look wrong, it shouldn't be `localhost:3000/starter/app/styles/main.css`, it should just be `localhost:3000/styles/main.css`. Did you change the URLs in the source when you were previously trying to launch the site with WAMP?

[2015-08-13 02:48] kenny0202 commented on #290
oh ok, I found the problem. It is because I changed the base url for routing purposes. I had this at the top of index.html.  (base href="/starter/app/") for making url routing cleaner.

[2015-08-13 02:59] robdodson commented on #290
For routing you should be able to use routes like `/foo` without needing the base url bit. Going to close this issue since I think we've found the culprit.

[2015-08-13 03:00] kenny0202 commented on #290
@robdodson  Thank you so much for the help and your time as well.

[2015-08-13 03:01] robdodson commented on #290
sure thing :)

[2015-08-13 03:01] #290 closed

[2015-08-13 06:16] himalikiran commented on #142
I made little adjustment to data-route section of index.html to work with hasbang (#!):
```Replace "./" to "#!/" in href of users and contacts.```

[2015-08-13 20:44] leoj3n opened #308 "Paths to bower_components... routing.html ≠ elements.html"
Regarding paths to bower_components, [routing.html#L11](https://github.com/PolymerElements/polymer-starter-kit/blob/5a4663df3b169798af56300973bf46be360238f0/app/elements/routing.html#L11) and [elements.html#L12](https://github.com/PolymerElements/polymer-starter-kit/blob/5a4663df3b169798af56300973bf46be360238f0/app/elements/elements.html#L12) differ.

To build a working Cordova app, I changed `../

[2015-08-14 02:00] kenny0202 commented on #290
Sorry to bother again. So I have a iron-form in my application that has an action to scripts/addPost.php as well as an iron-ajax that has url to scripts/getPost.php they both return 404 even though the files are there. This occurs when I run gulp serve, wamp on the other hand works fine.

[2015-08-14 02:13] robdodson commented on #290
gulp serve isn't going to run a php server so those files won't get interpreted. If you really need php support then you'll want to probably do everything in wamp and then make sure that when someone requests something from bower_components that it routes that request to the right directory and serves the correct static content.

Since this isn't an issue with the library I'd suggest opening a Sta

[2015-08-14 08:04] addyosmani commented on #308
@chuckh would you have some time to help confirm this issue? We've got two PRs open regarding routing/page.js paths (https://github.com/PolymerElements/polymer-starter-kit/pull/306, https://github.com/PolymerElements/polymer-starter-kit/pull/303), however as far as I can tell this isn't actually required. The full and lite versions of PSK refer to different bower paths for page.js which might be w

[2015-08-14 10:17] vorcigernix commented on #166
Fixed in firefox by using icon-item:
[code]

[2015-08-14 18:50] chuckh commented on #308
@addyosmani I will take a look at later today or tomorrow.

[2015-08-17 13:34] chuckh commented on #308
@addyosmani I tested both ways in Chrome and Firefox and it worked ok for me. I do think we should change `<script src="../../bower_components/page/page.js"></script>` to `<script src="../bower_components/page/page.js"></script>` so it is consistent with elements.html.

[2015-08-17 13:45] addyosmani commented on #308
@chuckh Thanks for taking a look. I'm personally fine with us making that change for consistency sakes.

[2015-08-18 14:21] mcnameej commented on #305
Couple of thoughts...

__(1) This is a general problem of node/npm on Windows and isn't unique to Polymer.__

Node modules that include native code need to compile/link that code during ``npm install``, which means having a C++ toolchain available.  This isn't a big deal on POSIX, but can be a major hassle on Windows.  The only good news is that it's a one-time hassle, and once you get it working

[2015-08-18 14:57] addyosmani commented on #308
@chuckh Assigned this one to you for now in case you get a chance to update. I'm going to go through the PR backlog next then try to land support for polybuild.

[2015-08-18 14:59] addyosmani opened #312 "Explore support for polybuild"
https://github.com/polymerlabs/polybuild

[2015-08-18 15:51] addyosmani opened #313 "Explore support for conditionally & async loading Web Component polyfills"
As part of #178 :zap: :zap: :zap:

References:
* https://aerotwist.com/blog/polymer-for-the-performance-obsessed/
* https://github.com/ebidel/polymer-gmail/blob/master/scripts/app.js#L50

and there's Glen Madderns's snippet:

[code]

[2015-08-18 15:51] addyosmani commented on #313
@samccone Interested in me assigning this one to you?

[2015-08-18 15:52] samccone commented on #313
sure thing @addyosmani

[2015-08-18 15:55] addyosmani commented on #313
Awesome. Just invited you. Will assign once it's been accepted.

[2015-08-18 16:04] arthurvr commented on #312
Sounds like something not really suitable for a minor release (looking at the milestone), though totally :+1:. Would be really cool if it can simplify stuff and make our build process more robust.

[2015-08-18 16:08] arthurvr commented on #305
The error you're getting looks like a problem with Browsersync, not directly with PSK's setup.

PSK totally wants to be cross-platform :)

We try hard to avoid them as we know they can be a pain, but in this case we don't use them directly and it's a really common dependency so I'd classify this more as an issue with your local setup than a PSK issue. FWIW, I was able to setup everything on Window

[2015-08-18 16:08] arthurvr commented on #308
Sounds good. :+1:

[2015-08-18 16:09] arthurvr commented on #313
Really cool!

[2015-08-18 16:09] arthurvr commented on #313
@addyosmani Is the milestone correct? Sounds like something for at least a minor release ;)

[2015-08-18 16:10] arthurvr commented on #299
Duplicate of #166, as @dalu pointed out. Let's close this issue.

[2015-08-18 16:11] arthurvr commented on #270
I am personally still more of a ESLint fan, but yes, that would do it for us. Yay! :birthday:

[2015-08-18 16:12] arthurvr commented on #259
This sounds like a problem many people that want to use polymer run into and makes me think it's something for the main repo or the documentation, before we build something in (if we plan to)

[2015-08-18 16:17] addyosmani commented on #312
@arthurvr Very well caught. This should totally belong in a 1.1. I think we might have discussed going for a larger release on the next round rather than a 1.0.4 which may well make sense.

[2015-08-18 16:33] arthurvr commented on #229
Thanks for the bug report. What browser and OS were you using? I doubt it matters but just in case.

Hmm, that's weird. Mind telling us how you setup the route? Some code for us to look at would be handy.

Here: https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/routing.html#L18 ;)

[2015-08-18 16:34] arthurvr commented on #305
Looking at the limited stack, could this be related to https://github.com/PolymerElements/polymer-starter-kit/issues/241?

[2015-08-18 16:38] arthurvr commented on #281
We're using a caret so is there a real need to bump it?

[2015-08-18 16:43] arthurvr commented on #289
You're correct, it's kind of a hack. But actually, I think the version we have at the moment is just a little more readable and understandable to most of our users. I haven't followed it all but I think https://github.com/gulpjs/gulp/issues/355 makes this all much easier, so I'd say we should just postpone fixing this issue till Gulp 4 comes out (normally soon). We'll need to do many updates then

[2015-08-18 16:48] arthurvr commented on #291
This issue is kinda incomplete and we never got an answer to our questions so let's close it due to inactivity?

[2015-08-18 17:00] oswaldomilet commented on #305
Thanks @mcnameej and @arthurvr, I'll try your tips.

[2015-08-18 17:13] dman777 commented on #289
Just to add.... it's been a few months but last I checked `runSequence` used `gulp.start()` which will be deprecated in gulp 4.0. For this reason,   `runSequence` will break in Gulp 4.0.

[2015-08-18 17:28] chuckh commented on #308
@addyosmani pr #303 made the change form `<script src="../../bower_components/page/page.js"></script> ` to `<script src="../bower_components/page/page.js"></script>`  so I am closing this issue.

[2015-08-18 17:28] #308 closed

[2015-08-18 17:58] addyosmani commented on #313
You're correct. I need to bump that to 1.1. Good catch!
On 18 Aug 2015 17:09, "Arthur Verschaeve" <notifications@github.com> wrote:

[2015-08-18 21:34] moderndeveloperllc commented on #313
(Moved comment here from #178 as this is better place)
@samccone The only issue I can think of offhand with the async polyfill loading, as designed above, is that it makes it very difficult to do any sort of versioning (gulp-rev - #230) or concatenation of the js file with other scripts (using gulp-useref) during the gulp build process. Just something to keep in mind.

[2015-08-20 08:37] addyosmani commented on #313
Thanks for sharing the concern, @moderndeveloperllc. I think there are a few ways we could go about ameliorating this:

* Document how to disabling async polyfill loading / switch back from this design as part of the README
* Document how to *enable* async polyfill loading as part of a recipe.
* Craft a workaround that would allow async polyfill loading to work with revisioning as part of a future

[2015-08-20 08:38] addyosmani commented on #313
@ebidel Other than polymail, are there any other async loading patterns you've masterfully crafted worth us keeping in mind? :zap:

[2015-08-20 15:31] #312 closed

[2015-08-20 16:22] bartonhammond opened #320 "routing doesn't work on project gh-pages built from dist directory using gulp"
Steps followed:
1) mkdir foo & cd foo & yo Polymer
2) git init
3) remove 'dist' from .gitignore
4) gulp
5) git add .; git commit -m "commit",
6) git remote add origin https://github.com/bartonhammond/foo.git
7) git push -u origin master
8) git subtree push --prefix dist origin gh-pages

Results:
0) Navigate to http://bartonhammond.github.io/foo/:
1) the page.js hashbang does not display in URL
2)

[2015-08-20 20:51] samccone opened #322 "Add jscs to enforce code style in repo"
Thoughts? I think this would be very helpful

[2015-08-20 20:52] arthurvr commented on #322
We have JSCS it just doesn't check HTML files yet. (See https://github.com/PolymerElements/polymer-starter-kit/issues/270)

[2015-08-20 20:53] arthurvr commented on #322
Let's close this?

[2015-08-20 20:53] samccone commented on #322
sure thing, totally missed #270

[2015-08-20 20:53] #322 closed

[2015-08-21 16:09] arthurvr commented on #285
Can we close this now that https://github.com/PolymerElements/polymer-starter-kit/commit/ca0a9fca55d9add799e1d8b272b77acb0ff7f0b1 landed?

[2015-08-21 16:23] addyosmani commented on #285
I believe we can, yes. Thanks for pinging this issue, @arthurvr. Always helpful :sparkles

[2015-08-21 16:23] #285 closed

[2015-08-21 19:25] arthurvr commented on #320
Hm, that sounds strange. If you just run `gulp`, do you see any errors? If you just run a static server inside of the `dist` does everything work as expected?

[2015-08-21 20:36] arthurvr commented on #305
Was you able to archive anything @oswaldomilet? It's more of an issue with your local setup (or with browser-sync, but I doubt that) than with PSK though, so maybe we should close this.

[2015-08-21 20:38] #305 closed

[2015-08-21 20:42] arthurvr commented on #284
Aren't we forced to use hashbangs because of browser support?

[2015-08-21 20:44] arthurvr commented on #121
@addyosmani Has been a while, what were your plans with this issue? I still don't think it's topic for us to cover.

[2015-08-21 20:50] robdodson commented on #284
We use hashbangs because we haven't setup a local sever that always sends down the index page. It's a little tricky because we *could* probably setup our gulp server to do this, but then when someone goes to deploy their site they may not realize that they need to configure their own server with the same behavior. I'm not saying that's a reason to stick with hashbangs, I agree we probably need to

[2015-08-21 20:51] arthurvr commented on #284
Ah, thanks @robdodson.

[2015-08-21 20:56] arthurvr commented on #246
Given that every app has different user authentication needs, I think this is out of scope. Not everybody needs auth and I think it's better to keep PSK slim. A good blog post on this topic or a good demo repo might be better.

I already disagree there. Not every app needs authentication.

[2015-08-21 20:57] arthurvr commented on #270
Happy to take care of this issue once the JSCS PR lands.

[2015-08-21 21:00] arthurvr commented on #299
@addyosmani @chuckh @samccone Ping-ping, can anyone close this as a dupe? :)

[2015-08-21 21:00] arthurvr commented on #279
Friendly ping @DmitryAuine.

[2015-08-21 21:01] robdodson commented on #246
FWIW i'll be talking about doing user auth at Polymer Summit in september. Maybe that can work as the needed blog post/video?

[2015-08-21 21:02] #299 closed

[2015-08-21 21:04] arthurvr commented on #246
Sure, that sounds great. I'm starting to regret I won't be there. Maybe we should open a docs issue to write something up too?

[2015-08-21 21:04] DmitryAuine commented on #279
i am to lazy. U can just enable shadow and you will see that left menu has different style from shady

[2015-08-21 21:11] arthurvr commented on #254
Can we close this now? It's resolved right?

[2015-08-21 21:17] arthurvr commented on #162
Friendly ping @akhr.

[2015-08-21 21:25] #254 closed

[2015-08-21 21:29] bartonhammond commented on #320
No errors running gulp.
I run python -m SimpleHTTPServer 8000 in dist and it behaves fine.
The links above are live if you want to see it in action.
Thanks.

[2015-08-21 21:32] addyosmani commented on #270
Thanks @arthurvr!

[2015-08-21 21:35] addyosmani commented on #246
I think a docs issue to either write something or link up to that work from Rob would be great.

[2015-08-21 21:36] addyosmani commented on #121
I've decided that adding this to the wiki wouldn't make sense. We are interested in adding a `docs` or `recipes` directory to PSK and a guide like this could live there, but we would probably need commitment from someone to write that guide and initially help maintain it.

[2015-08-21 21:44] moderndeveloperllc commented on #313
I would vote for option 1 actually. Disabling async would be useful if you concatenated the webcomponents file with other app JS via `gulp-useref`.

The more that I think about it, the more I think you might not have to worry about versioning in relation it async loading. A future versioning system would most likely be optional like service workers. I think at that point, using `gulp-replace` alon

[2015-08-21 21:45] addyosmani commented on #320
I'm seeing a missing webcomponents polyfill import when loading up that page on gh-pages. Can you let us know if http://bartonhammond.github.io/foo/bower_components/webcomponentsjs/webcomponents-lite.min.js is in the location the page is searching for on your /foo destination?

[2015-08-21 21:49] arthurvr commented on #246
A docs issue here or in Polymer/docs? I think the latter makes more sense, or not?

[2015-08-21 21:51] addyosmani commented on #246
Personally fine with the latter. The new docs ideas I've heard factor in PSK a lot more than the current docs set does and I think this could fit in well there.

[2015-08-21 21:54] arthurvr commented on #246
Alright, opening an issue.

Link? :) Or still private atm?

[2015-08-21 21:57] arthurvr commented on #246
=> https://github.com/Polymer/docs/issues/1315

[2015-08-21 23:38] samccone commented on #320
The reason why routing does not work is because gh-pages has a root path such as **foo**

bartonhammond.github.io**/foo**

To fix this with page.js you have to use
http://visionmedia.github.io/page.js/#pagebasepath

Let me know if this resolves everything for you @bartonhammond

[2015-08-21 23:43] samccone commented on #162
Yeah this is totally due to one of the components using (the now anti-pattern) schema-less `fonts.googleapis`

@akhr if you can list your components and find the one grabbing those files it should be quite simple to fix upstream.

Thanks for the issue reporting :clap:

[2015-08-21 23:49] bartonhammond commented on #320
@addyosmani: .gitignore had bower_components.  I removed that line and commit/pushed and it's close to being right.
when http://bartonhammond.github.io/foo/ is hit, the content is empty. but if you click "home", the content appears.

[2015-08-22 00:02] bartonhammond commented on #320
@samccone   I tried adding the pagebasepath page.base('/foo')  after adding the bower_components and it did *not* appear to fix the issue.

[2015-08-22 10:44] addyosmani commented on #320
@bartonhammond I'm glad the dependencies now appear to be getting properly resolved.

Let's try to get the other issue resolved. The tip from @samccone using page.js's base path is how I've tackled this problem on gh-pages before. I see that the version on latest takes you to `http://bartonhammond.github.io/foo/#!/foo/`.

If you attempt to serve your app from the root directory of your project, do

[2015-08-22 10:49] addyosmani commented on #283
https://github.com/Polymer/vulcanize/issues/229 confirms the issue is definitely not vulcanize, so the next step is to explore how we can address CSS minification with `custom-style` without causing things to break.

In the interim, we'll at minimum document this in the README and may add a note to the Gulpfile around the CSSMin section.

cc @arthurvr as an FYI on this pipeline issue.

[2015-08-22 10:49] #291 closed

[2015-08-22 10:49] addyosmani commented on #291
sgtm

[2015-08-22 10:50] addyosmani commented on #289
:+1: This echoes my sentiments too. We could keep this issue open until Gulp 4 is properly out and then tackle it correctly.

[2015-08-22 11:00] arthurvr commented on #227
@addyosmani Do you have any updates on this one? I can imagine this being a big problem for some users.

[2015-08-22 11:13] addyosmani commented on #286
Where possible, layout configuration is delegated to the existing paper element set to avoid introducing too much complexity in the default app boilerplate we provide. That said, I've added a docs tag to this issue so we can explore whether there's anything we can do to make it more clear how layout CSS can be tackled.

[2015-08-22 11:22] addyosmani commented on #284
As @robdodson correctly mentioned, removing it wouldn't pose problems for us during local development, but does become a major hassle later on during user-deployment. Looking at the upstream Page.js issues, it appears that they're eventually going to break this out into a dedicated plugin. I imagine PSK would (at least for a while) switch to using that, until we can come up with a better deploymen

[2015-08-22 11:23] addyosmani commented on #272
I'm personally fine with us opting for a `greeting` class in place of `paper-font-display1`. Let's see if we can sneak this into 1.1

[2015-08-22 12:57] bartonhammond commented on #320
@addyosmani  thanks for your assistance...

Steps followed:
1) add page.('/dist') to foo/routing.html
[code]
2) gulp
3) python -m SimpleHTTPServer 8000 dist/

Results:
1) navigate to http://localhost:8000/dist/ -> everything looks fine
2) click "home" -> URL changes to http://localhost:8000/ and page displays directory listing
3) click browser back button -> URL changes to http://localhost:8000/di

[2015-08-22 13:39] SmokyBob commented on #121
Count me in to write the `docs` or `recipes` if nobody else come forward

[2015-08-22 13:51] addyosmani commented on #121
@SmokyBob If you're interested, more than happy to review a PR. It would be great to get the ball rolling on this. I could see it being quite similar to how Gulp tackle their in-repo docs and recipes: https://github.com/gulpjs/gulp/tree/4.0/docs/recipes

[2015-08-22 14:01] addyosmani commented on #227
Thanks for the reminder @arthurvr.

The update I got from the Google open-sourcing team was that the license headers currently in the project need to stay in tact as is, but that (as relayed to Rob) your own custom licensing information can be appended to this.

I'm a little disappointed by this and can completely sympathise with any frustration folks would have with this. Lawyercats have the fina

[2015-08-22 14:04] arthurvr commented on #227
Wow, that's pretty stupid. But thanks for the update, Addy!

[2015-08-23 07:56] SayChunKim opened #323 "Gulp Serve Terminal Error and Dependencies Package.JSON"
Got Latest Git Clone from PSK 1.0.3 from fresh Yosemite (installed bower, node.js and npm)

Found this error:

<code>Error: Cannot find module './lib/_stream_readable.js'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/Users/sckim/polymer

[2015-08-23 10:48] addyosmani commented on #323
Could you try an `npm cache clean` followed by a reinstall of the dependencies (`npm install`) and let us know if the same issue occurs? On other repos I've seen occasional failures of './lib/_stream_readable.js' actually managing to resolve, though don't have a ticket handy I can reference.

[2015-08-23 14:16] Download commented on #227
This makes using Polymer Starting Kit impossible for a lot of users. A lot of licenses are just not compatible with BSD license.

The owners of the copyright (authors or companies they work for) can choose whatever they want. Blaming this on 'the lawyercats' is just not fair. This is a decision that the original authors make.

[2015-08-23 14:36] SayChunKim commented on #323
@addyosmani Thanks for suggesting. Sadly, the problem still persist, i will try rollback to previous 1.0.2 branch since i didn't have much issue in Ubuntu and Windows previously.

Cheers

[2015-08-23 15:09] addyosmani commented on #323
Sounds good. Let us know how you get on with 1.0.2 and we'll try to double-check what other upstream issues might be causing this.

[2015-08-23 19:08] arthurvr commented on #229
Friendly ping @PaulHMason.

[2015-08-23 19:47] arthurvr commented on #162
Can you check that you use the latest version of font-roboto? https://github.com/PolymerElements/font-roboto/commit/fcda0585729e698716a89b262c583ed5a24f16ec should have fixed this issue.

[2015-08-23 20:59] Tanbouz opened #325 "Inline CSS Prefixer"
From what I understand the Polymeric way is including styles inline in elements. However, it seems the included autoprefixer in the gulp file isn't processing inline css. Shouldn't an inline prefixer be included?

[2015-08-24 15:08] addyosmani commented on #281
You're right. Manually verified we're using the caret so we're all good to go on this one.

[2015-08-24 15:08] #281 closed

[2015-08-24 15:08] addyosmani commented on #272
Addressed by https://github.com/PolymerElements/polymer-starter-kit/issues/326

[2015-08-24 15:08] #272 closed

[2015-08-24 15:14] addyosmani commented on #244
Thinking about this a little further, is this actually an upstream bug with the paper elements? If the icon buttons always use the same default primary color as the toolbar background, they're going to be invisible in the component regardless.

[2015-08-24 16:53] SmokyBob commented on #121
@addyosmani cool, so a PR adding a `docs/recipes` + README.md + the recipe for CDE should suffice for now?
Going to start working on it soon (and checking other possibilities after the latest update to CDE with templates using 1.0)

[2015-08-24 17:30] chuckh commented on #121
@SmokyBob lets use `docs/recipes` + README.md for index of recipes and  `docs/recipes` +  +chrome-dev-editor.md for the specific recipe.

[2015-08-24 17:31] SmokyBob commented on #121
@chuckh :+1:

[2015-08-25 09:37] mikaelharsjo commented on #244
Yes, maybe default paper-icon-buttons `--paper-icon-button-ink-color`  to `--primary-text-color` or something?

[2015-08-25 11:05] mikaelharsjo commented on #244
It's like that already: https://github.com/PolymerElements/paper-icon-button/blob/5800c85bb5643ecb02b7a2307099266a87b18d91/paper-icon-button.html#L92. It's just the docs that are incorrect.

[2015-08-25 15:42] felixzapata commented on #270
hi, another option maybe is to use [``gulp-html-extract``](https://github.com/FormidableLabs/gulp-html-extract) and then passing the content to the ``jscs`` task.
[code]

[2015-08-25 15:43] arthurvr commented on #270
@felixzapata Yes, but it won't take that long till JSCS has the feature so I guess it's better just to wait.

[2015-08-25 15:46] samccone commented on #270
My money is on it will be a while :). If we can get something working now that would be awesome and we can always rip it out when jscs supports this use case

[2015-08-25 17:51] chuckh commented on #274
I just tested with master and was able to replicate this problem.

[2015-08-25 18:46] chuckh commented on #166
I tested the above code on PSK master and did not fix the problem.

When clicking on a menu item for a second time in Firefox Mac and Safari Mac the `onDataRouteClick` in app.js, `select` and `_focusedItemChanged` in iron-menu-behavior don't fire on first click only second. This maybe related https://github.com/PolymerElements/iron-menu-behavior/issues/13.

The menu works correctly for Chrome Mac

[2015-08-25 20:11] felixzapata commented on #270
For now, that solution is valid for me until the JSCS task has the feature.  ;)

With the `oust` task I could not extract the JavaScript inline code from the script tag inside my HTML component file.

[2015-08-26 10:27] felixzapata commented on #270
I think is better to add a condition to extract only the scripts when the file has the HTML extension:

[code]

This way, if you have javascript files, the JSCS task will check it too. I've seen that there is a ``jscs`` config file added to the project. I will try to make later a pull request with this changes.

[2015-08-26 13:57] samccone commented on #270
awesome @felixzapata !!!!!!!!!! looking forward to seeing this :+1: :+1: :+1: :+1:

[2015-08-26 14:49] bartonhammond commented on #320
Since this is still not working after adding the ```javascript page('/dist')```, should this be considered a Issue/bug with page/page.js?

[2015-08-26 15:10] addyosmani commented on #320
I think if we can reduce this down to a simple demo that demonstrates that using a similar (but stripped down) setup where we try to `page('/dist')` that would make a strong case for this being an issue that needs fixing on the page.js side. I haven't been able to find anything on the Polymer side of how we're using this that indicates it's a bug with how we're using page.js.

[2015-08-26 15:21] bartonhammond commented on #320
I thought the app http://bartonhammond.github.io/foo/ which was generated by "yo polymer" was a pretty simple basic case.  If I were to strip it down to bare essentials would that suffice? Or would that still be too big?

[2015-08-26 17:18] felixzapata commented on #270
hi @samccone, I've just sent the pull request

[2015-08-26 17:28] felixzapata opened #331 "problems installing Node packages with Npm version 2.13.0"
Hi, when I try to install the node modules, the console throws some ummet depencies warnings related with the web component tester, polybuild, gulp-imagemin and some other.

This error only happens with a Mac OS with Node version 0.12.4 and Npm version 2.13.0.

In another computer with Ubuntu and a lower version of Node and Npm, this problems does not happen.

I´m not very sure if is problem relat

[2015-08-26 17:49] samccone commented on #331
@felixzapata mind posting the errors?

[2015-08-27 06:13] #244 closed

[2015-08-27 07:18] felixzapata commented on #331
I think is related with the versions of some packages. I will try to install it manually. Yesterday, with another project I had the same problem, I solved it this way.

[2015-08-27 08:20] addyosmani opened #332 "Author docs/recipe for adding ES6/Babel support"
@nicolasgarnier would it be possible to land this in here before the summit?

[2015-08-27 08:21] addyosmani commented on #331
I would try to `npm cache clean` and run a fresh installation of the dependencies to see if that fixes the issues you're running into. Could you try that?

[2015-08-27 08:23] addyosmani commented on #325
This is a good point. With our increasing move towards in-import styles, we really need to either figure out an inline prefixing solution or drop Autoprefixer. https://github.com/RebelMail/html-autoprefixer may be what we're looking for.

[code]

It would be awesome if we could find someone to explore how well this works in practice. My current concerns are how well this setup might work with CSS

[2015-08-27 08:25] addyosmani commented on #325
This is the only Polymer project I was able to find using it. Unfortunately it's using Brocolli and Ember in the mix too: https://github.com/pk4media/ember-cli-polymer-toolchain/blob/3c614b6420b6a8116f4571a302826a5a634542d5/index.js

[2015-08-27 08:25] felixzapata commented on #331
Yes I did it yesterday too.

[2015-08-27 08:52] nicolasgarnier commented on #332
I have something kind of ready to add now. Where is the best place to host this? an .md file under `docs/`?

[2015-08-27 08:54] addyosmani commented on #332
Yep! We're going to use `docs/` as a recipe. Something along the same lines of how https://github.com/gulpjs/gulp/tree/master/docs/recipes is approached.

[2015-08-27 09:28] nicolasgarnier commented on #332
Up for review at #333 !

[2015-08-27 09:32] addyosmani commented on #332
Awesome. Thanks!

[2015-08-27 14:07] rbjarnason opened #334 "Routing within my components not working"
I can't seem to use window.location=url nor page(url) to offer navigation from within my components.  The address bar changes but I do not go to the new route, if I manually select the browser address bar and press return then I go to the new route. Any ideas?

[2015-08-27 22:09] ebidel opened #336 "Build system doesn't preserve async on script tags"
If I put `async` on https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L50, the build system replaces it with the .min.js version, but my `async` awesome is gone :(

[2015-08-27 23:08] addyosmani commented on #336
Thanks for catching this. We'll get this nailed before the summit.

[2015-08-27 23:10] addyosmani commented on #336
Looks like the usage for this is:

[code]

so it should (in theory) be a one line change.

[2015-08-27 23:18] ebidel commented on #336
Oh interesting. I'll give that a try.

[2015-08-27 23:27] samccone opened #337 "audit npm dependencies"
`npm i` currently installs 1175 dependencies for this project, some of which require native compilation.  The install time on my system takes around 8 minutes. I wonder if there is a way we can trim this install down quite a bit.

#### Root tree
*from 30 comes many*

[code]

#### Full tree
[code]

[2015-08-27 23:45] samccone commented on #313
Ok, so enumerating the tasks here:

When a user opts into the the async perf optimization the following processing with happen.

1. Recursively gather a deduped list html imports
2. Generate a *dynamic* async load script and inline into the index.html page

[code]

---

seem good to everyone?

[2015-08-28 06:28] rbeers opened #338 "broken html generated when running gulp with firebase-auth"
When running gulp serve:dist, I am getting a broken page when I add firebase-auth to elements.html.  Running gulp:serve displays the page fine.

Steps to reproduce.
* fresh clone PSK, npm install, bower install
* add firebase element
[code]
* add firebase-auth to elements.html
[code]
* run gulp
[code]

* output
<img width="541" alt="screen shot 2015-08-28 at 2 14 38 am" src="https://cloud.githubus

[2015-08-28 06:52] rbeers commented on #338
Update:
setting inlineScripts: false in vulcanize fixed the problem

[2015-08-28 08:21] AaronLayton opened #339 "Styling across elements (main.css | app-theme.html)"
I've just started a new Polymer app starting from the yeoman generator - the 2 main files are confusing as the Starter Kit only shows a `flat` app example where everything is defined in the main shell.

I created `page-*` elements for each of my pages and then placed them inside `iron-page` to keep the main shell clean. My pages contain their own `<paper-scroll-header-panel>` and `<paper-material>

[2015-08-28 08:21] AaronLayton commented on #339
https://github.com/PolymerElements/polymer-starter-kit/pull/328
https://github.com/PolymerElements/polymer-starter-kit/issues/267

[2015-08-28 08:39] addyosmani commented on #339
@AaronLayton Thanks for the issue! I've been working on a few apps this week that do element transitions between pages and I've been achieving this using https://github.com/PolymerElements/neon-animation/tree/master/demo (which have demos up on http://elements.polymer-project.org). You're basically going to want to use `<neon-animated-pages>`: https://github.com/PolymerElements/neon-animation/blob

[2015-08-28 08:44] addyosmani commented on #313
SGTM. What approach did you have in mind for the opt-in? Statically including the options commented out, performing runtime checks against some flag or adding these optimisations in at build time?

[2015-08-28 09:09] addyosmani commented on #337
:+1:

I think we should take the time to analyze our dep tree in more detail after 1.1 is out. There are a few things we could try here like `npm dedupe`'ing and just looking at whether everything we're pulling in at present is still fully used.

[2015-08-28 09:10] addyosmani commented on #338
Thanks for commenting back about the solution. I'm a little surprised this was causing breakage. Were you using PSK 1.0.3 or the version in master? Either way it looks like it's worth filing this issue upstream with Vulcanize, especially if there's a reproducible test case or code-samples you can share.

https://github.com/polymer/vulcanize

[2015-08-28 09:10] #338 closed

[2015-08-28 09:11] addyosmani commented on #336
@ebidel Awesome. Do let us know if that does the trick :tophat:

@samccone fyi about useref + `async` in case you run into similar challenges with the perf work.

[2015-08-28 09:34] rbeers commented on #338
I was using the version in master with no additional mods other than the steps above.

[2015-08-28 18:18] samccone commented on #336
yep :| I have mixed feeling about html files as build manifests but that is a conversation for another day :goat: :sun_with_face:

@ebidel did this resolve the async fun for you¿

[2015-08-28 18:19] samccone commented on #313
In my mind if someone wanted a perf build they could run something like
`gulp build --optimized` or something... thoughts?

[2015-08-28 23:05] arthurevans commented on #246
New doc set ideas are mostly just a glimmer in my eye at this point, @arthurvr.

[2015-08-28 23:09] AaronLayton opened #340 "Multi-page setup with neon-animation transitions"
Provide documentation on how to setup a mutli-page app with `neon-animations`, possibly focusing on

* Best practice way of splitting up your app to separate pages
* `hero-transition`
* `cascaded-animation`
* `slide-up-animation`

[2015-08-28 23:09] AaronLayton commented on #339
Yup, just started the other day really - started with `yo polymer` giving me version `1.1.1`. I see, the approach I have now seems to work for common styling between my pages and the app-theme is just controlling my variables.

Sorry my bad, I was thinking more of just keeping my index.html small and readable. For example I have this

[code]

The `page-*` elements don't need to be lazy loaded, but

[2015-08-29 10:12] felixzapata commented on #331
i´m going to close this issue because I think it was aleatory. Now, I can install the dependencies without problems (only some delay but it is due to my computer).

[2015-08-29 10:12] #331 closed

[2015-08-29 15:20] moderndeveloperllc commented on #313
Thinking about using something like [yargs](https://www.npmjs.com/package/yargs)? Just my opinion, but I would make the flag a bit more descriptive like `--async-loading`. I'm guessing for most folks that the list of elements would just be `elements/elements.vulcanized.html`? or am I misunderstanding what that block is for?

[2015-08-29 15:47] arthurvr commented on #246
Should we close this in favor of the docs ticket?

[2015-08-29 16:18] rbjarnason commented on #334
This is with a recent download of polymer-starter-kit from here and the links in the drawer on the left work...

[2015-08-29 16:35] flaiker commented on #334
Both ways seem to work fine for me (on latest master):
[code]
[code]

This is from within the `my-greeting`-component inside a script-tag in the template. Can you maybe provide a code example or specify where exactly you are calling these?

[2015-08-29 18:14] rbjarnason commented on #334
Ah, window.location = 'https://www.google.com' also works for me. The problem only happens with hashbang urls.

If I add <paper-button on-tap="_onTapMe">TAP ME</paper-button> to the bottom of my-list element then this function replicates my problem on a clean master.
[code]
It changes the address bar but I have to manually click the address bar and press return to go to /user/Rob

[2015-08-29 18:20] rbjarnason commented on #334
Ok, problem solved! :)

page("/users/Rob") does work, the hashbang is automatically added.

[2015-08-29 18:20] #334 closed

[2015-08-29 19:47] addyosmani commented on #313
@samccone I personally wouldn't mind a build time approach to this. Do you think it would be more user-friendly than enumerated/documented steps folks would have to manually apply to their local PSK? I'm pretty down for us exploring your idea.

[2015-08-30 05:56] JosefJezek commented on #337
`gulp-flatten` and `opn` are unused.

[2015-08-31 14:44] #332 closed

[2015-08-31 17:11] robdodson commented on #246
Sure

[2015-08-31 17:11] #246 closed

[2015-08-31 22:01] addyosmani commented on #340
I'll do my best to publish a PSK + neon-animation sample in the coming weeks that we can build on here. Alternatively might make for a good recipe.

[2015-09-01 00:01] pantaluna commented on #84
I  would like to add that in my environment (1.3.0 Windows) I had to change line 97 and change `'bower_components/**/*'` to `'app/bower_components/**/*'`

https://github.com/PolymerElements/polymer-starter-kit/blob/master/gulpfile.js#L97

[2015-09-01 16:13] cguldogan commented on #249
Did you add bower components in to your page ?
 <link rel="import" href="bower_components/paper-button/paper-button.html">

[2015-09-01 16:26] chuckh commented on #267
This subject is now covered in readme.md. See https://github.com/PolymerElements/polymer-starter-kit#application-theming--styling.

[2015-09-01 16:26] #267 closed

[2015-09-01 16:47] chuckh commented on #202
Pull Request #316 fixed this issue. See details of change at https://github.com/PolymerElements/polymer-starter-kit/pull/316/files.  It is in master branch now, it will be included in the next release 1.1.0 of Polymer Starter Kit.

[2015-09-01 16:47] #202 closed

[2015-09-01 17:14] chuckh commented on #271
I just tested with PSK master with Windows Chrome 44 no extra scrollbars. Seems to be fixed. @addyosmani does it work for you now?

![image](https://cloud.githubusercontent.com/assets/19915/9610985/e6df5dea-5091-11e5-975e-146c8fa11227.png)

[2015-09-01 17:23] addyosmani commented on #271
This is working for me now. Feel free to re-open if this is still an issue in master for anyone!

[2015-09-01 17:23] #271 closed

[2015-09-01 17:42] chuckh commented on #258
Just tested this from the master branch it is working fine on iPhone 5s, iPad Mini and Nexus 7.  @SayChunKim are you still having this problem when using the master branch of PSK?  If not lets close this issue.

**iPhone 5s screenshot**
![image](https://cloud.githubusercontent.com/assets/19915/9611609/762dc5ba-5095-11e5-9750-f489f1964180.png)

[2015-09-01 21:31] addyosmani commented on #258
Thanks for re-testing this @chuckh?

[2015-09-01 23:06] SayChunKim commented on #258
Thanks for update @chuckh ! I will check later and close if there isn't any issue about this :)

Cheers

[2015-09-05 11:07] marcacohen opened #344 "PSK light not playing well with Chrome Dev Editor"
Repro steps

- Unpack PSK light zip file.
- "Open folder" to unpacked contents inside CDE.
- Run generates this error: "Failed to load extension from: /Users/marccohen/Desktop/polymer-starter-kit-light-1.0.3/app. The 'manifest_version' key must be present and set to 2 (without quotes). See developer.chrome.com/extensions/manifestVersion.html for details.".
- Add "manifest_version": 2 to app/manife

[2015-09-05 11:08] marcacohen commented on #344
Looks like I can't self assigned this bug, probably because I'm not a contrib.

nivco or addyo: can one of you add me to the proj? thx!

[2015-09-05 15:39] addyosmani commented on #344
Thanks Marc! cc @tjsavage for adding Marc to the repo. I have permission to add you to the PolymerElements org but we probably want to limit that to just PSK.

@marcacohen have you seen https://github.com/PolymerElements/polymer-starter-kit/pull/329? Does that run into similar issues?

[2015-09-05 16:37] addyosmani commented on #336
friendly ping @ebidel

[2015-09-05 18:47] ebidel commented on #313
Hmm. Not sure if we should recommend delay loading imports via script. That's perfect for lazy loading bundles later on, but the huge benefit of having an import declared early on in the page with the `async` attr is that the browser can and start parsing, executing sub-scripts, and prefetch sub-resources right away.

What about the app shell concept or splash screen while the imports are loading?

[2015-09-06 05:42] samccone commented on #313
hmmm good point @ebidel

A pure lazy load approach might not be ideal here.. so let me spit ball an idea. What if in any of the html pages we could do something like this

[code]

Which would group and lazy load load the imports.

----

The big hold up for me is that this is might be kinda bypassing the easy to use level and jumping right into a convoluted setup with lots of edge cases to consider

[2015-09-06 11:06] addyosmani commented on #313
Word. Perhaps we should ship this as a recipe that outlines the steps
needed for adding to PSK, pros/cons and related code snippets?

As this is still experimental stuff it could start as a doc in the repo and
be promoted to built-in when we're happy with how well the ideas here work.
Keeps PSK low friction. Is that more favourable to folks?
On 6 Sep 2015 06:42, "Sam Saccone" <notifications@github

[2015-09-06 11:08] arthurvr commented on #313
:+1:

[2015-09-06 11:52] marcacohen commented on #344
Thanks for the pointer to #329, Addy. By switching from manifest.json to web-app-manifest.json, as advocated there, it causes CDE to treat this project as a web app, not a Chrome app and the PSK light package then work for me inside CDE.

I'll submit a PR to rename manifest.json so that it works "out of the box" and people won't have to make that change manually.

[2015-09-06 15:17] marcacohen commented on #344
+tjsavage

Hey Taylor,

Can you add me to the PSK repo? Would like to self-assign this issue and
submit a PR to fix.

Thanks,

Marc

On 5 September 2015 at 16:39, Addy Osmani <notifications@github.com> wrote:

--
Marc Cohen
marccohen@google.com <mco@google.com>
http://about.me/marc1

[2015-09-07 01:10] kenjitayama opened #345 "Dynamicly set content height instead of static 900px?"
I'm wondering if the `.content { height: 900px; }` in app-theme.html could be done better.

When the actual content height is smaller than 900px, it scrolls away when scrolling down. Bit strange.

So I played around with the css height value.
If it is smaller than the actual content height, it won't scroll away, but the whole panel bounces when scrolled down, in iOS.
`screen height - header toolba

[2015-09-07 18:10] the-programmer opened #346 "bower_components folder ends up in the wrong location"
I'm not 100% if this is the correct location or not but I'm gonna start here.

What I found: If you use [yo](http://yeoman.io/) to get a scaffold up and running the bower_components folder seems to end up in the wrong location.

It could be my lack of experience with all the tooling but the full workflow is tricky if you are doing this for the 1st time.

What I did (I'm using cloud9 for testing he

[2015-09-07 18:26] robdodson commented on #346
I think some of your message was cut off

[2015-09-07 18:28] the-programmer commented on #346
Yep, I was typing and somehow I managed to hit the submit button a bit to early, it's now updated.

[2015-09-07 18:50] robdodson commented on #346
Thanks for updating. It's not clear from the issue: Where were you expecting the bower_components directory to end up, and where did it actually end up?

[2015-09-07 19:15] the-programmer commented on #346
my bad, If you look at all the paths in index.html they all direct to bower_components as if it is in the same folder as index.html. However bower_components can be found 1 folder up.

The current folder layout:
[code]
(index.html can't find bower_components)

The working folder layout:
[code]
(index.html can find all the required files)

[2015-09-07 19:18] robdodson commented on #346
I see. That's actually [by design](http://yeoman.io/blog/bower_components-in-project-root.html) though I agree it can be confusing.

When you run the local server `gulp serve` it will mount that directory and serve from it, as if it were in the `app` directory. So this is working as expected but maybe we should include a mention of this in the documentation somewhere. I think a few folks have rais

[2015-09-07 19:19] arthurvr commented on #346
Are you using PSK lite or the version with tooling? `gulp serve` routes `bower_components` to the right place. You can read about the system at the yeoman blog: http://yeoman.io/blog/bower_components-in-project-root.html

[2015-09-07 19:41] the-programmer commented on #346
Thanks for the fast responses.

At the moment I'm totally new to the "modern" way of building web-apps (it seems to look like all you need to do is connect all the modules and you have a new web-app) (my last time was pure HTML).

So to answer arthurvr I'm using the version with tooling `yo`, however it seems that my cloud development (cloud9) platform has some issues with the `gulp serve` command

[2015-09-07 19:41] #346 closed

[2015-09-07 19:44] robdodson commented on #346
Yeah that'd be great. Take a look at the [issues section](https://github.com/PolymerElements/polymer-starter-kit/issues) there are issues labeled `help-wanted` or `documentation`. Those would be good places to start.

[2015-09-08 13:17] addyosmani opened #347 "Add support for Web Manifest splash-screen"
Strawman implementation:

[code]

Crbug: https://code.google.com/p/chromium/issues/detail?id=508627

Intent: https://groups.google.com/a/chromium.org/forum/#!msg/chromium-dev/ydIlcnIyT2U/3JXX5sEqKQAJ

[2015-09-08 13:36] chuckh commented on #258
@SayChunKim can we close this now?

[2015-09-08 14:06] mypark opened #348 "Error in Chrome, Uncaught TypeError: Cannot read property 'whenReady' of undefined polymer.html 4192"
Just downloaded the polymer-starter-kit-light-1.0.3 and am seeing this error in Chrome. Oddly enough it seemed to have worked without problems just a few days ago. It works fine in Safari. What could have changed with chrome to suddenly start causing this error?

Uncaught TypeError: Cannot read property 'whenReady' of undefined polymer polymer.html:4192

[2015-09-08 15:36] robdodson commented on #348
are you still running the local server with gulp? It seems like possibly Polymer isn't loading?

[2015-09-08 17:07] SayChunKim commented on #258
Tested working in latest version. We can close this. Thanks reminding @chuckh !

[2015-09-08 17:07] #258 closed

[2015-09-08 17:51] addyosmani commented on #313
I've also looped in @nicolasgarnier in case he's interested in helping here. Is anyone down for helping us write the recipe for integrating in some of the perf patterns we're aiming for into PSK? :star:

[2015-09-08 18:14] addyosmani commented on #348
As Rob mentioned it appears that this is an issue with Polymer not loading. Can you try loading PSK light up in an incognito window and let us know if you see the same thing? The package hasn't changed since it was published.

[2015-09-08 21:24] ebidel commented on #89
How's this coming? There's an open question in our ES6+PSK codelab on why PSK doesn't import polymer.html in its elements and since we recommend everyone else do so, PSK should really be doing it too.

[2015-09-08 21:27] samccone commented on #89
☺️ I'll take a look this afternoon

[2015-09-08 22:56] chuckh commented on #89
I did some testing on this with PSK from the master and PSK 1.0.3 using Yeoman Generator for Polymer.  I used gulp-vulcanize 6.0.1 latest release and vulcanize version 1.10.3. or 1.10.4 I found the following:

In PSK 1.0.3 or PSK master adding below imports to my-greeting.html
[code]
1. gulp serve worked
2. gulp, gulp:serve:dist both worked which do vulcanize
3. gulp local:test gets error: 404 GET

[2015-09-08 23:00] samccone commented on #89
oh awesome @chuckh thanks for doing this. so the JSHint error seems to be a distinct issue that is unrelated.

The local:test error however does seem to be relevant (: hopefully will be able to get this one locked down today :lock: :key: :hand:

[2015-09-08 23:46] samccone commented on #89
So yes adding these does cause a 404 when running under the tests :fire:

the url being used:
`http://localhost:2000/components/polymer-starter-kit/app/bower_components/polymer/polymer.html`

where we expect:
`http://localhost:2000/bower_components/polymer/polymer.html`

However this does not cause tests to failure since we are already loading polymer on the test page thus allowing everything to w

[2015-09-09 01:52] mypark commented on #348
it works in the incognito window - but still doesn't work in regular chrome... why is that?

[2015-09-09 02:40] robdodson commented on #348
@mypark possibly service worker interference?

[2015-09-09 03:14] wenerme opened #351 "Any recipe to add support for less ?"
No familiar with gulp, I use
[code]
before, but I don't know how to apply this for PSK gulp.

[2015-09-09 08:02] pantaluna commented on #348
@mypark
a. Chrome Extensions (also check the flag AllowInIncognito for each)
b. chrome://flags/

[2015-09-09 09:30] #89 closed

[2015-09-09 09:31] #347 closed

[2015-09-09 16:52] chuckh commented on #274
I have done some more testing found the following:

1. It happens when drawer is opened or closed, after paper-responsive-change event is fired
2. It is not a timing issue (using async did help when calling the transforms)
3. Maybe addressed / fixed when issue https://github.com/PolymerElements/paper-scroll-header-panel/issues/25 is addressed.

![resize-header-bug](https://cloud.githubusercontent.

[2015-09-09 17:39] chuckh opened #352 "Enable use of use strict in elements"
Currently `use strict` in custom elements will cause jshint to fail. Will look for solution, possibly using http://jshint.com/docs/options/#nonew

[2015-09-09 17:39] arthurvr commented on #352
Ref https://github.com/yeoman/generator-polymer/commit/7abbba3a519f8a1547cc0980f142e624d39c5a87 - let's revert that one when this is fixed.

[2015-09-09 17:50] samccone commented on #352
changing our jshint config by disabling this http://jshint.com/docs/options/#nonew should make everything happy ;)

[2015-09-09 18:58] chuckh commented on #352
@arthurvr @samccone @robdodson I trying adding  ` "nonew": false,` to .`jsintrc` in PSK. Still get same error. Tried  `"nonew": true,` same results.  I am using the latest gulp-jshint v1.11.2 and jshint 2.8.0.

Results of `gulp or gulp serve`.
[code]

.jsintrc contents:
[code]

Any other suggestions besides not using `'use strict';` in elements (does work in app.js).

[2015-09-09 21:54] #352 closed

[2015-09-09 21:57] chuckh commented on #352
Adding `"newcap": false,` to `.jsintrc` fixed the problem. PR #353 adds this.

[2015-09-10 08:08] addyosmani commented on #352
🍩🍦Thanks for addressing in the PR!

[2015-09-10 21:41] Frikki commented on #231
I see. Thanks.

[2015-09-14 08:12] albertolobrano commented on #149
In case someone has the same issue this is how i solved:

1) i added the attribute selected-attribute="activated" to the component iron-pages
2) added an activated properties in the component that reders my page : activated: {
        type: Boolean,
        value:false,
        observer: '_activatedChanged'
      }

every time my page becomes active i am notified.

[2015-09-14 12:52] omarjebari commented on #54
This worked for me:

[2015-09-15 09:57] #313 closed

[2015-09-15 18:52] arthurvr commented on #337
Ah, that seems right. Thanks for reporting @JosefJezek. Removed those in https://github.com/PolymerElements/polymer-starter-kit/pull/358.

[2015-09-16 13:45] chuckh commented on #337
LGTM

[2015-09-16 17:01] arthurvr commented on #259
ping ;)

[2015-09-17 09:38] goof03 opened #362 "paper-material element question"
When i use use paper-material in my own element i lost is normal padding. is it normal ? how to restore it please ?

[2015-09-17 11:20] baazoo opened #363 "Browser Sync is too slow when Chrome Dev Tools window is open"
This issue was first reported on Polymer project and I am moving it here as suggested by @ebidel.

**How to regenerate the problem:**
[code]
- Open Chrome Dev Tools
- Edit anything to trigger Browser-Sync
- It takes around 15 seconds for the browser to sync throwing this log:

``
Resource interpreted as Document but transferred with MIME type text/css: "http://localhost:3000/bower_components/paper

[2015-09-17 12:40] petecarapetyan opened #366 "Polymer starter kit depends on node 0.12"
The front page documentation needs to warn potential users of this time wasting distraction. I lost days on this (but would have been less if I wasn't a js newbie):

If you run 'npm install' from node 0.12 or the current node 4.0, you will get a make error many times over, and never successfully complete.

Instead you have to have 0.11 and additionally run 'npm install --no-bin-links' not 'npm ins

[2015-09-17 14:55] alexpaluzzi commented on #366
I can try to run this on my Linux machine later, but I wanted to mention that I'm running Node 4.0 and have zero issues installing npm dependencies.

[2015-09-17 15:12] moderndeveloperllc commented on #362
This question is more appropriately asked in the individual repository: https://github.com/PolymerElements/paper-material/issues

[2015-09-17 15:54] samccone commented on #363
cc @paulirish

[2015-09-17 15:55] samccone commented on #366
@petecarapetyan mind pasting the errors here¿Thanks :sparkles:

[2015-09-17 15:56] samccone commented on #362
:+1: @goof03 mind reopeneing here https://github.com/PolymerElements/paper-material/issues

thx for the bug report :bug: :sparkling_heart: !!

[2015-09-17 15:56] #362 closed

[2015-09-17 16:56] samccone opened #367 "✨ Recipe for SEO ✨"
A great question from the panel: https://youtu.be/mw0ozps3jLM?t=63

But I think people want some hard specifics :sparkles:

@tjsavage any pointers on this one :)

[2015-09-17 16:58] arthurvr commented on #367
Why does this need to be a PSK recipe? Most "rules", tricks and tips would apply to any polymer app and I feel like a better fit for the actual docs site. WDYT @arthurevans?

[2015-09-17 17:43] ebidel commented on #367
Agreed with @arthurvr. SEO is a tricky one. Generally, anything that applies to a SPA applies to Polymer-based apps (e.g. use anchors, have deep links, prefer regular urls over `#` fragments), use canonical links, meta info, etc.)

[2015-09-17 17:44] arthurevans commented on #367
Agreed. I think we have some ideas on this that aren't captured on the site. We should probably make sure PSK isn't using any anti-patterns. But I'll move this over to the docs repo. And suggest that @ebidel write an article on it :D

[2015-09-17 17:45] samccone commented on #367
I agree here (: ... That said, I also think a large % of people using polymer start with PSK so putting the docs / recipe here initially is a decent proving group -- once things seem stable we can elevate to polymer docs proper.

but hahah ok lets just file it over on the top level docs repo

surrryyyy :crying_cat_face: :crying_cat_face: :crying_cat_face: :crying_cat_face:

[2015-09-17 17:45] #367 closed

[2015-09-17 17:45] samccone commented on #367
@arthurevans @ebidel -- the major question in my mind was how to "prerender" on the server or is that even a valid concern

[2015-09-17 18:04] ebidel commented on #367
It's a client-side technology. Pre-constructed shadow trees has been brought up in the past, but there's no movement on it, at least as of yet. Most important thing we learned from IOWA is that Google/search needs to see markup and it needs to be able to navigate your pages.

[2015-09-17 18:22] samccone commented on #367
@ebidel  does that mean that it might be ideal to use content inside of custom elements to expose these sort of "nav" elements?

[code]

[2015-09-17 18:27] ebidel commented on #367
Yes

[2015-09-17 20:06] alexpaluzzi opened #369 "Polyclean fails after adding ES2015 code"
I wasn't sure whether to drop this in the `polyclean` repo or this one--

I had this working the other day, so I started from scratch but got the same error. Going to continue to investigate on my end, but wanted to create this in the meantime in-case someone already knows about it.

[code]

Node 4.0.0
Windows 7
(Will be on Linux machine tonight and plan on testing there.)

[2015-09-17 20:37] alexpaluzzi commented on #369
Everything runs until you start actually changing stuff to ES2015 code.

Following: http://www.code-labs.io/codelabs/polymer-es2015/
The `Unexpected token: punc ())` occurs after I added all of the fat arrows to the `routing.html` file.
When I took them all out, it ran again. Then I tried changing the `my-list` component to use a ES2015 class. Now the error from polyclean is: `Unexpected token: na

[2015-09-17 20:59] alexpaluzzi commented on #369
Seem to have found the issue:
https://github.com/mishoo/UglifyJS2/issues/448

This is probably worth mentioning in the ES2015 doc.

[2015-09-17 23:46] arthurevans commented on #367
@samccone (Re: prerendering) Our experience on the docs site suggest that it's not necessary. Both docs site (running on Polymer 0.5.x) and the element catalog (running on Polymer 1.x) seem to get indexed on Google and other search engines.

Testing a few queries on other search engines (I tried Bing, Yahoo, and DuckDuckGo), I saw enough hits to suggest that they're also indexing the contents. For

[2015-09-17 23:48] samccone commented on #367
ping @peterblazejewicz for any input :)

[2015-09-18 07:01] peterblazejewicz commented on #367
@samccone :dancer:
I've not yet have real project with Polymer (:sadface:). The recent SPA we have made supports HTML5 History and pretty links and this is something I would recommend. So yes, it is not easy for people starting using SPA (or here Polymer) and sell it to the world.
I'd think of using JSON-LD (the link just for reference: http://json-ld.org/) and I though it is supposed to support d

[2015-09-18 15:33] alexpaluzzi commented on #369
FWIW, I'm also seeing `js` files in the `scripts` directory being copied twice to source somehow in the polybuild/vulcanize process.

[2015-09-18 16:24] gedw99 commented on #366
I found the same bug. I am on OSX.
With Node 4.0 there are mayn compile errors when installing the node modules.
With node 0.12, i am getting no install errors.

As far as operational bugs, the one i got was that the images are not copying from the App folder into the Dist folder. I have no idea yet if this is because of the node versions.

In summary i dropped back to node 0.12 to be safe, due to

[2015-09-18 16:25] samccone commented on #366
@gedw99 mind pasting the errors here? thanks!

[2015-09-18 16:34] gedw99 commented on #366
@samccone

Ok, but its a whopper amount of text output.

gedw99-MacBook-Pro:static apple$ nvm install
Found '/Users/apple/Workspace/go/src/bitbucket.org/gedw99/.nvmrc' with version <4.0>
######################################################################## 100.0%
Checksums empty
Now using node v4.0.0 (npm v2.14.2)
gedw99-MacBook-Pro:static apple$ node -v
v4.0.0
gedw99-MacBook-Pro:static apple$

[2015-09-18 16:35] robdodson commented on #366
I think one of the primary issues is socket.io which is used by web-component-tester hasn't updated its dependencies to work with node v4 yet. @addyosmani has pinged them about this

[2015-09-18 16:37] alexpaluzzi commented on #366
It also looks like your `npm` is quite out of date.

`2.12.2` vs `3.3.3`

Try going into the `nodejs` directory itself (where the node binary is) and run `npm install npm`.

[2015-09-18 16:42] gedw99 commented on #366
@robdodson
yes i had this problem too.

@alexpaluzzi
i will stick with node 0.12 for now. I need a stable system to get things down at the moment.
i just wanted to give the person that asked a heads up of the issues affecting me and likely everyone else so the gulp packages can be fixed etc

[2015-09-18 16:44] samccone commented on #366
:+1: thanks for the report and logs @gedw99

[2015-09-18 16:44] alexpaluzzi commented on #366
@gedw99 I understand, and thanks for the report. I mentioned to try and update `npm` because one of the machines I work on (Windows 7) is running Node 4.0.0 and has no issues with PSK.

[2015-09-18 16:47] gedw99 commented on #366
@alexpaluzzi AMAZED. Windows works and not OSX; well its nice to see the shoe on the other foot for a change, but not this way around :)

Here is the Output with Node 0.12

gedw99-MacBook-Pro:static apple$ npm install

  CXX(target) Release/obj.target/bufferutil/src/bufferutil.o
  SOLINK_MODULE(target) Release/bufferutil.node
  CXX(target) Release/obj.target/validation/src/validation.o
  SOLINK_MO

[2015-09-18 16:57] gedw99 commented on #257
@plusCubed
CONFIRMED - This is exactly the same use case and outcome for me too.

[2015-09-18 17:26] gedw99 opened #371 "dev setup : Need to have gulp script serve from Dist folder, but watch App for changes."
Let me explain.

During Dev,
I can run off the App folder with watching, and nice browser updates
I cant point my golang server to "App" folder because the "bowercomponents" folder is above, outside the hosting root.

Kind of frustrating, but well...

So, the only thing i need is to be able to have the gulp script serve from Dist folder, but watch for App for changes.  Is there a command to do thi

[2015-09-18 19:18] danielvanmil commented on #346
I now have an issue with the "gulp test:local" task on windows 7, see the log below. It looks like the mechanism described above is not used with with the gulp WCT test task is it as the test works when I copy the bower_components directory to the /app location. Could this be an issue or am I doing something wrong. Thanks in advance.

Daniel van Mil.

[code]

[2015-09-19 00:09] Steve17756 commented on #166
Agree with chuck. Also works on Chrome Win.

[2015-09-20 07:58] vl4dt opened #373 "gulp Error: ENOENT, open '.../dist/index.build.html'"
I just wanted to try the latest PSK, clonned it and installed dependencies as usual.

Tried many things, cleared npm cache, updated node, etc., keep getting the following error running gulp:

[code]

[2015-09-20 10:25] Dragod opened #374 "Android Application error"
I got this error when I run the application on my android device (android 5.0.1) Galaxy S4, cliking on any of the menu button.

It is running just fine on my Desktop Chrome/Firefox/IE11

Maybe he can't load any file thart require an internet connection like I used jquery from google CDN &  a firebase?

![menu_error](https://cloud.githubusercontent.com/assets/4368630/9980262/91373212-5f89-11e5-8998

[2015-09-20 11:33] flaiker commented on #374
Is that the AOSP android browser? Because I doubt that one is supported by Polymer.

[2015-09-20 11:48] flaiker commented on #373
I just did the following:
[code]

And it worked fine for me. Can you try installing the dependencies again (sometimes they timeout and some are missing) and also renaming your project folder to `polymer-starter-kit` (see #257).

If that does not help, operating system, npm/node/gulp versions? Also what kind of shell are you using to execute these commands, I had problems using git bash for example

[2015-09-20 11:57] Dragod commented on #374
I have no idea what AOSP. I install the apk on my phone and when I click on any of the menu it gives that error

[2015-09-20 12:02] flaiker commented on #374
Which APK exactly are you installing?

AOSP -> Android Open Source Project, it has its own webbrowser which isn't as maintained and supported anymore

[2015-09-20 12:07] Dragod commented on #374
I run gulp then I copy the content from dist folder to the app/www folder the I run cordova build android.
Once the build is done I install the apk he just created on the app/platforms/android/build/outputs/apk folder. The app is running fine, but once I click any of the menu I get the error

[2015-09-20 12:10] flaiker commented on #374
I had no idea PSK supported Cordova nor do I have any experience with it.

Might have to wait for someone else to help you with that.

[2015-09-20 12:13] Dragod commented on #374
Thanks, in the meantime I try to install crosswalk plugin for cordova and see what happend.

[2015-09-20 14:21] Dragod commented on #374
Solved. For some reason I had to create a folder named android_asset inside
AndroidStudioProject/myappname/app/src/main/android_asset

Then I paste the content of www folder and it's now working.

Also replaced jquey & firebase CDN lin with bower. Look like file that require a connection do not work.

[2015-09-20 14:24] arthurvr commented on #374
Glad it's resolved :)

That's not really an issue shipping with the starter kit so let's close this?

[2015-09-20 14:25] Dragod commented on #374
Sure can close it.

[2015-09-20 14:38] #374 closed

[2015-09-20 17:55] addyosmani commented on #373
The latest tagged version contains the same version as you see in master (per the comment from @flaiker) and we haven't had issues building it on Mac or Windows. Could you try reinstalling and if that fails sharing more info about your setup?

[2015-09-20 21:05] vl4dt commented on #373
**Setup:**
OS X 10.10.5
XCode Version 7.0 (7A220)
zsh 5.0.5 (x86_64-apple-darwin14.0), plus Prezto
node v4.1.0 (updated from a v0.12.x version in an attempt to solve the issue)
npm 2.14.3
bower 1.5.2

Tried what @flaiker suggested but I got:
**Permission denied (publickey)**

However, tried once more, ran the following leaving the directory as *polymer-starter-kit* as suggested:

First attempt:
[c

[2015-09-21 16:08] robdodson commented on #373
ah I think the problem might be node v4. Can you try with 0.12?

[2015-09-21 16:08] robdodson commented on #373
oh nvm I just saw that you upgraded from 0.12 to try to solve the issue. :P

[2015-09-21 16:09] vl4dt opened #375 "gulp test:local fails all some tests if base directory is not named 'polymer-starter-kit'"
I have another project based on the PSK 1.0, all tests pass without an issue no matter what the directory name is, I might try to update it in a separate directory to see how it behaves.

Setup:

Ubuntu 14.04.3 LTS
node v0.12.7
npm 2.14.1
bower 2.14.1
zsh 5.0.2 (x86_64-pc-linux-gnu) (plus Prezto)
Google Chrome Version 45.0.2454.93 (64-bit)
Firefox 40.0.3

But in this case I did all from zero:
[cod

[2015-09-21 16:23] vl4dt commented on #373
Actually @robdodson there was a difference when I tried with v0.12 before, I didn't see any build errors, with v4 there were some build errors, still npm (which is the one I presume needs to be compiled) managed to build in v4 too, both cases with v0.12 and v4 behave the same when building with gulp

[2015-09-21 16:27] robdodson commented on #373
npm isn't compiling, it's one of the npm dependencies that's trying to compile something. You definitely want to use 0.12 because web-component-tester depends on stuff that doesn't work in v4 yet, like socket.io.

[2015-09-21 16:34] samccone commented on #373
hopefully everything will get resolved this week for 4.0 upstream :+1:

https://twitter.com/SocketIO/status/645755967934697472

[2015-09-21 21:56] boloson opened #376 "Failed to print in Google chrome"
When I tried to print the page, it failed to generate a print preview in google chrome, where other browser generate the print preview properly.

[2015-09-21 22:15] paulirish commented on #363
What is browsersync doing during that time?

[2015-09-22 10:07] sindresorhus commented on #337
The dep tree has a lot of duplicates, so it will be significantly smaller when deduped or installed with npm@3. `web-component-tester` should also not depend on bower directly, but rather spawn the globally installed one. That will bring it further down.

[2015-09-22 12:29] addyosmani commented on #337
Thanks for the feedback @sindresorhus. Started looking into deduping and shrinkwrapping and came to the same conclusions about `web-component-tester`. I'm not sure why were weren't globally spawning bower there by default.

@azakus any opposition to us switching to this approach upstream?

[2015-09-22 13:04] addyosmani commented on #363
@baazoo What version of the Polymer generator for Yeoman you are using? (this lets us know what version of PSK this is being experienced with).

I'm unable to reproduce this on Mac/Chrome 46-47, but will test on Windows 10. cc @shakyShane in case there was a regression in BrowserSync we might have missed.

[2015-09-22 13:20] addyosmani commented on #376
Hmm. While Print support for PSK apps isn't something we've actively tested, I am curious why this is failing for us and not the Polymer docs site (it appears to be specific to PSK rather than Polymer).

![](http://i.imgur.com/965Du0O.png)

I've tried walking through the dependency tree in index.html disabling various pieces. At the moment the only thing that allows some amount of content to be re

[2015-09-22 14:03] gedw99 commented on #376
fails for me on my polymer based project also...

[2015-09-22 18:46] chuckh commented on #371
You can run `gulp serve:dist` to serve from dist folder, but it won't look for changes. A custom gulp task would need to be created to do so.

[2015-09-22 19:34] gedw99 commented on #371
Thanks. I ended up writting a task, so I can use golang as the server.
Good enough for our needs.

Thanks for responding.

[2015-09-22 19:34] #371 closed

[2015-09-22 20:27] baazoo commented on #363
I had forgotten to turn off network throttling. Sorry for the false report!

[2015-09-22 20:27] #363 closed

[2015-09-22 20:41] samccone commented on #363
😊👍

[2015-09-22 21:34] azakus commented on #337
Probably for the 0.1% use case of people not having bower installed.
I'm willing to cut that out and call it a breaking change, maybe with some more auditing of wct's dependencies as well.

BTW, there's both a gulp-vulcanize, and vulcanize in that list. Probably only need one.

[2015-09-22 21:37] samccone commented on #337
I am +1 for dropping gulp-imagemin@2.3.0 ... it takes a super long time to install, and only really matters when you go to ship your site

Just for fun you guys should rm -rf the starter-kit and npm i from scratch and see just how long it takes to install everything, :clock1:

![](http://i.ytimg.com/vi/IfYtgi1oq_U/maxresdefault.jpg)

[2015-09-23 00:02] sfeast opened #378 "poly-build/uglify breaks firebase.js"
To reproduce:
1) Import one of the polymer firebase elements in a psk app.
2) Build the app.
3) Run the build in any browser.

Result:
Uncaught SyntaxError: Unexpected token ILLEGAL

Reason:
poly-clean's uglifyJS function is run by poly-build & it appears uglify breaks firebase.js which is included by the firebase elements.

A workaround is to use https://github.com/PolymerElements/polymer-starter

[2015-09-23 00:46] emersonbottero commented on #271
It's is back again in PSK 1.1.0 Chrome 45 + Windows 10
![image](https://cloud.githubusercontent.com/assets/12377432/10035665/2c432474-6173-11e5-8950-815864a2ce5b.png)

[2015-09-23 00:51] sfeast commented on #283
A few observations with the latest psk (1.1.0):

With the new default vulcanize task mixins (in external stylesheets) are being left intact but they are still not working correctly.

However if I customize the default vulcanize task to what's here - https://github.com/PolymerElements/polymer-starter-kit#if-you-require-more-granular-configuration-of-vulcanize-than-polybuild-provides-you-an-option-b

[2015-09-23 01:07] paulirish commented on #363
hah. no worries.
filed this as a result....
https://code.google.com/p/chromium/issues/detail?id=535050  DevTools:
Network throttling only lasts for current devtools session.

how does that sound?

[2015-09-23 05:11] sindresorhus commented on #337
That really depends on your system. If there are precompiled binaries available it will be faster, but compiling those libs from sourse is extremely slow. But yeah, it adds a lot of overhead.

Please do so with npm@3, so to measure with the right conditions.

[2015-09-23 05:22] samccone commented on #337
@paulirish had a comical experience installing this with npm@3 last friday

His :computer: === :skull: :fire:

[2015-09-23 08:05] sindresorhus commented on #337
It's taking ~10-14 minutes with `npm@3`. Way too much! It only takes ~2 minutes on `npm@2`. Seems like a regression: https://github.com/npm/npm/issues/8826

[2015-09-23 08:49] mc-git commented on #375
Hi I did fix this problem by change "pathMappings" configuration in wct.conf.json:
[code]
to
[code]

[2015-09-23 09:34] addyosmani commented on #337
Ugh. That's unfortunate. Thanks for commenting on the upstream regression and also putting together the [shrinkwrap](https://gist.github.com/sindresorhus/3ae187c85927ffcff8e60) for them to repro.

Honest question: given the clear slowdown in dependency installation with `npm@3`, should we suggest users use `npm@2` in our README and note the regression isn't on our end? We have a ton of work to do

[2015-09-23 09:39] addyosmani commented on #363
@paulirish I've run into quite a few occasions where I forgot it was still on and was surprised at how slow things had become. Making it session-aware makes a lot of sense imo.

[2015-09-23 09:47] addyosmani commented on #378
Thanks for filing this bug and providing the workaround. It's unfortunate that an `excludes` config is required for firebase.js. I've posted this bug upstream at https://github.com/PolymerLabs/polyclean/issues/4 which is where we'll need to explore getting it addressed. If we can get it fired there we should be able to pick up the latest version via polybuild.

(Side: this may well be a general is

[2015-09-23 09:49] addyosmani commented on #351
We'll wait to see if there are others that also want a recipe for this. At the moment our current recommendations are to just use the CSS custom properties setup in Polymer rather than Sass/Less and it gets you pretty far.

[2015-09-23 09:55] addyosmani commented on #366
Thanks for the bug reports and sharing info on your errors folks.

We don't currently advertise Node 4 support due to lingering instability (on Linux/OSX from my end), but @azakus mentioned he was able to get web-component-tester mostly working with Node 4 yesterday. I think once socket.io has wrapped up things from their end we should be good to go.

My preference is for us to battletest and addr

[2015-09-23 09:56] addyosmani commented on #373
It appears that we're building up a few different exceptions at build time due to Node 4.0 support being tried. Per the other thread, I'm happy to indicate PSK currently recommends 0.12 (over Node 4.0) at least until we can verify cross-platform that everything in our workflow works reliably.

[2015-09-23 09:58] addyosmani commented on #348
If this works in Incognito mode, it's very likely that either an extension (please try toggling them on/off to discover which one is to blame) or Service Worker support (you can unregister active Service Workers in about:serviceworker-internals). As we're unable to reproduce this on our end and the above should fix the issue, closing this bug.

[2015-09-23 09:58] #348 closed

[2015-09-23 09:58] addyosmani commented on #344
@marcacohen Is this now fine per the Polymer Summit codelabs and the recipe we have in master?

[2015-09-23 10:14] marcacohen commented on #344
Yes, we decided the place to fix this is in CDE, no PSK. For now the recipe
gives a suitable work around but thanks for the reminder - I still need to
write a bug on the CDE issue tracker.

On 23 September 2015 at 10:58, Addy Osmani <notifications@github.com> wrote:

--
Marc Cohen
marccohen@google.com <mco@google.com>
http://about.me/marc1

[2015-09-23 10:17] shakyShane commented on #363
@paulirish oh please yes. The easier access is nice, but far to0 easy to forget :)

[2015-09-23 10:25] sindresorhus commented on #337
I don't think it will be a big problem yet. Most users, especially the front-end people using this, are from experience very slow with updating both npm and node. I guess it couldn't hurt to warn people temporarily though.

[2015-09-23 11:15] sindresorhus commented on #337
And biggest size offenders:

<img width="541" alt="screen shot 2015-09-23 at 12 38 00" src="https://cloud.githubusercontent.com/assets/170270/10043664/0c324032-621f-11e5-835a-b97638cec377.png">

[2015-09-23 11:46] David-Mulder opened #379 "When disabling shady DOM PSK stops working"
In app.js

    document.getElementById('mainContainer')

can't be found when shadom DOM is used and thus the entire PSK stops working.

[2015-09-23 12:34] davidrissato commented on #379
is this element in your main html and outside a template is=dom-bind? Shadow DOM intends to hide things, and if this tag isn't in the main html, it won't be found under document's content children DOM. It will be hidden in the shadow root.

[2015-09-23 12:40] David-Mulder commented on #379
Yeah I know... it's not a hard thing to fix... it's just that by default it should support the non-polyfilled Polymer as well.

[2015-09-23 13:24] addyosmani commented on #369
This may be an issue with crisper not correctly stripping out the JS. Running ES5 output with Uglify should work fine, but we'll of course run into trouble if the sources are still in ES2015. @nicolasgarnier could you help take a look here?

[2015-09-23 13:38] addyosmani commented on #344
Thanks for confirming :star:

[2015-09-23 13:38] #344 closed

[2015-09-23 13:45] marcacohen commented on #344
CDE bug here:
https://github.com/GoogleChrome/chromedeveditor/issues/3995

[2015-09-23 14:27] mharris7190 opened #380 "Buttons have strange double tap issue on mobile"
All buttons seem to have a strange double tap behavior (sometimes the tap won't even register) on mobile devices (touch events supposedly). Is there a workaround or bugfix for this in the works?

After installing the polymerStarterKit and starting it up with
~$ yo polymer
....
~$ gulp serve
I see this weird double tap thing when visiting the page (ip address and port) from a mobile device.
Safari

[2015-09-23 14:40] addyosmani commented on #380
Could you confirm if you're able to see the same behaviour on Safari/Chrome on iOS using the following links:

https://elements.polymer-project.org/elements/paper-button?view=demo:demo/index.html
https://elements.polymer-project.org/elements/paper-toolbar?view=demo:demo/index.html ?

Knowing which buttons you're experiencing the double tap issue with would also be very helpful. Thanks!

[2015-09-23 14:46] mharris7190 commented on #380
I am not seeing the same behavior on the page you linked to, neither on the buttons in the header nor the sample buttons on the page. 
Another bug came up however just now on that page, similar to one I have been experiencing with paper menu on my computer:
If I scroll down the page and try to click something, it zooms me back up to the top of the page instead.
Back to the original issue. The butt

[2015-09-23 17:05] MrChoclate opened #381 "gulp test does not work"
Hello

I clone the repo and did: `npm install && bower install && gulp test` and got this long and unreadable error:

[code]

I am on Manjaro and did `yaourt jdk8-openjdk`.

Any solutions?

[2015-09-23 17:06] samccone commented on #336
friendly ping :goat:

[2015-09-23 17:07] samccone opened #382 "🍭 gulp / build issue tracker"
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/381
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/373
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/375  -- (pending PR https://github.com/PolymerElements/polymer-starter-kit/pull/384)
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/289  -- (pending PR https://github.

[2015-09-23 17:10] samccone opened #383 "🚠 Cross browser compat issues"
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/379
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/237
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/199
* [x] https://github.com/PolymerElements/polymer-starter-kit/issues/166

[2015-09-24 01:47] samccone commented on #381
hi @MrChoclate, so this looks to be an issue with connecting to your local firefox via selenium webdriver  via https://github.com/ekryski/launchpad which is perhaps related to https://github.com/SeleniumHQ/selenium/issues/927

I am curious if updating selenium over in wct land https://github.com/Polymer/wct-local/blob/master/package.json will help you / us out.

I am going to close this issue and

[2015-09-24 01:47] #381 closed

[2015-09-24 02:00] samccone commented on #373
ok I dug through your paste bin and it looks like the reason things are not compiling correctly is because at one point someone on your system installed a Unity plugin / extension which xcode is no longer able to load... thus preventing xcode from running / compiling

Perhaps take a look at

https://developer.appcelerator.com/question/173705/problem-building-ipad-applications

https://developer.ap

[2015-09-24 02:04] samccone commented on #375
As @mc-git pointed out the issue here is the pathMapping being hard coded to `polymer-starter-kit`
a fix right now for you is simply to update the path manually, the end fix for the project is to
change  `wct.conf.json` to `wct.conf.js` and automagically take care of the path issue here :space_invader:

[2015-09-24 02:42] samccone commented on #289
@dman777 I took an initial pass at this by pulling out non specific logic into functions.
If you would like to take it further / :x: to run-sync which imho is not the worst thing ever PRs are welcome!

[2015-09-24 02:44] samccone commented on #323
hi @SayChunKim  can you try this on the latest master with node 0.12.x..

---

I am going to close this for now, but we can reopen if you are still hitting your head during the install phase.

[2015-09-24 02:44] #323 closed

[2015-09-24 02:52] samccone commented on #225
**TLDR** we should have things just work with external js / css

thanks for the awesome debugging / thinking here :a: :heavy_plus_sign:
I opened a PR to hopefully resolve this pain, let me know what you think!

[2015-09-24 05:50] vagabondtt1503 opened #387 "Angular 2.p alpha 37 and polymer-starter-kit"
Dear,

I am researching about angular 2.0 al37 and polymer. Can anyone has example which use angular 2.0 in polymer-starter-kit?

Thanks.

[2015-09-24 06:51] contra commented on #337
@sindresorhus worth opening a ticket on those offenders

[2015-09-24 10:00] addyosmani commented on #387
We don't currently have an example of using both Angular 2 and Polymer Starter Kit together, however there has been experimentation of using Angular 2 and Polymer directly with a few patches. Take a look at some of the links in http://stackoverflow.com/questions/29218327/has-anyone-got-angular-2-0-alpha-working-with-polymer-elements.

[2015-09-24 10:00] #387 closed

[2015-09-24 10:00] #225 closed

[2015-09-24 14:36] zohon opened #388 "Data binding array not trigger observer"
When push item on an array with :

this.push('allRules', {name : 'test'});

for example. The observe of allRules dont call the function associate with it.

Here is a codePen for example http://codepen.io/anon/pen/yYajXV

Thanks

[2015-09-24 14:54] robdodson commented on #388
I believe you need to use a separate observers object to observe sub property changes to an array.
https://www.polymer-project.org/1.0/docs/devguide/properties.html#array-observation

http://codepen.io/anon/pen/NGRzNj

[2015-09-24 14:54] #388 closed

[2015-09-24 16:21] samccone commented on #283
Hi guys #386 should resolve the issue for everyone :) :clap: :cactus: :cake:

Let me know if you are still seeing this issue!

[2015-09-24 16:21] #283 closed

[2015-09-24 20:05] Dragod opened #389 "Starterkit app have lot of lag"
I'm building my first android app with polymerstarterkit but look very laggy on my galaxy s4. Anything that I can do to have a better performance?
I know this isn't really a bug but I was expecting to be faster on a phone. More responsive.

[2015-09-24 20:42] samccone commented on #389
@Dragod would you be able to upload some timeline info via
https://developers.google.com/web/tools/setup/remote-debugging/remote-debugging

Without that it is hard to help here.

--

I am going to close this one as a non-issue (directly related to PSK) however we can continue the conversation here :sparkles:

[2015-09-24 20:42] #389 closed

[2015-09-25 07:40] vl4dt commented on #373
Just wanted to share this with you guys because we were close to the solution, I went back to node 0.12.7 as @robdodson and @addyosmani suggested, the error persisted but decided not to update node until all PSK dependencies are ready for it, uninstalled the Unity plugin, @samccone, I am to blame for installing this plugin lol, anyway, the error persisted and honestly was a bit frustrated.

I trie

[2015-09-25 10:35] Dragod opened #391 "Vulcanize fail "Error in plugin "polyclean""
C:\gitrepos\my_app>gulp vulcanize
[11:30:32] Using gulpfile C:\gitrepos\my_app\gulpfile.js
[11:30:32] Starting 'vulcanize'...
[11:30:37] Error in plugin "polyclean"
Message:
    Unterminated string constant

[2015-09-25 12:33] addyosmani commented on #391
Is this using a fresh pull of the latest PSK or did you make any changes to the codebase before trying to run `gulp vulcanize`?

[2015-09-25 12:38] Dragod commented on #391
I did a fresh pull last night and havent change much, just few more html
file & js but didn't touch any of the build process. I can imclude the
gulp.js if that help
On 25 Sep 2015 13:34, "Addy Osmani" <notifications@github.com> wrote:

to the codebase before trying to run gulp vulcanize?

[2015-09-25 12:46] addyosmani commented on #391
`polyclean` currently runs fine against the default version of PSK that we ship so it'll (most likely) be a specific change made to the HTML/JS files that are currently causing it to error out. Would it be possible to either:

1. Comment out your changes until you discover which one is breaking `polyclean` and report back
2. Share your HTML/JS changes so we can try to do 1. to figure out where the

[2015-09-25 12:50] Dragod commented on #391
I will comment/remove those file for testing anf I'll report back.

Anyway, here is my repo https://github.com/Dragod/itwebit_app, hope it help. Thanks.

[2015-09-25 13:10] Dragod commented on #391
Commented out all my new js, html  import & still get "Unterminated string constant"

[2015-09-25 15:12] samccone commented on #373
woah crazy @vl4dt totally not what I expected then! I will reopen this until we have a resolution on your open PR

thanks for working though this with us :+1:

[2015-09-25 18:04] davidcv5 opened #392 "Adding ES2015 support duplicates the content in app.js"
Downloading PSK 1.1.0 and following the steps to add support for ES2015 results in the content of app.js  being duplicated.
No code changes, nothing other than adding the changes to gulpfile.js.

[2015-09-25 18:07] samccone commented on #392
@davidcv5 can you post your gulpfile?

[2015-09-25 18:19] davidcv5 commented on #392
@samccone here you go...

'use strict';

// Include Gulp & tools we'll use
var gulp = require('gulp');
var $ = require('gulp-load-plugins')();
var del = require('del');
var runSequence = require('run-sequence');
var browserSync = require('browser-sync');
var reload = browserSync.reload;
var merge = require('merge-stream');
var path = require('path');
var fs = require('fs');
var glob = require('glo

[2015-09-25 18:23] samccone commented on #392
:bow: thx!

[2015-09-25 18:41] davidcv5 commented on #392
@samccone just fyi, see below...
Opening **app.js** inside **dist** and beautifying it shows the same code twice.

 **$ gulp serve**
![image](https://cloud.githubusercontent.com/assets/1226611/10109134/2c4f0d4e-6393-11e5-9cfc-72c6e366088f.png)

 **$ gulp serve:dist**
![image](https://cloud.githubusercontent.com/assets/1226611/10109141/3bb98d40-6393-11e5-980a-fd3dc5d90e95.png)

[2015-09-25 18:42] samccone opened #393 "CI should run jshint over codebase"

[2015-09-25 21:49] #375 closed

[2015-09-25 21:56] samccone opened #394 "migrate CI over to travis"
We have a few custom needs for our test suite

* .js wct configs
* running jshint / jscs / other lint tasks

The current polymer test runner can not accommodate these needs, however travis can

The downside here is that we no longer get "free" test runs across multiple browsers, however I do not think that is so important right now.

[2015-09-25 22:37] dev-e-loper opened #395 "Running tests - Polymer is not defined"
I'm able to run `gulp serve` without an issue. Running tests with `gulp test:local` I get the following

chrome 45                Beginning tests via http://localhost:2000/components/starter_kit/generated-index.html?cli_brows
er_id=0
404 GET /components/starter_kit/app/bower_components/polymer/polymer.html
chrome 45                ? Test Suite Initialization

  Polymer is not defined
    <unknown>

[2015-09-25 22:40] samccone commented on #395
hey @dev-e-loper

checkout the patch here
https://github.com/PolymerElements/polymer-starter-kit/pull/384

It will fix this issue!

[2015-09-25 22:40] #395 closed

[2015-09-26 04:02] vl4dt commented on #375
Thanks all, will do that

[2015-09-26 04:12] emersonbottero opened #396 "Fullbleed creates an extra scroller"
Couldn't reopen the last one myself #271 so i link-it here

It happens for me even in the https://elements.polymer-project.org/elements/google-map for example.

[2015-09-26 09:30] addyosmani commented on #396
Thanks for filing again. I'll try to repro this on Windows early next week.

[2015-09-26 09:32] addyosmani commented on #394
:+1:

[2015-09-26 09:43] #289 closed

[2015-09-26 11:23] kaste opened #397 "Why do we polybuild index.html?"
In the recent version of the polymer-starter-kit we vulcanize/polybuild the index.html, which leads to a blown up >100kB index.html file. Shouldn't we vulcanize the elements.html just like we ever did?

On a side note: the gulp file still refers to a elements.vulcanized.html file which is unused right now.

[2015-09-26 14:04] ebidel commented on #397
We should be careful about doing this. Making the main page too big can
actually be slower. I saw this with chromestatus and in lining a ton of
json on the page. Xhring it instead was faster.

In the world of http2, it might even be faster to have smaller chunks for
the browser to preload.

On Sat, Sep 26, 2015, 4:23 AM Herr Kaste <notifications@github.com> wrote:

[2015-09-26 15:03] samccone commented on #382
👍👍👍👍👍

[2015-09-26 15:03] #382 closed

[2015-09-26 15:44] addyosmani commented on #397
Let's take a closer look at our polybuild setup for the next release. I agree with Eric's concerns about the cost of inlining vs. XHRing in.

[2015-09-26 15:44] addyosmani commented on #382
That was fast!

[2015-09-26 18:42] samccone commented on #382
:racehorse:

[2015-09-26 20:40] dman777 commented on #289
@samccone Sorry about the late response. I would but I'm backed up on other projects :relaxed: Sorry!

[2015-09-26 21:03] samccone commented on #289
No worries. This is OSS so any help is appreciated

[2015-09-26 22:46] mvpmvh opened #398 "specific built-in icons seem to be discarded when imported via elements.html"
Is it just me, or does importing a specific built-in icon (e.g. communication, av, etc) get discarded when imported in elements.html? If I import `iron-icons` and `av-icons` and later try to use some av-icons in my application, there is an empty space where the av icons should be.

A snippet from elements.html

    <link rel="import" href="../bower_components/iron-icons/av-icons.html">
    <link r

[2015-09-26 23:06] mvpmvh commented on #398
ignore. (the missing icons were due to some seriously heavy caching, apparently).

[2015-09-26 23:06] #398 closed

[2015-09-26 23:10] samccone commented on #398
:+1: no worries

[2015-09-27 00:44] emersonbottero commented on #396
Sure

[2015-09-27 12:48] ishandutta2007 opened #399 "Error: Cannot find module 'vinyl' on running 'gulp serve'"
npm install -g gulp bower &&  npm install &&  bower install
gulp serve
[code]

[2015-09-27 14:58] BorntraegerMarc opened #400 "Default tests not working"
Hi there :)

I downloaded and installed the PSK 1.1.0  with all libraries. The actual site works fine and with no error, but when I run the tests with 'gulp test:local' I get the following error:

[code]

Therefore all other tests also fail... Tested it on Windows 10 and Ubuntu 14.04

[2015-09-27 15:05] ghost opened #401 "polymer-starter-kit-master images generator"
Hi there

I started a new project and I'm using polymer for the fronted. So, I downloaded the PSK and installed everything. Then I renamed the project to 'myproject'. Every time I start the application with 'gulp serve', a folder 'polymer-starter-kit-master' gets generated (under my 'myproject' folder) with all the touch images in it. Is this a bug or do I have to rename a specific component in th

[2015-09-27 16:18] samccone commented on #399
@ishandutta2007 When you ran npm i did you hit any errors?

[2015-09-27 16:19] samccone commented on #400
@BorntraegerMarc did you change the root folder of the project?

When did you download PSK?

[2015-09-27 16:20] samccone commented on #400
I think that this PR should have resolved this issue
https://github.com/PolymerElements/polymer-starter-kit/pull/384

[2015-09-27 16:33] BorntraegerMarc commented on #400
Hi @samccone I downloaded the project last Monday, if I'm correct. But not the master branch, just the actual released version. Should I try it with the master?

[2015-09-27 16:50] samccone commented on #400
I would appreciate it if you would try :)

[2015-09-27 19:02] BorntraegerMarc commented on #400
No problemo :) Just tested it and it looks like the master branch works fine... Except, that the tests fail on firefox but I think that's a Windows 10 problem... I'm going to wait for a new release and close the issue. Thanks :)

[2015-09-27 19:02] #400 closed

[2015-09-27 19:58] samccone commented on #400
No problem. Thanks for checking !

[2015-09-28 05:27] salah-saleh opened #402 "npm & bower issues when installing the Starter Kit"
Hi, I get the following errors when I run npm install && bower install on the Starter Kit. My npm version is 3.3.5, node version 0.12.2

	npm install && bower install

	  CXX(target) Release/obj.target/bufferutil/src/bufferutil.o
	  SOLINK_MODULE(target) Release/bufferutil.node

	[fsevents] Success: "/Users/sam/Documents/projects/web-projects/polymer-summit-examples/polymer-starter-kit-1.1.0/node_

[2015-09-28 05:29] thanhtruong0315 opened #403 "Single Page Application for polymer-starter-kit"
Dear all,

I used polymer-starter-kit few days ago. That is excellent example for polymer 1.0. But, I have a small issue about routing. When I click Users (nav menu), I realize sections in page is show / hide, did not load HTML template. So, if I would like to implement dashboard, I will put all code to dashboard page, and then, show or hide for each section.

Does anyone have other way better?

T

[2015-09-28 07:00] Holi0317 opened #404 "Service worker is broken in PSK 1.1.0"
To reproduce,
1. Get a fresh install of PSK
2. Follow README.md/Service Worker to enable service worker support
3. `gulp:serve`, and open devtool. Service worker tries to get bootstrap file from the root, instead of elements/. This happens because platinum elements is in index.build.js.

To fix this, either move bootstrap file to root or, as mentioned in #397, roll back to vulcanize.

[2015-09-28 08:38] Dragod commented on #402
try npm install js-yaml

[2015-09-28 10:00] azumbrunnen opened #405 "app-theme.html isn't parsed"
I've just cloned this repo and started building a new project and it seems like app-theme.html doesn't get parsed anymore. I can enter arbitrary values and it doesn't seem to have any impact.

I know that you changed some stuff in the styling system, does this have anything to do with that?

[2015-09-28 10:13] salah-saleh commented on #402
I tried but I still get exactly the same errors.

[2015-09-28 10:28] Dragod commented on #402
So you need to wait for someone that know more than me :)

[2015-09-28 10:39] addyosmani commented on #402
Can you try:

[code]

To see if the dependency issue can be resolved from a freshly cleaned cache?

[2015-09-28 10:40] addyosmani commented on #405
When you say it doesn't get parsed anymore, do you mean changes you're making to the app-theme aren't getting applied? Any further details that can help us repro what you're seeing would be helpful. Thanks!

[2015-09-28 10:44] addyosmani commented on #404
This looks like it happened as part of our switch to polybuild for 1.1.0.

We'll likely need to try customizing the polybuild workflow to avoid tampering with the Platinum setup or as you mention, move back to the more verbose vulcanize setup and include the extra polyclean/crisper steps ourselves.

cc @samccone as an FYI.

[2015-09-28 10:47] addyosmani commented on #401
@BorntraegerMarc Can you try running `gulp clean` and `gulp serve` after that to see if this issue persists? I'm curious if your initial serve/builds are caching the original folder name somewhere unintentionally.

[2015-09-28 10:52] addyosmani commented on #399
Can you try:

[code]

To see if the dependency issue can be resolved from a freshly cleaned cache?

[2015-09-28 10:53] addyosmani commented on #393
:+1:

[2015-09-28 15:58] salah-saleh commented on #402
yes, thank you Addi.

[2015-09-28 15:58] #402 closed

[2015-09-28 16:00] samccone commented on #402
:+1:

[2015-09-28 19:45] semateos commented on #380
I'm having a similar issue, not sure if it's the same one - but mine seems related to page.js - not polymer elements.  I'm experiencing missing navigation events on mobile, where the nav element will appear clicked, but the pushstate url change doesn't happen.   I believe that page.js improperly attempts to switch between touch vs. click events here:
https://github.com/visionmedia/page.js/blob/mas

[2015-09-28 20:14] BorntraegerMarc commented on #401
Hi @addyosmani
Tried it and I'm still experiencing the same issue...

[2015-09-28 20:26] samccone commented on #401
Hi @BorntraegerMarc would you mind posting your logs when you run `npm install`

[2015-09-28 20:47] BorntraegerMarc commented on #401
Sure. Deleted the node_modules folder and did a fresh install. Log attached... I'm developing on a Windows 10 64 Bit machine with npm V. 2.11.3 and Node v0.12.7. I'm getting some warnings and errors, but I believe those are normal, developing on windows :)

[code]

[2015-09-29 00:46] shersher opened #406 "Mac gulp serve page blank until toggle between browser tabs"
Mac Yosemite
node v0.12.7
gulp CLI version 3.9.0
bower 1.5.3
uninstalled generator-polymer and npm generator-polymer (version looks like 1.2.0)
made new app directory and cd to it, then:
yo polymer
npm install && bower install
Quit Chrome from toolbar
Quit Terminal window
in new Terminal window, ran gulp serve and the Chrome browser loads quickly with the tab properly titled Polymer Starter Kit.

[2015-09-29 11:07] buele opened #407 "paper-item issue during vulcanize, finding paper-item-shared.css error"
#### Envirnoment:

[code]

#### bower.json:

[code]
Previous week the vulcanize has worked, after a week I have refreshed the bower_components (via bower install) and the vulcanize doesn't work anymore.

#### logs:
[code]

[2015-09-29 13:06] addyosmani commented on #407
Thanks for your bug report. Is it possible to try downgrading your version of vulcanize/gulp-vulcanize to the one you had the week before and see if that's still working? If so, we can then look into what exact change broke this.

[2015-09-29 13:42] buele commented on #407
Thank you for your prompt reply.

The version of vulcanize is: 6.0.0.

We have the problem from the paper-item commit:
https://github.com/PolymerElements/paper-item/commit/22bab8a2f875dcbfad6328b6774545d229f6379f

We haven't problems with before commits

[2015-09-29 15:39] samccone commented on #407
Hi @buele would you mind running `rm -rf node_modules && rm -rf bower_components && npm i && bower i` and the trying again

I think one of your modules might be slightly out of date :)

[2015-09-29 17:36] shersher commented on #406
Solved!  Last night I began to have a blank screen on a Gitter site; I disabled all extensions and it now works as expected.  Surprisingly, I progressively enabled the extensions expecting to find the offending extension but...none of them caused the failure to recur.  Nuts.

[2015-09-29 17:36] #406 closed

[2015-09-29 17:59] samccone commented on #406
:+1:

[2015-09-29 20:23] whitead opened #408 "Paper-drawer-panel, paper-dialog scrollable name mismatch"
There seems to be some mismatch in the element names in `bower_components`. Running `gulp serve` gives this error:
[code]
If I look in bower_components, indeed it is missing. Instead I have this in `bower_components/paper-drawer-panel`:

[code]

The `.bower.json` sheds some light on this:
[code]
It appears that somehow it switched the git repos for paper-drawer-panel and paper-scrollable-dialog (?

[2015-09-29 20:56] Dragod opened #409 "Question: how to redirect from page to page in starterkit"
Do you guys can tell me how to redirect? Unfortunately I can't get it working on my phone.

the window.location look like it's only working on desktop browser

[2015-09-30 03:38] cnbuff410 commented on #409
isn't it done by page.js?

[2015-09-30 13:36] whitead commented on #408
I reinstalled everything fresh again today, starting from node. It worked this time, although I tried reinstalling everything yesterday a few times too. Guess I just am not familiar enough with these tools.

[2015-09-30 13:36] #408 closed

[2015-09-30 15:32] rhasson opened #410 "bower ENORESTARGET No tag found that was able to satisfy ^1.1.0"
Did a fresh install of Polymer starter kit 1.1.0 under nodejs 4.1.1 and when I ran bower install I got the following error:
[code]

[2015-09-30 15:49] samccone commented on #408
:+1: glad you got it

[2015-10-01 10:12] addyosmani commented on #409
If you're trying to force a redirect from one view/page to another you can do this using page.js. The docs there cover a few different ways of tackling this: https://visionmedia.github.io/page.js/

[2015-10-01 10:12] #409 closed

[2015-10-01 10:13] addyosmani commented on #404
@samccone Moving this to the 1.1.1 pipeline. We might want to triage if there are other issues related to our switch to polybuild that we'll want addressed upstream before the next release: https://github.com/PolymerElements/polymer-starter-kit/issues?utf8=✓&q=is%3Aissue+is%3Aopen+polybuild

[2015-10-01 11:05] addyosmani opened #411 "Move Platinum Service Worker support to a recipe"
We've discussed this a few times in recent meetings. The goal is to allow PSK to trim down to a leaner base and make everything currently optional a more streamlined recipe. Still open for discussion :speaker:

[2015-10-01 11:22] addyosmani commented on #237
We landed a fix for this in https://github.com/PolymerElements/polymer-starter-kit/pull/256 which successfully does the trick.

[2015-10-01 11:22] #237 closed

[2015-10-01 11:30] addyosmani commented on #199
After getting the code supplied setup locally with the current version of PSK, I tried reproducing the issue you experienced. It looks like (at some point) if there was a discrepancy in how this was working with the wc.min.js build it's working fine now. Feel free to shoot us over a comment if you still find this to be an issue :)

[2015-10-01 11:30] #199 closed

[2015-10-02 00:46] #396 closed

[2015-10-02 14:17] jwuliger opened #413 "Unable to "gulp serve" PSK 1.1.0 - Windows"
Hello,

I need help please!

I have been able to effortlessly install and run all previous versions of the PSK. I have spent hours now trying to get 1.1.0 to run in my environment. I have done everything I can think of. From googling the error to reviewing all current issues with this version here. Any of the suggested fixes dont work for me.

I have made no code changes and I am running CMD as th

[2015-10-02 14:39] azumbrunnen opened #414 "Fails to build"
Running NPM 2.14.4, I'm unable to build with the new gulpfile.

I get this error with a freshly cloned repo:

`events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: ENOENT: no such file or directory, open '/Users/azumbrunnen/Desktop/polymer-starter-kit/dist/index.build.html'
    at Error (native)
`

any suggestions? The error message isn't exactly helpful in this case.

[2015-10-02 14:59] addyosmani commented on #414
Could you provide some more information on which version of PSK and OS you were testing with?

[2015-10-02 16:04] robdodson commented on #413
Have you tried on Node 0.12. We've been experiencing issues with v4

[2015-10-02 16:10] jwuliger commented on #413
No, I will try that and post back! Thanks.

[2015-10-02 16:30] azumbrunnen commented on #414
The version is the current one as per two hours ago. I'm working on Yosemite.

[2015-10-02 16:32] samccone commented on #414
so `node 4.1.1`

:)

[2015-10-02 16:35] azumbrunnen commented on #414
Yes I have node 4.1.1 installed.

[2015-10-02 16:45] jwuliger commented on #413
OK. So using the windows version of NVM, I installed Node v0.12.7. Same error just different line numbers. I am using the same newer version of NPM. Should I also use the older NPM?

[2015-10-02 16:58] addyosmani commented on #413
Can you try with `npm install -g npm@2.14.4` and see if that makes a difference?

[2015-10-02 16:58] #373 closed

[2015-10-02 16:58] #414 closed

[2015-10-02 17:03] samccone commented on #413
ok I just tested the latest node 4.x.x and latest npm 3.x.x with a clean install of everything on a mac and everything worked like a champ.

This makes me want to believe that this is a windows issue, @jwuliger can you post the entire error stack from `Error: spawn cmd ENOENT` down

thx a bunch :grapes:

[2015-10-02 18:19] jwuliger commented on #413
Thanks for your help you guys. How would I find the stack trace? I am not getting a npm log file generated.

[2015-10-02 18:26] jwuliger commented on #413
OK I did a "Gulp" to build then tried to run the dist and was able to get a log file. Here it is:

[code]

[2015-10-02 18:51] jwuliger commented on #413
This has been resolved. I was missing a PATH var to **C:\Windows\System32\** I really need a Mac.. Thanks for your help!!

[2015-10-02 18:52] #413 closed

[2015-10-02 18:56] samccone commented on #413
:clap: woot @jwuliger great work debugging

[2015-10-04 02:18] eriwen opened #416 "PSK 1.1.0: JS error on Win8/IE11 preventing page render (distributed only)"
I'm encountering a couple JS errors that prevent the page from rendering using un-modified polymer-starter-kit-1.1.0.zip. Note that this only occurs after distributing or `gulp serve:dist`

Steps to reproduce
 * Unzip polymer-starter-kit-1.1.0.zip. Install all the things.
 * `gulp serve:dist`
 * Open in IE 11

Here's a screenshot of the JS debugger:
<img width="1280" alt="screen shot 2015-10-03 at

[2015-10-05 18:00] pengying opened #417 "Gulp quits after clean task."
Moving thread https://github.com/PolymerElements/polymer-starter-kit/commit/b756fa270a076ebe6536a374c3a72c5fac6d989a#commitcomment-13586910 to issues

I don't think the problem's been fixed.

Not sure if it's better to return the promise

    return del(['.tmp', 'dist'], cb);

or to call the callback

    del(['.tmp', 'dist']).then(function() {cb();});

[2015-10-05 18:02] samccone commented on #417
@pengying do you have any steps to reproduce the "bug"

[2015-10-05 18:27] pengying commented on #417
Did some research.  I was using `Del 2.0.2`.  `Del 1.2.1` clean works.  I think I was installing modules manually to get a better understanding of what the gulp file was doing.  But it's a useful note for anyone else encountering the clean issue.

[2015-10-05 18:48] tjahelka opened #418 "Polymber.Base.transform illegal invocation"
When running polymer 1.1.0, the following lines in app.js:addEventListener cause an error

   // Scale bottomContainer and bottom sub title to nothing and back
    Polymer.Base.transform('scale(' + scaleBottom + ') translateZ(0)', bottomContainer);

    // Scale middleContainer appName
    Polymer.Base.transform('scale(' + scaleMiddle + ') translateZ(0)', appName);

Uncaught TypeError: Illegal inv

[2015-10-05 19:02] samccone commented on #417
word, thanks for the research @pengying

[2015-10-05 19:02] #417 closed

[2015-10-05 19:04] samccone commented on #418
hey @tjahelka this seems to be a question / debug request related to polymer and not directly to PSK

Would you mind filing this over here?
https://github.com/Polymer/polymer

Thanks!  :sparkles:

[2015-10-05 19:28] ebidel opened #419 "ES6: Investigate"

[2015-10-05 19:28] samccone commented on #419
different from? https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md

[2015-10-05 19:31] ebidel opened #420 "ES6: Investigate "Ignoring duplicate element definition: undefined" warning"
This prints if you `gulp` and have followed the instructions at https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md.

See https://github.com/ebidel/polymer-experiments/issues/8#issuecomment-145625208 for more context.

It's weird that `gulp` vulcanizes index.html, but the es6 stuff compiles + vulcanizes each element individually. It would be faster a

[2015-10-05 19:32] arthurvr commented on #419
I guess this issue was supposed to be https://github.com/PolymerElements/polymer-starter-kit/issues/420? Can we close this one?

[2015-10-05 19:33] samccone commented on #419
sgtm

[2015-10-05 20:47] tjahelka commented on #418
My apologies, I thought since app.js was part of the PSK and that is where the offending code is that this was a PSK issue.  I'll open against polymer.

[2015-10-05 20:48] samccone commented on #418
ah, disregard then we will take a look internally since it may be a simple misuse of the code by us, can you give us steps to reproduce your issue? Thanks!

[2015-10-05 20:56] ebidel commented on #419
Yes, https://github.com/PolymerElements/polymer-starter-kit/issues/420 :)

[2015-10-05 20:56] #419 closed

[2015-10-05 21:00] tjahelka commented on #418
Please close.  I archived my original PSK and started over and the error is gone.  Comparing the 2, somehow I had a partial/corrupted index.html.  Thank you for your help.

[2015-10-05 21:01] #418 closed

[2015-10-06 06:38] archana-s commented on #378
gulp.task('vulcanize', function () {
  var DEST_DIR = 'dist/elements';
  return gulp.src('dist/elements/elements.vulcanized.html')
    .pipe($.vulcanize({
      stripComments: true,
      inlineCss: true,
      inlineScripts: true,
      excludes: [path.resolve('./dist/bower_components/firebase/firebase.js')]
    }))
    .pipe(gulp.dest(DEST_DIR))
    .pipe($.size({title: 'vulcanize'}))
});

This

[2015-10-06 08:33] stephenkeep commented on #340
@addyosmani have you had chance to work on this. Im looking to start a PSK project with animation this week.

[2015-10-06 09:33] kishaningithub commented on #378
This repo https://github.com/PolymerLabs/todo-list/ uses firebase-element but does not seem to be affected by this bug.

Why is that??

In its bower.json i see
"firebase-element": "GoogleWebComponents/firebase-element#61-kschaaf-local-key"

what is that "61-kschaaf-local-key" thing???

[2015-10-06 16:12] samccone commented on #340
I know @ebidel may have been working on something related

CC @ebidel

[2015-10-07 12:26] VandeurenGlenn commented on #378
@kishaningithub Polybuild isn't used there yet.

[2015-10-07 12:42] addyosmani commented on #378
What @VandeurenGlenn kindly pointed out. This issue is only visible when using polybuild or one of the transitive dependencies like polyclean.

[2015-10-07 15:26] nicolasgarnier commented on #420
Yes we're supposed to only vulcanize elements.html. Let me have a look.

[2015-10-07 16:14] samccone commented on #416
@addyosmani Do you have a windows box to verify this on?

[2015-10-07 16:23] samccone commented on #407
@buele are you still hitting this one?

[2015-10-07 16:48] samccone commented on #166
Tested on firefox 41 with the latest install of everything and things seem A-OK

We can reopen if anyone can reproduce :) :sparkles:

[2015-10-07 16:49] samccone commented on #162
this is now all working on latest master

Thanks a bunch @arthurvr and @akhr :)

[2015-10-07 16:49] #162 closed

[2015-10-07 16:49] samccone commented on #106
Closing this due to it going stale, we can reopen if we get a response cc @Alienuser

[2015-10-07 16:49] #106 closed

[2015-10-07 16:51] samccone commented on #208
https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md

documented! Thanks all for the interest!

[2015-10-07 16:51] #208 closed

[2015-10-07 16:59] samccone commented on #336
![screen shot 2015-10-07 at 9 57 29 am](https://cloud.githubusercontent.com/assets/883126/10344768/03d1b88a-6cda-11e5-9587-30a5133b1c06.png)
![screen shot 2015-10-07 at 9 57 24 am](https://cloud.githubusercontent.com/assets/883126/10344769/03d1f50c-6cda-11e5-8480-a5965c07561a.png)

:space_invader: Verified to work :space_invader:

`gulp serve:dist`

Thanks @addyosmani and @ebidel

[2015-10-07 16:59] #336 closed

[2015-10-07 17:04] samccone commented on #195
We could move it, we could not, not sure there is a big win / loss here

cc @tjsavage for final call

-----

Going to close this as it is not really an "issue" but rather just a general question :)

[2015-10-07 17:04] #195 closed

[2015-10-08 00:16] plusCubed commented on #416
Windows 10 x64, IE11. Same issue since 1.1.0. I should note it works fine in Edge or any other browser.

[2015-10-08 00:21] samccone commented on #416
thanks @plusCubed, we will get the sorted

[2015-10-08 09:30] gedw99 commented on #416
I have also a failure of the same type
Its starter kit with a few extra standard elements

You can see what i mean here.
https://dev.modern.ie/tools/screenshots/#https://dev-dot-berlininfusions-website.appspot.com/

[2015-10-08 11:38] gedw99 opened #422 "pngs in App/images, not moving into Dist/images"
**Environment**
node v0.12.7
polymer tag 1.1.1
OSX

**Die problemo !**
Its very simple, but gulp is just not copying the pngs (chrome-touch-icon-192x192.png for eg) from app/images --> dist/images

I tried a gulp clean. No luck

i just some more checks. Its very flackey, so images get copied and not others.
I think there must be some caching going on somewhere. Gulp being too smart ??

Any ideas ?

[2015-10-08 12:24] GXLabonte commented on #166
Using Firefox 4.1.01, page.js 1.6.4, updated bower components, problem is now intermittent.  Sometimes a single click works but not always.   Could be a problem with page.js  I've only seen this when using page.js (their history.md file does mention a bug  fix with click-event in Firefox for version 1.6.3)

[2015-10-08 18:01] gertcuykens opened #423 "add-scss-support-sass.md"
https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md

Can you make a scss doc please, its not that straight forward for me to have a scss preprocessor in your gulp file without breaking gulp. This is what I have so far.

[code]

[code]

[2015-10-08 18:08] addyosmani commented on #404
In the latest version of PSK in master, we've reverted to using vulcanize directly rather than relying on polybuild. Could you retest using this version and let us know if you're still running intro trouble?

[2015-10-08 18:09] addyosmani commented on #397
In the latest version of PSK in master, we've reverted to using vulcanize directly rather than relying on polybuild. Could you retest using this version and let us know if you're still running intro the same issues as you saw with polybuild?

[2015-10-08 18:13] addyosmani commented on #422
Interesting. Could you try reinstalling your dependencies `npm cache clean && npm install` and then run `gulp` again to see if that improves the copying situation?

I just pulled PSK master and it appears to be copying the images to dist correctly (OSX here too):

<img width="442" alt="screen shot 2015-10-08 at 19 10 52" src="https://cloud.githubusercontent.com/assets/110953/10375453/8a458c54-6df0

[2015-10-08 18:19] addyosmani commented on #416
@samccone do you have access to a Windows box yet? If not, we can assign this one to me.

[2015-10-08 18:19] addyosmani commented on #410
Could you try downgrading to Node 0.12.x and test again? We don't yet have official support for Node 4 just yet.

[2015-10-08 18:20] addyosmani commented on #407
To add to that, if you are still hitting this one, could you try testing against master too to see if it's been addressed?

[2015-10-08 18:21] addyosmani commented on #399
friendly ping. Does the above address the issue for you?

[2015-10-08 18:33] samccone commented on #416
@addyosmani should have one by EOW

[2015-10-08 19:13] rhasson commented on #410
Thanks Addy.  I'll give it a try.

[2015-10-09 03:25] gertcuykens opened #425 "Proposal: global function for tasks directory"
At the moment the plugin tasks directory is pretty useless because you need to modify the gulpfile anyway.

What about doing the following so nobody needs to touch the gulpfile.

Create a global function you can define in the tasks folder that does the watch stuff
[code]

Create a global asset
[code]

Just put this block completely in the tasks directory
[code]

And lastly make a global https vari

[2015-10-09 03:38] gertcuykens commented on #425
So we end up with a default.js in the tasks directorie that looks like this
[code]

[2015-10-09 04:28] gertcuykens commented on #425
https://gist.github.com/gertcuykens/b701a557c5019dc41b50

This example works except I can't get it in my task folder default.js :)

[2015-10-09 12:52] gedw99 commented on #422
@addyosmani

I just tried a new polymer starter kit and it works perfectly.
But thats not what the problem IS.
I have changes the icons in the apps/images dir,
then i delete the dist folder (to be sure)
then i run "gulp"
then in the dist/images, the images are the original ones, NOT the ones in the app/images.

Hence why i mentioned there seems to be caching going on.

[2015-10-09 13:16] Dragod commented on #422
I had same problem with the chrome-touch-icon-192x192.png

[2015-10-09 13:33] gedw99 commented on #422
I just tried the npm clean and reinstall of npm and bower components

Did not work.
The dist/images has the orginal ones, rather than the ones from app/images

cant work it out

[2015-10-09 16:35] samccone commented on #422
@gedw99 Do you get any error messages when you run npm i?

[2015-10-09 20:26] gertcuykens commented on #425
Its working, only need to get https://github.com/gertcuykens/polymer-starter-kit/blob/master/gulpfile.js#L26-L38 into https://github.com/gertcuykens/polymer-starter-kit/blob/master/tasks/default.js :) Any gulp experts that can comment how to do this?

[2015-10-09 21:34] gertcuykens commented on #425
Yeeej its working :D
https://github.com/gertcuykens/polymer-starter-kit/blob/master/gulpfile.js

[2015-10-09 21:43] samccone commented on #425
awwweeesome! @gertcuykens mind opening a PR?

[2015-10-09 22:13] pippintook opened #427 "Service Worker Issue in PSK"
:5000/sw-import.js?baseURI=http%3A%2F%2Flocalhost%3A5000%2Fbower_components…platinum-sw-register.html&clientsClaim=true&skipWaiting=true&version=1.0:1 GET http://localhost:5000/sw-import.js?baseURI=http%3A%2F%2Flocalhost%3A5000%2F…2Fplatinum-sw-register.html&clientsClaim=true&skipWaiting=true&version=1.0 net::ERR_FAILED

^^ The error message I get in the console when I run gulp serve on my Polymer

[2015-10-10 06:46] gedw99 commented on #422
@samccone

None.

gedw99-MacBook-Pro:static apple$ pwd
/Users/apple/Workspace/go/src/bitbucket.org/gedw99/berlininfusions-web/static
gedw99-MacBook-Pro:static apple$ npm i
gedw99-MacBook-Pro:static apple$

[2015-10-10 06:55] gedw99 commented on #422
I cross checked that i am not going mad

made a script to copy the images form APP --> DIST, and i then see the real images

not sure whats up.

I also am using the latest gulp script from the latest polymer release:
https://github.com/PolymerElements/polymer-starter-kit/releases/tag/v1.1.1

[2015-10-10 08:12] gedw99 opened #429 "proper way to do styling. Seems broken right now"
Shared style dont work in the current PSK.
It needs to be updated to reflect the current docs !
https://www.polymer-project.org/1.0/docs/devguide/styling.html#style-modules

Example:
I take the PaperMenu (from the left nav) out of the index.html, and make it into a custom element in the "elements" folder.
You can see the new element called "my-left.nav" in the index.html:

[code]

[2015-10-10 09:23] gedw99 opened #430 "vulcanise and Ignoring duplicate element definition: paper-menu"
I upgraded to polymer 1.1.5

i noticed that vulcan now picks up duplicates. Cool

when i gulp, and i get:
[code]

Can it tell me where the duplicate is from ?
It would make it easier to remove it then in the html element :)

[2015-10-10 12:43] Holi0317 commented on #404
It works after changing back to vulcanize.

Sorry for the late reply.

[2015-10-10 15:59] ebidel commented on #430
Duplicates are totally fine and it's what vulcanize is for. The output is probably too helpful, and therefore, misleading. You want to keep this imports as is so the elements have their necessary dependencies and can be used without vulcanization. It's job is to find the dupes and prune for you.

[2015-10-10 15:59] #430 closed

[2015-10-10 16:04] #404 closed

[2015-10-10 17:59] gedw99 commented on #430
Thanks. I get it.
But it would be helpful to know which elements, because then I can learn where there is duplicity in the tree of components ??

[2015-10-10 22:36] buele commented on #407
Dear @samccone and @addyosmani, I have just tested it running "rm -rf node_modules && rm -rf bower_components && npm i && bower i" and switching to the master branch, and all works well now!

Thank you guys.

[2015-10-10 22:36] #407 closed

[2015-10-10 22:39] robdodson commented on #405
You may need to double check that the HTML import for app-theme isn't being cached. Try opening the devtools and going into settings. There should be an option to "disable cache when devtools is open". Check that, leave the devtools open, make changes and refresh.

[2015-10-11 01:10] Holi0317 commented on #427
Duplicated #404?

[2015-10-11 01:21] pippintook commented on #427
Yeah, that's the same thing. Thanks.

[2015-10-11 01:21] #427 closed

[2015-10-11 04:17] gertcuykens commented on #423
I think I got scss figured out, see pull request.

[2015-10-11 04:17] #423 closed

[2015-10-11 20:08] ahuezo commented on #166
Found a workarround for firefox:

style the span an iron-icon with pointer-events: none

Tested on firefox 41, linux

[2015-10-11 21:33] GXLabonte commented on #166
style the span and iron-icon with pointer-events: none

Tested and works for me.

Thanks

[2015-10-12 02:59] Nejat commented on #420
I get the same error with babel support, in addition i also get the following message

[code]

I commented out the `my-greeting` and `my-list` imports in `element.html` the `Ignoring duplicate element definition: undefined` message disappeared, but the message above still appears

i started with `polymer-starter-kit 1.1.1`

i converted the following files to ES2015

`app\elements\my-greeting\my-gr

[2015-10-12 10:10] addyosmani commented on #420
@nicolasgarnier have you had a chance to chase this up?

[2015-10-12 10:19] addyosmani commented on #166
Is anyone able to reproduce this using Firefox 44+ (Nightlies)?

[2015-10-12 11:07] gedw99 opened #432 "Making the left paperDrawerPanel reacting to responsive width"
We are trying to make the drawer respond a bit differently from what it does in the demo

    We have the same menu buttons in the top menu & the left drawer panel.
    We want this behaviour.
      when desktop mode (responsiveWidth > 300px):
        - hide hamburger, and hence the left drawerPanel
        - show the top menu
      when mobile mode (responsiveWidth < 300px):
        - show hambur

[2015-10-12 11:47] nicolasgarnier commented on #420
Having a look now!

[2015-10-12 12:25] Nejat opened #433 "ES6/ES2015 & WCT: tests are failing with babel recipe"
starting with `polymer-starter-kit 1.1.1` as my base, I followed the directions in [Add ES2015 Support Babel](https://github.com/PolymerElements/polymer-starter-kit/blob/master/docs/add-es2015-support-babel.md) and then I converted the following files to ES2015

[code]

This caused the tests to fail, even though `gulp serve` was working correctly.

To get all of the tests working correctly, I had

[2015-10-12 14:11] #410 closed

[2015-10-12 14:46] nicolasgarnier commented on #420
First, since we are not using polyclean anymore on master I've skipped investigating this. Let me know if you think I should still have a look (and perhaps file a separate bug).

Second, I believe there s a bug with Vulcanize. It seems it's not detecting the name of ES6-style elements (the `is` attribute) so it's thinking elements have an `undefined` name and therefore it prints the error message.

[2015-10-12 14:46] nicolasgarnier commented on #420
re-assigning to @ebidel so he can follow-up with the vulcanize folks about that.

[2015-10-12 14:55] ebidel commented on #420
Please just file a bug on that project.

On Mon, Oct 12, 2015, 7:46 AM Nicolas Garnier <notifications@github.com>
wrote:

[2015-10-12 14:57] nicolasgarnier commented on #420
NP. Also I'll hav a look at the tests failures on the bug that @Nejat just filed: https://github.com/PolymerElements/polymer-starter-kit/issues/433

[2015-10-12 15:04] nicolasgarnier commented on #420
Filed upstream: https://github.com/Polymer/vulcanize/issues/263

[2015-10-12 15:31] nicolasgarnier commented on #433
Thanks for this @Nejat. It seems compiling the tests was overlooked in the ES6 recipe.

However my opinion is that tests should always be ran on `/dist` rather than on `/app` anyways. Do you agree @addyosmani ? As we should be testing close to what will be deployed on prod.

Basically we have 2 ways of "fixing" this: I can:
 - Add steps to the ES6 recipe so that tests are ran from `/dist` instead

[2015-10-12 15:56] Nejat commented on #433
two things:

* the above solution also requires the `bower_components` path mapping to point to `dist` as well

* I personally like how `WTC` currently doesn't require a build, making element development more fluid and dynamic by being completely isolated. Maybe `WCT` can inject [Babel Browser Support](https://babeljs.io/docs/usage/browser/) for the ES6 recipe.

I agree all final testing should be

[2015-10-12 18:27] vorcigernix commented on #166
I am able to reproduce in latest Safari.
Dne 12. 10. 2015 12:20 PM napsal uživatel "Addy Osmani" <
notifications@github.com>:

[2015-10-12 19:29] nicolasgarnier commented on #392
FYI: Sent a PR to fix this

[2015-10-12 20:08] #392 closed

[2015-10-12 20:18] nicolasgarnier commented on #433
Good catch. I updated by post above.

[2015-10-12 22:17] davidcv5 commented on #392
Awesome... thank you @nicolasgarnier and @samccone !!!

[2015-10-12 22:22] samccone commented on #392
Thanks for the bug report @davidcv5 and thanks for the PR @nicolasgarnier
:sparkler: :sparkler: :sparkler: :sparkler: :sparkler: :sparkler: :sparkler: :sparkler: :sparkler:

[2015-10-13 08:19] JoernT commented on #166
i can confirm that the above mentioned trick with styling pointer-events:none; works in FF 44.01 on Mac.

[2015-10-13 11:10] abdonrd opened #436 "Why there are two custom properties (--text-primary-color and --primary-text-color) with such similar names?"
In the [app/styles/app-theme.html](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/styles/app-theme.html):

[code]

Why there are two custom properties (`--text-primary-color` and `--primary-text-color`) with such similar names?