[2015-04-17 09:45] addyosmani opened #1 "Use `<iron-*>` elements instead of `<core-*>`"
- Update bower.json
- Update demo elements
- Update unit tests

[2015-04-17 09:46] addyosmani opened #2 "Add Service Worker (offline) element"
- Decide whether to integrate sw-precache
- Decide how to integrate `<service-worker>` into the element flow
- Land a service-worker.js config file in a location where it will work from both `gulp serve` and is copied over during `gulp` builds

[2015-04-17 09:48] addyosmani opened #3 "Add Push Notification element?"
- Once #2 has landed, let's look at whether we should add in Push
- Should Push just be included in the pack, but not turned on by default? It'll be more specialist than the `<service-worker>` offline element.
- If not on by default, what's the best way to enable usage? An entry in a `\docs` directory?

[2015-04-17 09:52] addyosmani opened #4 "Add service-worker-elements to bower.json"
https://github.com/PolymerElements/service-worker-elements

We can pull this in once we have 0.8-preview branches for both the Service Worker offline element and Push notifications.

Related to #3 and #2.

[2015-04-17 09:58] addyosmani opened #5 "Should elements be pre-packaged in the download?"
Assume we can either use tooling to `bower install` before doing a tagged release or check-in our Bower dependencies.

Should dependencies be pre-included in the download? The reason I ask is that this:
- Enables a "one-click" workflow if getting the Kit from our site. Reduces friction/time before use.
- Avoids you having to `bower install` if downloading the kit (This step is avoided if getting i

[2015-04-17 10:09] addyosmani opened #6 "Should Sass be enabled by default?"
Assume we'll be able to continue being flexible with Sass as an option in the Yeoman generator.

For PSK, we've got three options:
- Don't enable Sass by default, encourage just using CSS
- Don't enable Sass, encourage using the experimental 0.8 CSS custom [properties](https://github.com/Polymer/polymer/blob/0.8-preview/PRIMER.md#custom-css-properties) system
- Enable Sass by default. We'll adjust

[2015-04-17 10:21] addyosmani opened #7 "Replace layout with 0.8 AppKit / grid / breakpoints when ready"
For starter kit, I've rewritten the elements in the Yeoman generator using 0.8 to give us basic layout using core-drawer/header panels.

It's unfortunately going to be a little broken until core-menu, core-item and so on have been ported to 0.8-preview in a reliable way.

![screen shot 2015-04-17 at 11 19 55](https://cloud.githubusercontent.com/assets/110953/7200315/bd65a104-e4f3-11e4-9ef0-cb74556

[2015-04-17 10:28] addyosmani opened #8 "Encourage use of test-fixture?"
@cdata I'd like to encourage use of [test-fixture](https://github.com/polymerelements/test-fixture) for anyone using Starter Kit that writes tests.

We use it atm in https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/test/yo-greeting-basic.html && https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/test/yo-list-basic.html.

Does the element make sense as a ge

[2015-04-17 11:19] addyosmani opened #9 "Add support for more-routing?"
Consider whether to add in support for https://github.com/Polymore/more-routing once @nevir is happy with a 0.8-preview port.

The thinking is we could come with a happy medium between some very basic app layout (#7) and something like https://www.polymer-project.org/0.5/articles/spa.html

[2015-04-17 11:36] addyosmani opened #10 "Audit IOWA build setup for anything useful we're missing"
Useful to know, even if we don't necessarily tackle em all for the alpha :)

[2015-04-28 09:46] #8 closed, assigned to nobody

[2015-04-28 10:12] #9 closed, assigned to nobody

[2015-04-28 10:13] addyosmani opened #11 "Update to WCT #master"

[2015-04-30 17:55] #11 closed, assigned to addyosmani

[2015-05-06 17:35] #7 closed, assigned to nobody

[2015-05-06 17:35] #6 closed, assigned to robdodson

[2015-05-12 10:40] #1 closed, assigned to addyosmani

[2015-05-12 13:10] #10 closed, assigned to robdodson

[2015-05-12 13:42] addyosmani opened #16 "Add support for meta-theme-color"
Ideally, based on the advice from Zach around just using `--dark-primary-color`

[2015-05-12 18:24] addyosmani opened #17 "Investigate possible vulcanization issues"

[2015-05-13 00:06] ebidel opened #18 "GH page me!"
http://polymerelements.github.io/polymer-starter-kit/

doesnt have all the bower deps

[2015-05-13 15:35] #17 closed, assigned to addyosmani

[2015-05-13 15:52] #18 closed, assigned to addyosmani

[2015-05-13 15:55] addyosmani opened #19 "Add link to app-layouts from Frankie"
http://polymerelements.github.io/app-layout-templates/

Maybe in the Starter Kit has a link to the app-layout-templates and say if user wants different app layouts they can get them here

[2015-05-17 23:50] addyosmani opened #21 "Add support for favicons"
Add them per starter kit.

[2015-05-17 23:51] addyosmani opened #22 "Add webapp manifest.json"

[2015-05-18 01:25] addyosmani opened #23 "Explore a better solution to precache exceptions"
From our other issue:

I wonder if there's a solution we could add in the interim to avoid the missing precache.json exceptions we see on serve at present.

![](http://i.imgur.com/6WlQieF.png)

[2015-05-18 01:26] #2 closed, assigned to nobody

[2015-05-18 06:28] #22 closed, assigned to addyosmani

[2015-05-18 06:28] #21 closed, assigned to addyosmani

[2015-05-18 06:29] #16 closed, assigned to addyosmani

[2015-05-19 14:33] #23 closed, assigned to nobody

[2015-05-20 02:55] tjsavage opened #25 "Optimizing for pagespeed insights"
There's probably only so much that is possible, but wherever we can we should optimize the build process from a clean download to score highly on the [Pagespeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fpolymerelements.github.io%2Fpolymer-starter-kit%2F%23!%3F) tool

[2015-05-20 18:22] frankiefu opened #26 "Need to update to use iron-flex-layout"
layout attributes are no longer supported.  Should update to use classes or custom properties.
e.g.
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L61

[2015-05-21 15:55] addyosmani opened #27 "Fix bugs with use of the breakpoint-control system"
Switch to the correct mobile/tablet/specificity classes instead of what we have now. Do the same for Reader.

[2015-05-21 15:55] addyosmani opened #28 "Make sure we're pulling in all of paper-* and iron-*"

[2015-05-21 16:09] #26 closed, assigned to nobody

[2015-05-21 16:16] #4 closed, assigned to addyosmani

[2015-05-21 18:26] addyosmani opened #29 "Investigate switching to the polybuild pipeline"
* Spend time looking at https://github.com/PolymerLabs/polybuild
* Investigate if we should snarf the setup or use directly
* Check when full HTML minification lands in the pipeline

[2015-05-22 12:46] #27 closed, assigned to nobody

[2015-05-22 13:40] addyosmani opened #32 "Switch to the grid experiments from breakpoint-control"
Investigate if we should.

[2015-05-22 20:14] #28 closed, assigned to nobody

[2015-05-22 20:52] #19 closed, assigned to addyosmani

[2015-05-25 23:38] #32 closed, assigned to nobody

[2015-05-26 00:36] #5 closed, assigned to nobody

[2015-05-26 00:37] addyosmani opened #34 "Update to official Polymer Starter Kit logo"
Zach signed off on using that logo for now, so let's update.

[2015-05-26 00:38] addyosmani opened #35 "Update to a versioned <breakpoint-control>"
We'll do this once @blasten has a tagged release available.

[2015-05-26 05:02] addyosmani opened #37 "Update License to BSD-2 per rest of Polymer"

[2015-05-26 05:10] #37 closed, assigned to addyosmani

[2015-05-26 07:48] addyosmani opened #38 "Investigate offering a minimal version too"
Started in https://github.com/PolymerElements/polymer-starter-kit/tree/minimal out of interest after some feedback from @atotic

[2015-05-26 18:36] addyosmani opened #39 "Accessibility audit"

[2015-05-26 23:18] addyosmani opened #41 "Rewrite breakpoint-control use with media queries"

[2015-05-27 01:41] #34 closed, assigned to nobody

[2015-05-27 16:51] #35 closed, assigned to blasten

[2015-05-29 06:19] #41 closed, assigned to blasten

[2015-05-29 06:20] #39 closed, assigned to nobody

[2015-05-29 06:20] #3 closed, assigned to nobody

[2015-05-29 06:54] #38 closed, assigned to nobody

[2015-05-29 08:15] steinhoff1989 opened #47 "Improve support for pre-built binary versions on Windows"
Hi,

I can't open the "polymer-starter-kit-with-checked-in-dependencies-1.0.0.zip".

"The compressed (zipped) folder is invalid..."

THX

[2015-05-29 09:17] steinhoff1989 opened #48 "wrong data-binding attribute in my-greeting.html"
The actual data-binding looks like this:

[code]

Shout be changed to:
[code]

so the value is changed in real-time and not on focus-out event.

[2015-05-29 13:03] nballinger commented on #47
Same here.

[2015-05-29 13:23] #48 closed

[2015-05-29 13:24] addyosmani commented on #48
Thanks for the heads up!

[2015-05-29 13:25] addyosmani commented on #47
Could you let me know what OS you're on / whether you used a native decompression tool or something third party?

[2015-05-29 13:31] steinhoff1989 commented on #47
You are right.

Win7 native decompression ist not working.

7zip » worked

[2015-05-29 13:55] nballinger commented on #47
Reported corrupt by Win7 SP1 native tool. OK in WinRAR 5 on Win7, unzip
6.00 on CentOS 6.6.
On May 29, 2015 8:25 AM, "Addy Osmani" <notifications@github.com> wrote:

[2015-05-29 14:11] addyosmani commented on #47
I've just re-tagged and re-compressed everything with new zip tools. Could you retry?

[2015-05-29 15:07] whittssg commented on #47
I just redownloaded and got 2511 errors while extracting using winrar

[2015-05-29 15:45] addyosmani commented on #47
Are you on Windows? (the new binaries should just be tar.gz files)

[2015-05-29 15:46] addyosmani commented on #29
Let's tackle this in #25. It's unclear whether we're going to use polybuild or just take whatever HTML minification tooling that comes out of it directly. Thanks again, Dan.

[2015-05-29 15:46] #29 closed

[2015-05-29 15:48] addyosmani commented on #47
Btw, for anyone running into this, grab the non-checked in dependencies version https://github.com/PolymerElements/polymer-starter-kit/releases. I'll take a look at the issue you ran into after our talk this morning.

[2015-05-29 15:59] nballinger commented on #47
Confirming... polymer-starter-kit-with-checked-in-dependencies-1.0.0.tar.gz,
WinRAR 5, Win7 SP1. 25k+ errors before I aborted.

On Fri, May 29, 2015 at 10:48 AM, Addy Osmani <notifications@github.com>
wrote:

[2015-05-29 16:11] whittssg commented on #47
Yes i am on windows.. Tried with 7zip as well - same issue. I will try the non-checked in version. Thanks

[2015-05-29 17:23] ktiedt opened #51 "gulp commands fail - Error: Cannot find module 'core-util-is'"
Ran npm install, bower install then gulp serve, tried gulp local:test as well, same result

this is on node 0.12.2

[code]

[2015-05-29 19:51] arthurvr opened #53 "Apache server configs outdated?"
The [`.htaccess`](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/.htaccess) file looks outdated. I see things like `chrome=1`, [wrong file types for `rss` and `atom`](https://github.com/h5bp/server-configs-apache/commit/653c461c35a982e757fa94ddd73088f2581a88f9), ...

Is the htaccess file pulled in from a third party or specific for this repo?

Though, do we need to deliver

[2015-05-29 20:12] vl4dt opened #54 "sudo npm run deps: -> Error: EACCES, permission denied...."
Error: EACCES, permission denied '/root/.config/configstore/bower-github.yml'
You don't have access to this file.

    at Object.fs.openSync (evalmachine.<anonymous>:438:18)
    at Object.fs.readFileSync (evalmachine.<anonymous>:289:15)
    at Object.create.all.get (/home/ricardo/dev/liu-bob-psk/node_modules/web-component-tester/node_modules/bower/node_modules/configstore/index.js:34:29)
    at Ob

[2015-05-29 20:31] Kaestlyn commented on #54
I managed to get around this by just running the commands defined in the package.json myself:
[code]

[2015-05-29 20:42] salamanders opened #56 "(minor) your instructions for starting the minimal starter have a bad dash"
The instructions in README.md have `python –m SimpleHTTPServer 8080`
but the dash is an "evil" dash, so if you copy-paste the command you get `python: can't open file '–m': [Errno 2] No such file or directory`

Replacing with a normal "minus" fixed it.

[2015-05-29 20:43] joshmutus opened #57 "Can't install dependencies"
downloaded polymer starter kit, I have node.js and bower installed, following instructions in README.md

when I type:
[code]

I get the error:
[code]

bower is certainly installed. And I obviously fail the test:

[code]

[2015-05-29 20:45] salamanders opened #58 "Starter kit app doesn't close nav bar on click"
Run app locally as instructed
http://localhost:8080/
Hamburger menu ->
Nav from "Home" to "Users" or "Contact"
menu doesn't auto-close on nav and still obscures the new page.

[2015-05-29 20:49] salamanders opened #59 "Consider not using forceNarrow on desktop"
https://www.polymer-project.org/1.0/docs/start/getting-the-code.html is great - left hand nav is very responsive, collapses and expands as I change the browser width.  I want that for the starter kit - responsive design out of the box!

Current:
Run app locally
Enlarge window
Menu *doesn't* responsively become a left hand nav

[2015-05-29 20:54] vl4dt commented on #54
Still fails here on my machine:
Error: EACCES, permission denied '/root/.config/configstore/bower-github.yml'

Same file as before

[2015-05-29 20:56] addyosmani commented on #59
This is intentional. The Material Design team have recommended that the nav not expand on desktop (per my last discussion with them). We'll re-evaluate this, but this was a conscious decision.

[2015-05-29 20:58] addyosmani commented on #58
Fixed in https://github.com/PolymerElements/polymer-starter-kit/pull/49

[2015-05-29 20:58] #58 closed

[2015-05-29 20:58] addyosmani commented on #57
Could you let me know what version of Node (and npm) you have installed?

[2015-05-29 21:02] #53 closed

[2015-05-29 21:02] addyosmani commented on #51
Could you share information about what OS you're trying this on?

[2015-05-29 21:04] joshmutus commented on #57
I just apt-get'd nodejs yesterday
[code]

[2015-05-29 21:06] addyosmani commented on #51
Researched. This issue occurs when the `npm install` is abruptly terminated. Please try installing again after deleting your `node_modules` directory. I would attempt this directly: `npm install && bower install && gulp serve`.

[2015-05-29 21:06] #51 closed

[2015-05-29 21:07] addyosmani commented on #56
Patched in branch. Thanks @salamanders!

[2015-05-29 21:07] #56 closed

[2015-05-29 21:14] addyosmani commented on #54
@vl4dt were you able to work around this using the commands directly? I would suggest checking if permissions are setup correctly too: https://docs.npmjs.com/getting-started/fixing-npm-permissions

Btw, for anyone getting stuck with the tooling version of PSK, there's also a non-tooling version available: https://github.com/PolymerElements/polymer-starter-kit/releases

[2015-05-29 21:20] addyosmani commented on #57
The latest version of Node is v0.12.4. I would try to upgrade to it. If that fails, http://stackoverflow.com/questions/21168141/can-not-install-packages-using-node-package-manager-in-ubuntu is related to your issue imo. In short, you can also try `sudo apt-get install nodejs-legacy`.

[2015-05-29 21:20] #57 closed

[2015-05-29 21:37] addyosmani commented on #54
Another option. Try `sudo chown -R [user name] ~/.config` and `sudo chown -R [user name] ~/.cache`

[2015-05-29 21:39] ktiedt commented on #51
That is interesting, that was definitely the problem. Thanks (would never had guessed npm got stuck in odd states like this, that is a new one for me)

[2015-05-29 22:21] vl4dt commented on #54
Success!

@addyosmani I tried running the command manually as @Kaestlyn suggested, at some point one of them failed at the same point.

After all the problem was permissions were not setup correctly, followed what you suggested: https://docs.npmjs.com/getting-started/fixing-npm-permissions, chose to change npm's default directory permissions, ran:

[code]

All successful, no warnings or error, tha

[2015-05-29 22:37] joshmutus commented on #57
So I've installed the latest version of node and npm on my workstation and I'm getting the same error. I did the same nodejs-legacy thing actually before filing this issue.

[2015-05-29 22:46] joshmutus commented on #57
This is the traceback
[code]

[2015-05-29 22:52] ystreibel opened #60 "Gulp serve doesn't lauch the app"
Hi,

I try to install and launch the app.

First, I have an error du to spawn when I type grunt serve.
I fix this by add "try-thread-sleep": "^1.0.0", on package.json
After that, I have this error :
[code]

[2015-05-30 00:01] addyosmani commented on #54
Fantastic. Thanks!

[2015-05-30 00:01] #54 closed

[2015-05-30 00:01] addyosmani commented on #60
Could you let us know what version of Node you're using?

[2015-05-30 00:59] kbwatts commented on #54
Still getting the EACCESS errors even after fixing npm permissions, but then running each command separately as suggested by @Kaestlyn seems to work for me.

[2015-05-30 01:48] devAtPolydeals opened #62 "Vulcanize not working from gulpfile"
gulp created the elements.vulcanized.html file in my 'dist' folder but did not actually vulcanize it, elements.vulcanized.html and elements.html have the same content.

Looking further i found that gulp ends abruptly on vulcanize. See screenshot

![image](https://cloud.githubusercontent.com/assets/12582040/7895166/26c25f88-0633-11e5-9c8a-3703b1928442.png)

[2015-05-30 03:13] recri opened #63 ""python -m SimpleHTTPServer 8080" is not working on Ubuntu 15.04"
But "python3 -m http.server 8080" works out of the box.

It's a clean install of 15.04 with very little customization.  The error is odd, too, python complains that it could not open the file "-m", but if you leave off the module name and port, then it complains that the module required by -m is missing.

[2015-05-30 04:31] MauriSalazar opened #64 ""Request method 'POST' is unsupported" - sw-toolbox.js"
Getting this error after starting application.

![screen shot 2015-05-30 at 01 29 32](https://cloud.githubusercontent.com/assets/4121898/7895555/90dad1ec-066b-11e5-967c-0061ed9e6ddf.png)

[2015-05-30 04:38] kbwatts commented on #64
Same here (out of the box). Doesn't seem to affect anything, but probably might...

[2015-05-30 04:53] addyosmani commented on #64
cc @wibblymat who works on sw-toolbox

[2015-05-30 06:10] devAtPolydeals commented on #62
I installed it on another machine, same problem exists for me. I am using Windows OS with node Ver. 0.12.2.

[2015-05-30 06:11] devAtPolydeals commented on #62
I installed it on another machine, same problem exists for me. I am using Windows OS with node Ver. 0.12.2.

[2015-05-30 06:30] grouma opened #65 "Welcome greeting is incorrect."
Changing the greeting repeats it twice.

Likely want to change the code from:
[code]
to:
[code]

[2015-05-30 06:41] samsabra opened #66 "BrowserSync: routes break on synchronized browsers"
When using BrowserSync, synchronized browsers don't navigate to the correct route when clicking on Users or Contact in the navigation drawer

Click Users link from Chrome on Android, and Chrome on OS X and Window 8.1 displays "Cannot GET /users"
![image](https://cloud.githubusercontent.com/assets/2354574/7895909/92a6e328-0673-11e5-97d2-c6f5046a787f.png)

Click Contact link from Chrome on OS X, and

[2015-05-30 08:22] ystreibel commented on #60
[code]

[2015-05-30 08:23] arthurvr commented on #60
*Grunt* serve?

[2015-05-30 08:25] ystreibel commented on #60
Sorry, I would like to say :
[code]

[2015-05-30 09:40] ystreibel commented on #60
I install the last version of node and npm via https://nodejs.org/ and it works.
Thanks, for your great jobs !!!

[2015-05-30 10:20] atomikolex opened #68 "errors installing dependencies, debug log below"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'deps' ]
2 info using npm@2.10.1
3 info using node@v0.12.4
4 verbose node symlink /usr/bin/node
5 verbose run-script [ 'predeps', 'deps', 'postdeps' ]
6 info predeps polymer-starter-kit@0.0.0
7 info deps polymer-starter-kit@0.0.0
8 verbose unsafe-perm in lifecycle true
9 info polymer-starter-kit@0.0.0 Faile

[2015-05-30 12:41] IntranetFactory opened #69 "Windows not supported?"
Maybe you should provide some information about the supported platforms. It seems that Windows is not supported - which surprises as Polymer itself supports Windows.

[2015-05-30 14:10] iacopodeenosee commented on #68
the same error for me:
http://pastebin.com/33d61Hxx

[2015-05-30 14:21] addyosmani commented on #69
Could you provide some more information on what is failing for you on Windows?

[2015-05-30 14:23] addyosmani commented on #68
Can you try `npm install && bower install` from the roof of your download and let me know if the same messages show up?

[2015-05-30 14:29] #60 closed

[2015-05-30 14:29] CodinCat opened #70 "Incorrect GitHub link on homepage"
Not sure where should I report

https://developers.google.com/web/tools/polymer-starter-kit/

The GitHub link on the menu bar is incorrect,
it links to https://github.com/google/polymer-starter-kit

[2015-05-30 14:31] addyosmani commented on #70
Thanks for letting us know. This is actually fixed upstream now and we're waiting for a deploy for it to go live. Should hopefully be addressed soon.

[2015-05-30 14:31] #70 closed

[2015-05-30 14:35] addyosmani commented on #69
Rolling into #68. I believe I've discovered a common paths issue on Windows that prevents the current approach we use for npm `run` scripts from consistently working. We're going to expand the install instructions soon to address this.

[2015-05-30 14:35] #69 closed

[2015-05-30 14:35] addyosmani commented on #66
I think what's happening here is BrowserSync is attempting to update before the page has a chance to re-register routes. We'll look into it.

[2015-05-30 14:38] addyosmani commented on #68
I've investigated this further and I'm almost certain the issue is npm doesn't have consistent support for `npm run` scripts on Windows.

I believe this one liner will work instead, when run from inside the Polymer Starter Kit directory: `npm install --global gulp && npm install && bower install`. Could you try that?

[2015-05-30 14:45] addyosmani commented on #64
We have an upstream patch that should solve this and will aim to get it nailed down shortly.

[2015-05-30 14:53] addyosmani commented on #65
Thanks for the suggestion. The

[2015-05-30 14:53] #65 closed

[2015-05-30 14:58] addyosmani commented on #63
Could you double check you ran `python -m SimpleHTTPServer 8080` and not the one from the (now older) README? You may be running into https://github.com/PolymerElements/polymer-starter-kit/issues/56

[2015-05-30 15:05] IntranetFactory commented on #69
I'm not sure that #68 is the the same problem I still have.

`npm install`

fails. I've VS2013 and VS2015RC installed. But I don't understand why VS needs to be installed at all?

![2015-05-30_1101](https://cloud.githubusercontent.com/assets/7462342/7897866/74a0f150-06bb-11e5-8413-a6cc996c29c8.png)

[2015-05-30 15:33] addyosmani commented on #69
That's really weird. The only thing I can think of is that there's a dependency being pulled in which requires recompilation on your version of Windows. I'm guessing it's trying to do this using VS.

Could you try this for a sec?

1. Delete node_modules
2. Run `npm install npm@2.11.0 && npm install -g gulp && npm install -g bower && npm install && bower install` (You can drop the bower portions if

[2015-05-30 15:47] IntranetFactory commented on #69
Still same problem, node_modules\socket.io fails several times to compile.

[2015-05-30 15:56] IntranetFactory commented on #69
Found some information on http://stackoverflow.com/questions/16469086/npm-cant-install-socket-io and https://github.com/joyent/node/blob/v0.10.29/tools/gyp/pylib/gyp/MSVSVersion.py#L209-294 so for me

`set GYP_MSVS_VERSION=2013`

seem to help.

IMHO a "Starter Kit" should be self-contained and not require an obviously fragile build process.

[2015-05-30 16:42] addyosmani commented on #51
No worries at all :)

[2015-05-30 17:02] addyosmani commented on #69
Thanks for the feedback. I've updated our releases page to highlight that we do offer a simpler starting point without any build process for anyone that prefers or has issues getting the tools working correctly (obviously not their fault, Node tooling can be tricky cross-platform).

[2015-05-30 17:13] addyosmani commented on #62
I'll keep this open in case anyone is able to reproduce. On my system, it's vulcanizing correctly:

![screen shot 2015-05-30 at 10 13 03](https://cloud.githubusercontent.com/assets/110953/7898428/81d07f14-06b4-11e5-8f24-f5c829cb159a.png)

[2015-05-30 17:22] recri commented on #63
You're right, it was the em-dash in the README.md that caught me.  Sorry
for the false alarm.

-- rec --

On Sat, May 30, 2015 at 8:58 AM, Addy Osmani <notifications@github.com>
wrote:

[2015-05-30 17:28] addyosmani commented on #63
No worries!

[2015-05-30 17:28] #63 closed

[2015-05-30 17:43] addyosmani commented on #47
I've created a new version of the zip on Windows and posted to https://github.com/PolymerElements/polymer-starter-kit/releases/tag/v1.0.0. Could someone verify that the new zip works for them?

[2015-05-30 17:55] nballinger commented on #47
Redownloaded polymer-starter-kit-with-checked-in-dependencies-1.0.0.zip.

Win7 SP1 native tools still report the file is corrupt.

Works fine in WinRAR 5.

On Sat, May 30, 2015 at 12:43 PM, Addy Osmani <notifications@github.com>
wrote:

[2015-05-30 18:03] addyosmani commented on #47
Thanks for checking. Fwiw, I couldn't get native SP1 tools to compress (had to use 7-zip).

[2015-05-30 18:05] nballinger commented on #47
I tried the same on the unpacked files. Native tools are complaining about
long paths. Might just be SOL on Windows with this.

On Sat, May 30, 2015 at 1:03 PM, Addy Osmani <notifications@github.com>
wrote:

[2015-05-30 19:48] hourliert opened #73 "Router"
Hi,

This is more a question than an issue. But why does the starter-kit use https://github.com/visionmedia/page.js rather than https://github.com/PolymerLabs/more-routing or https://github.com/erikringsmuth/app-router (polymer 0.5) ?

Thanks in advance,
Thomas

[2015-05-30 19:52] addyosmani commented on #73
The current element based approaches to app routing don't provide sufficient imperative hooks for giving you full control over the router. We did initially support more-routing here, but took it out after realising this wasn't quite what we needed. For the time being, we find that just using a JS router actually gets you pretty far, but we'll continue to experiment with what a better routing solut

[2015-05-30 19:52] #73 closed

[2015-05-30 21:14] peterblazejewicz opened #74 "Problem with example template autobinding snippets"
I've a problem with template auto-binding event not being fired in kit:
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/scripts/app.js#L24-L26
The same code in generator-polymer fires just fine:
https://github.com/yeoman/generator-polymer/blob/master/app/templates/app/app.js#L12-L14
[code]
Can someone confirm this?

OS X/Chrome/Safari
PSK:  v1.0.0

[2015-05-30 21:36] kbwatts opened #75 "#mainToolbar text placement prevents hamburger menu from working on scroll"
Once you add enough content to scroll the default waterfall-tall toolbar, the hamburger menu button seems to stop working - see screenshot (you can click but no effect - also affects mobile-sized/ios simulator):

![hamburger-no-effect-wide](https://cloud.githubusercontent.com/assets/961706/7899478/81875934-0767-11e5-8f0f-45784caf3d26.png)
![hamburger-no-effect-narrow](https://cloud.githubuserconte

[2015-05-30 21:46] kbwatts commented on #75
When you `display: none` on the mainToolbar text ("Polymer Starter Kit") then the hamburger button works again, so it looks like a problem with that text more than the button - will rename this issue.

[2015-05-30 22:05] addyosmani commented on #75
I think you're right that the issue is with the text rather than the button. I'll try to dig into the cause.

[2015-05-31 01:42] danielhickman opened #76 "Error Installing Deps Linux"
I run `sudo npm run deps` and I get a bunch of warns in the process including 5 optional deps failed and
[code]

**Debug Log:**
[code]

I run a Ubuntu 14.04.2 VPN server with no updates needing to be made. I extracted the polymer-starter-kit-1.0.0 into /var/www/materialcolorize.com/public_html/ (where the virtual host has document root listed) Plain HTML files work fine in that folder, but after t

[2015-05-31 02:12] addyosmani commented on #76
Could you do me a favour? Can you try running `npm install -g gulp && npm install -g bower && npm install && bower install` directly inside the root folder and see if that works? I've seen a number of people run into issues with the npm deps script, so I've updated master to drop using it.

[2015-05-31 03:29] danielhickman commented on #76
Document root or server root (`/var/www/[website]/public_html/` or `/`)

[2015-05-31 03:31] addyosmani commented on #76
Sorry for not being clear. I meant the root of your Polymer Starter Kit download (so, cd `polymer-starter-kit` or the extracted directory where you put the project).

[2015-05-31 03:41] danielhickman commented on #76
Ah okay, thought so. I got this instead. I assume I ave to login as root instead of using sudo. I'll try that too.

[code]

[2015-05-31 03:55] danielhickman commented on #76
In root:
Five optional deps failed
[code]

There is no file or dir at `/root/.npm/f24fb369-adable-stream-1-0-33-package-tgz.lock`

[2015-05-31 03:55] samcarecho commented on #76
@addyosmani  @danielhickman I also run into deps install problem on ubuntu 14.04, but telated to bower execution using sudo.

I solved it by modifying the following code on package.json:
from:
[code]

to:
[code]

And then running "npm run deps" (without sudo). it worked for me. Every deps were installed and I'm running the project without a single problem. Although I'm not sure if there are bad co

[2015-05-31 03:58] danielhickman commented on #76
@samcarecho Were you root when you executed it without sudo?

[2015-05-31 04:05] samcarecho commented on #76
@danielhickman

it seems as it's not a good idea to run deps install as root, as by default Bower won't run as root or sudoer.

Try installing the deps using o common user and read the note that I added to my last post.

[2015-05-31 04:07] danielhickman commented on #76
@samcarecho
Hmm I don't think I can run it in that directory. Is there any issues if I run it in /home/daniel and cp it to /var/www/[website] without any issues?

[2015-05-31 04:11] samcarecho commented on #76
@danielhickman  Develop on /home/daniel, always.

Then build your project and copy what's inside /dist to /www.

[2015-05-31 04:15] samcarecho commented on #76
If I'm not wrong, you can also set the server raised by gulp (gulp serve) to be reachable from outside, so you will not have to build and publish to apache's www to be able to preview.

[2015-05-31 04:32] macbroadcast opened #78 "Problems with bower on ubuntu 15.04 (64bit)"
After i cloned the starterkit from github and tweaked the package.json , i was able to install without errors, but even when i install bower manually ,  i got this error when run :

~/development/polymer-starter-kit$ gulp test:local
[06:26:48] Using gulpfile ~/development/polymer-starter-kit/gulpfile.js
[06:26:48] Starting 'wct:local'...
Starting Selenium server for local browsers
Selenium server

[2015-05-31 04:33] danielhickman commented on #76
`npm install -g gulp && npm install -g bower && npm install && bower install` Won't run without sudo or root
`npm install gulp && npm install bower && npm install && bower install` Won't work.

I've tried both in `/home/daniel` and `/var/www`

They both result in the same (or similar in case of being root) as https://github.com/PolymerElements/polymer-starter-kit/issues/76#issuecomment-107122478

[2015-05-31 04:34] addyosmani commented on #78
Is it possible to share a list of what got installed in your bower_components directory? `cd bower_components && ls`

[2015-05-31 04:35] #75 closed

[2015-05-31 04:43] macbroadcast commented on #78
No bower_components directory in node_modules or in polymer-starter-kit root  folder :open_mouth:

[2015-05-31 04:46] samcarecho commented on #76
Try chown on the .npm directory that lives on the root of your normal user
home directory and then run "npm install gulp && npm install bower && npm
install && bower install"  (without the -g). It worked for me. ;)

On Sun, May 31, 2015 at 1:33 AM, Daniel Hickman <notifications@github.com>
wrote:

[2015-05-31 04:53] danielhickman commented on #76
mdc = the test dir
Chowned the .npm dir, chwoned and removed write protection on mdc

Ran without sudo or the `-g`s `npm install gulp && npm install bower && npm install && bower install`
It warned about Polymer, not using `-g`, and a bunch of deps.

**Warns:**
[code]

**Error:**
[code]

**Full output:**
[code]

[2015-05-31 05:15] samcarecho commented on #76
Try removing the file "/home/daniel/.npm/9dc86f75-
adable-stream-1-0-33-package-tgz.lock" and running "npm install gulp && npm
install bower && npm install && bower install" again.

I was also asked to remove a similar lock file.

On Sun, May 31, 2015 at 1:53 AM, Daniel Hickman <notifications@github.com>
wrote:

[2015-05-31 05:32] addyosmani commented on #78
It looks like there may be a step you missed during installation :) Can you `bower install` in your root folder of polymer-starter-kit and try again? That would explain some of the WCT errors.

[2015-05-31 05:41] macbroadcast commented on #78
:laughing: thanks @addyosmani everything works as expected now
gulp test:local
[07:36:43] Using gulpfile ~/development/polymer-starter-kit/gulpfile.js
[07:36:43] Starting 'wct:local'...
Starting Selenium server for local browsers
Selenium server running on port 57343
Web server running on port 55275 and serving from /home/macbroadcast/development/polymer-starter-kit/app
chrome 43                Be

[2015-05-31 05:44] atomikolex commented on #68
Success with sudo npm install && bower install, thank you!

[2015-05-31 05:44] #68 closed

[2015-05-31 05:47] atomikolex commented on #68
Successfull install! Thank you!!
Great presentation, btw!
Alex

Am 30.05.2015 um 16:23 schrieb Addy Osmani:

[2015-05-31 05:54] addyosmani commented on #68
Awesome!

[2015-05-31 05:54] addyosmani commented on #78
:tada: :balloon: :star: yay!

[2015-05-31 05:54] #78 closed

[2015-05-31 06:03] danielhickman commented on #76
I tried, but it's not there. `find` spit out a bunch of lines and said not found (I don't know if I did that right) and  I tried manually too

[2015-05-31 06:13] samcarecho commented on #76
if it's not there, then try running

"npm install gulp && npm install bower && npm install && bower install"

again to see if the lock file error happens again.

On Sun, May 31, 2015 at 3:03 AM, Daniel Hickman <notifications@github.com>
wrote:

[2015-05-31 06:15] danielhickman commented on #76
Alphabetically there is only:
`9ca3684e--download-node-modules-url-regex.lock`
`9df42353-er-sync-node-modules-serve-index.lock`

It skips right over.

Also, that's been the error for all like 10 times I've executed it with the right permissions, I think something's wrong with the script. My buddy @crutchcorn can't do it either, locally or on his server.

[2015-05-31 06:36] addyosmani commented on #76
Can you try (if not already) running `npm cache clean` before running "npm install gulp && npm install bower && npm install && bower install"?

[2015-05-31 06:47] danielhickman commented on #76
Same error @addyosmani

[2015-05-31 06:47] arthurvr commented on #76
+1. It's never a good idea [and Bower even explicitly blocks it.](https://github.com/bower/bower/blob/58a7de3136e32cebd1d7ecdc37c7eefcaaadab2d/lib/util/rootCheck.js) Instead, fix your local setup :)

[2015-05-31 06:48] danielhickman commented on #76
@arthurevans I've tried with and without many times. The `-g` seems to force me, but I didn't use them the last time.

[2015-05-31 07:10] danielhickman commented on #76
Can confirm, that lock file is from that script, sudo, root, or not. It's not working for my buddies because of a similar issue. I've asked around to a few other professional linux programmers and they suggested that the script or NPM is to blame. I'm stuck on this if I am to use this version of the kit.

If this can't be resolved, is there any downsides to the no tools version?

[2015-05-31 07:30] pdf opened #80 "Make it easier for service workers to be optional"
For applications where it may not be possible to enforce the end-user (where the end-user is deploying the application) requirement of SSL deployment, or simply for those who don't want/need the extra complexity, it'd be nice if there was an easier way to disable service workers yet still sync the project (even if you're not syncing with this repo, removing chunks in half a dozen files is tedious)

[2015-05-31 07:32] arthurvr commented on #80
Well, I guess if we would ever base `generator-polymer` (the yeoman generator for polymer) on PSK, that would be something to consider. It would be as easy as a checkbox, then :)

[2015-05-31 07:38] arthurvr commented on #76
I know, I read your comments too :) The thing is just that the only fact that you have to use `sudo` (or similar tweaking) indicates potential problems with your local setup.

Yes, that you've got no tools then :)

[2015-05-31 14:20] manustays commented on #62
I have the same problem. The command 'gulp' ends abruptly on vulcanize.

Same thing happens when I do 'gulp serve:dist'. It ends abruptly on vulcanize just like the screenshot posted by devAtPolydeals.

[2015-05-31 14:25] chuckh commented on #59
I agree that for the desktop nav should be expanded, but only on first load. This way users see what nav options are available when first loading. Once they tap on a nav item the nav should collapse.  This is a middle ground approach. To do this just don't set   `drawerPanel.forceNarrow = false;` and add some styling for the `<div drawer>`

[2015-05-31 15:08] chuckh commented on #59
Suggested changes to Polymer Starter Kit.
1. For desktop start with nav open
2. Put App title on Nav bar
3. Put page title where app name was
4. Collapse nav after selecting menu item﻿

I would be happy to do a pull request if these changes are agreeable @addyosmani.

Screenshot of suggested changes.

![psk-desktop-open](https://cloud.githubusercontent.com/assets/19915/7902348/ea83f27c-076b-11e5-8

[2015-05-31 15:39] BigDataPop commented on #76
@arthurvr is right, it seems to be a problem with your local setup. I was having the same issue and ran the following commands:

sudo chown -R $USER ~/.npm
sudo chown -R $USER /usr/local/lib/node_modules

and all went well. Also, ensure NPM is updated to latest version.

Cheers!

[2015-05-31 16:01] addyosmani commented on #80
@pdf thanks for the feedback. The light version of Starter Kit (in the releaes page) doesn't include SW by default.

I'd considered making it opt in in Starter Kit proper, but this would involve commenting out/in lines in about 4 different files (I've tried the code injection way before and it's far too fragile unfortunately) Side: I was hoping we could get more people doing offline-first by it be

[2015-05-31 16:09] kraz commented on #76
This guide might be in help:

[Install npm packages globally without sudo on OS X and Linux](https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md)

[2015-05-31 16:20] arthurvr commented on #76
Yup. That's the right way to fix these kind of errors. I would love anyone to confirm but I think this is just an issue with your local setup.

[2015-05-31 16:23] addyosmani commented on #62
Are you using Windows too @manustays?

[2015-05-31 16:27] devAtPolydeals commented on #62
I tried to then run vulcanize directly on the file, it gave me an error saying ".../bower_components/page/page.js" not found. I manually copied the folder, ran vulcanize again and it worked. @manustays, can you run vulcanize independently and see if you have the same problem?

[2015-05-31 16:35] addyosmani commented on #47
Okay. I'm going to close this as fixed now that we have updated zips in the release page, but have added a note that third-party zip tools will need to be used to extract.

[2015-05-31 16:35] #47 closed

[2015-05-31 16:36] addyosmani commented on #59
Thanks for exploring these ideas @chuckh. I'll ping them over to our designer for review and let you know what he says :)

[2015-05-31 17:30] devAtPolydeals opened #82 "Script src to page.js in routing fails in windows"
In app/elements/routing.html page.js is referred relatively as

```<script src="../../bower_components/page/page.js"></script>```

however bower_components is only 1 level up. Changing it to
[code]
fixes the issue else i was getting
"Uncaught ReferenceError: page is not defined"

[2015-05-31 17:33] addyosmani commented on #82
Could you confirm which version of the kit this is failing on? My guess is the light one as our paths are slightly different there (but can be fixed).

[2015-05-31 17:35] addyosmani commented on #74
@arthurevans do you know if `template-bound` is still available in 1.0? I haven't been able to locate references to whether we dropped it, but..just checking :)

[2015-05-31 17:37] devAtPolydeals commented on #82
download page has changed since i installed, but i used the one which is now polymer-starter-kit-1.0.0.zip

[2015-05-31 17:38] devAtPolydeals commented on #82
Let me download and run the latest one...may be its fixed now.

[2015-05-31 17:58] addyosmani commented on #82
This may be related to a Windows paths issue. On OSX/Unix, the path resolves correctly in polymer-starter-kit-1.0.0.zip, but I'll also test on Windows to see if I can repro.

[2015-05-31 18:01] devAtPolydeals commented on #82
same issue with new zip file as well, script src tag is same. Yes,i am guessing its because how windows or rather apache on windows resolves relative paths. elements.html is on the same level and it works good as it has ../bower-components.

[2015-05-31 18:05] arthurevans commented on #74
I think the 1.0 equivalent is `dom-change`. See the API Docs for `dom-bind` here:

http://polymer.github.io/polymer/

We should add a note about this to the migration guide.

[2015-05-31 18:17] peterblazejewicz commented on #74
[code]
Yes, this works with the kit current code. Thanks for checking this.

[2015-05-31 18:17] wq9 commented on #62
Here's the error that I get using
[code]

![image](https://cloud.githubusercontent.com/assets/3300313/7903078/150c3ecc-079f-11e5-8b6e-a294d4a9bacd.png)

gulp-vulcanize works fine if I remove `inlineCss` and `inlineScripts`.

[2015-05-31 18:47] eljazouli opened #83 "Polymer starter kit with cca"
how to use this starter template with cca (https://github.com/MobileChromeApps/mobile-chrome-apps) ?
Thanks

[2015-05-31 18:48] devAtPolydeals commented on #82
The issue is a little different now, I totally forgot that after initial install I had manually moved bower_components directory manually inside app/. to temporarily fix not found errors. This caused issue for page.js.

However after new install it is still required to change the path to bower_components in elements.html to ../../bower_components from ../bower_components and in Index.html from bow

[2015-05-31 19:41] rubenstolk opened #84 "Remove bower_components from dist after vulcanization has finished"
Easier if `dist` is entirely to be deployed into production...?

[2015-05-31 19:54] addyosmani commented on #83
Thanks for asking. We don't currently have plans to officially support CCA out of the box, however, it should be possible to use PSK and CCA together using Vulcanize as long as you opt for using https://github.com/PolymerLabs/crisper. My hope is that we'll soon have a community-driven repo showing how to do this that we can link up to.

[2015-05-31 19:54] #83 closed

[2015-05-31 20:10] addyosmani commented on #74
Thanks @arthurevans! A note would be fantastic. I'll update kit to use `dom-change` instead.

[2015-05-31 20:11] #74 closed

[2015-05-31 20:19] addyosmani commented on #62
@wq9 Thanks for the additional details. Just to confirm, the elements are getting correctly vulcanized in elements.vulcanized.html as long as the inlineCss and inlineScripts options are disabled?.

@devAtPolydeals as it looks like this is working on Windows without the two options above can you try that too? It'll help us narrow down where things are breaking.

[2015-05-31 20:50] addyosmani commented on #66
I started experimenting with https://github.com/bripkens/connect-history-api-fallback as a solution for this based on https://github.com/BrowserSync/browser-sync/issues/204. It works a little better than our current setup, but requires some further work to get sub-views (e.g /users/Rob) working. I'll continue looking into this.

[2015-05-31 21:43] peterblazejewicz opened #85 "Duplicated lower bound for desktop x-large media query in the application theme"
The media query breakpoints in application theme seems to be not very clear for x-large desktop breakpoint:
https://github.com/PolymerElements/polymer-starter-kit/commit/a8e5560c524a46201368d4efd944b2ecce807111#diff-a49e3b55ce6c03ad8616b1b64d5b5d1bR215
[code]
They are in line with material design but use doubled lower bound. I'm not sure if the intent is clear here.
Thanks!

[2015-05-31 21:51] addyosmani commented on #85
It should be min `1601` and max `1920` with an option to specify larger than that. I'll fix that up.

[2015-05-31 21:54] devAtPolydeals commented on #62
@addyosmani  no unfortunately it did not.
@wq9 where did you add .on('error')? i added it but didn't see anything in the console, is this what you did:

[code]

[2015-05-31 22:12] devAtPolydeals commented on #73
@hourliert I agree with you, i love app-router, they are not planning to upgrade to 1.0 polymer, but it will work with new version since its js based (except core-animation-pages integration). See https://github.com/erikringsmuth/app-router/issues/111, i m sure someone will eventually fork it to be fully compatible with 1.0.0.

BTW page.js out of box is giving me problems after i click any link on

[2015-05-31 22:26] addyosmani commented on #73
Is this occurring for you in the current window or only if you're using BrowserSync and testing this across multiple windows? There's a known bug in #66 related to the latter. The former shouldn't however have this issue. If it does more info would be hugely appreciated.

[2015-05-31 22:30] devAtPolydeals commented on #73
I am not using BrowserSync, i deployed on my wamp server and running it directly on my browser with the URL.  What more info do you need? I don't mind helping..

[2015-05-31 22:32] wq9 commented on #62
@devAtPolydeals
[code]

@addyosmani The elements are correctly vulcanized when those inline options are disabled like above.

[2015-05-31 22:36] devAtPolydeals commented on #73
This is initial state:
![image](https://cloud.githubusercontent.com/assets/12582040/7904297/726be51c-07aa-11e5-8271-888240985ebf.png)

This is state 2 on clicking users:
![image](https://cloud.githubusercontent.com/assets/12582040/7904299/877a19e2-07aa-11e5-9d21-8058de1c23cb.png)

This is state 3 on clicking home
![image](https://cloud.githubusercontent.com/assets/12582040/7904302/97eb8e32-07aa-11

[2015-05-31 22:39] addyosmani commented on #73
Thanks for the screenshots! I'll investigate further and see if I can come up with a fix.

[2015-05-31 22:47] devAtPolydeals commented on #62
@wq9  ... it didn't work for me. I get below blob:

![image](https://cloud.githubusercontent.com/assets/12582040/7904338/503d94fc-07ac-11e5-9c65-de70ee4ce65d.png)

[2015-05-31 23:16] wq9 commented on #62
@devAtPolydeals It's probably because of the spaces in the file path in `Program Files (x86)`. Can you try with your `C:\wamp\www` path?

[2015-05-31 23:19] robdodson commented on #80
re: the generator. The plan at the moment is to base it on PSK by pulling in PSK through a git submodule and using that as the template. This is so PSK can be the canonical source. If it's easy to strip out the SW bits I'm happy to add it in, maybe they could have comments around them or something to make it easier to rip them out? I'm heading out for a week on vacation but happy to take a look wh

[2015-05-31 23:22] addyosmani commented on #80
I think for the V1 on the new generator, your plan sounds absolutely fine :) We may end up choosing to comment out SW support (would love it if it was still the default personally) but let's keep this issue open and see what folks think.

(also, thanks for updating the generator once again!)

[2015-05-31 23:31] robdodson opened #89 "Should elements import polymer at the top"
I noticed `my-list` and `my-greeting` don't have imports for polymer at the top of their definitions. I was wondering if that was done on purpose, and if not, if it would be ok to add those?

[2015-05-31 23:49] wq9 commented on #62
Also, vulcanize itself works fine with inline, so I guess it has to do with gulp-vulcanize:
![image](https://cloud.githubusercontent.com/assets/3300313/7904506/5617c4cc-07cc-11e5-9efc-28236debe06d.png)

[2015-06-01 00:29] devAtPolydeals commented on #62
@wq9 good point. Yes, i concur that vulcanize itself works fine.

[2015-06-01 00:46] wq9 commented on #62
OK, I know what's the problem. In [`node_modules\gulp-vulcanize\index.js:23`](https://github.com/sindresorhus/gulp-vulcanize/blob/master/index.js#L23), `file.path` will produce an absolute path that starts with `C:\folder\...`.

Vulcanize doesn't work with `C:\...` paths?

So I put
[code]
and it worked...

[2015-06-01 01:14] devAtPolydeals commented on #62
@wq9  where did you put

[code]

[2015-06-01 01:50] wq9 commented on #62
@devAtPolydeals I put that line in `node_modules\gulp-vulcanize\index.js` line 23. (Replace `file.path` with `dist/elements/elements.vulcanized.html`). But that is a temporary fix.

[2015-06-01 04:05] danielhickman commented on #76
*sigh*
I followed the guide, reuploaded the package, chowned everything in my home dir, and there wasn't anything in `/usr/local/lib/node_modules`.

I can't find out what's wrong with my setup.

[2015-06-01 04:25] danielhickman commented on #76
https://github.com/npm/npm/issues/6309 shows others are having this issue left right and center. I'll look into what they are suggesting there.

[2015-06-01 04:38] samcarecho commented on #76
@BigDataPop,

Are you sure that "sudo chown -R $USER /usr/local/lib/node_modules" is a good practice?

[2015-06-01 10:55] samcarecho commented on #76
@danielhickman

Try this:
[NodeJS on Ubuntu](https://github.com/PolymerElements/polymer-starter-kit/wiki/NodeJS-Installation-on-Ubuntu)

After reinstalling NodeJS, go to the starter-kit root and delete "bower_components" and "node_modules".

After deleting both directories, run the following commands inside the starter-kit root, one per time:

[code]

[code]

I hope this helps you.

[2015-06-01 10:59] manustays commented on #62
Hi @addyosmani, I'm using Linux (Ubuntu 14.04) with gulp v3.8.11 & node v0.13.0-pre.

After adding error handling function in gulpfile.js (as per @devAtPolydeals) without commenting out any line, I get the following error message:

  errno: -2,
  code: 'ENOENT',
  path: '/home/abhi/CODING/Google%20Polymer/polymer-starter-kit-1.0.0/dist/elements/elements.vulcanized.html',
  name: 'Error',
  message

[2015-06-01 13:44] manustays commented on #62
UPDATE: Issue resolved.

My issue was simple: I was using path where a folder name contained _space_. Gulp was converting it into %20 and was failing.

[2015-06-01 14:14] adamaviner opened #92 "Gulp serve doesn't properly watch changes to .css files"
When running with gulp serve, changes to .html files are watched and the browser auto reloads to reflect them, however when making changes to .css files, gulp serve doesn't seem to be watching them and nothing happens.

Seems to be fixed by removing curly braces around .css in lines 198 199 of gulpfile.js like so:
 gulp.watch(['app/styles/**/*.{css}'], ['styles', reload]); ->  gulp.watch(['app/sty

[2015-06-01 15:30] addyosmani commented on #89
This was done on purpose. The last few versions of vulcanize have failed to correctly handle cases where the polymer import is at different levels (e.g bower_components/polymer/polymer.html vs ../../bower_components/etc). I'll double check if this is a known issue upstream.

[2015-06-01 15:47] Angarsk8 commented on #64
I've been getting the same error! what is this?

[2015-06-01 16:16] kaelig opened #94 "Questions about @media queries"
## Double min-width and naming

Seen in [app-theme.html#L224](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/app-theme.html#L224):

[code]

- `desktop-xlarge` is for 1920dp and up, according to the spec (not 1601px)
- This code contains `min-width` twice, is it normal?

## Breakpoint values

The Material spec is ambiguous about the value at which breakpoints start

[2015-06-01 17:20] shawnExplore opened #95 "Where's "Web App Install Banner"?"
This was presented as a "feature" of the starter kit, but no such install banner pops up on my android device, nor can I find any code for this banner while browsing through this repo.

Do I need some specific version of browser for this to work, or is it not actually implemented? Also, I notice the app he's actually showing is IOWA, which also doesn't pop up any such banner when I navigate to the

[2015-06-01 17:52] devAtPolydeals commented on #62
@wp9 you were right, my issue was resolved after i deployed it in C:\wamp\www... i think the spaces in folder name is messing up vulcanize and i had to change the vulcanize gulp task to:

[code]

I am closing this issue, unless someone wants to adds to it?

For some one who lands on this page in future; to fix vulcanizing issue in windows do following:
1.  Make sure there are no spaces in your dep

[2015-06-01 18:21] deearcodes commented on #95
@shawnExplore There's no "Install Banner". Using a supported browser (I'm using Chrome) go to browser menu while browsing the Polymer Starter Kit web-app. If your ´manifest.json´ and ´<meta>´ tags are fine tap "Request desktop version". Search for the Polymer Starter Kit logo in your home screen.

[2015-06-01 19:28] addyosmani commented on #94
Good questions!

Was fixed in master over the weekend. This was a typo.

We began implementing this a little while before the public version of the adaptive spec got updated. Now that 1920dp is the baseline for xlarge, I agree we should update to match for sure.

As you mentioned, the spec was ambiguous about this so I made a call. I'm personally fine with us starting with `480px` rather than 481

[2015-06-01 19:33] shawnExplore commented on #95
With further investigation it appears this feature has nothing to do with Polymer at all, and in fact isn't __directly__ controllable by the developer. It's something [introduced in Chrome 42](https://developers.google.com/web/updates/2015/03/increasing-engagement-with-app-install-banners-in-chrome-for-android?hl=en).  Please correct me if I'm wrong, but highlighting this "feature" (see video link

[2015-06-01 19:33] #95 closed

[2015-06-01 19:50] devAtPolydeals commented on #82
am closing this issue.

For future reference:

After install in windows : Change the path to bower_components in elements.html to ../../bower_components from ../bower_components and in Index.html from bower_components to ../bower_components.

[2015-06-01 19:50] #82 closed

[2015-06-01 20:32] addyosmani commented on #95
@shawnExplore It's absolutely not false advertising. The native UI for the feature is exposed in Chrome 42, but requires several prerequisites normally manually setup by a developer in order to be enabled. This includes the web app manifest being required (we provide this), Service Worker setup (non trivial, and we provide this) and sufficient favicons setup. We also, provide this. Any normal webs

[2015-06-01 20:33] #85 closed

[2015-06-01 23:52] harshakakumanu1 opened #99 "Failed at the polymer-starter-kit@0.0.0 deps script 'npm install -g gulp && npm install -g bower && npm install && bower install'."
0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'run', 'deps' ]
2 info using npm@2.10.1
3 info using node@v0.12.4
4 verbose run-script [ 'predeps', 'deps', 'postdeps' ]
5 info predeps polymer-starter-kit@0.0.0
6 info deps polymer-starter-kit@0.0.0
7 verbose unsafe-perm in lifecycle true
8 info polymer-starter-kit@0.0.0 Failed to exec deps script
9 verbose stack Er

[2015-06-01 23:55] addyosmani commented on #99
Duplicate of https://github.com/PolymerElements/polymer-starter-kit/issues/76. If running `npm install -g gulp && npm install -g bower && npm install && bower install` in the downloaded Starter Kit directory doesn't help, you may need to fix up your permissions.

Sorry for the extra hassle, but the comments in that thread should help.

[2015-06-01 23:55] #99 closed

[2015-06-02 00:17] zmoshansky commented on #76
@danielhickman

I also had this issue (Fedora 22), the best solution seemed to be option 2 in this guide (from npm). I also think that it's weird (hacky?) to change permissions on a /usr/local/* directory.

https://docs.npmjs.com/getting-started/fixing-npm-permissions#option-2-change-npm-s-default-directory-to-another-directory

[2015-06-02 00:36] moneal commented on #92
Noticed the same problem and removed the braces to fix. I was wondering if it was intentional for some reason.

[2015-06-02 00:53] addyosmani commented on #92
Oversight on my part. Would either of you like to PR back this change? If not, I'll land it tomorrow. Thanks for pointing it out.

[2015-06-02 08:57] samcarecho commented on #76
@zmoshansky

Hacky ([source](http://en.wiktionary.org/wiki/hacky)):
(computing, informal) Using, or characterised by, hacks: poorly designed workarounds.

I don't feel comfortable messing with the /usr/local/* permissions.
If nothing else works, I would also take approach 2 of creating a node-global directory under $HOME.

[2015-06-02 09:02] #92 closed

[2015-06-02 09:04] addyosmani commented on #76
Has anyone had any better luck using `npm@next` (per the linked to npm thread) to workaround these issues? Once we've got a solution that a few folks find works here, we'll make sure to link to it from the readme. I'm sorry you've had to deal with any frustrating setup issues to get through this.

[2015-06-02 09:39] danielhickman commented on #76
Sorry I've not been able to do this just yet because of my computer needing
some TLC.

On Tue, Jun 2, 2015 at 2:05 AM Addy Osmani <notifications@github.com> wrote:

[2015-06-02 12:14] chuckh commented on #59
@addyosmani below is an  animated gif of these proposed changes. I also corrected the logo, and improved the margins.

![psk-suggestion](https://cloud.githubusercontent.com/assets/19915/7935419/bba151f4-08e5-11e5-8b60-ce650bd88f5f.gif)

[2015-06-02 16:53] beacrea commented on #59
Yeah, I'm confused since the desktop spec seems to be a forced open drawer, per http://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-content in the behavior section.

[2015-06-02 16:54] addyosmani commented on #59
Thanks @chuckh. I'll aim to get feedback this week.

[2015-06-02 17:22] harshakakumanu1 opened #101 "I am getting this when running gulp serve"
Unhandled rejection Error: spawn /Users/harshavardhan/Desktop/starter/node_modules/gulp-imagemin/node_modules/imagemin/node_modules/imagemin-optipng/node_modules/optipng-bin/vendor/optipng ENOENT
    at exports._errnoException (util.js:746:11)
    at Process.ChildProcess._handle.onexit (child_process.js:1053:32)
    at child_process.js:1144:20
    at process._tickCallback (node.js:355:11)

[2015-06-02 17:50] steinhoff1989 commented on #76
Had the same error with "file exists". Looks like a npm bug.

Please check the npm Version you are on. (npm -v)
I have been on 1.4.28 like @danielhickman, This version has a bug you are fighting with discribed here:
https://github.com/npm/npm/issues/6309

After updating npm to 2.11.1 "npm run deps" finished without errors.

Be carefull if you are on Windows and installed npm via node in "C:\Progra

[2015-06-02 17:58] addyosmani commented on #101
Could you share what:

- OS
- Version of Node
- Version of npm

you are using?

[2015-06-02 18:00] harshakakumanu1 commented on #101
OS X Yosemite 10.10.4
Node - 0.12.4
npm -2.10.1

[2015-06-02 18:05] akhr opened #102 "Version number in bower.json?"
polymer-starter-kit bower.json --> "version" : "0.0.0" should it be updated to "1.0.1" ?

[2015-06-02 18:06] sorvell opened #103 "Remove unneeded removal of `unresolved`"
Here: https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/scripts/app.js#L29.

Polymer 1.0 does this automatically so it's no longer needed in the start kit!

[2015-06-02 18:08] addyosmani commented on #103
Was unaware of this! Thanks Steve. I'll get that cleaned up shortly.

[2015-06-02 18:10] addyosmani commented on #102
Good question. For our other boilerplate projects like Web Starter Kit, we opted not to bump the version number. This was intentional as it encourages end-users to think of the version field as theirs for their own projects.

Interested in @wibblymat's take on this.

[2015-06-02 18:14] ValueBC commented on #84
I agree. "Dist" should be clean and minified for easy deployment into production. Why are redundant files included? Or can you give an easy way to modify the gulpfile.js to accomplish this?

[2015-06-02 18:18] ValueBC opened #104 "Request for more flexible JS concat/minification"
Just tested the new 1.0.1 by adding a simple JS file to the "scripts" folder. Then run GULP. The JS file does not show up in the "dist" folder. What is the process for Javascript concatenation and minification?

[2015-06-02 18:21] addyosmani commented on #84
Pre 1.0.0, I was running into issues with not all elements in the Kit being fully Vulcanized. This required the bower_components directory to stick around in dist, even if it was being partially used. This is of course not ideal and we should fix it.

@rubenstolk when you're deleting `bower_components` from `dist`, are you seeing any runtime errors in your builds? I'll test this back out on our su

[2015-06-02 18:24] addyosmani commented on #104
Thanks for the bug report. We've been testing JS concatenation/handling as part of imports (which get handled by the Vulcanization pipeline) so it's entirely possible this slipped through the cracks.

Are you looking for minification any more complex than what we do in https://github.com/google/web-starter-kit/blob/master/gulpfile.js#L112? If not, it shouldn't be too difficult for us to bring that

[2015-06-02 18:24] rubenstolk commented on #84
Hi Addy,

I tested it briefly without `bower_components` and it was all working, but
it would have to be tested once more properly.

--

Ruben Stolk

http://changer.nl, "Raising the bar in online experience"
+91 95 6105 0034   /  +31 6 46 11 80 37

On Tue, Jun 2, 2015 at 8:21 PM, Addy Osmani <notifications@github.com>
wrote:

[2015-06-02 18:32] akhr opened #105 "Issue when running gulp serve on polymer-starter-kit 1.0.1"
OS : Ubuntu 14.04
Node : 0.12.2
npm: 2.7.4
bower: 1.4.1
gulp: 3.9.0

Steps:
1. Download polymer-starter-kit 1.0.1
2. unzip
3. npm install
4. bower install
5. gulp serve

![screenshot from 2015-06-02 11 21 22](https://cloud.githubusercontent.com/assets/695965/7943680/df84a1ae-091a-11e5-9e82-d88f0ebe255e.png)

[2015-06-02 18:35] addyosmani commented on #105
Could you verify that you're seeing dependencies installed in your bower_components and node_modules directories?

[2015-06-02 18:37] addyosmani commented on #105
Verified that downloading the 1.0.1 release, npm installing and bower installing followed by a serve is working for me:

![screen shot 2015-06-02 at 19 36 54](https://cloud.githubusercontent.com/assets/110953/7943795/cac03b22-095e-11e5-9dbd-f70e191bc253.png)

It's possible that one of the installation routines was unable to complete successfully (happens due to network occasionally). I would try `

[2015-06-02 18:38] akhr commented on #105
Yes I see the dependencies in both bower-components and node-modules.

[2015-06-02 18:40] akhr commented on #105
`npm cache clean` didnt help. Same error

[2015-06-02 18:46] Alienuser opened #106 "Caching with platinum-sw-register"
In the **"polymer-starter-kit-dependencies-checked-in-1.0.1.zip"** should be an working cache example with **"platinum-sw-register"**. But this is not working for me.

If I'm changing this:
[code]
to this: *(adding on-service-worker-error)*
[code]
and in the app.js something like:
[code]

this error function is triggert.

[2015-06-02 18:46] akhr commented on #105
Both `$ gulp serve` and  `$ gulp` results in same error

[2015-06-02 19:00] #102 closed

[2015-06-02 19:02] addyosmani commented on #105
I'm curious if this issue is just specific to images. What happens if you `rm -rf`/remove the `app/images` directory and try `gulp serve` again?

[2015-06-02 19:07] akhr commented on #105
removing the images directory worked. Thank you

[2015-06-02 19:07] #105 closed

[2015-06-02 19:08] addyosmani commented on #105
np. Btw, we're looking into the reason for image optimisation having issues on Ubuntu at the moment. So, while removing the directory worked here I'm hoping we'll soon have a proper fix for the more general issue.

[2015-06-02 19:10] ValueBC commented on #104
Thanks for the quick reply. I am interested in simple js concat/minification, similar to the github link you provided. I noticed that the firebase.js is accessed via firebase.html. I assume this is so that Vulcanize will process it? Would this be a better pattern for custom js files? ie reference them in an html file?

[2015-06-02 19:10] akhr commented on #105
Thank you Addyosmani. Are you instructions posted anywhere for adding CRISPER task to gulpfile.js for CSP stripping ?

[2015-06-02 19:17] ValueBC opened #109 "elements.html should be sorted alphabetically"
Hi, one of the first things I do is sort my HTML imports alphabetically like so:

[code]
This make it easy to add new imports without scanning for duplicates.

Currently, I do this manually. Is there an easy way to do this with Gulp. Yes, I recognize this may be the worlds smallest enhancement request ;)

[2015-06-02 19:19] arthurvr commented on #109
I guess I'm alright with ordering them all alphabetically. Will submit a PR if everybody agrees.

Don't know if I would personally care to add them in order, I'd rather just use search to find duplicates, though, in a boilerplate/starter kit I like things to be pixel perfect so I agree.

[2015-06-02 19:46] addyosmani commented on #109
I'm fine with them being ordered alphabetically as long as we test the dep order switch doesn't cause unexpected  runtime issues. PR welcome :)

[2015-06-02 19:51] SilverPaladin commented on #109
Why would the order of import be important?

On Tue, Jun 2, 2015 at 1:46 PM Addy Osmani <notifications@github.com> wrote:

[2015-06-02 20:29] devAtPolydeals commented on #109
I think ordering is more of a personal preference. I order mine as all Irons first, then paper with input then text area then validation etc, then 3rd party elements, then my own

[2015-06-02 20:30] addyosmani commented on #109
That ordering seems pretty reasonable to me. In this case perhaps we should do..

Iron
Paper
Platinum
Any others
User

[2015-06-02 20:58] devAtPolydeals commented on #109
:+1:

[2015-06-02 21:36] #103 closed

[2015-06-02 22:13] SilverPaladin commented on #109
This is how I arranged my elements file:

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import"
href="../../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import"
href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import"
href=

[2015-06-02 23:43] addyosmani commented on #104
@ValueBC Btw, we do support a form of concat/minification out of the box already. Any script you reference in https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L164 will automatically be minified and concatenated. So, let's say you have a foo.js file you want to include in your index/final JS file. You can do:

[code]

[2015-06-03 00:11] devAtPolydeals commented on #84
@rubenstolk  won't this line break it?
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L50

[2015-06-03 01:03] tjsavage opened #110 "Issue running Polymer Started Kit 1.0.0"
I downloaded polymer-starter-kit-dependencies-checked-in-1.0.0.zip and tried gulp serve. I got an "Unhandled rejection Error". I bypassed this by adding an error handler for the "images" gulp task and printed the error to console. The error I see is below:

Error in plugin 'gulp-cache'
Message:
    spawn ENOENT
Details:
    code: ENOENT
    errno: ENOENT
    syscall: spawn
    fileName: /Users/abi

[2015-06-03 04:10] addyosmani commented on #110
Someone else ran into this yesterday and worked around it by deleting the images directory. Could you confirm whether you run into this issue with the non checked in deps version too?

[2015-06-03 08:58] nafem commented on #110
I get a similar unhandled error event. If I comment out the image caching in gulpfile.js, it completes the build but then throws:

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn EACCES
    at errnoException (child_process.js:1011:11)
    at Process.ChildProcess._handle.onexit (child_process.js:802:34)

[2015-06-03 08:58] atomikolex opened #112 "1.0.1 failing to load resources"
Installed successfully with sudo npm install && bower install, app is ready to rock, but I am getting load errors from browser-sync without user events.
![starter-kit_console](https://cloud.githubusercontent.com/assets/9979190/7956313/670e26f8-09df-11e5-80b7-b72f030d0ae3.png)

[2015-06-03 09:02] atomikolex commented on #112
My fault sorry, seems I had exited commandline.

[2015-06-03 09:02] #112 closed

[2015-06-03 09:18] addyosmani commented on #110
@nafem are you using the version with checked in deps or without?

[2015-06-03 09:23] nafem commented on #110
With checked in deps. Running Ubuntu 14.04
I have also tried without deps but get the following error when running npm install

npm WARN package.json polymer-starter-kit@0.0.0 No repository field....

npm ERR! web-component-tester@3.1.3 postinstall: `node scripts/postinstall.js`
npm ERR! Exit status 8
npm ERR!
npm ERR! Failed at the web-component-tester@3.1.3 postinstall script.
npm ERR! This is m

[2015-06-03 09:41] jagare opened #113 "Listening for template-bound event is obsolete"
In app.js an event listener is added for template-bound event. This doesn't make sense for Polymer 1.0 since this event is no longer sent (but it was in v. 0.5). So better remove this confusing code and replace something relevant.

[2015-06-03 09:52] wibblymat commented on #102
Just to follow up: I was pretty sure that the `version` field in `bower.json` was never used, but that's not quite right. The only place that it is used is as the base version for the `bower version` command that bumps the version for you.

If you don't intend to use `bower version` for bumping the version it is safe to not include the `version` at all, since the tags are used instead.

[2015-06-03 12:02] addyosmani commented on #113
This is fixed in master https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/scripts/app.js - the event was renamed.

[2015-06-03 12:20] jmorille opened #114 "Feature Request : Add CCA (Chrome App Mobile) packaging gulp tasks"
Add the gulp tasks for packaging cca (https://github.com/MobileChromeApps/mobile-chrome-apps).

The buildings step need to be modify to add crisper tasks.

[2015-06-03 12:24] jagare commented on #113
Yes, you are right! Sorry I didn't notice.

[2015-06-03 12:24] #113 closed

[2015-06-03 13:13] addyosmani commented on #110
@nafem it looks like you have an older version of Node and npm. Could you upgrade to the latest Node and try again? https://nodejs.org/

[2015-06-03 13:30] peterpde opened #115 "Unable to get property 'baseURI' of undefined or null reference in IE11"
Error:
Unable to get property 'baseURI' of undefined or null reference

on the line:
var baseURI = document.currentScript.baseURI
in <platinum-sw-register> element js file.

The only symptom I have seen from this error thus far is that the toast letting me know the application can be used offline does not come up in IE.

The currentScript is the property that is undefined in the above line of code

[2015-06-03 14:27] kaelig commented on #94
It would be interesting to understand the thought process behind the grid a bit better because there are a few ambiguous things in the spec (about the number of columns and the min-max width values).

I took a fresh look at it and I interpreted it as a hierarchy of breakpoints (major vs minor).

Here's my interpretation (not sure how it would look like in code yet):

[code]

Putting it like this b

[2015-06-03 14:44] addyosmani commented on #94
Happy to loop in members of the design team on questions you may have regarding the grid. We've implemented a version of it in MDL in case you're curious how far it was possible to get with the current spec.

My best intelligent guess is that either one of the two are meant to be targeted or there's another factor the design team intended to be taken into account to avoid these two named breakpoin

[2015-06-03 14:56] addyosmani commented on #115
To confirm: you're seeing this issue when firing up a newly cloned/installed Polymer Starter Kit in IE11 using `gulp serve` without any modifications made to the codebase. Is that correct?

If so, I'll try to verify. I haven't seen any exceptions in my IE testing but that's not to say a recent change hasn't introduced one.

[2015-06-03 15:00] kaelig commented on #94
Cheers,

Very interested indeed!

Ok, would be great to clarify so that implementation and guidelines match the same rationale.

MD guidelines could recommend authors to make macro-layout changes in the major breakpoints and then use tweakpoints to… tweak things that break and/or improve the experience.

So the question is: what are these major breakpoints at which macro-layout changes should happ

[2015-06-03 15:10] peterpde commented on #115
That is correct.  I downloaded the polymer-starter-kit-1.0.1.zip version.  Thanks again.

[2015-06-03 16:57] vl4dt commented on #64
Same error here, no idea what triggers it but once it happens it becomes a recurrent error.
Only once without touching anything unusual it started all clean, after a while I closed the browser, stopped 'gulp serve' and started it again and the error showed up again.
It breaks the execution and not even the toast message shows up.

[2015-06-03 18:51] fones commented on #110
After upgrading node to last version problem still occurs (macosx)
When comment out this line
`.pipe($.cache($.imagemin({ progressive: true, interlaced: true })))`
it works!

[2015-06-03 18:58] koenhendriks commented on #110
I'm running Linux Mint 17 with latest NodeJs.
I tried this with the checked in dependencies version 1.0.1 and i still have this issue.

Here is the log:
[code]

if i comment out ```.pipe($.cache($.imagemin({ progressive: true, interlaced: true })))``` i get a new error:

[code]

[2015-06-03 19:02] addyosmani commented on #110
@koenhendriks does this issue happen with the non-checked in deps version too?

[2015-06-03 19:05] addyosmani commented on #64
This issue was fixed in https://github.com/GoogleChrome/sw-toolbox/pull/11 and once we land https://github.com/PolymerElements/platinum-sw/pull/36, we'll update Starter Kit to include it. Hang in there, folks!

[2015-06-03 19:12] koenhendriks commented on #110
@addyosmani just tested, I don't get any errors with the non-checked in deps.

[2015-06-03 19:30] kaldrenon commented on #62
FWIW, I had the `vulcanize` step fail on me the first time I ran the default `gulp` task, but it worked the second time.

First run:

    → gulp
    [14:19:18] Using gulpfile ~/Dropbox/code/polymer-starter-kit/gulpfile.js
    [14:19:18] Starting 'clean'...
    [14:19:18] Finished 'clean' after 4.57 ms
    [14:19:18] Starting 'default'...
    [14:19:18] Starting 'copy'...
    [14:19:18] Starting 's

[2015-06-03 21:21] addyosmani commented on #110
Thanks for confirming. I think we may be out of luck with the checked-in dependencies version. When we would generate the zip for it on a *nix machine, Windows users would run into issues with similar errors and when generating on Windows, the opposite appears to happen.

To minimize confusion, I'm considering deprecating the checked-in deps version as an option for now.

@fones you mentioned you

[2015-06-04 06:49] steinhoff1989 opened #116 "Appname overlaps mainContainer"
Hi,

the title of my App overlaps the mainContainer as seen in the following picture:
http://abload.de/img/unbenannt22u6v.png

I am not able to click on "item1" at the area, where the appname is overlapping "item1".

This just happens if the Toolbar is expanded, and only at screen sizes > 660px.

By the way. I saw, that you declared the css declaration of "#mainToolbar .bottom" inside the "app-the

[2015-06-04 07:07] addyosmani commented on #116
Could you verify if this is still an issue with 1.0.1? We'll get the duplicate declaration cleared up. Thanks for the heads up.

[2015-06-04 07:07] steinhoff1989 commented on #116
Yes. I'm on 1.0.1

[2015-06-04 07:10] addyosmani commented on #101
Was this using the version with dependencies checked in or without?

[2015-06-04 10:46] kenchris opened #117 "Wrong indentation for hamburger menu"
The indentation from the left to the hamburger menu should be around 16px, but as the button containing the icon (of size 24x24) is itself 45x45 meaning that is has approx 10px too much padding.

Compare with https://voice-memos.appspot.com/ or any Android app with material design such as Google Keep and Play Newsstand

[2015-06-04 11:17] fones commented on #110
@addyosmani I've tried only without deps. I've checked out master branch at commit `6078e4e7b6` and only issue with `.pipe($.cache($.imagemin({ progressive: true, interlaced: true })))` occurs.

[2015-06-04 11:23] addyosmani commented on #117
![screen shot 2015-06-04 at 12 16 38](https://cloud.githubusercontent.com/assets/110953/7982954/a61e8976-0ab3-11e5-9ed9-23743eeaae48.png)

We currently appear to have a combined margin of ~29px from the edge to the hamburger menu. The Material Design spec site (which I'm told by our designers is the canonical version to go by) uses 27px.

![screen shot 2015-06-04 at 12 19 12](https://cloud.githubu

[2015-06-04 11:25] fones commented on #66
Same problem here. Testing on mobile safari and chrome on iOS.

[2015-06-04 12:54] kenchris commented on #117
I forgot telling you that I changed to seamed mode, which is even closer.

https://voice-memos.appspot.com/ also has two different identation depending on size (seamed or waterfall).

You are right that Inbox (on the web, not on Android) uses 27px. I remember using core-narrow for the toolbar when the width is below 640px. I believe that this also makes up the difference.

[2015-06-04 12:58] addyosmani commented on #59
Just spoke to one of our Material designers. His feedback:

My interpretation of this is that there isn't a one size fits all answer. @tjsavage do you have any thoughts on how we should proceed here? Keep the current layout (drawer closed on desktop) or switch to open?

[2015-06-04 12:59] kenchris commented on #117
It is either 16 or 24 to the icon according to the guide and it depends on it being mobile or desktop (media queries)

http://www.google.com/design/spec/layout/structure.html#structure-app-bar

[2015-06-04 14:07] addyosmani commented on #117
@kenchris Put together https://github.com/PolymerElements/polymer-starter-kit/pull/118. PTAL if you get a chance.

[2015-06-04 15:10] ValueBC commented on #64
I had this same issue, then read the docs and it mentioned adjusting the path in sw-import.js:

[code]
For PSK, we need to go up one level. Or maybe it just decided to work this time ;)

[2015-06-04 15:18] mangibu opened #119 "Could not find WCT plugin named "local""
When I run "gulp test:local" I get

$ gulp test:local
[17:10:39] Using gulpfile c:\Users\Michael\Documents\Projects\polymer-starter-kit\gulpfile.js
[17:10:39] Starting 'wct:local'...
[17:10:39] 'wct:local' errored after 23 ms
[17:10:39] Error: Could not find WCT plugin named "local"

Any help is welcome.
Thank you.

Michael

[2015-06-04 15:32] chuckh commented on #59
That is good feedback and explanation. Which ever way is decided. Styling should be provided for the sidebar to be exposed like Polymer site (`drawerPanel.forceNarrow not being set`).

For the Polymer Starter Kit the readme.md could have instructions on how to change the default.

It could be an option with the Yeoman Generator for Polymer (expose nav for desktop/tablet).

[2015-06-04 15:43] addyosmani commented on #59
I agree with this. It's something I should expand the FAQ in #111 to include guidance on.

[2015-06-04 15:44] addyosmani commented on #119
Could you share: version of Starter Kit you're using, version of Node, OS (assuming Windows).

[2015-06-04 16:03] mattbogado commented on #119
Hi Addy, I getting the same error:

0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'install' ]
2 info using npm@2.5.1
3 info using node@v0.10.33
4 error install Couldn't read dependencies
5 verbose stack Error: ENOENT, open '/Users/mb0337/Documents/playground/polymer-starter-kit-light-1.0.1/package.json'
6 verbose cwd /Users/mb0337/Documents/playground/polymer-st

[2015-06-04 16:06] addyosmani commented on #119
@mattbogado for the `gulp` commands to work, you'll need to use the full version of Polymer Starter Kit (see the intermediate version in https://github.com/PolymerElements/polymer-starter-kit/releases).

Light is for a quick start without any of the tools included.

[2015-06-04 17:03] mattbogado commented on #119
Using the full version, when trying to run `gulp serve` I get this error:
[code]

[2015-06-04 17:05] Cammisuli commented on #62
Does anyone know why leaving the inlineCss and inlineScripts properties in the vulcanize config gives the no resolver found error?

[2015-06-04 17:18] mangibu commented on #119
I am running Windows 8.1 and Node v0.12.4.

Ok, I thougth I am using the full version. I was able to run "gulp serve" succesfully.
To verify I downloaded the full version again and this time it is working (sorry for the trouble...).

This is the test result:

$ gulp test:local
[18:47:51] Using gulpfile c:\Users\Michael\Documents\Projects\polymer-starter-kit-1.0.1\gulpfile.js
[18:47:51] Starting 'w

[2015-06-04 18:23] addyosmani commented on #119
@mattbogado is this after running `npm install && bower install` inside your downloaded Starter Kit directory before running `gulp serve`?

[2015-06-04 20:43] SmokyBob opened #121 "[Wiki] Instruction to use the Polymer Starter Kit with CDE"
While Chrome Dev Editor is not developed by Google anymore [[ref](https://plus.google.com/u/0/+SriramSaroop/posts/6EwgknwKpeS)] a lot of people are still using it, especially on ChromeOS.

Following the steps required to use the starter kit from CDE:
- Download the Polymer Starter Kit zip file
- Unpack in a folder
- move the bower.json file from the main folder to /app
- Open CDE
- Load the projec

[2015-06-04 22:49] SilverPaladin opened #122 "Error: spawn ENOENT after running gulp"
Windows 7.
[code]
[code]

[2015-06-04 23:42] mattbogado commented on #119
@addyosmani yeah

[2015-06-04 23:57] jtauber commented on #101
I see the same thing with:

OS X Yosemite 10.10.3
Node 0.12.4
npm 2.10.1

This is *with* dependencies checked in.

Seems there are few duplicates of this issue, though.

[2015-06-05 00:09] addyosmani commented on #122
Which of the releases did you download?

[2015-06-05 00:26] sindresorhus commented on #122
I would guess this is the `images` task and that you had some install problems with the `gulp-imagemin` task. Try reinstalling and look closely at the install logging in your terminal.

[2015-06-05 05:05] mattbogado commented on #119
@addyosmani I downloaded a fresh copy of 1.0.1 and run the `npm install && bower install` commands and I'm getting this:
[code]

[2015-06-05 07:33] addyosmani commented on #59
Latest from our designer after thinking about this some more:

Let's tackle this after #117 is resolved as some more work on card margins will be needed

[2015-06-05 12:08] Werner-Swart-83 opened #123 "Source Path Too Long"
So, anyone else having a problems with Source Path Too Long on Windows when you try to remove or move the polymer-starter-kit-dependencies-checked-in-1.0.1 folder?

[2015-06-05 14:04] chuckh commented on #59
I also lean toward the default behavior being open.

Example of the behavior:
![image](https://cloud.githubusercontent.com/assets/19915/8007412/7dcd76ba-0b50-11e5-8790-e14496f651cf.png)
see my App Layout Templates pull request for example of these changes at https://github.com/PolymerElements/app-layout-templates/pull/5

I agree it does make sense to tackle after #117.

[2015-06-05 14:15] addyosmani commented on #123
Hey @Werner-Swart-83. Unfortunately this is a limitation of NTFS. Read here for a workaround in case you're trying to delete/move the folder: https://coderwall.com/p/alhoww/solving-the-source-path-too-long-ntfs-issue

[2015-06-05 14:15] #123 closed

[2015-06-05 14:17] addyosmani commented on #122
I'm almost certain this is a dupe of #101. As Sindre mentioned, we're running into a few users having trouble with the image optimisation task. I would leave any additional debug info you might have available in the other ticket so we can nail this down.

I would also recommend trying out the non-checked in dependencies version of the release to see if you have better luck there.

[2015-06-05 14:17] #122 closed

[2015-06-05 14:19] addyosmani commented on #76
I think we've reached a point where the advice offered by @steinhoff1989 above should be the go-to for solving this. Would anyone be able to confirm following this (updating to 2.11.1) resolves the issue for them before we close this and link to a reliable answer?

[2015-06-05 14:29] addyosmani commented on #64
As of https://github.com/PolymerElements/polymer-starter-kit/commit/b4b6b7fbc40b3c732123243d0e4ce2c6ed5acf66 this issue should now be fixed. You may need to unregister any local Service Workers that were previously setup via `chrome://serviceworker-internals/` and refresh before the old 'Request method POST' messages disappear.

![screen shot 2015-06-05 at 15 28 59](https://cloud.githubusercontent

[2015-06-05 14:29] #64 closed

[2015-06-05 15:41] arthurvr commented on #109
This looked like okay to me: https://github.com/PolymerElements/polymer-starter-kit/pull/124. Suggestions welcome :)

[2015-06-05 15:44] arthurvr commented on #121
I honestly don't really think this is much of a topic for us to cover. Because it would be more showing how to use a specific editor than how to use the tooling/starter-kit.

[2015-06-05 15:49] addyosmani commented on #121
@arthurvr I suggested @SmokyBob open an issue about this here, mostly so we can gauge interest in how many people would want this before we commit to adding it to docs via the wiki.

[2015-06-05 18:23] #109 closed

[2015-06-05 19:07] justinfagnani opened #125 "Remove .bowerrc"
The current one is unnecessary, but in general `.bowerrc`'s can be dangerous and we've tried to move away from them in the core and elements' projects in favor of better servers, like polyserve.

[2015-06-05 20:32] zmoshansky opened #126 "Browser Sync Binding Breaks in Firefox"
If paper-dialog is included, and thus iron-overlay-behaviour, Browser Sync tries to bind to the `<body>` tag in [iron-overlay's](https://github.com/PolymerElements/iron-overlay-behavior/blob/master/iron-overlay-behavior.html#L41]) documentation. This causes the rest of the file to get fubar'd and lots of weird application errors.

#127 "Fixes it on my machine"

[2015-06-05 22:25] devAtPolydeals commented on #123
Yes i would get this issue. See http://superuser.com/questions/45697/how-to-delete-a-file-in-windows-with-a-too-long-filename on how to fix it. robocopy works like a charm.

[2015-06-06 10:54] addyosmani commented on #101
Thanks for sharing more information about your setup. Would it be possible to verify if this issue occurs using the *non* checked in version? Basically, this release: https://github.com/PolymerElements/polymer-starter-kit/releases/download/v1.0.1/polymer-starter-kit-1.0.1.zip

More info if interested: it appears that some cross-platform dependencies that would normally get correctly resolved if in

[2015-06-06 11:01] addyosmani commented on #119
@mangibu I'm glad to hear you were able to get a little further with the local testing setup. It seems like we'll need to work around timing issues as Node 0.12.x+ on *nix systems appears to work fine at the moment.

I was able to get the tests passing on Windows 8 with Chrome (see below) but will try to verify with FF too in case we're seeing issues there.

![screen shot 2015-06-06 at 12 00 20](h

[2015-06-06 11:04] addyosmani commented on #110
Hey folks. If you're still running into this issue, I just wanted to mention we've updated our README to be a little more specific with Node versions. We currently recommend Node 0.12.x and above. To check/update accordingly, please see https://github.com/PolymerElements/polymer-starter-kit#prerequisites-for-everyone

[2015-06-06 12:53] SebastianMetzger commented on #101
Have the same issue, when I just cloned the project.
Windows 7
Node 0.12.4
NPM 2.10.1

@addyosmani I also tried the version from the zip with the same result

[2015-06-06 14:35] Flaiker commented on #101
I have the same problem. I tried current master (46a7d70) and v1.0.1 (without checked in dependencies). My setup:
- Windows 8.1 x64
- Node 0.12.4
- NPM 2.10.1

On 1.0.0 I got `gulp serve` to work, however I had to execute the setup-command multiple times.

[2015-06-06 15:39] snakewa commented on #101
I try to follow the instruction in the issue (https://github.com/yeoman/generator-polymer/issues/186) shared by@addyosmani

It works for me in v 1.0 or 1.0.1
[code]
and reinstall npm by remove node_modules and npm install again

[2015-06-06 16:02] addyosmani commented on #101
cc @kevva are there known issues with installing recent imagemin builds on Windows 7/8?

[2015-06-06 16:05] jdepypere opened #129 "Page.js in starter kit light not working as expected"
In the polymer-starter-kit-light-1.0.1 download there are some issues with routing. First off, in `/app/elements/routing.html` page.js is included with `../../bower_components/page/page.js`, which is one level too much down, resulting in it not being loaded.

After adjusting this, refreshing the app results in a blank page and not the home-page. The url is also changed in a weird way which I can't

[2015-06-06 16:12] talee commented on #101
@addyosmani @kevva  Looks like the imagemin-optipng build is [failing](https://ci.appveyor.com/project/ShinnosukeWatanabe/imagemin-optipng/build/30).  On Mac cleaning and reinstalling the `gulp-imagemin` dependency resolves the issue (weird since it seems like more recent builds are broken).

    npm cache clean gulp-imagemin
    rm -rf node_modules/gulp-imagemin
    npm install gulp-imagemin

I m

[2015-06-06 16:21] kevva commented on #101
@talee, it should be fixed in https://github.com/imagemin/optipng-bin/commit/f14d05acf262a058b04bbca5ffff1b97eca8004e.

[2015-06-06 16:24] talee commented on #101
@kevva You're right, thanks for the fix. No wonder installing the new one fixes things.  In that case, the issue should probably be resolved.

[2015-06-06 16:39] Flaiker commented on #101
Yup, works for me now (even though I still had to run `npm install -g gulp bower && npm install && bower install` 3 times to finish without errors...).

[2015-06-07 00:04] addyosmani commented on #129
Confirmed bug. I'll take a look at this.

[2015-06-07 00:04] #125 closed

[2015-06-07 08:43] arthurvr commented on #121
I like the idea of having docs, though I don't think we should do them over at the wiki. It limits contributions in a significant way. I'd rather see us doing 'recipes' such as [generator-gulp-webapp](https://github.com/yeoman/generator-gulp-webapp/tree/master/docs/recipes) does that.

On this idea in specific, although it all sounds like really handy documentation, I don't see how it's topic for

[2015-06-07 11:47] flaiker opened #131 "Recommended update procedure?"
If I use PSK in a project and want to update it (let's say from 1.0.0 to 1.0.1), is there a recommended way how to do so? I came up with the following ideas:
  - Work with PSK from source, have two remotes and rebase from PolymerElements/polymer-starter-kit@vX.X.X when I want to update. This however fills my log with commits from changes unrelated to my project but to the kit (and also changes his

[2015-06-07 16:00] Sergey-Kolesnikov commented on #62
Same problem. System: MS Windows 7 x64, Node 0.12.4
Path is ok (no spaces). Vulcanize didn't work if "inlineCss" is true.
![1](https://cloud.githubusercontent.com/assets/7853903/8024763/5c317c60-0d47-11e5-8919-2907218347d1.png)
![2](https://cloud.githubusercontent.com/assets/7853903/8024765/626e91f8-0d47-11e5-8c55-87f4108ba3ce.png)

[2015-06-07 16:28] cnbuff410 commented on #131
/sub, I have similar question

[2015-06-07 18:10] arthurvr commented on #131
Well, this is a *starter* kit. You start with the contents of this repo, and develop upon that base. Though I can imagine you want to update the build process to the latest and greatest, I think the only way you're going to be able to do this is manually.

Keep in mind that the amount of people that will use PSK without doing any modifications to its initial tooling is pretty small.

[2015-06-07 18:18] sergiotirado opened #132 "forceNarrow should be force-narrow"
forceNarrow should be force-narrow

https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L61

[2015-06-07 18:21] sergiotirado opened #133 "app directory missing in .bowerrc"
"directory": "bower_components" should be "directory": "app/bower_components" in .bowerrc

https://github.com/PolymerElements/polymer-starter-kit/blob/master/.bowerrc#L2

[2015-06-07 18:32] arthurvr commented on #133
No, [that's not really true](http://yeoman.io/blog/bower_components-in-project-root.html). Normally you shouldn't run into any issues with this, were you running into any specific problems?

Anyhow, [we're planning to drop the `.bowerrc` file.](https://github.com/PolymerElements/polymer-starter-kit/pull/128)

[2015-06-07 18:45] sergiotirado commented on #133
Ok. If that's the case, then the issue is to update the links on elements.html to point to bower_components outsude the app directory

https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/elements/elements.html#L12

<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">

should become

<link rel="import" href="../../bower_components/iron-fle

[2015-06-07 18:58] arthurvr commented on #133
If you're using the version of PSK with tooling and `gulp serve` you shouldn't run into any problems.

I could imagine this being a bug in the version without tooling, though. (Haven't tested with the no-tooling version, just brainstorming)

There are already [known problems with the lite version's file paths](https://github.com/PolymerElements/polymer-starter-kit/issues/129).

[2015-06-07 19:20] addyosmani commented on #133
I believe this is #129 we're running into. I've confirmed it's a paths issue - @sergiotirado could you let us know if this is indeed the light version you're referring to? If so, we should close this as a dupe and aim to solve the issue on that ticket soon.

[2015-06-07 19:29] sergiotirado commented on #133
I am referring to a version without tooling. On Slack I read others inquiring about this issue because they just downloaded the Polymer Starter Kit, not so much to use it to implement something, but to glance at it to see how it works and learn by peeking into the source code.

[2015-06-07 19:30] arthurvr commented on #133
Ah, that clarifies. Thanks. Let's close this as a dupe then.

[2015-06-07 19:30] addyosmani commented on #133
Closing as dupe.

[2015-06-07 19:30] #133 closed

[2015-06-07 19:44] calbertts commented on #64
I've installed the Polymer Starter Kit but at the same time I've been working in other web project, every time that I tried to do a request I got this error **despite of that it doesn't have nothing to do with Polymer.**

**I'm afraid about the Polymer instalation is affecting some global things affecting other projects created with NPM, because this problem started just after installed Polymer.**

[2015-06-07 21:15] addyosmani commented on #64
@calbertts could you go to about:serviceworker-internals and unregister/stop any active service workers on the page? (in particular any tied to the local server you initially ran for Polymer Starter Kit). After that refresh. Could you let me know if that fixes things?

[2015-06-08 00:22] robdodson commented on #64
@calbertts you might also try testing your projects on a different port. A service worker will latch on to the domain `localhost:3000` and try to proxy it until you explicitly unregister it. It's actually pretty annoying when you accidentally install a service worker on the port you usually dev on and don't know it. Probably another reason to do #80

[2015-06-08 02:47] calbertts commented on #64
@addyosmani  your workaround worked well, Thank you.
@robdodson This worked also, but you're right, this is pretty annoying, it should be optional or the developer should be aware about what it's gonna happen when you install the Polymer Start Kit.

Thanks guys.

[2015-06-08 04:49] flaiker commented on #131
Fair enough. Though I suppose I'll wait until changes slow down a little to use it in production.

[2015-06-08 04:49] #131 closed

[2015-06-08 08:17] addyosmani commented on #64
@calbertts could you add a vote for making SW optional to that issue? I think we should definitely consider a clean way of achieving this if sufficient numbers of users are finding the debugging workflow for disabling painful. cc @jeffposnick as an fyi

[2015-06-08 09:35] hazourano commented on #116
![screenshot from 2015-06-08 17 34 31](https://cloud.githubusercontent.com/assets/2435891/8031905/b5a87312-0e04-11e5-9306-2c057f3a424d.png)

got this issue when header resize

[2015-06-08 12:19] Nevraeka commented on #121
:+1: It would be great to add the 'preferred' way of building production apps into the polymer hackademics & codelabs we are upgrading to 1.0.x . Great idea @SmokyBob

[2015-06-08 13:52] addyosmani commented on #129
@jdepypere I've pushed a Hotfix release for the routing issue above in the releases page. https://github.com/PolymerElements/polymer-starter-kit/releases/tag/v1.0.1 Could you try it? Please also take a look at the brief instructions in the README regarding serving up content from inside of `app` rather than root (I believe this was the other issue you ran into).

[2015-06-08 14:31] #132 closed

[2015-06-08 14:59] addyosmani commented on #62
Hey folks.

[2015-06-08 15:01] addyosmani commented on #62
Hey folks,

The two issues I'm seeing here are: 1) Vulcanize isn't working if there's a space in your paths and 2) it won't correctly vulcanize if `inlineCss` and/or `inlineScripts` are used.

Would it be possible for you to try posting about these issues upstream on the Vulcanize issue with as much information as possible so that we can nail down if this is a bug that needs fixing there? We're us

[2015-06-08 15:02] #62 closed

[2015-06-08 15:22] jdepypere commented on #129
Using the method of the README this is now working correctly.

[2015-06-08 15:22] #129 closed

[2015-06-08 15:23] addyosmani commented on #101
Closing as resolved. Thanks for letting us know about the fix @kevva. For anyone that runs into this in the future, I recommend reinstalling `gulp-imagemin` as outlined by @talee above to get things cleanly working.

[2015-06-08 15:23] #101 closed

[2015-06-08 15:27] addyosmani commented on #129
:star:

[2015-06-08 17:30] #117 closed

[2015-06-08 19:07] devAtPolydeals commented on #117
@addyosmani  does that also mean changing app-layouts? Are they as per spec?

https://github.com/PolymerElements/app-layout-templates

[2015-06-08 23:01] azakus commented on #62
#138 looks like it works for polymer-ci :)

[2015-06-09 02:14] calbertts commented on #80
:+1:

[2015-06-09 04:16] robdodson commented on #116
@hazourano I think you'll need to remove the bottom padding from `#mainToolbar .bottom` in `app-theme.html` and you'd want to move the element so your `paper-toolbar` looks like this:

[code]

I also changed the `paper-font-display` class to 1. I *think* that will fix it

[2015-06-09 04:18] robdodson opened #139 "Move app-theme.html to styles dir"
This file is essentially a stylesheet being shimmed with custom props by `custom-style`. It feels like it should live in `styles`, I keep reflexively looking for it in there. Maybe it's just me, but it feels weird to have it in the `elements` dir

[2015-06-09 04:46] chuckh commented on #139
​I agree. I keep looking for it in styles too. ​

On Mon, Jun 8, 2015 at 9:18 PM, Rob Dodson <notifications@github.com> wrote:

--
Chuck Horton
actionplanr.com
www.hware.com
chuck@hware.com
www.twitter.com/chuckhorton
530.268.5840

Let us create a world that works for all.

[2015-06-09 09:09] addyosmani commented on #139
I agree too. Let's move it to the styles directory.

[2015-06-09 10:06] addyosmani commented on #89
@azakus interested in your opinion on a pattern.

The element's catalog currently explicitly specifies polymer.html as an import at the top of their [elements.html](https://github.com/Polymer/polymer-element-catalog/blob/master/app/elements/elements.html) file, but doesn't do so for each of the other child elements used in the app. For example, [app-cart](https://github.com/Polymer/polymer-element

[2015-06-09 10:08] addyosmani commented on #116
We have some in-flight changes that should fix this. In the mean time, the changes Rob suggests above should help.

[2015-06-09 14:48] atdotslashdot opened #141 "navigation requires 2 clicks"
I just downloaded and tried the light version of the starter kit.
I have to click twice on the navigation to get it to work (home ,user, contact)
The first click highlights the link with a grey background.

[2015-06-09 14:59] atdotslashdot commented on #141
Update, seems to work correctly in chrome but not firefox

[2015-06-09 15:03] atdotslashdot opened #142 "links not relative"
the starter kit links aren't relative to install location
I installed at
http://mydomain/polymer/light/app/
but users (for example)
take me here
http://mydomain/#!/users
the app appears to work but a refresh will,of course, break it

[2015-06-09 15:11] EvgenyKarataev commented on #142
According to Page.js documentation (https://visionmedia.github.io/page.js/)
you can set base path with page.base([path]).

In your case you could try to set page.base('/polymer/light/app/') in
routing.html.

P.S.: I have not tried the solution myself.

Best Regards,
Evgeny Karataev

On Tue, Jun 9, 2015 at 10:03 AM, atdotslashdot <notifications@github.com>
wrote:

[2015-06-09 15:33] chuckh commented on #80
@robdodson regarding adding comments, would this make sense?

### index.html
[code]

### elements.html
[code]

[2015-06-09 15:56] addyosmani commented on #142
I haven't confirmed the `page.base` solution works for the above, but once we've verified it I think it makes sense to at minimum add a comment to the routing import to make it more clear for folks.

[2015-06-09 16:30] arthurvr commented on #139
I think this can be closed, as https://github.com/PolymerElements/polymer-starter-kit/pull/140 landed?

[2015-06-09 16:55] addyosmani commented on #139
:+1:

[2015-06-09 16:55] #139 closed

[2015-06-09 16:57] chuckh opened #143 "gulp builds with webcomponents.min.js instead of webcomponents-lite.min.js"
### index.html
[code]
should be
[code]

### gulpfile.js
`files.push('index.html', './', 'bower_components/webcomponentsjs/webcomponents.min.js');`
should be
`files.push('index.html', './', 'bower_components/webcomponentsjs/webcomponents-lite.min.js');`

[code]

[2015-06-09 16:58] robdodson commented on #80
it may be better to use the same comments throughout:

[code]

something like that, just so we can look for the same pattern everywhere

[2015-06-09 17:05] addyosmani commented on #143
:+1:

[2015-06-09 17:06] addyosmani commented on #143
Let's land a change for this after #137 has been merged.

[2015-06-09 17:39] azakus commented on #89
I'm not sure I follow, but the imports have to resolve the the same absolute path in order to be deduplicated. This is true of both vulcanize and HTML Imports in general.

There were a few bugs that were quashed recently, so please make sure you are using vulcanize 1.9.1, or gulp-vulcanize 6.0.1

[2015-06-09 17:53] addyosmani commented on #89
Thanks! That confirms something I was curious about. I'll also double check we're on latest.

[2015-06-09 18:10] chuckh commented on #143
Yes, let's land this change and #80 change after #137.

[2015-06-09 18:13] arthurvr commented on #80
Just because we want to make it optional in the generator? That might confuse people and is honestly ugly, definitely because they don't add value for the people just using PSK without generator-polymer.

[2015-06-09 18:18] arthurvr commented on #141
Yes, I seem to be able to reproduce that. Is this a bug in `<paper-menu>` or our use of it?

[2015-06-09 18:23] addyosmani commented on #59
Closed in https://github.com/PolymerElements/polymer-starter-kit/pull/137

[2015-06-09 18:23] #59 closed

[2015-06-09 18:38] addyosmani commented on #141
It may be our use of it. For a11y reasons we opted/were recommended to just use anchors rather than <paper-item>. We're possibly losing some styling there.

[2015-06-09 18:49] chuckh commented on #80
How about something like this @arthurvr and @robdodson. It is consistent and provides value to PSK only users. Could reference in readme for disabling service workers.

### index.html
[code]

### elements.html
[code]

[2015-06-09 18:52] arthurvr commented on #80
How does that add value? It are two comments that totally make no sense if you're just an all day PSK user.

[2015-06-09 18:57] chuckh commented on #80
I think it adds value by letting PSK only users known where in the code Service Workers code is so it is easier to fine if they want to disable it.

[2015-06-09 18:59] arthurvr commented on #80
Does that add real value? When a file is called `platinum-sw` people know that. Also I think the `<!-- End` comment will look strange to people anyways.

[2015-06-09 19:06] chuckh commented on #80
I don't think people who are new Polymer will know what `platinum-sw` is. As far as `
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

[code]

[2015-06-09 19:07] arthurvr commented on #80
Yes, because the build process requires those. That's the main reason I think people are going to confuse this.

[2015-06-09 19:08] art0001 commented on #80
@chuckh ignore @arthurvr  because he only like to comment to feel important about himself but in reality he doesn't know anything :)

[2015-06-09 21:15] robdodson commented on #80
This may not end up being a generator specific thing, it seems like a handful of folks have run into issues with service worker so the starter kit itself may need to make it optional, perhaps the lite version would strip it out (if it doesn't already).

I think since @addyosmani has the most experience in this realm it's probably best to let him weigh in on which approach he would prefer.

[2015-06-09 21:46] #143 closed

[2015-06-09 22:19] hugo-agbonon opened #146 "Weird behaviour when holding a mouse button down"
Hello,

On an unmodified Starter Kit,

* On Firefox, holding down a mouse button anywhere (to select text for example) and moving the mouse cursor darkens the page then brings out the menu
* On Chrome, no menu appears, but (sometimes only after activating the menu and changing pages first) I am unable to select text correctly

[2015-06-09 22:51] addyosmani commented on #80
I think that if we're adding in comments here, they should first and foremost provide value to the end user and be clear about their intentions. There may well be a simpler way to achieve this, but heres another option:

If we decide to disable Service Workers by default we can comment out the implementation and do something like this..

### index.html

[code]

### elements.html

[code]

This make

[2015-06-09 22:55] robdodson commented on #80
I quite like that approach

[2015-06-09 22:57] addyosmani commented on #146
Thanks @hugo-agbonon. Could you share:

- What version you're using (Light? Full? 1.0.0? 1.0.1?)
- Is this happening only when you're close to the left edge? (the menu is meant to appear when dragging lightly from the edge, but not when near the middle/right side)

[2015-06-09 23:05] hugo-agbonon commented on #146
I'm using the full version 1.0.1.

After further testing, I can see how the dragging works in Chrome, but the menu appears on Firefox  even if I start dragging on the far right side of my window (tested on FF 38 & 40)

[2015-06-09 23:52] fuzzdota commented on #119
@addy I'm running into this issue with missing "local" plugin.

Windows 7, Node: 0.12.3, wct: ^3.1.3. I'm not using the polymer-starter-kit. I have wct installed globally and start the test from root directory using
[code]

[2015-06-09 23:53] chuckh commented on #80
Makes sense to me. :+1:

[2015-06-10 00:54] kbwatts opened #147 "Question about menu button"
Looking at the default navigation menu button (https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L91, I'm really curious about why it uses:

[code]

instead of this (or something similar):

[code]

because this way it would look and feel consistent with the other provided default buttons in the toolbar - would that not be preferable/consistent with MD?

[2015-06-10 09:01] addyosmani commented on #147
I've previously tried using `<paper-icon-button>` for this, but don't believe `<paper-header-panel>` was correctly applying the toggle behaviour deep enough for the `<iron-icon>` to actually toggle the button from inside `<paper-icon-button>`.

That said, this was a few weeks ago and things might have changed since then. I'll try locally testing and confirm whether this is still the case.

[2015-06-10 09:10] addyosmani commented on #147
It appears to work in the latest release :star: I've thrown together a PR for it and will cc you in just a minute.

[2015-06-10 09:34] atdotslashdot commented on #142
Thanks Evgeny, where in routing.html would you include the call? I'm not having success here. i tried inside the anonymous function..

[code]
console reports the message but the problem remains

Cheers
James Driscoll

[2015-06-10 10:20] teckays opened #149 "Avoid sending iron-ajax request if page is not active"
I have multiple pages and one of them uses `iron-ajax` to grab some data from a database, however the request is sent no matter what page I'm currently on, how to avoid this?

[2015-06-10 10:46] albertolobrano commented on #149
I have the same issue.  I was thinking to load the ajax request in the route but not sure if it is the best option.  Very interested to know an opinion on this.

[2015-06-10 11:46] kbwatts commented on #147
I thought it was something like that - your PR looks good to me :+1:

[2015-06-10 11:46] #147 closed

[2015-06-10 13:40] albertolobrano commented on #149
Polymer element catalog show how to use the iron-ajax to load data on demand and gives some useful patterns.  It is using app-router instead of page.js

[2015-06-10 17:07] mangibu opened #150 "poymer-starter-kit-light for the creation of custom elements"
To better understand: Can I use the starter-kit-light to create and test new elements?

If I add a new element to the elements-folder and add it to the elements.html and to the index.html file it is shown up in the browser. But if I change the new element it is not refreshed. The element is not changing. I tested this with the Firefox browser.

I read about "Register a custom element" but I can't

[2015-06-10 17:11] arthurvr commented on #150
Well, if you explicitely choose for a version without tooling, you can't benefit from the set of tooling PSK comes with :)

[2015-06-10 17:19] mangibu commented on #150
OK, I got it.

Thanks.
Michael

[2015-06-10 17:42] addyosmani commented on #150
Arthur's comment above is correct. You'll need to use the version with tooling for the above to work.

[2015-06-10 17:42] #150 closed

[2015-06-10 17:52] devAtPolydeals commented on #149
removing the attribute 'auto' may help.

auto Boolean
default: false
If true, automatically performs an Ajax request when either url or params changes

[2015-06-10 18:04] fuzzdota commented on #119
Just an update. It was my mistake in updating PATH variable.

My PATH contains both directories to WCT
[code]
[code]

Removing the 2nd path solves this problem for me.

[2015-06-10 18:26] EvgenyKarataev commented on #142
James (@atdotslashdot),

The place where you put `page.base('/polymer/light/app/');` is correct.

I just did some tests locally and also looked at the examples in the page.js codebase and it seems that the problem boils down to how href attributes are set in the index.html file.

The values in href attributes should be prefixed with "." (dot). For example, `<a data-route="home" href="/">` should b

[2015-06-10 19:41] flaiker opened #153 "Docs: enumeration of steps does not make sense if there is only one"
In [my-greeting-basic.html](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/test/my-greeting-basic.html#L23) and [my-list-basic.html](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/test/my-list-basic.html#L23) there is a comment each telling the user:
[code]

There are however no comments with step 2, 3 and so forth (just specific comments on the test

[2015-06-10 20:48] addyosmani commented on #153
Please nitpick :) I'd far rather that we got all of these items right. I think wrt to the above we should leave out `Step 1:`.

[2015-06-10 20:51] #153 closed

[2015-06-11 01:07] rbjarnason opened #154 "Model paper-dialog not working correctly within a polymer-starter-kit app"
I have a component that uses paper-dialog to display errors.  When I added it to a simple polymer-starter-kit app the modal dialog overlay is also covering the dialog box itself and it is not possible to press the OK button as the overlay is covering it - you can still press return and escape to dismiss the paper-dialog.  Strange thing is that z-index looks ok when you debug it in Chrome but still

[2015-06-11 02:58] chuckh opened #155 "Moved <script> tags inside <dom-module> according to latest recommendations"
Per latest Polymer release notes move `<script> tags` inside` <dom-module>`.

See release notes at https://www.polymer-project.org/1.0/docs/release-notes.html#documentation-updates-10-june-2015

See @sjmiles example of this at http://jsbin.com/kobuvu/1/edit?html,output.

[2015-06-11 03:04] DandroidDeveloper opened #156 "Layout fixed to forceNarrow"
I deleted forceNarrow expecting paper-drawer-panel to fall back to responsiveWidth. Is there a way to enable responsiveWidth that I am missing? I tried setting the property true within paper-drawer-panel with same results. I am trying to achieve the expected behavior described in the API where drawer panel is beside main panel when displayed on a screen with width >= 640px, and narrow when <640px.

[2015-06-11 03:31] DandroidDeveloper commented on #156
Fixed with 1.0.2

[2015-06-11 03:31] #156 closed

[2015-06-11 03:41] cnbuff410 commented on #155
the "is: xxxx" property is not required officially?

[2015-06-11 08:07] Alienuser commented on #154
Hi @rbjarnason
I have the same issue and a workaround for that.

I have this button to open the paper-dialog:
[code]

This is my "feedback" function in the element: (**note:** the paper-dialog is in same the element)
[code]

The feedback function opens the "setDialog" function:
[code]

This function is adding the whole paper-dialog to the **body**-element. Then you can use the paper-dialog as norm

[2015-06-11 08:16] atdotslashdot commented on #142
Hi Evgeny, still no joy here but it has changed a little....
I prefixed the hrefs in index.html with a .
e.g.
[code]
if I go to
http://mydomain/polymer/light/app/
and click users it takes me to
http://mydomain/polymer/light/app/users
which results in a not found error
(NOTE the lack of #! in the url even the  hashbang is set to true  in routing.html)

Thanks for investigating.
James Driscoll

[2015-06-11 09:26] QuantumInformation opened #157 "[FEATURE REQUEST] CLI tool for initing starter kit"
Can we create a CLI tool like (EMBER-CLI) [http://www.ember-cli.com/] that can download and init a project for us from terminal?

[2015-06-11 09:38] addyosmani commented on #157
That would be https://github.com/yeoman/generator-polymer :) Specifically, the latest releases include support for Starter Kit out of the box https://github.com/yeoman/generator-polymer/releases

[2015-06-11 09:38] #157 closed

[2015-06-11 09:41] addyosmani commented on #155
@chuckh good catch. We should be able to land a change for this to coincide with the 1.0.3 PSK release.

[2015-06-11 09:46] addyosmani commented on #154
Thanks for posting the workaround @Alienuser.

Is this a bug with `iron-overlay-backdrop`? If so,  is it worth filing upstream on the relevant paper-/iron- repo so that we can get it fixed there?

[2015-06-11 09:46] addyosmani commented on #126
Fixed now

[2015-06-11 09:46] #126 closed

[2015-06-11 10:20] flaiker opened #158 "Application sub title does not work with waterfall-tall"
In index.html there is a place to set an application sub title (not set by default) ([link](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L102-L103)):
[code]

As you can see in the following animation application title and subtitle overlap when `paper-header-panel.mode="waterfall-tall"`takes effect (scrolling).
![subtitle](https://cloud.githubusercontent.com/ass

[2015-06-11 10:25] rbjarnason commented on #154
@Alienuser Thanks! I can now use the workaround until a fix is in place :)

[2015-06-11 10:58] addyosmani commented on #158
My personal take is we should hide the subtitle from the template when `paper-header-panel` is collapsed. cc @chuckh in case he has thoughts here too.

I'll check with the Material Design team here too in case they have specific suggestions for what we should be doing here.

[2015-06-11 14:43] Cammisuli opened #159 "How does the paper-menu work with on-iron-select?"
In the starter kit the paper-menu has an attribute called "on-iron-select". Where is documentation on this attribute?

I tried looking through Polyerm.IronSelectableBehavior, and all behaviors that are similar and I cannot find out where this is implemented.

Is this hidden somewhere?

[2015-06-11 16:52] SilverPaladin commented on #158
Until a fix is available you could add
[code]

[2015-06-11 17:14] EvgenyKarataev commented on #142
@atdotslashdot,

That's weird. The example that I showed earlier was working on the full PSK (not lite version). I just tried that approach on the light version (light-1.0.2) and it didn't work.

However, I believe I was finally able to make it work after playing with different things. Here is the demo: http://evgenykarataev.github.io/pskWithBaseRoute/polymer/light/app

So, try this:
* Add `<base

[2015-06-11 17:17] chuckh commented on #158
I agree we should hide this condition. We should put it in styles/app-theme.html.
[code]

[2015-06-11 17:35] SilverPaladin commented on #158
It would be better to hide it with script before the waterfall collapses, and unhide it when the waterfall expands. As it is with the css I suggested it's pretty janky looking.

Perhaps a scroll observer on the <paper-header-panel> and some script?

[2015-06-11 18:18] devAtPolydeals opened #160 "gulp does not copy non html files from new folders"
Hi,

I created a new folder on the root i.e. app/pages and inside this folder I have some HTML, CSS and php pages. When i gulped it did not copy the non html files to the dist folder.

Thanks!

[2015-06-11 19:09] chuckh commented on #160
The `gulpfile.js` needs to be change from  `'app/*',` to `'app/**',` to copy all files from app/ to dist/app. Note two stars instead of one..

### Revises code snippet.
[code]

[2015-06-11 19:50] akhr opened #162 "How should we handle google fonts api roboto error ?"
Hi,

I am not importing roboto font in my page or component. But the paper and iron components that I use do. The app/page suffers because randomly I get this following error.

![robot-error](https://cloud.githubusercontent.com/assets/695965/8116680/525e514c-1038-11e5-8615-6da793f287e3.png)

How do want us to handle this issue? Go in check every single component that we use and remove roboto font

[2015-06-11 20:05] devAtPolydeals commented on #160
Thanks @chuckh  that worked!

[2015-06-11 20:05] #160 closed

[2015-06-11 20:14] devAtPolydeals opened #163 "Peculiar problem with gulp"
I have a weird problem and don't know how to resolve it. I added a form as part of my new element and have paper-input on it with validation. It works great from the **app** directory and shows a red label when validation fails, which is due to:
[code]

[2015-06-11 21:12] Alienuser commented on #154
I don't think this is a bug with **iron-overlay-backdrop** because the paper-dialog works well if I add it in the index.html.

But I think it would be nice if the **iron-overlay-backdrop** will add itself in the same node as the paper-dialog. Therefore I think its a feature request? :)

[2015-06-11 21:51] devAtPolydeals commented on #163
I was able to fix it. The issue only exists on windows box. To resolve, update gulp-vulcanize...it was updated 3 days ago and that resolves the issue. Also you need to change the commands to:

[code]

[2015-06-11 21:51] #163 closed

[2015-06-11 21:54] devAtPolydeals commented on #62
There are issues after u gulp with vulcanize on windows box. Update gulp-vulcanize and change the script to below, this should fix it.

[code]

[2015-06-12 01:36] devAtPolydeals opened #164 "Can we minify vulcanized file in the gulp sequence?"
I don't know if this is even possible. But it would be nice to minify the contents of elemets.vulcanized.html if possible after the vulcanize step

[2015-06-12 01:58] jannakha commented on #164
it was possible in 0.5.* (--strip option) for new version check out bottom most note in https://github.com/Polymer/vulcanize ReadMe:
--csp mode has been moved into crisper
--strip mode was removed, use something like html-minifier or minimize

[2015-06-12 08:17] teckays commented on #149
@devAtPolydeals tried, no change. Thing here is that `iron-pages` renders all its sections no matter which one is active which leads the code to be executed and so ajax requests performed. I thought of a more "intelligent" way of managing it. As somebody pointed out on slack, the `core-pages` attached an `active` attribute to the current section and so inside it you know either the view is active

[2015-06-12 08:36] atdotslashdot commented on #142
Thanks Evgeny, that appear to have got it running.
so the summary is....

* Add ```<base href="/polymer/light/app/">``` tag in the ```index.html file``` inside the ```<head>``` attribute. NOTE the trailing "/" at the end
* prefix hrefs in ```index.html``` with a ```.``` e.g ```<a data-route="users" href="./users">```
* in routing.html file, set page.base('/polymer/light/app'). NOTE no trailing "/"

[2015-06-12 11:12] pdf commented on #80
Looks fair to me @addyosmani, not sure how easy that will be to match in the generator though.

[2015-06-12 18:03] arthurvr commented on #155
Fixed in https://github.com/PolymerElements/polymer-starter-kit/commit/d7a146c8cb42cff3d7f4712eb381183fa827e79e?

[2015-06-12 18:24] chuckh commented on #155
Yes this now fixed with d7a146c and 5e682fa.

[2015-06-12 18:24] #155 closed

[2015-06-12 18:58] blasten commented on #162
are you using the elements from a chrome-extension? I think this is the issue:
https://github.com/PolymerElements/paper-styles/blob/master/typography.html#L11

[2015-06-12 19:28] pmros opened #165 "Preprocessors support"
It would be nice if polymer-starter-kit gulpfile.js support preprocessing files to JS/HTML/CSS, for example I usually use LiveScript/Jade/Stylus. Make polymer-starter-kit polyglot out of the box!
Thank you.

[2015-06-12 20:09] Cammisuli opened #166 "Menu not working properly in Firefox 38.0.5"
Windows Firefox 38.0.5
The menu does not work as expected.

When you click a space that does not contain text, the page changes. If you click the text, only the menu selection changes and the page content does not.

Clicking the text again triggers a page change.

![firefoxmenubug](https://cloud.githubusercontent.com/assets/4332460/8138882/e8079c32-111c-11e5-99ff-0db2a22bc92d.gif)

[2015-06-12 20:52] ValueBC opened #167 "Global Variables getting trashed near end of load in PSK 1.0.2"
Seems to be an intermittent issue that has come up since the new PSK 1.0.2. Steps:
1) add new global object “var lm = {}”; (tried window.lm as well)
[code]
2) gulp serve
3) works fine
[code]
4) refresh browser
5) global loads, notice the "Line 34 statement", then “ls is not definded”
[code]

[2015-06-12 22:53] ValueBC commented on #167
Disabling "Service Worker" as per the PSK Instructions seems to have solved the issue for now.

[2015-06-12 23:15] devAtPolydeals opened #168 "Not loading webcomponents on browsers that have native WC support"
In one of the Polycasts @robdodson  presented an idea that it is not required to load webcomponents polyfill for browsers that natively support WC, hence he had below piece of code, which i like:
[code]

This ensures that the js is not loaded on chrome, may be we can do the same on app-starter-kit?

however, this means WebComponentsReady event won't fire.

[2015-06-13 00:25] robdodson commented on #165
I think it would be cool if other folks forked the starter kit to add their own tooling but IMO it's best if the starter kit sticks to plain HTML and CSS. Plain CSS in particular because we're using custom properties which may not be supported in CSS preprocessors.

[2015-06-13 00:41] #164 closed

[2015-06-13 07:13] arthurvr commented on #165
You should feel free to use any preprocessor you like but I'd prefer PSK to be *vanilla*. If there are any really really popular options we could *maybe* think about options in generator-polymer.

:+1:

Also consider that most preprocessors pick up whole files to compile while using Polymer (and web components in general) many code gets written inside of `<script>`/`<style>` tags.

[2015-06-13 07:40] peterblazejewicz opened #170 "a rule for #drawerToolbar in application theme overrides default rule for element height"
PSK 1.0.2

I had a problem when applying `tall` class to `paper-toolbar` in the drawer when adapting default template to other project. Just adding documented classes seemed to not change element dimensions.

It appears that application theme declares property for element height that simply overrides defaults:
- PSK:
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/styles/app

[2015-06-13 11:40] addyosmani commented on #168
Thanks for bringing this up @devAtPolydeals. I'm familiar with this pattern, but would prefer for us to be able to continue offering the `WebComponentsReady` event.

Looking at the polyfills, we fire a CustomEvent for this over in the booter https://github.com/webcomponents/webcomponentsjs/blob/ff1ba94f92efa3b882cc51668d4cfec0acac0e92/src/CustomElements/boot.js#L61.  One option is to put together

[2015-06-13 11:41] addyosmani commented on #167
Thanks for providing us more information. Would it be possible to test if (with Service Worker enabled) this is happening at build time too? As part of #151, we're thinking about whether this should just be disabled for users during `gulp serve` vs disabled outright by default to help avoid issues like this.

[2015-06-13 11:42] addyosmani commented on #166
Could you verify whether you have any Web Components related flags turned on in Firefox 38?

[2015-06-13 11:43] addyosmani commented on #165
I fully agree with Rob here. We originally supported a baked in preprocessor (Sass) but since getting support for CSS custom properties, we prefer to include good defaults for those. It trims down the dependency tree for everyone too. I think documenting how to get this added to PSK elsewhere would be useful to folks though.

[2015-06-13 11:43] #165 closed

[2015-06-13 12:16] blahblahartyfarty commented on #142
thing is why do they need to be relative don't change a working horse

[2015-06-13 12:25] blahblahartyfarty opened #172 "Explain difference with web starter kit in readme"
because people might confuse it

[2015-06-13 12:25] blahblahartyfarty commented on #172
also cc @google/web-starter-kit

[2015-06-13 12:25] blahblahartyfarty opened #173 "Can I have push access to this repo? Thanks."
I would like to contribute with push access. Thanks @addyosmani.

[2015-06-13 16:04] robdodson commented on #158
You could try something like this:

[code]

This is just personal opinion, but I don't like styling off of `.has-shadow` because I feel like `:not(.tall)` is more evocative of the state that we're in. I realize this style exists as precedent `#mainToolbar.has-shadow .middle` but I'm curious if we might consider changing over to `:not(.tall)` for these?

[2015-06-13 16:09] robdodson commented on #149
This issue doesn't seem specific to PSK but more about how you're architecting your app. Would you all be ok if we closed this?

[2015-06-13 16:17] robdodson commented on #106
@Alienuser can you tell us the browser and OS you're using?

[2015-06-13 16:18] robdodson commented on #89
Just wanted to check in on this? I think I recall in a different discussion that perhaps this is working so long as we're on the latest vulcanize?

[2015-06-13 16:23] robdodson commented on #173
Hi @blahblahartyfarty, if you'd like to contribute the best way to do so is by opening pull requests. That way everyone can review the work before it gets merged in. We are only able to give push access to members of the Polymer team.

[2015-06-13 16:23] #173 closed

[2015-06-13 16:27] blahblahartyfarty commented on #173
@robdodson I just asked because arthurvr was asked to in https://github.com/PolymerElements/polymer-starter-kit/commit/a87c51aa285847a0ab59f57fbf887950bc276982 so I thought I could contribute as well.

[2015-06-13 16:30] blahblahartyfarty opened #174 "6to5 transpiling"
please add traceur or 6to5 compiling of Ecmascript 2015 codes. Thanks.

[2015-06-13 16:31] arthurvr commented on #174
We already had a discussion about this over at https://github.com/yeoman/generator-polymer/issues/181.  The team didn't want it yet.

[2015-06-13 20:23] Cammisuli commented on #166
It's set on default. Interestingly enough, setting it to true caused the site to never load.
![firefoxwebcomponents](https://cloud.githubusercontent.com/assets/4332460/8145880/769194dc-11e8-11e5-985a-2988b8e8439e.png)

[2015-06-13 20:32] Alienuser commented on #106
Hello @robdodson
It's chrome in version 43.0.2357.124 and my os is windows 8.
The os from the server ist linux ubuntu.

It seems that I can work with the service on xampp but not on an 'real' apache installed on linux.

[2015-06-13 23:45] #174 closed

[2015-06-13 23:49] addyosmani commented on #173
Commented on that committee but otherwise what Rob said :) PRs are the best way forward for contributing to the project.

[2015-06-13 23:50] addyosmani commented on #89
Do you have link to that discussion by any chance? :)

[2015-06-13 23:56] robdodson opened #175 "Default tall banner to collapsed state on mobile?"
I noticed that the animation for collapsing the `paper-header-panel` is super janky on my Nexus 5. What do you think about defaulting it to the collapsed state on mobile? FWIW, it eats up a ton of room anyway so I kinda prefer having it collapse on mobile since I don't have much real estate.

cc @chuckh @addyosmani

[2015-06-14 00:04] addyosmani commented on #175
I would like (if possible) for us to see if we can slim down paint time here to reduce jank on mobile first. Failing that I think your proposal seems quite reasonable.

@paullewis I don't suppose we could tempt you into helping with some jank-busting here..could we? :)

[2015-06-14 00:05] addyosmani commented on #172
I think this is a reasonable request. I'll put together a paragraph for the readme.

[2015-06-14 00:07] robdodson commented on #89
Looking around in my email, I don't see anything. Very possible I imagined it :stuck_out_tongue_winking_eye:  Did you try the latest vulcanize/gulp-vulcanize yet?

[2015-06-14 00:13] addyosmani commented on #89
Not yet! To test we'll want to re-add all refs to the top of imports, bump vulcanize and see if anything breaks. I'll do this this week unless anyone gets to it before I do.

[2015-06-14 04:57] arthurvr commented on #172
I wonder how people can confuse the two projects after reading even just both descriptions but if people really wonder about it, :+1:.

[2015-06-14 04:59] arthurvr commented on #173
You really don't need push access to contribute to a project. Also it's pretty unusual that people explicitly ask for this and open an issue for such things :)

[2015-06-14 05:25] devAtPolydeals commented on #172
@blahblahartyfarty are u just trolling around ???

[2015-06-14 23:04] moeric commented on #84
Without 'bower_components' in dist I'm getting 404s in this files:

bower_components/webcomponentsjs/webcomponents.min.js
bower_components/promise-polyfill/Promise.js
bower_components/page/page.js
bower_components/paper-drawer-panel/paper-drawer-panel.css
bower_components/paper-item/paper-item-shared.css
bower_components/google-signin/google-signin.css

[2015-06-15 06:38] chuckh commented on #158
I agree with @robdodson approach to use :not(.tall) across the board.

[2015-06-15 08:58] addyosmani commented on #158
I agree with `:not(.tall)` being more evocative for the state this represents. Would anyone like to PR this change in?

[2015-06-15 16:28] salamanders opened #176 ""Search" icon is non-functional"
The "reload/refresh" icon and the "search" magnifying glass icon both seem to do nothing.  Would be nice to have everything functional, or hidden.

Search would e a great place to show off whatever polymer can do for the always-challenging "search with auto-complete substring matching" use case!

And what does "reload" do anyway?  If updates are pushed live firebase style, I don't get the point of

[2015-06-15 16:42] flaiker commented on #176
I assume this are just placeholders and so by design just to show where you could add your iconbar. I'd say implementing search functionality etc. is way over the top for a boilerplate where most people will just remove it again.
In my opinion this is not a showcase for functionality but rather a starting point with best practices.

[2015-06-15 16:43] arthurvr commented on #176
:+1: to what @flaiker said.

[2015-06-15 21:17] jeffposnick commented on #64
The persistence of service workers and the host + port based scoping really is a pain for `localhost:####` scenarios. I've mostly internalized that pain at this point, and tend to heavily use Incognito windows, but I see how it could be very confusing for folks not aware of what's going on under the hood.

I'll add some thoughts to https://github.com/PolymerElements/polymer-starter-kit/issues/80

[2015-06-16 11:15] JosefJezek opened #178 "Improve Performance"
- [ ] Use inline styles to reserve app “regions”.
- [ ] Vulcanize and crush the element bundles (excluding Polymer itself).
- [ ] Conditionally and async load the Web Components lite polyfill.
- [ ] Async load the element bundles. (This will also set up a race for Polymer itself).

https://aerotwist.com/blog/polymer-for-the-performance-obsessed/

[2015-06-16 11:51] addyosmani commented on #176
:+1: to @flaiker's comment. I had considered adding in proper search functionality and reload, but that would be way OTT for a starting point. The purpose of the icons is to inform the user that:

1) There's a region available for including icons
2) Demonstrate how these icons can be included

For the sake of staying as lean as we can, I think we should avoid adding in further functionality that h

[2015-06-16 11:51] #176 closed

[2015-06-16 11:51] addyosmani commented on #167
friendly ping

[2015-06-16 11:52] kenchris commented on #168
I just ran into this as well, (ie starter kit not working properly) because I started following Paul Lewis latest lazy loading ideas :-)

[2015-06-16 14:18] decurgia opened #179 "Compatibility with PolymerElemets/app-layout-templates"
Hi all

app-layout-templates are mentioned in the starter-kit's home section. But those templates aren't easy to integrate as they do have got a different setup as the polymer-starter-kit.
I tried to integrate the "Left Nav + List + Detail" layout, without success.

Why does the polymer-starter-kit has got layout code in the <body> while the app-layout-templates to have got the code in the <x-app>

[2015-06-16 14:46] addyosmani commented on #179
Thanks for the question @decurgia. I assume you're referring to the structure used in https://github.com/PolymerElements/app-layout-templates/blob/master/list-card-over/src/x-app.html and so forth.

@frankiefu works on app-layout-templates and may have a good answer for this :) Paraphrasing: is there a reason why we include templates inside elements rather than at a document level there?

It would

[2015-06-16 15:54] hourliert commented on #159
Same question here. I cannot find any documentation about this.

[2015-06-16 16:01] ValueBC commented on #167
Sorry, I got busy with other issues. The "global varible trashing" may have
been caused by a mis-spelled custom element. That was one of the many
changes I made, then the problem went away, or it was something else. It
was a bit inconsistent, and there were too many changes to know for sure
what the issue was. The irony was that the issue only occured after a
brower reload, not on the intial "gulp

[2015-06-16 16:10] addyosmani commented on #167
@ValueBC Thanks for the update. Totally understand. If you think that there's a sufficient enough chance this may have been a misspelled element name, are you okay with us closing this issue? I do want to double check the `gulp serve` step separately as my expectation is that it works for catching issues like this.

[2015-06-16 16:44] ValueBC commented on #167
Hi Addy, yes please close the issue, thanks again.

On Tue, Jun 16, 2015 at 10:10 AM, Addy Osmani <notifications@github.com>
wrote:

[2015-06-16 18:03] SilverPaladin commented on #179
I use a framework called Laravel, and it handles this well. Inside your layout template you have placeholders for content. Conceivably, we could modify the sample layouts and the PSK to place relevant content inside an element layout template? If the layout templates were constructed with some type of guideline, it would make it easier to share different layouts with each other.

[2015-06-16 20:09] moderndeveloperllc commented on #178
Aren't one and two already being done with gulp? I for one _like_ to have all my elements loaded in one vulcanized page. Maybe I'm in the minority on that though.

[2015-06-16 23:01] Cammisuli commented on #159
Where would that event be in the docs here?
https://elements.polymer-project.org/elements/iron-selector?active=Polymer.IronSelectableBehavior

Even in the source I can't find anything related to 'on-iron-select'
https://github.com/PolymerElements/iron-selector/blob/master/iron-selectable.html

I just want to know how it works.

In the mean time I changed it to 'on-click' based on generic Polymer e

[2015-06-16 23:05] hourliert commented on #159
[Here](https://github.com/PolymerElements/iron-selector/blob/master/iron-selectable.html#L250) is the line when the event is fired.

The doc of IronSelectableBehavior seems to be incomplete and doesn't detail the events iron-select or iron-deselect :(.

[2015-06-17 01:06] hourliert commented on #84
@devAtPolydeals you are right. This line break the build. This is the only file needed from `dist/bower_components`.

[2015-06-17 01:11] devAtPolydeals commented on #84
@hourliert , Vulcanize is too buggy btw for windows, so for windows users dist needs to have bower_components. I would advice not to vulcanize at all because the results are very unpredictable

[2015-06-17 02:38] rubenstolk commented on #84
What do you mean windows users dist? Dist is meant to put something in production. If vulcanize itself doesn't run on Windows that's too bad but the output of vulcanize should still not have bower_components

[2015-06-17 08:26] addyosmani commented on #84
https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L50

@devAtPolydeals Is that the only file you're seeing requested from the bower_components directory post Vulcanization at the moment?

[2015-06-17 12:16] arthurvr opened #182 "small issues with the Apple touch icon"
Found two things regarding the touch icon:

* [We recommend to put `apple-touch-icon.png` in the root directory](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L20) while it actually lives in `images/touch`. The [`<link>`](https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L40) is correct though.

* I always thought the logo was mea

[2015-06-17 12:26] arthurvr commented on #182
One more thing, we have:

[code]

but that's actually pretty long. As seen on the screenshot above most iPhone's don't even display that fully.

[2015-06-17 13:18] chuckh commented on #182
How about calling it `Polymer Start` or `Polymer SK` for  apple-mobile-web-app-title.

[2015-06-17 13:22] arthurvr commented on #182
It's a placeholder anyways so PSK seems fine.

[2015-06-17 13:26] chuckh commented on #182
PSK makes sense.

[2015-06-17 13:26] arthurvr commented on #182
By the way, forgot to mention, I'll submit a PR to fix all of this :) (hopefully this evening)

[2015-06-17 13:38] Cammisuli commented on #159
Thank you! That's exactly what I needed.

[2015-06-17 13:38] #159 closed

[2015-06-17 13:42] addyosmani commented on #175
Took an initial look on an N5.

I'm (occasionally) running into sum hefty 50ms scripting events related to scroll that appear to come from https://github.com/PolymerElements/paper-header-panel/blob/master/paper-header-panel.html#L368

![screen shot 2015-06-17 at 14 32 30](https://cloud.githubusercontent.com/assets/110953/8208151/e0d2a4e0-14fd-11e5-9128-4e4ab483a09f.png)

Otherwise, we appear to be

[2015-06-17 13:51] addyosmani commented on #175
Side: if you don't want to pull down all our tooling, there's a one-click light download option available in https://github.com/PolymerElements/polymer-starter-kit/releases that has the same scroll perf issues.

[2015-06-17 14:22] chuckh commented on #116
I believe version 1.0.2 fixes this issue.

[2015-06-17 14:38] paullewis commented on #175
So what seems to be happening is this:

* The header transitions on height. This is going to cause the whole page to repaint because layout changes for the whole page and page content moves.
* The header itself will need to be repainted. This is less of an issue than the above.
* As a side note you don't have GPU raster on. Today that would need a viewport of `width=device-width, minimum-scale=1.0

[2015-06-17 15:30] arthurvr commented on #182
Opened PRs to fix most of this. @addyosmani How would you like the icon? Simply on a white background?

[2015-06-17 15:38] arthurvr commented on #110
Is anyone still having this issue on latest Node using the latest PSK?

[2015-06-17 16:06] chuckh commented on #158
Pull request #185 makes @robdodson suggested changes and fixes this issue, see below for demo.

![sub-title-fix](https://cloud.githubusercontent.com/assets/19915/8212292/bb711c50-14cf-11e5-924e-9110b1f8a1d1.gif)

[2015-06-17 16:41] chuckh commented on #170
@peterblazejewicz makes sense to me to remove. The height: 64px is redundant.

Current CSS:
[code]

[2015-06-17 16:47] #158 closed

[2015-06-17 16:49] addyosmani commented on #182
On a white background makes sense to me. I've shared the PSK assets directory with you via GDrive.

[2015-06-17 17:06] mattbogado opened #189 "responsiveWidth on paper-drawer-panel doesn't seem to work"
@addyosmani I'm trying to hide the drawer in tablets and up to 1600px, and the property `responsiveWidth` isn't working. Do you have any suggestions?

[2015-06-17 17:50] devAtPolydeals commented on #84
@addyosmani no actually there are some arbitrary css files that are also requested post vulcanization from the bower_components directory. See the screenshot for what files get requested post vulcanization.

BTW vulcanization on windows works intermittently, i have had times when the styles won't get applied or it will throw file not found errors for promise.js even when i didn't change anything.

[2015-06-17 18:35] peterblazejewicz commented on #170
@chuckh
Thanks, I'll make a PR.

[2015-06-17 22:33] notwaldorf commented on #189
If you're using it as an HTML attribute, it should be `responsive-width`. Does that help?

[2015-06-18 01:28] tjsavage opened #192 "1.0 Starterkit (modest changed) works better in FF than in Chrome (menu missing) (W7)"
_From @EckhardSchoenknecht on June 6, 2015 3:32_

Hello World,
... from germany, new to github, sorry for all mistakes.

See screenshot below or try demo hier: sbiz.schoenknecht.biz
Changing some colors and menu points (routing) and the drawer on the right: Everthing works well under Ubuntu (Chrome & FF) but under W7 (64B) with latest Chrome the Hamburger menu on the right is missing. Really nice

[2015-06-18 01:28] tjsavage commented on #192
_From @kevinpschaaf on June 8, 2015 17:22_

Thanks for the issue!  This issue tracker is for the Polymer core library, not the starter kit or elements built with it. We'll get this moved to an appropriate spot.

[2015-06-18 04:13] mattbogado commented on #189
@notwaldorf  I tried that as well (forgot to add it to this issue), and it didn't work. I also tried `forceNarrow` and got nothing.

[2015-06-18 05:59] cyberabis commented on #110
With the latest kit, this is solved for me.

[2015-06-18 09:30] #170 closed

[2015-06-18 10:12] addyosmani commented on #189
@mattbogado thanks for reporting. Just to check: what version of PSK are you using?

[2015-06-18 12:14] addyosmani commented on #110
Thanks @cyberabis. Would be great to get a few more confirmations and we can then close this.

[2015-06-18 17:04] mattbogado commented on #189
@addyosmani I'm using `polymer-starter-kit-light-1.0.2.zip`

[2015-06-19 15:24] alrra opened #193 "Move license after `<!doctype html>`"
Usually it's bad practice to [have anything before `<!doctype html>`](https://github.com/PolymerElements/polymer-starter-kit/blob/ab15f6ed6e8228bf2feb06e684c9c9f345011785/app/index.html#L1-L10),  as:

From: http://nimbupani.com/the-truth-about-doctypes.html

[2015-06-19 15:27] arthurvr commented on #193
I think we should do that :+1: Don't think it was a real issue though, we don't support any of those browsers.

[2015-06-19 16:29] Inrego opened #194 "Header font changes on wrong class trigger"
I noticed on the users / contact pages that when I scroll down, the header font gets smaller, but the header is still tall (1920x1080 resolution).
Before scrolling:
![](http://i.imgur.com/FbVuRxF.png)

After scrolling:
![](http://i.imgur.com/Fdj2yYh.png)

One could argue, that it may be a bug in the paper-header-panel, because it applies the class .has-shadow while it's still tall (or it might be

[2015-06-19 18:03] ebidel opened #195 "Should this repo be moved to /Polymer?"
Feels a bit weird it's in the element org. Thoughts? @addyosmani

[2015-06-19 18:07] chuckh commented on #194
This has been fixed in the master with 9e084cf86655a16646c2c5a15b76c5003cc3e255.

[2015-06-19 18:41] rchrdnsh opened #196 "ERR_NAME_NOT_RESOLVED"
i set up my project and run 'gulp serve' and the app does not show up in the browser. Then I get this message in the browser: "This webpage is not available. ERR_NAME_NOT_RESOLVED. The picture goes into the details...
![screen shot 2015-06-19 at 11 17 34 am](https://cloud.githubusercontent.com/assets/7884263/8260378/0da67a70-1678-11e5-970d-b4365962c8f1.png)

[2015-06-19 20:03] arthurvr commented on #193
=> https://github.com/PolymerElements/polymer-starter-kit/pull/197

[2015-06-19 20:13] #193 closed

[2015-06-19 20:39] alexkolson opened #199 "Polymer and data binding in Safari with auto binding templates"
I'm developing an application inspired by the polymer-starter-kit layout, and everything's working except my data bound values, `{{route}}` and `{{user}}` are empty when stamped into the DOM in Safari.

`routing.html`:

[code]

`elements.html`:
[code]

`index.html`:
[code]

Again, everything works just fine in Chrome but in Safari `{{route}}` and `{{user}}` are stamped into the DOM with empty valu

[2015-06-19 20:50] notwaldorf commented on #84
@azakus Would you mind taking a look at this, please? Thanks! 💝

[2015-06-19 20:51] notwaldorf commented on #89
@addyosmani you win owning this bug since you're the most active on it. Merry Christmas! :christmas_tree:

[2015-06-19 21:21] addyosmani commented on #89
:see_no_evil:

[2015-06-19 21:56] alexkolson commented on #199
I tried replacing:
[code]

with:

[code]
Voila! My data bindings started working in Safari! Which is strange to me, because if I understand correctly webcomponents-lite is just supposed to be a lightweight version of webcomponents.

Anyway, if anyone has a more in-depth explanation/answer, please post it as I really have no idea ***why*** this worked just that it ***worked***, and I'd much prefer

[2015-06-19 22:29] akhr opened #200 "What happened to paper-dropdown and paper-dropdown-menu ?"
https://www.polymer-project.org/0.5/components/paper-elements/demo.html#paper-dropdown

I would like to create an dropdown menu on my page. The paper-dropdown was perfect for this purpose of creating a overflow menu button and a pop-up of menus show up onClick in the section of the screen where the overflow menu button is located.

But in Polymer1.0, I could no longer find the dropdown menu. Any h

[2015-06-20 00:16] devAtPolydeals commented on #200
It's in progress see https://github.com/polymerelements/paper-elements

[2015-06-20 16:07] ValueBC commented on #167
Hi Addy, the issue of global variables disappearing after page inialization
came up again. I started a new PSK to try a demo. With almost no code,
except adding the global var, the problem re-appeared. The workaround is to
remove all "Service Worker" stuff, specifically the 'precache' from the
default gulp.task.

Not sure since this issue was closed if you get this email still.

On Tue, Jun 16, 20

[2015-06-20 17:00] teckays commented on #149
Hi @robdodson, sorry for late reply. I'm OK with closing it, however I still think there should be a little talk here, but that's not related to PSK (you're right) but how `iron-pages` stamps the content for non active sections. I did find a workaround, looks more like a hack but it's OK for now. Thanks.

[2015-06-20 17:00] #149 closed

[2015-06-20 17:06] teckays opened #201 "404 Not Found if `hashbang = false`"
A problem here. If I set `hasbang=false` in `routing.html` and click a link then the route is matched and appropriate content is shown, however if I refresh a page with a route other than `/` then `browserSync` returns `404`. Is there a way to configure PSK to work with `hashbang=false`?

Thanks.

[2015-06-20 18:19] addyosmani commented on #200
Closing as not specific to this project and @devAtPolydeals is correct per above.

[2015-06-20 18:19] #200 closed

[2015-06-20 18:26] addyosmani commented on #199
Hmm. We're currently referencing the lite version of the polyfills in https://github.com/PolymerElements/polymer-starter-kit/blob/master/app/index.html#L50. By default, you should get what eventually worked here. I think we would need to do some further debugging to understand why the full version of the polyfills (which include Shadow DOM) were failing here.

[2015-06-20 18:27] addyosmani commented on #196
Could you provide more details? Operating system, version of Polymer Starter Kit and whether this was after installing all deps as noted in the readme?

[2015-06-20 18:28] addyosmani commented on #195
Good question. This is a call for @tjsavage. He initially thought the elements org would be better but I'm fine with it living under here or /Polymer depending on what he thinks makes sense.

[2015-06-20 18:28] addyosmani commented on #194
Fixed as of https://github.com/PolymerElements/polymer-starter-kit/commit/9e084cf86655a16646c2c5a15b76c5003cc3e255

[2015-06-20 18:28] #194 closed

[2015-06-20 18:42] SilverPaladin commented on #195
Since the PSK requires elements doesnt it make more sense to keep it with the elements?

[2015-06-20 18:46] SilverPaladin commented on #201
This is a function of your server config and not related to polymer.  Have a look at the apache mod rewrite settings related to rewiting urls to always load up index.html. Loading the urls the way you describe won't work with the local server.

[2015-06-20 20:07] arthurvr commented on #195
I personally would expect all elements to live in /PolymerElements and all the rest in /Polymer but that's just my opinion.

Well, basically every Polymer related things will in some way be related to elements, you know :p

[2015-06-20 20:09] arthurvr commented on #201
@SilverPaladin why do you think this isn't related? I think he's just talking about our routing system not about some kind of backend.

[2015-06-21 04:50] SilverPaladin commented on #195
You dont need to use any of the pre built elements to use polymer...

[2015-06-21 04:54] SilverPaladin commented on #201
Are you daying service worker will take care of this situation?

[2015-06-21 14:38] MarkArts commented on #201
Hey,
I was having the same problem and fixed it the following way:

**Fixing browsersync**
I found the following [issue](https://github.com/BrowserSync/browser-sync/issues/204) in the browsersync repo.
The solution provided here is to use [connect-history-api-fallback]( https://github.com/bripkens/connect-history-api-fallback).
In gulpfile.js you should add the following
`var historyApiFallback =

[2015-06-21 17:40] addyosmani commented on #201
@MarkArts I've been using a similar workaround to start putting together a solution for #66. The one issue I've found using connect-history-api-fallback is that whilst this works fine for top-level routes (/about, /home, /contact) as soon as you try it with any more complex routes (e.g /users/rob) you run into the same problem. Curious if you're experienced the same issue in your testing.

[2015-06-21 17:55] hs71122 commented on #123
@devAtPolydeals Thanks. I have created a simple bat file for deleting the "Source Path Too Long " folder. It is simple to delete this kind of annoying folders. https://github.com/hs71122/Delete-Too-Long-File-Name

[2015-06-21 18:52] MarkArts commented on #201
Hey i don't use top level routes but i just tried it and i got a black screen.

I did come across [connect-modrewrite](https://www.npmjs.com/package/connect-modrewrite) but using connect-history-api-fallback seemed easier to use. Maybe

I also came across [gulp-connect](https://github.com/AveVlad/gulp-connect) and tried using it as server with the fallback option (and setup browsersync as proxy to

[2015-06-22 02:18] Felizardo opened #202 "Content not scrolling back after navigating"
Hello,

I have noticed that the content div does not scroll back after navigating to other sections of the example. See image below.

![polymer_starter_kit_not_scrolling_back](https://cloud.githubusercontent.com/assets/1034631/8274621/82950f14-186b-11e5-89b7-65e6fdb3de3c.gif)

I could reproduce that on my Mac using Chrome, Safari and Firefox, and also on Chrome in my Android Lollipop device.

[2015-06-22 03:20] Felizardo commented on #202
FYI, a workaround is to comment the height attribute of .content on app-theme.html

[2015-06-22 08:25] rubenstolk commented on #84
@notwaldorf @azakus I think this would be a good and simple starting point:

https://github.com/PolymerElements/polymer-starter-kit/pull/203

We can then decide to even remove the `bower_components` folder.

[2015-06-22 10:17] addyosmani commented on #202
@Felizardo Thanks for the bug report. Could you verify if this is still an issue on Master?

[2015-06-22 10:39] addyosmani commented on #201
Thanks for testing `gulp-connect` out. It looks like although it covers the /user/rob correct, we're obviously not going to want to deal with the infinite loop issue atm.

Unless we can come up with a better setup, we'll probably go ahead with the `connect-history-api` fallback approach as it's a little more reliable than what we have today.

[2015-06-22 11:25] Felizardo commented on #202
Hello @addyosmani, yes, I just made a clone right now and the problem persists.

[2015-06-22 14:21] addyosmani commented on #192
@EckhardSchoenknecht could you verify if this is still an issue when using the version in Master?

[2015-06-22 14:29] addyosmani commented on #196
Friendly ping for more info.

[2015-06-22 14:33] EckhardSchoenknecht commented on #192
Hello Addy Osmani,
please give me 24 hours and i will test this and send you reply and
maybee a link to the new version online. Sorry for my bad english.
Regards
Eckhard

Zitat von Addy Osmani <notifications@github.com>:

[2015-06-22 14:36] addyosmani commented on #189
Testing against latest this works fine for me:

![](http://i.imgur.com/M4ML8cL.png)

code:

[code]

Closing this issue as works for me. If you're still running into this issue after testing against master, let us know and we'll reopen.

[2015-06-22 14:36] #189 closed

[2015-06-22 14:39] addyosmani commented on #192
No worries. 24 hours sounds great :) Thanks!

[2015-06-22 14:43] addyosmani commented on #116
1.0.2 does indeed fix this issue. If anyone continues to run into this with the version in master, let us know and we'll reopen this.

[2015-06-22 14:43] #116 closed

[2015-06-22 14:52] addyosmani commented on #167
Thanks for the update. We've since decided to comment out the SW implementation by default as it requires folks to be a little more familiar with how to debug SW, including issues like this as a portion of your codebase will get cached during serve too.

I'm hopeful that as we see more people use our SW elements we'll be able to improve docs on how to ensure you're not accidentally precaching file

[2015-06-22 14:52] #167 closed

[2015-06-22 14:56] addyosmani commented on #162
Would it be possible to try this in a [clean](https://developer.chrome.com/devtools/docs/clean-testing-environment) testing environment (i.e a new profile without extensions on) to see if you're still running into the same issue?

[2015-06-22 15:18] addyosmani commented on #166
@notwaldorf In PSK, we're currently using the advice for (better) a11y focus styling that we get from using this setup with `paper-menu` (links rather than paper-item):

[code]

This of course doesn't use `paper-item` which doesn't run into the issue noted by the OP. Should `paper-menu` be providing a fix here or should we be providing a custom fix?

[2015-06-22 15:30] addyosmani commented on #168
Let's continue the conversation around performance patterns as part of #178. There's going to be some discussion that needs to be done about pros/cons, how much of this type of behaviour we delegate to tools like Vulcanize and so on.

[2015-06-22 15:30] #168 closed

[2015-06-22 15:30] addyosmani commented on #141
This is basically the same issue as https://github.com/PolymerElements/polymer-starter-kit/issues/166. As it includes some more information, let's chase it up there.

[2015-06-22 15:30] #141 closed

[2015-06-22 15:33] addyosmani commented on #80
Service Workers are now commented out (and optional) in PSK as of the version in master.

[2015-06-22 15:33] #80 closed

[2015-06-22 15:36] addyosmani commented on #76
We've since documented the workarounds required here in the README. I've also verified running through a fresh install and following the guidance in the FAQ that this is sufficient to get setup so closing this issue. If the notes provided aren't able to get someone up and running, let us know and we'll explore what other advice needs to be added.

[2015-06-22 15:36] #76 closed

[2015-06-22 18:28] EckhardSchoenknecht commented on #192
Zitat von Addy Osmani <notifications@github.com>:

allways worrying:
- Germany
- 55 years old
- no Programmer
- new to polymer

OK:

+ Hamburger Menu Problem is solved with master.

+ FF Problem with "double Click" in Drawer Menu on the right still
exists, but:
   I found a behavior that you can reproduce.

If thats of Interest for you:

+ New Demo is here:
   http://2014.schoenknecht.biz/

+ All

[2015-06-22 19:05] akhr opened #205 "Example for list-view element"
Hi,

Is there an example or documents on creating list-views with item click(row-item) listeners? If yes, is it possible to have single selection and multi selection behaviors on the list-view?

[2015-06-22 19:39] nosilleg commented on #196
@rchrdnsh It may be that you're missing the colon in the URL for the port number.

http://localhost:3000/

[2015-06-23 07:29] wintersandroid commented on #84
I implemented for a couple of projects some modifications to the gulpfile.js which start by changing the directory "dist" into "dist.temp" and then adding a copy to copy only what is needed after vulcanize into the "dist" directory.

I have posted my altered file into the gist https://gist.github.com/wintersandroid/1ee1d38059a86d3f721a

What I do is run the original gulp file and note in the brows

[2015-06-23 09:34] addyosmani opened #206 "Migrate from `paper-header-panel` to `paper-scroll-header-panel`"
From @blasten:

Starter kit currently uses `paper-header-panel`. The Polymer team is thinking about deprecating it and using `paper-scroll-header-panel` for the same use cases of `paper-header-panel`. We should switch over to it for PSK.

On the perf side, Paul Lewis (https://github.com/PolymerElements/paper-scroll-header-panel/issues/19) pointed out a performance issue that we currently have in `

[2015-06-23 09:36] addyosmani commented on #206
I'll probably get to this one later in the week. cc'ing in @chuckh and @arthurevans in case either of you might be interested/have time to do this before I do.

[2015-06-23 10:55] kenchris commented on #178
I think that #1 is interesting because it might not be so obvious for people how to do that in a nice way

[2015-06-23 10:58] kenchris opened #207 "Example of settings dialog"
A lot of Android apps, have a separate settings dialog/pane - meaning a fullscreen dialog/pane which is on top of the whole app.

I emulate this in Polymer 0.5 using the dialog element and some /deep/ magic. As this is pretty common and not so obvious how to accomplish, I think that adding such a pane to the PSK would be useful

[2015-06-23 11:00] kenchris opened #208 "Add example of how to use babel or other transpilers"
As many are using transpilers today, it would be nice with a some easy integration. Especially with a watch that transpiles on change, such that the web server is actually using the transpiled files.

[2015-06-23 11:37] koenhendriks commented on #110
Worked for me to!

[2015-06-23 12:37] #110 closed

[2015-06-23 13:05] Klathmon commented on #208
More than direct integration with one transpiler, i'd love a hook (or even a note in the documentation) where we can put a .pipe() and toss in whatever we want (babel, typescript, coffeescript, etc...)

[2015-06-23 15:27] cnbuff410 commented on #208
Babel would be a decent starting point though.

[2015-06-23 15:30] addyosmani commented on #208
Imo, until Polymer has an official story around ES6, transpilation is something best covered in documentation or linking up to a repo demonstrating how to use Babel with Polymer Starter Kit.

[2015-06-23 15:30] arthurvr commented on #208
Ref https://github.com/yeoman/generator-polymer/issues/181.

@addyosmani still interested :)

[2015-06-23 15:30] arthurvr commented on #208
Sounds good.

[2015-06-23 17:09] blasten commented on #206
great to know!

[2015-06-24 16:06] DominikKrulak opened #210 "Adding a style using mixin in custom theme"
Ok. I have the style `#tabsContent.scrollable` to be overwritten in custom theme, but I couldn't find the answer in documentation, How to apply or overwrite DOM style in custom theme.
As I understand correctly, `--paper-tabs` is a custom property that can be styled.

[code]

is my last try.

In the original setting for style property `#tabsContent.scrollable` in component **paper-tabs**, the style

[2015-06-24 16:35] chuckh commented on #206
@addyosmani I have done some experimenting with `paper-scroll-header-panel`. For migrating from `paper-header-panel` to `paper-scroll-header-panel` I believe we should keep same functionality we have now. So we would use the `keep-condensed-header` on `paper-scroll-header-panel`. Below is example of that. One issue I am running into when using a middle title it is not being condensed correctly.  I

[2015-06-24 16:56] chuckh opened #211 "Start using GitHub Changelog Generator"
@addyosmani we should consider using GitHub Changelog Generator to generate a change log for new releases. It is now being used for Polymer (see https://github.com/Polymer/polymer/commit/9a630e6a59bdcc313c74acf8842724c3eeb1956f).

https://github.com/skywinder/github-changelog-generator

### Example Change log created by GitHub Changelog Generator for Polymer Starter kit:

# Change Log

## [Unrelea

[2015-06-24 17:01] arthurvr commented on #211
Nah. No thanks. It complicates the workflow for both contributors and for us, and there's no clear need for this here atm.

Also, as with a boilerplate/starter kit you don't have to worry about breaking changes like in frameworks the changelogs make way less sense.

There are advantages to actually writing it yourself (like emphasising specific things and leaving away unimportant things).

[2015-06-24 17:11] chuckh commented on #211
@arthurvr I can see your points. My thought this would be used in addition to the release notes not replace them. It is pretty simple to use. Contributors would not need to do anything. The github_changelog_generator command would just need to be done before creating a new release by us.

[2015-06-24 17:12] arthurvr commented on #211
Leaving the decision up to @addyosmani but I don't think they add any value for us, honestly.

[2015-06-24 17:17] blasten commented on #206
@chuckh I will look into it.

[2015-06-24 17:33] ukkieanna opened #212 "use npm start do start gulp serve"
as npm test

[2015-06-24 17:34] arthurvr commented on #212
I personally don't use `npm start` much but why not. I'm opening a PR.

[2015-06-24 17:35] ukkieanna commented on #212
yes that will be good

[2015-06-24 18:13] addyosmani commented on #211
I had no idea this was a thing. I appreciate the ping about it. I'll review the solution to see if it offers value, but we may end up sticking with the light-weight process we have atm for release notes. Assigning self.

[2015-06-24 18:14] addyosmani commented on #206
This sounds reasonable to me. I appreciate you looking into it.

I was going to ping @blasten regarding this, but it would appear he's on top of it. Let's see what happens in https://github.com/PolymerElements/paper-scroll-header-panel/issues/25 :)

[2015-06-24 18:34] chuckh commented on #211
Sounds good. Thought it was worth consideration. I could go either way.

[2015-06-24 20:50] robdodson opened #214 "Files in app/precache.json are discarded"
I had imagined that if I added paths to `app/precache.json` that it would get merged with everything else in the [precache gulp step](https://github.com/PolymerElements/polymer-starter-kit/blob/master/gulpfile.js#L164) but that doesn't seem to be the case. Is this kind of thing discouraged or is it an oversight?

[2015-06-24 21:21] robdodson commented on #214
I wrote a PR @addyosmani @jeffposnick would either of you have a moment to review?

[2015-06-25 06:54] githubertus commented on #62
@devAtPolydeals
I'm happy to confirm your fix is working.
System: Windows 8.1, NO spaces in path, polymer-starter-kit-1.0.2

Without fix I'm getting:

[08:27:19] Using gulpfile ~\Documents\psk\gulpfile.js
[08:27:19] Starting 'vulcanize'...
{ [Error: no resolver found]
  message: 'no resolver found',
  fileName: 'C:\\Users\\githubertus\\Documents\\psk\\dist\\elements\\elements.vulcanized.html',
  s

[2015-06-25 07:55] #210 closed

[2015-06-25 08:56] DominikKrulak opened #217 "Scrollable paper-tabs don't work within paper-toolbar or paper-scroll-header-panel"
First I ask, can I combine both them together? If Yes, than with my mark up, it doesn't work.

I put scrollable paper-tabs within paper-toolbar or paper-scroll-header-panel and out of paper-toolbar or paper-scroll-header-panel. In first case, didn't work and in second it did.

It seems, that my mark up is exactly followed by documentation.
[code]

[2015-06-25 09:02] jeffposnick commented on #214
I want to make sure I understand the issue: are you manually adding resource paths to `precache.json` in the `app/` directory, and then you want to merge those manual additions with whatever gets picked up via globs in `dist/`?

If that's the use case, then have you considered just including the manually-managed paths as an array that you explicitly assign to the `precache` attribute of `<platinum

[2015-06-25 09:52] addyosmani commented on #212
Thanks for the PR, @arthurvr. I'm going to keep this one open to see if there's broader interest in npm script tasks like this landing.

[2015-06-25 09:54] addyosmani commented on #207
Thanks for the suggestion, @kenchris. One of the goals of the starter kit is to try delivering an opinionated, but minimal set of defaults that folks can use. The Android settings UX you describe sounds like something a few folks would use, but I don't expect every app, site or beginner project to use this.

That said, we're considering adding some way to share PSK recipes for adding more function

[2015-06-25 09:54] #207 closed

[2015-06-25 09:55] addyosmani commented on #205
For list-view type examples, I would look at https://github.com/PolymerElements/app-layout-templates/ or the upcoming iron-list element (not yet released, but keep an eye out for it).

[2015-06-25 09:55] #205 closed

[2015-06-25 10:25] kenchris commented on #207
Cool, that sounds great.

A lot of advanced apps usually have some settings or at least a place to send feedback or find more help. On web pages, this is often separate pages (or sometimes separate sites - like for some google services) but in a mobile app world these things are often done with overlay panes, which you exit by clicking back (keep people in the app).

I think it is quite useful to

[2015-06-25 12:19] kenchris opened #218 "You cannot package apps made with PSK with manifoldjs.com due to missing image sizes"
WARNING: Manifest validation  (Android) - Launcher icons of the following sizes are required: 48x48, 72x72, 96x96, 144x144, 192x192, 512x512[icons]

Whether these should be required is of course up to discussion. If you believe that some of these sizes are not needed, please file an issue at https://github.com/manifoldjs/ManifoldJS/issues

[2015-06-25 13:07] PaulKinlan opened #219 "manifest.json icons should have type: "image/png" to work in Chrome"
If you don't tell Chrome that the icon is of type: "image/png" then Chrome will not be able to do the Add to Homescreen correctly, specifically the app install banner will not be triggered.  See https://events.google.com/io2015/manifest.json as a good example.

For example:
[code]

Should be

[code]

[2015-06-25 15:30] robdodson commented on #214
yes

I did but there are a couple issues.

1. If you do put paths in `app/precache.json` they will be used when you run `gulp serve`. After you create a build using `gulp` they're no longer there. That part caught me off guard and seems like others would fall into it too.
2. I actually thought it was kind of nice being able to put the elements I wanted to cache in a separate json file. I preferred

[2015-06-25 15:31] robdodson commented on #214
Slight correction

I mean, other than putting the paths in your markup, the best way to do it is to edit the gulpfile.

[2015-06-25 16:24] robdodson commented on #214
Actually now that I think about it... If I tell `platinum-sw-cache` to use the `precache` attribute, instead of the `precache-file`, will it *exclude* the `precache.json` entirely?

[2015-06-25 16:41] Stefdv opened #220 "paper-drawer-panel narrow layout question"
If i just use

< paper-drawer-panel  force-narrow>

        <div drawer>
          <paper-toolbar>
           <span>Drawer</span>
          </paper-toolbar>
        </div>
        <div main>
          <paper-toolbar>
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          </paper-toolbar>
        </div>
    </paper-drawer-panel>

then when i open the drawer, t

[2015-06-26 04:59] jorin-vogel commented on #212
I just added `"start": "gulp"` to my `package.json`.
This way I don't need gulp installed globally and to run a gulp task like _serve_ I just run `npm start serve`.
I don't know if this is too confusing. I would also be happy with the more specific version of the npm scripts.

[2015-06-26 10:07] jeffposnick commented on #214
I called out the fact that they could be used in conjunction with each other in [the docs](https://github.com/PolymerElements/platinum-sw/blob/master/platinum-sw-cache.html#L62), but that's obviously easy to miss.

Some background that colors my thinking: I didn't intend to create a "dummy" `app/precache.json` to begin with, but [it was needed](https://github.com/PolymerElements/polymer-starter-ki

[2015-06-26 10:54] jeffposnick commented on #106
The `on-service-worker-error` handler is passed an error string as its first parameter. Could you log that and see what information is provided about the error?

(If I had to guess, I'd say that if you're doing local development over HTTP and not HTTPS, you're running into issues due to accessing your page via something other than `http://localhost` or `http://127.0.0.1`. Those are the only HTTP U

[2015-06-26 11:01] jeffposnick opened #221 "Include project's name in the local dev URL"
As a bit of a hacky approach to ensuring that multiple local projects don't inadvertently share a service worker, we can consider configuring the local dev web server so that it included the project's (directory) name in the URL path. Since that path is used when constructing the service worker scope, it would mean that service worker scoping would work as intended.

This has the drawback of the p

[2015-06-26 13:51] chuckh commented on #206
Currently `paper-scroll-header-panel` does not support middle title. @blasten is looking into a enhancement for it.  So our choices are either use bottom title for now and migrate to `paper-scroll-header-panel` or wait for the enhancement.

When we migrate drawer `paper-scroll-header-panel` will need to be fixed.
[code]

And main will need to be this.

[code]

Per @blasten from https://github.com/

[2015-06-26 14:54] robdodson commented on #214
After working on this for a while longer I'm fine closing the PR since I don't think it adds much value. If you were going to add only one file it's probably easier to do it with the attr and if you want to add multiple files it's probably better to use the globbing patterns in gulp.

However I do think there's an issue here still. My natural inclination was to add stuff to `precache.json` since t

[2015-06-26 15:53] addyosmani commented on #178
Today, @ebidel showed us a different take on the lazy loading pattern from @paullewis that was based on ES6 promises. I'd be up for us getting behind a single solid pattern we can bake into PSK as a default.

[2015-06-26 15:57] addyosmani commented on #178
@wibblymat has been doing research into the state of `async` friendliness of Polymer elements this past week. I don't think we're quite at the point where we can include opinion on it here, but this should be possible for it in the not too distant future.

See above.

We're exploring what better support for element bundles would look like in Vulcanize. I'm told this is WIP.

It would be trivial fo

[2015-06-26 18:51] filtercake opened #223 "npm install fails"
Mac 10.10.3, node 0.12.4, npm 2.10.1

on `npm install`:

[code]

on `gulp serve`

[code]

happy to read npm docs if that helps – maybe you can point me to the relevent part(s)?

[2015-06-26 19:03] filtercake commented on #223
sorry for openening a ticket – removing node_modules plus `npm cache clean && npm install` did it...

[2015-06-26 19:03] #223 closed

[2015-06-26 19:59] addyosmani commented on #146
After reviewing this issue, the drawer behaviour from `paper-drawer-panel` is causing it. Would you mind filing the issue upstream at https://github.com/PolymerElements/paper-drawer-panel? We can take a look at it there after.

Demo for verification (shrink the window/viewport down): https://elements.polymer-project.org/bower_components/paper-drawer-panel/demo/index.html.

[2015-06-26 19:59] #146 closed

[2015-06-26 20:03] addyosmani commented on #196
@rchrdnsh This issue generally happens when a `gulp serve` is accidentally closed/killed in the terminal or one accidentally navigates to the wrong localhost path. I would double check that Gulp and the other npm dependencies are installed and try running `gulp serve` again. If you're still running into issues here, please provide us some additional information (e.g what else is displayed in the t

[2015-06-26 20:03] #196 closed

[2015-06-26 20:06] addyosmani commented on #119
Looked into this further. Please make sure to double-check your PATH config for issues as @fuzzdota did and you shouldn't run into problems with WCT failing on local. I've verified on a new Windows box that with a correct PATH setup, WCT runs fine :star:

[2015-06-26 20:06] #119 closed

[2015-06-26 20:08] addyosmani commented on #114
Thanks for the feature request, @jmorille. After talking it over, we're going to try keeping PSK as trim as possible by default. There's already a lot in our build process at present and we're aiming to solve the most commonly used tasks for the majority of our users as part of our core focus. Atm, we're not going to include crisper and other tasks for CCA at this time. We are happy to link to a s

[2015-06-26 20:08] #114 closed

[2015-06-26 21:16] paullewis commented on #178
I have a tweak to my pattern that may bring it in-line with @ebidel's, but without some of its quirks. I reckon next week will get us there. We are close.

[2015-06-26 21:39] addyosmani commented on #178
:rocket:

[2015-06-27 13:34] flaiker commented on #131
Just for reference: @addyosmani added some instructions on a possible git workflow to update in [v1.0.2 release comments](https://github.com/PolymerElements/polymer-starter-kit/releases/tag/v1.0.2).

[2015-06-27 19:59] #219 closed

[2015-06-27 20:01] arthurvr commented on #212
Yep.

That looks a little strange imho. Most apps just boot at `npm start`.

I'm not sure about this one. Do consider that bower is quite a big dependency.

[2015-06-28 08:46] addybd commented on #221
:+1:

[2015-06-28 12:52] addyosmani commented on #221
I have concerns folks are going to trip over this step often when switching to deployment, but it may be something we can work around with good documentation.

It may be worth us implementing the proposal in a branch and testing out whether  the user-effort for deployment is negligible enough to land it as a default.

[2015-06-28 12:53] addyosmani commented on #220
Do you have a screenshot or demo you can link us to that could help visualise the problem you're running into a little better?

[2015-06-28 14:11] Stefdv commented on #220
I don't have a place to host a demo, i use polymer in nw.js ( former node-webkit) applications.  I do not use webcomponentsjs.js.
My index.html is like i stated above, every element is loaded. Polymer is ready..
I hope these screenshots show my problem.
![01](https://cloud.githubusercontent.com/assets/890650/8396666/9a990f72-1daf-11e5-8189-1b48d3492a7a.jpg)
![02](https://cloud.githubusercontent.co

[2015-06-28 16:44] rowntreerob opened #225 "vulcanize task fails silently after new elements added in ./app/elements"
to post an issue that i had extending the project, adding my own elements having child 'js' folders with js there instead of in-line in the element.

When you take the project and make this kind of addition, you expect existing gulp:copy task to do its job and to prepare for following vulcanize step to just work with the new assets under ./app/elements.

What actually happens is that vulcanize fai

[2015-06-29 09:24] MeiKuei commented on #154
Hi, same issue here.
@Alienuser is right if overlay is moved in same node as dialog, z-index comparison for both elements works perfectly. Otherwise dialog is considered as a 0 z-index element as is container.

[2015-06-29 11:29] xi3 opened #226 "Where can I find the Paper Reader showed in Google I/O 2015?"
Thanks

[2015-06-29 16:20] flaiker opened #227 "Licensing projects made with PSK"
As of now most files in the starter kit contain a license header and there is also a [LICENSE.md](https://github.com/PolymerElements/polymer-starter-kit/blob/master/LICENSE.md) in the repository's root. I am wondering how I should act in the following scenario:
- I want to make a web application based on PSK as a starting point (as intented)
- I want to publish that work
- I want to license it
  -

[2015-06-29 16:24] arthurvr commented on #227
I always thought getting rid of the license headers in your projects is fine. Might be wrong though.

Let's hope we can just get rid of some license headers (ref https://github.com/yeoman/generator-polymer/issues/202) If we can't, those are all really valid questions and we might want to document these points.

[2015-06-29 20:47] danhawkes opened #228 "Where to put element-specific resource files?"
Intuitively, I want to put them in the element's directory, e.g. `elements/my-element/resource.json`, and reference them with a relative path like `…url="resource.json"`.

This works in the `serve` build because it serves directly from the `app/elements` directory, but not in the `serve:dist` build, because it [only copies html files][1] into dist (presumably just for vulcanization).

I guess what

[2015-06-30 15:56] egagn commented on #62
i googled and found this solution:
http://stackoverflow.com/a/31098879/5066102

it solved my issue with `inlineCss`.
i can set to `true` now without error.

just add `excludes: ['//fonts.googleapis.com/*']` to the vulcanize option.
[code]

[2015-06-30 19:02] Stefdv commented on #220
Don't know why i closed it...

[2015-06-30 21:42] arthurvr commented on #226
I doubt it's public yet. @addyosmani?

[2015-06-30 21:51] surma commented on #226
Let me quote @addyosmani: “Hopefully sometime in July”. We have to update to the new Firebase elements first so you can enjoy the reader in all its glory :smiley:

https://twitter.com/addyosmani/status/614528138844856320

[2015-06-30 21:55] arthurvr commented on #226
Okay I'll guess we can close the issue then. Thanks @surma!

@surma @addyosmani Unrelated thought: _Building something and then open-sourcing it is kinda the wrong order. That's not the deal with **open**-source. Being OS means more than having the code live somewhere online. It means doing the work in the open and it means having people involved with the decision-making._

[2015-06-30 23:10] addyosmani commented on #226
As @surma mentions, we still have an amount of rewrite work left to go here as well as the usual rounds of performance and accessibility fixes need to be completed before the project gets released. We'll be doing our best to get this out in July :)

@arthurvr Perhaps some context is useful as we would otherwise love to be developing in the open. The open-source process for projects at Google requi

[2015-06-30 23:11] addyosmani commented on #226
Closing as not part of PSK, but we will announce when the app is ready and do a writeup @xi3

[2015-06-30 23:11] #226 closed

[2015-06-30 23:14] addyosmani commented on #227
I spoke to the open-source team about this today. I'm waiting on some clarifications but will update this thread and add a note to the README as soon as I've got the final word from them. Sorry for the delay! Lawyercats to blame :)

[2015-07-01 11:58] PaulHMason opened #229 "Loading Route Directly"
I'm playing around with the starter kit (lite version) and can't get the navigation to work properly (using page,js). The back/forward buttons work correctly but if I try to navigate directly to a route, e.g.

http://localhost/myapp/#!/mypage

It just loads the default page/route.

How should I set up the default route (./) and alternative navigate directly to a route if specified in the url.

Tha

[2015-07-01 14:42] ivstas commented on #101
@kevva reinstalling gulp-imagemin on **Windows 7 x64** (npm `2.11.2` & node `0.12.5`) doesn't help.

I still get error when running `gulp serve':

    Unhandled rejection Error: spawn c:\code\polymer-starter-kit-1.0.2\node_modules\gulp-imagemin\node_modules\imagemin\node_modules\imagemin-optipng\node_modules\optipng-bin\vendor\optipng.exe ENOENT
        at exports._errnoException (util.js:746:11)

[2015-07-01 15:09] bppffnn commented on #25
:+1:

[2015-07-01 15:10] bppffnn commented on #66
Also doesn't work on IE8 on windows.

[2015-07-01 15:12] arthurvr commented on #66
Polymer itself doesn't support IE8.

[2015-07-01 15:14] bppffnn commented on #178
JSperf is broken at the moment because @mathiasbynens so you can't test performance!!

[2015-07-01 15:15] bppffnn commented on #227
My company told me I can't use polymer start kit because of this issue

[2015-07-01 16:10] moderndeveloperllc opened #230 "[Enhancement] Use gulp-rev and gulp-rev-replace for versioning"
To take best advantage of client caching, servers should set their Expires headers to something pretty far out (1 month+) for CSS and JS files. With a full front-end build process, this means that you can do that with *.html files too. Especially helpful for something like the vulcanized elements. The easiest way to do this is with [gulp-rev](https://www.npmjs.com/package/gulp-rev) and [gulp-rev-r

[2015-07-01 17:51] #211 closed

[2015-07-01 18:01] arthurvr commented on #230
IMHO, it's better for PSK to stay unopinionated about server-side tooling.

[2015-07-01 18:03] moderndeveloperllc commented on #230
@arthurvr True, so either *.html would not be versioned, or index.html would be an exception to that.

[2015-07-01 19:34] chuckh commented on #206
@addyosmani @arthurvr  @blasten I created a working demo based on code @frankiefu provided.  This method has both the middle and bottom titles areas working. I plan to create a pull request for PSK using this method.  Take a look and let know what you all thing.

#### This is a gist of the code:
https://gist.github.com/chuckh/9729813fbfe0484da1ca

#### Example of how it works
![paper-scroll-header

[2015-07-01 21:21] Frikki opened #231 "Class specificity in media queries"
When I in the style, i.e., `app-theme.html`, specify a declaration block, e.g.:

[code]

it is "compiled" to `.banner:not([style-scope]):not(.style-scope)`.

However, same declaration block within a media query does not get these additional specifications added. For example:

[code]

In effect, this means that the declaration outside the media query gets preferred by the browser, and I would have

[2015-07-02 01:44] vincentbrison opened #232 "gulp serve gives blank page"
Running gulp serve on the Polymer Starter Kit 1.0.2 gives me a blanck empty page. Only the title of the tab and the favicon are loaded.
Everything went fine during installation of various tools.

gulp serve gives me a nice output :
[03:20:38] Using gulpfile ~/Documents/dev/polytest/polymer-starter-kit-1.0.2/gulpfile.js
[03:20:38] Starting 'styles'...
[03:20:39] Starting 'elements'...
[03:20:39] St

[2015-07-02 12:57] chuckh commented on #175
Pull request #233 which migrates to paper-scroll-header-panel fixes the jankyness.

[2015-07-02 19:12] vincentbrison commented on #232
Ok, so I just forgot to do a :
[code]

This is in the documentation, my bad.

[2015-07-02 19:12] #232 closed

[2015-07-03 06:44] hazourano opened #234 "question on deploying kit"
how do i deploy as a node app in heroku?

[2015-07-03 07:36] addyosmani commented on #234
It's quite similar to the deployment process for apps built using other modern Node/Gulp tooling. See https://github.com/yeoman/generator-gulp-webapp/blob/master/docs/recipes/gh-pages.md for deployment instructions to gh-pages and http://stackoverflow.com/questions/24504476/how-to-deploy-node-that-uses-gulp-to-heroku. We'll do our best to document deployment best practices in the not too distant f

[2015-07-03 07:36] #234 closed

[2015-07-03 07:38] addyosmani commented on #230
Imo @arthurvr is right here. I think we should stay focused and trim where possible and keeping unopinionated about SS tooling helps us with that.

cc @jeffposnick as an FYI about this as we had discussed revving briefly as part of one of many possible strategies for improving our Service Worker setup, but all of that is very much in the design phase atm.

[2015-07-03 07:40] addyosmani commented on #228
This is a good question. In my own projects, I tend to keep assets local to each element in their own subdirectory. This makes it easier for me to refactor them into reusable components for sharing later on. It's also valid in an app to just have them in a central location, depending on the asset type. What I would do is update `copy` to move non-default files into dist/elements or alternatively s

[2015-07-03 07:40] #228 closed

[2015-07-03 15:03] PaulHMason opened #235 "IE11 Menu item alignment issue."
Just a minor styling issue - the children (iron-icon and span) of the menu anchor tags aren't centered in IE11 (fine in Chrome and Firefox).

![polymer_menu](https://cloud.githubusercontent.com/assets/1944711/8501407/5d2cb13a-21a5-11e5-9a3d-bf51df3f89bc.png)

[2015-07-04 03:10] neo0rabie commented on #129
I am running into the same issue  using the advanced version of the starter kit. everything runs just fine with gulp serve, but once I use gulp to deploy my app to dist folder and try to access it with wamp/apache server, Page JS start reproducing the same bug - double urls and 404 errors for other sections - I updated to the latest start kit 1.0.2 and the problem still persist. can you please lin

[2015-07-05 18:35] slidese opened #236 "Create more examples/templates"
It would be a good idea to have a bunch of different examples/templates to start from. I'm thinking of something like the collection of examples Bootstrap has: http://getbootstrap.com/getting-started/#examples

[EDIT]: A couple of days after I posted this issue the Material Design Light (http://www.getmdl.io/templates/index.html) was released. The templates found there would be nice to have for Po

[2015-07-06 02:36] kenjitayama opened #237 "routing.html page callbacks not called in iOS"
How to reproduce

1. Download Starter Kit 1.0.2 or git clone the latest.

1. Edit routing.html and add these two cosole.log

		window.addEventListener('WebComponentsReady', function() {

		console.log('WebComponentsReady!');

		// We use Page.js for routing. This is a Micro
		// client-side router inspired by the Express router
		// More info: https://visionmedia.github.io/page.js/
		page('/', fun

[2015-07-06 06:39] Alienuser commented on #236
Hello @slidese
There is a very small collection of templates for polymer:
https://github.com/PolymerElements/app-layout-templates

[2015-07-06 09:36] slidese commented on #236
Yes, I've seen them. But those are pretty much the same kind of app. I'm looking for examples that go beyond the master-detail type of site.

[2015-07-07 16:27] hourliert commented on #25
:+1:

[2015-07-07 20:18] akhr opened #238 "paper-input disabled property error"
Hi,

Disabling a paper-input element works just fine.
**paper_input_element.disabled =  true**

But when the same element needs to be re-enabled, setting the disabled property to false just removes the element from the page.
**paper_input_element.disabled =  false**

Rather it needs to enable the input field.

Thanks
AK

[2015-07-07 21:02] calebeby opened #239 "index.html in dist not displaying"
I ran `gulp` to create an optimized version of my code. Everything in the `dist` folder looks normal. The issue is, when I open `index.html` in my browser, it displays a blank page. When I view the source of the document, it shows what I would expect, a very compacted version of my code. It looks like it has everything that it needs to display the page, but for some reason, it doesn't. Any ideas?

[2015-07-07 21:18] robdodson commented on #239
Check for 404s in the devtools

On Tue, Jul 7, 2015 at 2:02 PM, calebeby <notifications@github.com> wrote:

[2015-07-07 22:01] Everlag commented on #62
That solved the issue for me.

[2015-07-07 22:14] #238 closed

[2015-07-08 05:48] howking commented on #158
same issue on IE11?
I fix it to set [tall] class on paper-toolbar like demo page.

polymer-starter-kit/app/index.html
[code]

[2015-07-08 18:36] moderndeveloperllc commented on #230
@addyosmani Do you have a preference as to whether elements.vulcunized.html should be versioned or not? If it's not versioned, then you are depending on server software to not be caching it.

[2015-07-08 21:42] ConAntonakos commented on #154
I noticed this as well. Echoing @Alienuser's feedback. I added `paper-dialog` to an inner child other than body, and **iron-overlay-backdrop** seems to automatically attach itself to `body`.

By the way, @Alienuser, is your workaround implemented within the Polymer element? Still nascent to Polymer so I apologize!

[2015-07-09 08:03] danielhickman commented on #76
Thank you guys very much! I've been able to get this working. Sorry about not being able to check for a while.

[2015-07-09 09:55] jenyckee opened #241 "Browsersync conflicts with socket.io"
I have a project where I want to do socket communication. So I adapted the gulp file and serve with nodemon and my own express server + socket.io. I let browsersync watch the files in the app folder and everything works fine however it seems that socket.io is conflicting with the browswersync socket.io connection. I keep getting a "Connection closed before receiving a handshake response" error on

[2015-07-09 18:29] addyosmani commented on #241
Could you share the adapted gulpfile so we can take a look?

[2015-07-09 18:30] addyosmani commented on #239
@calebeby as Rob mentioned, have you seen any exceptions in DevTools console indicating that some imports might not have made it through?

[2015-07-09 18:31] addyosmani commented on #237
I'll test this out on iOS and get back to you. Afaik, this should be working without issue.

[2015-07-09 18:33] addyosmani commented on #236
We may end up porting over some of the MDL templates to Polymer Starter Kit, but it's going to take some time to do so. MDL implements adaptive UI components in the MD spec like the grid, which we don't yet have an equivalent for in Polymer 1.0 (just yet). That said, I'll keep this issue open as a reminder we should plan to do some porting.

[2015-07-09 19:41] jenyckee commented on #241
'use strict';

    // Include Gulp & Tools We'll Use
    var gulp = require('gulp');
    var nodemon = require('gulp-nodemon');

    var $ = require('gulp-load-plugins')();
    var del = require('del');
    var runSequence = require('run-sequence');
    var browserSync = require('browser-sync');
    var reload = browserSync.reload;
    var merge = require('merge-stream');
    var path = require('p

[2015-07-09 21:28] kenjitayama commented on #237
Thanks!
I need this for loading data from the server at that timing.

[2015-07-10 01:43] ebidel opened #243 "vulcanize --strip no longer exists"
https://github.com/PolymerElements/polymer-starter-kit/blob/master/gulpfile.js#L154

[2015-07-10 13:23] mikaelharsjo opened #244 "Invisible ripple effect on toolbar buttons"
The refresh and search `paper-icon-buttons` has ripple effect but it's invisible because it uses `--default-primary-color` by default. Same as the default background for `paper-toolbar`. So maybe add something like:

[code]

[2015-07-10 14:50] flaiker commented on #227
Any update on this?

[2015-07-10 15:53] Frikki commented on #227
I raised a similar question to Rob Dodsen, Design Technologist and Writer at Google, regarding Polymer.

And Rob’s answer:

[2015-07-10 18:17] #243 closed

[2015-07-10 18:23] jeffposnick commented on #115
This was fixed in `<platinum-sw-register>` by https://github.com/PolymerElements/platinum-sw/pull/38

[2015-07-10 18:23] #115 closed

[2015-07-10 18:29] jeffposnick commented on #214
To close the loop on this, `<platinum-sw-cache>` will be moving to a JSON configuration file that contains an object instead of just a single array (see https://github.com/PolymerElements/platinum-sw/pull/52).

This will make it possible to include a `"README": "Do not edit this file."` (except something more verbose) in the `app/cache-config.json` that gets checked into PSK, and that will hopeful

[2015-07-10 18:53] jeffposnick commented on #221
Trying to get browserSync, the middleware, and the routing library happy with a fake top-level path led to a dead end when I looked into this.

I'm thinking of an alternative approach in which a different port is used for dev/dist and the cache name is read from a config file. See https://github.com/PolymerElements/platinum-sw/pull/52 for the first steps.

[2015-07-10 18:53] #221 closed

[2015-07-11 00:23] maria-le opened #246 "Add user authentication UX example?"
Could we get a UX example for user authentication added to the PSK?

Similar to the one described in [this Stack Overflow question](http://stackoverflow.com/questions/31337412/polymer-1-0-user-authentication-ux-recommendations-tutorials-and-examples)?

Quoting:

Link: http://stackoverflow.com/questions/31337412/polymer-1-0-user-authentication-ux-recommendations-tutorials-and-examples